/* Display */

.legal-sitemap-item {
	display: inline-block;
}

/* Position */

.legal-sitemap-item {
	padding: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.legal-sitemap-item:nth-child( 2n + 1 ) {
	margin-left: 8px;
	/* background-color: antiquewhite; */
}

.legal-sitemap-item:nth-child( 2n ) {
	margin-right: 8px;
}

/* .legal-sitemap-item .legal-sitemap:not( .legal-override ) {
	padding: 0px;
} */

.legal-sitemap-item .legal-sitemap:not( .legal-override ) li::before {
	margin-right: 0px;
}

/* Width and Height */

.legal-sitemap-item {
	width: calc( 50% - 50px );
}

/* Background */

.legal-sitemap-item {
	background-color: rgb(239, 245, 251);
	border-radius: 20px;
}

.legal-sitemap-item > ul:not( .legal-list-image ) li:before {
    background-image: url( '../../img/tools/tool-sitemap-item.svg' );
}

/* Typography */

.legal-sitemap-item .sitemap-item-title {
	font-family: "Source Sans Pro";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 38.4px;
}