@media screen and ( max-width: 767px ) {
	/* Width and Height */

	/* .legal-sitemap-item {
		width: calc( 100% - 40px );
	} */

	/* Position */

	.legal-sitemap-item {
		margin-bottom: 28px;
	}
}

@media screen and ( min-width: 768px ) {
	/* Display */

	.legal-column-2 {
		columns: 2;
		/* gap: 20px; */
		column-gap: 58px;
	}

	/* Width and Height */

	/* .legal-sitemap-item {
		width: calc( 100% - 50px );
	} */

	/* Position */

	.legal-sitemap-item {
	/* 	padding: 20px; */
		margin-bottom: 32px;
		/* vertical-align: top; */
	}
}

/* Display */

.legal-sitemap-item {
	display: inline-block;
}

.legal-sitemap-item .sitemap-item-title {
	display: block;
}

/* Position */

/* 1,3,5 */

/* .legal-sitemap-item:nth-of-type( 2n + 1 ) {
	margin-right: 8px;
} */

/* 2,4,6 */

/* .legal-sitemap-item:nth-of-type( 2n ) {
	margin-left: 8px;
} */

/* .legal-sitemap-item .legal-sitemap:not( .legal-override ) {
	padding: 0px;
} */

.legal-sitemap-item .legal-sitemap:not( .legal-override ) {
	/* margin: 20px 0 0 0; */
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.legal-sitemap-item .sitemap-item-title {
	padding-top: 8px;
	padding-bottom: 16px;
}

.legal-sitemap-item .legal-sitemap li {
	padding-top: 18px;
	padding-bottom: 18px;
}

/* .legal-sitemap-item .legal-sitemap:not( .legal-override ) li::before {
	margin-right: 0px;
} */

/* Width and Height */

/* .legal-sitemap-item {
	width: calc( 50% - 50px );
	
	width: calc( 100% - 50px );
} */

.legal-sitemap-item {
	width: 100%;
	box-sizing: border-box;
}

/* Background */

/* .legal-sitemap-item {
	background-color: rgb(239, 245, 251);
	border-radius: 20px;
} */

/* .legal-sitemap-item > ul:not( .legal-list-image ) li:before {
    background-image: url( '../../img/tools/tool-sitemap-item.svg' );
} */

/* Typography */

.legal-sitemap-item .sitemap-item-title,
.legal-sitemap-item .legal-sitemap li,
.legal-sitemap-item .legal-sitemap a {
	font-family: var( --legal-font-primary );
	font-style: normal;
	color: var(--Base-base-09); 
}

.legal-sitemap-item .sitemap-item-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.legal-sitemap-item .legal-sitemap li {
	font-size: 16px;
	line-height: 22px;
	list-style-type: none;
}

.legal-sitemap-item .legal-sitemap a {
	text-decoration: none;
}