
/* Header */

#tinymce .legal-header-3 {
	display: flex;
	align-items: center;
}

#tinymce .legal-header-3::before {
	content: '';
	display: block;

	margin-right: 20px;

	width: 55px;
	height: 55px;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 50%;
}

/* Year and Month-Year */

#tinymce .legal-header-month-year,
#tinymce .legal-header-year {
	padding-left: 34px;

	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto;
}

#tinymce .legal-header-month-year {
	background-image: url( '../../img/tools/tool-tinymce-header-month-year.svg' );
}

#tinymce .legal-header-year {
	background-image: url( '../../img/tools/tool-tinymce-header-year.svg' );
}

/* Title with image */

#tinymce .legal-header-basketball::before {
	background-image: url( '../../img/review/header/review-basketball.svg' );
}

#tinymce .legal-header-deposit::before {
	background-image: url( '../../img/review/header/review-deposit.svg' );
}

#tinymce .legal-header-features::before {
	background-image: url( '../../img/review/header/review-features.svg' );
}

#tinymce .legal-header-football::before {
	background-image: url( '../../img/review/header/review-football.svg' );
}

#tinymce .legal-header-history::before {
	background-image: url( '../../img/review/header/review-history.svg' );
}

#tinymce .legal-header-horceracing::before {
	background-image: url( '../../img/review/header/review-horceracing.svg' );
}

#tinymce .legal-header-tennis::before {
	background-image: url( '../../img/review/header/review-tennis.svg' );
}

#tinymce .legal-header-widthdraw::before {
	background-image: url( '../../img/review/header/review-widthdraw.svg' );
}

#tinymce .legal-header-esports::before {
	background-image: url( '../../img/review/header/review-esports.svg' );
}

#tinymce .legal-header-mma::before {
	background-image: url( '../../img/review/header/review-mma.svg' );
}