/* Main */

/* legal-contextbox */

#tinymce .legal-contextbox {
	padding-left: 20px;
	margin-bottom: 20px;

	border-left: 2px solid rgb(89, 151, 227);
}

/* legal-attention */

#tinymce .legal-attention {
	padding: 10px 20px;
	margin-bottom: 20px;

	background-color: rgb(255, 94, 106);
	border-radius: 20px;

	text-align: center;
    color: rgb(255, 255, 255);
}

/* legal-highlight */

#tinymce .legal-highlight {
	padding: 10px 20px;
	margin-bottom: 20px;

	background-color: rgba(250, 98, 0, 0.85);
	border-radius: 20px;

    color: rgb(255, 255, 255);
}

/* FAQ */

#tinymce .legal-faq-title,
#tinymce .legal-faq-description {
	padding: 10px 20px;
	border-radius: 20px;
}

#tinymce .legal-faq-title {
	background-color: rgb(239, 245, 251);
}

#tinymce .legal-faq-description {
	border: 2px solid rgb(239, 245, 251);
}

/* Billet */

#tinymce .legal-billet.legal-bonus-title {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	font-weight: 600;
	line-height: 27.6px;
}

#tinymce .legal-billet.legal-bonus-description {
	text-align: justify;
}

#tinymce .legal-billet.legal-bonus-title,
#tinymce .legal-billet.legal-bonus-description {
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;

	background-color: rgb(239, 245, 251);
}

/* Bonus */

#tinymce .legal-bonus.legal-bonus-title {
	border-width: 2px 2px 0px 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	font-weight: 600;
	line-height: 31.5px;
}

#tinymce .legal-bonus.legal-bonus-content + .legal-bonus.legal-bonus-title {
	margin-top: 20px;
}

#tinymce .legal-bonus.legal-bonus-content {
	text-align: justify;
	border-width: 0px 2px 0px 2px;
}

#tinymce .legal-bonus.legal-bonus-content,
#tinymce .legal-bonus.legal-bonus-title {
	padding: 15px 30px;
	margin: 0px 20px;

	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
}

/* List */

#tinymce .legal-list-2,
#tinymce .legal-list-3,
#tinymce .legal-list-4 {
	display: flex;
	flex-wrap: wrap;
}

#tinymce .legal-list-2 li {
	width: 50%;
}

#tinymce .legal-list-3 li {
	width: 33.333%;
}

#tinymce .legal-list-4 li {
	width: 25%;
}

#tinymce .legal-list-image li::marker {
	color: rgb(89, 151, 227);
}

/* Cut */

#tinymce .legal-cut-item {
	opacity: 0.5;
  	border: 1px dashed;
}