/* footer-menu */

.footer-menu
{
	background-color: aliceblue;
}

/* menu-item 1st */

.footer-menu .menu-item-has-children
{
	background-color:antiquewhite;
}

.footer-menu .menu-item-has-children > .item-title
{
	background-color:chocolate;
}

/* menu-item 2nd */

.footer-menu .menu-item:not( .menu-item-has-children )
{
	background-color:azure;
}

.footer-menu .menu-item:not( .menu-item-has-children ) > .item-title
{
	background-color:brown;
}