/* Display */

.legal-footer .footer-menu {
	display: flex;
}

.legal-footer .item-title {
	display: block;
}

.legal-footer .item-title[ href='#' ] {
	pointer-events: none;
}

/* Position */

#thrive-footer {
	z-index: 10;
}

.legal-footer {
	margin: 0px auto;
}

/* .footer-menu > .menu-item > .item-title,
.footer-menu > .menu-item-end > .menu-item > .item-title {
	padding-bottom: 20px;
} */

.legal-footer .item-children {
	padding-top: 20px;
}

.footer-menu > .menu-item-end > .menu-item:not( :last-child ) {
	padding-bottom: 20px; 
}

.legal-footer .item-children .item-title {
	padding-left: 20px;
}

.footer-menu {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/* Width and Height */

.legal-footer {
	width: 1080px;
}

.legal-footer .menu-item,
.legal-footer .menu-item-end {
	flex-basis: 25%;
  	flex-grow: 1;
}

/* Background */

.legal-footer .item-children .item-title {
	background-image: url( '../../img/base/footer/menu-item.svg' );
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto;
}

.footer-menu {
	border-bottom: 1px solid rgb(90,90,90);
}

/* Typography */

.footer-menu > .menu-item > .item-title,
.footer-menu > .menu-item-end > .menu-item > .item-title {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 28.8px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.legal-footer .item-children .item-title {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 28.8px;
	color: rgb(89, 151, 227);
}
