/* Footer New CSS */

@media ( min-width: 767px ) and ( max-width: 960px )
{
	.legal-footer .footer-menu > .menu-item-end {
		flex-direction: column;
		flex-basis: 226px;
		row-gap: 28px;
	}

	.legal-footer .footer-menu > .menu-item-end .menu-item {
		flex-basis: auto;
	}
}

@media screen and ( max-width: 767px )
{
	/* Position */

	.legal-footer-wrapper
	{
		padding: 32px 16px;
	}
}

@media screen and ( min-width: 768px ) and ( max-width: 1209px )
{
	/* Position */

	.legal-footer-wrapper
	{
		padding: 32px 32px 40px 32px;
	}
}

@media screen and ( min-width: 1210px )
{
	/* Position */

	.legal-footer-wrapper
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

/* @media screen and ( min-width: 960px ) and ( max-width: 1209px ) */

@media screen and ( min-width: 960px )
{
	/* Display */

	.footer-menu .menu-item-end {
		flex-wrap: wrap;
	}

	.footer-menu .menu-item-end
	{
		align-content: baseline;
	}

	.footer-menu .menu-item-end
	{
		row-gap: 28px;
	}

	/* Width and Heoght */

	.footer-menu > .menu-item-has-children,
	.footer-menu .menu-item-end
	{
		flex-basis: calc( 100% / 4 - 24px );
	}

	.footer-menu > .menu-item-end > .menu-item-has-children
	{
		flex-basis: 100%;
	}
}

@media screen and ( min-width: 1210px )
{
	/* Width and Height */

	/* .footer-menu > .menu-item-has-children
	{
		flex-basis: calc( 100% / 5 - 24px );
	}

	.footer-menu .menu-item-end
	{
		flex-basis: calc( 2 * 100% / 5 - 24px );
	}

	.footer-menu > .menu-item-end > .menu-item-has-children
	{
		flex-basis: calc( 100% / 2 - 16px );
	} */
}

@media screen and ( max-width: 959px )
{
	/* Display */

	.legal-footer .footer-menu,
	.legal-footer .footer-menu > .menu-item-end {
		flex-direction: column;
	}

	.legal-footer .footer-menu > .menu-item,
	.legal-footer .footer-menu .menu-item-end,
	.legal-footer .footer-menu .menu-item-end > .menu-item {
		display: flex;
		flex-wrap: wrap;
	}

	.legal-footer .footer-menu > .menu-item::after,
	.legal-footer .footer-menu .menu-item-end > .menu-item::after {
		display: flex;
		order: 1;
	}

	.legal-footer .footer-menu > .menu-item > .item-title,
	.legal-footer .footer-menu .menu-item-end > .menu-item > .item-title {
		pointer-events: none;
		order: 0;
	}

	.legal-footer .footer-menu > .menu-item > .item-children,
	.legal-footer .footer-menu .menu-item-end .menu-item > .item-children {
		display: none;
		order: 2;
	}

	.legal-footer .footer-menu > .menu-item.legal-active > .item-children,
	.legal-footer .footer-menu .menu-item-end > .menu-item.legal-active > .item-children {
		display: block;
	}

	.legal-footer .lang-switcher {
		order: 0;
	}

	.legal-footer .footer-copy {
		display: flex;
		order: 1;
	}

	.legal-footer .footer-text {
		order: 2;
	}

	.legal-footer .footer-menu .item-title {
		display: flex;
    	align-items: center;
	}

	.legal-footer .footer-logo
	{
		justify-content: space-between;
	}

	/* Position */

	.legal-footer .footer-menu > .menu-item.legal-active,
	.legal-footer .footer-menu .menu-item-end > .menu-item.legal-active {
		margin-bottom: 0px;
	}

	.legal-footer .footer-menu .item-title {
		padding-top: 8px;
    	padding-bottom: 8px;
	}

	.legal-footer .footer-menu > .menu-item.legal-active > .item-children,
	.legal-footer .footer-menu .menu-item-end > .menu-item.legal-active > .item-children {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.legal-footer .lang-switcher
	{
		padding-top: 28px;
    	padding-bottom: 18px;
	}

	.legal-footer .footer-text {
		padding: 0;
	}

	.legal-footer .footer-text p {
		margin: 0;
	}

	.legal-footer .footer-menu .item-title::after {
		margin-left: auto;
	}

	.footer-menu .menu-item-has-children > .item-title
	{
		margin-top: 8px;
		margin-bottom: 8px;
	}

/* 	.footer-menu
	{
		padding-top: 16px;
	} */

	.legal-footer .footer-logo
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	/* Width and Height */

	.legal-footer .footer-menu > .menu-item > .item-children,
	.legal-footer .footer-menu .menu-item-end .menu-item > .item-children {
		width: 100%;
	}

	.legal-footer .footer-copy,
	.legal-footer .footer-text {
		width: 100%;
	}

	.legal-footer .lang-switcher {
		width: 100%;
	}

	.legal-footer .footer-logo .logo-item > img,
	.legal-footer .footer-logo .no-link
	{
		height: 24px;
	}

	/* .legal-footer .logo-item {
		height: 24px;
	} */

	.footer-menu .menu-item-has-children > .item-title,
	.footer-menu .menu-item:not( .menu-item-has-children ) > .item-title
	{
		width: 100%;
	}

	/* Background */

	.legal-footer .footer-menu > .menu-item::after {
		cursor: pointer;
	}

	/* Typography */

	.legal-footer .footer-copy {
		text-align: center;
	}

	.legal-footer .footer-text {
		text-align: justify;
	}

	/* .legal-footer .footer-menu > .menu-item > .item-title::after,
	.legal-footer .footer-menu .menu-item-end > .menu-item > .item-title::after  */
	.footer-menu .menu-item-has-children > .item-title::after {
		content: '\f106';
		color: var(--Base-base-01, #FFF);
		line-height: 24px;
		font-size: 24px;
		font-family: var(--legal-font-icons);
		font-weight: 400;
	}

	.footer-menu .menu-item-has-children.legal-active > .item-title::after {
		content: '\F10C';
	}
}

@media screen and ( min-width: 960px )
{

    /* Display */

    .legal-footer .item-children > .menu-item.menu-item-mobile {
        display: none;
    }

	.footer-menu .menu-item-has-children
	{
		display: flex;
		row-gap: 8px;
		flex-wrap: wrap;
    	align-content: baseline;
	}

	.legal-footer .footer-menu > .menu-item-end {
		flex-grow: 2;
	}

	.legal-footer .footer-logo
	{
		column-gap: 24px;
	}

	/* Position */

	.legal-footer .footer-copy{
		margin-right: auto;
	}

	.legal-footer .footer-text {
		padding-top: 4px;
	}

	.legal-footer .footer-text p {
		padding: 0px;
		margin: 0px;
	}

	.legal-footer .footer-logo
	{
		padding-top: 38px;
		padding-bottom: 40px;
		margin-bottom: 28px;
	}

	/* Width and Height */

	.legal-footer .lang-switcher ~ .footer-text {
		width: 70%;
	}

	.legal-footer .footer-text:not( .lang-switcher ~ .footer-text ) {
		width: 100%;
	}

	.footer-menu .menu-item > .item-title,
	.footer-menu .menu-item:not(.menu-item-has-children) > .item-title
	{
		width: 100%;
	}

	.legal-footer .footer-logo .logo-item > img,
	.legal-footer .footer-logo .no-link
	{
		height: 32px;
	}

	.footer-menu > .menu-item-end > .menu-item-has-children > .item-children
	{
		flex-basis: 100%;
	}

	/* Typography */

	.footer-menu > .menu-item > a.item-title:hover,
	.footer-menu > .menu-item-end > .menu-item > a.item-title:hover {
		text-decoration: solid underline var(--Base-base-01, #FFF) 2px;
		text-underline-offset: 5px;
	}
}

/* Display */

.legal-footer {
	display: flex;
	flex-wrap: wrap;
}

.legal-footer .footer-menu,
.legal-footer .footer-menu > .menu-item-end {
	display: flex;
	column-gap: 32px;
}

.legal-footer .item-title {
	display: block;
}

.legal-footer .item-title[ href='#' ],
.legal-footer .logo-item[ href='#' ] {
	pointer-events: none;
}

.legal-footer .footer-logo {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
}

/* Position */

#thrive-footer {
	z-index: 10;
}

.legal-footer-wrapper
{
	position: relative;
	z-index: 1;
}

.legal-footer {
	margin: 0px auto;
}

.legal-footer .item-children .item-title {
	padding: 8px 0;
}


/* Width and Height */

.legal-footer {
	max-width: var( --other-width-desktop );
}

.legal-footer .footer-menu,
.legal-footer .footer-logo {
	width: 100%;
}

.legal-footer .footer-menu > .menu-item.legal-default,
.legal-footer .footer-menu > .menu-item-end.legal-default {
	flex-basis: 25%;
}

.legal-footer .footer-menu > .menu-item.legal-15,
.legal-footer .footer-menu > .menu-item.legal-15 ~ .menu-item-end {
	flex-basis: 15%;
}

.legal-footer .footer-menu > .menu-item.legal-30 {
	flex-basis: 30%;
}

.legal-footer .footer-menu > .menu-item.legal-33-333 {
	flex-basis: 33.333%;
}

.legal-footer .footer-logo .logo-item > img,
.legal-footer .footer-logo .no-link {
	width: auto;
}

/* Background */

.legal-footer-wrapper {
	background-color: var(--Base-base-09, #0A0A0A);
}

.legal-footer .footer-logo {
	border-bottom: 1px solid var(--white-20, rgba(255, 255, 255, 0.20)); 
}

.legal-footer .footer-logo .logo-item > img,
.legal-footer .footer-logo .no-link {
	filter: grayscale(1);
}

/* .legal-footer .lang-switcher {
	cursor: pointer;
} */

.footer-menu > .menu-item > .item-title:not( a ),
.footer-menu > .menu-item-end > .menu-item > .item-title:not( a ) {
	cursor: default;
}

/* Typography */

.footer-menu > .menu-item > .item-title,
.footer-menu > .menu-item-end > .menu-item > .item-title {
	font-family: var( --legal-font-primary );
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.legal-footer .item-children .item-title {
	font-family: var( --legal-font-primary );
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 20px;
	color: var(--Base-base-01, #FFF);
}

.legal-footer .item-children .item-title:hover {
    text-decoration: solid underline var(--white-60, rgba(255, 255, 255, 0.60)) 2px;
    text-underline-offset: 5px;
	text-shadow: 0 0 0.35px var(--Base-base-01, #FFF), 0 0 0.35px var(--Base-base-03, #EDEDED);
}

.legal-footer .footer-copy,
.legal-footer .footer-text p {
	font-family: var( --legal-font-primary );
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: var(--white-60, rgba(255, 255, 255, 0.60));
}