@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-footer .footer-menu {
		flex-direction: column;
		row-gap: 20px;
	}

	.legal-footer .footer-logo {
		flex-direction: column;
		row-gap: 15px;
		align-items: center;
	}

	/* Position */

	.legal-footer {
		padding: 0px 20px;
	}

	/* Width and Height */

	.legal-footer .footer-copy {
		width: 100%;
	}

	.legal-footer .lang-switcher {
		width: 100%;
	}

	/* Typography */

	.legal-footer .footer-copy {
		text-align: center;
	}

	.legal-footer .footer-text {
		text-align: justify;
	}
}

@media screen and ( min-width: 768px )
{
	/* Position */

	.legal-footer .footer-copy{
		margin-right: auto;
	}
}

/* Display */

.legal-footer {
	display: flex;
	flex-wrap: wrap;
}

.legal-footer .footer-menu {
	display: flex;
	column-gap: 15px;
}

.legal-footer .item-title {
	display: block;
}

.legal-footer .item-title[ href='#' ],
.legal-footer .logo-item[ href='#' ] {
	pointer-events: none;
}

.legal-footer .footer-logo {
	display: flex;
	column-gap: 20px;
}

/* Position */

#thrive-footer {
	z-index: 10;
}

.legal-footer-wrapper {
	padding: 40px 0px;
	position: relative;
}

.legal-footer {
	margin: 0px auto;
}

.legal-footer .item-children {
	padding-top: 20px;
}

.footer-menu > .menu-item-end > .menu-item:not( :last-child ) {
	padding-bottom: 20px; 
}

.legal-footer .item-children .item-title {
	padding-left: 20px;
}

.footer-menu,
.legal-footer .footer-logo {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.legal-footer .footer-logo {
	padding-top: 5px;
}

.legal-footer .footer-text {
	padding-top: 5px;
}

/* Width and Height */

.legal-footer {
	max-width: 1080px;
}

.legal-footer .footer-menu,
.legal-footer .footer-logo,
.legal-footer .footer-text {
	width: 100%;
}

.legal-footer .footer-menu > .menu-item,
.legal-footer .footer-menu > .menu-item-end {
  	flex-grow: 1;
}

.legal-footer .footer-menu > .menu-item.legal-default,
.legal-footer .footer-menu > .menu-item-end.legal-default {
	flex-basis: 25%;
}

.legal-footer .footer-menu > .menu-item.legal-15,
.legal-footer .footer-menu > .menu-item.legal-15 ~ .menu-item-end {
	flex-basis: 15%;
}

.legal-footer .footer-menu > .menu-item.legal-30 {
	flex-basis: 30%;
}

.legal-footer .footer-menu > .menu-item.legal-33-333 {
	flex-basis: 33.333%;
}

.legal-footer .item-title {
	width: fit-content;
}

/* Background */

.legal-footer-wrapper {
	background-color: rgb(13, 11, 47);
}

.legal-footer .item-children .item-title {
	background-image: url( '../../img/base/footer/menu-item.svg' );
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto;
}

.footer-menu,
.legal-footer .footer-logo {
	border-bottom: 1px solid rgba(90,90,90,0.25); 
}

.legal-footer .lang-switcher {
	cursor: pointer;
}

/* Typography */

.footer-menu > .menu-item > .item-title,
.footer-menu > .menu-item-end > .menu-item > .item-title {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 28.8px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.legal-footer .item-children .item-title {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	line-height: 28.8px;
	color: rgb(89, 151, 227);
}

.legal-footer .footer-copy,
.legal-footer .footer-text p {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 26.25px;
	color: rgb(255, 255, 255);
}


/* Other */

img.emoji {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}