/* footer-menu */

.footer-menu
{
	background-color: aliceblue;
}

/* menu-item 1st */

.footer-menu .menu-item-has-children
{
	background-color:antiquewhite;
}

.footer-menu .menu-item-has-children > .item-title
{
	background-color:chocolate;
}

/* menu-item 2nd */

.footer-menu .menu-item:not( .menu-item-has-children )
{
	background-color:azure;
}

.footer-menu .menu-item:not( .menu-item-has-children ) > .item-title
{
	background-color:brown;
}

/* footer-logo */

.legal-footer .footer-logo
{
	background-color: darkorange;
}

/* lang-switcher */

.legal-footer .lang-switcher
{
	background-color:cadetblue;
}

/* footer-copy */

.legal-footer .footer-copy
{
	background-color:blueviolet;
}

/* footer-text */

.legal-footer .footer-text
{
	background-color:aqua;
}