/* Background */

/* sub menu start */

/* menu item 1th sub menu all */

.legal-menu > .menu-item > .sub-menu
{
	background-color: darkseagreen; 
}

/* menu item 1th not lang menu sub menu all */

.legal-menu > .menu-item:not( :last-child ) > .sub-menu
{
	background-color:indianred; 
}

/* menu item 1th lang sub menu all */

.legal-menu > .menu-item:last-child > .sub-menu
{
	background-color:deeppink; 
}

/* menu item 1th not lang menu item 2th has children sub menu */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .sub-menu
	{
		background-color:honeydew; 
	}
}

@media screen and ( max-width: 767px ) {
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .sub-menu
	{
		background-color:honeydew; 
	}
}

/* sub menu end */

/* menu group start */

/* menu item 1th menu group all */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item > .sub-menu > .menu-group
	{
		background-color:cornflowerblue; 
	}
}

/* menu item 1th not lang menu group all */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group
	{
		background-color:olive; 
	}
}

/* menu item 1th lang menu group all */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:last-child > .sub-menu > .menu-group
	{
		background-color:tomato; 
	}
}

/* menu group end */

/* menu item 1th start */

/* menu item 1th all start */

.legal-menu > .menu-item
{
	background-color: aliceblue; 
}

/* menu item 1th not lang */

.legal-menu > .menu-item:not( :last-child )
{
	background-color:antiquewhite; 
}

/* menu item 1th lang */

.legal-menu > .menu-item:last-child
{
	background-color:aqua; 
}

/* menu item 1th end */

/* menu item 1th not lang menu item 2th start */

/* menu item 1th not lang menu item 2th not has children */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children )
	{
		background-color:aquamarine; 
	}
}

@media screen and ( max-width: 767px ) {
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children )
	{
		background-color:aquamarine; 
	}
}

/* menu item 1th not lang menu item 2th has children item title */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title
	{
		background-color:burlywood; 
	}
}

@media screen and ( max-width: 767px ) {
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title
	{
		background-color:burlywood; 
	}
}

/* menu item 1th not lang menu item 2th has children menu item */

@media screen and ( min-width: 768px )
{
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item
	{
		background-color:coral; 
	}
}

@media screen and ( max-width: 767px ) {
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children .menu-item
	{
		background-color:coral; 
	}
}

/* menu item 1th lang menu item 2th */

.legal-menu > .menu-item:last-child .menu-item
{
	background-color:mistyrose; 
}

/* menu item 1th not lang menu item 2th end */

/* .legal-menu * {
    box-sizing: border-box;
} */

@media screen and ( min-width: 768px )
{
	/* Display */

	.legal-header
	{
		column-gap: 32px;
	}

	.legal-header .legal-logo,
	.legal-header .legal-logo picture
	{
		display: inline-block;
		width: 120px;
		height: 48px;
	}

	.legal-header .legal-header-control
	{
		display: none;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		flex-wrap: nowrap;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group
	{ 
		order: 0;
		flex-basis: calc( 100% / 4 - 24px );
	}

	.legal-menu > .menu-item > .sub-menu > .menu-group
	{ 
		display: flex;
		flex-wrap: wrap;
		align-content: start;
	}

	.legal-menu > .menu-item:last-child > .item-title::after {
		content: attr( data-name-code );
	}

	.legal-menu .menu-item:hover > .sub-menu
	{
        display: flex;
	}

	.legal-menu .menu-item:not( :hover ) > .sub-menu
	{
		display: none;
	}

	.legal-menu > .menu-item > .sub-menu
	{
        gap: 28px 32px; 
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
        flex-wrap: wrap;
	}

	.legal-menu .menu-item.legal-has-href {
		display: none;
	}

	.legal-menu .menu-group .menu-item:hover > .sub-menu {
        gap: 0;
	}

	.legal-menu .menu-item-has-children:after {
		display: none;
	}

	.legal-menu .menu-group.menu-group-shift {
		order: 1;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children
	{
		display: flex;
		flex-wrap: wrap;
	}

	.legal-menu .legal-cut-control {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.legal-menu .legal-cut-control.legal-hide
	{
		display: none;
	}

	/* Width and Height */

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		width: 1080px;
	}

	.legal-menu .menu-item-has-children .menu-item:not( .legal-country ),
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title
	{
		flex-basis: 240px;
	}

	.legal-menu > .legal-country:last-child > .item-title::before
	{
		width: 24px;
		height: 24px;
	}

	.legal-menu > .menu-item:last-child .menu-item .item-title::before
	{
		width: 18px;
		height: 18px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		width: min-content;
	}

	.legal-menu > .menu-item:last-child > .sub-menu > .menu-group
	{
		flex-basis: 152px;
	}

	.legal-menu > .menu-item:last-child .menu-item .item-title
	{
		min-width: 152px;
	}

	/* Position */

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
        padding: 28px 40px;
	}

	.legal-menu > .menu-item:last-child
	{
		margin-left: auto;
	}

	.legal-menu > .menu-item > .sub-menu
	{
		position: absolute;
		top: 82px;
		z-index: 1;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		left: 0px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		right: 0px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children )
	{
		padding: 10px 0px;
	}

	/* Background */

	.legal-menu > .menu-item:last-child > .item-title {
		background-position: left 10px center;
	}

	.legal-menu > .menu-item > .sub-menu
	{
		border: 2px solid #000;
		border-radius: 21px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		box-sizing: border-box;
	}

	.legal-menu > .legal-country:last-child > .item-title::before
	{
		background-size: 24px 24px;
	}

	.legal-menu .sub-menu .legal-country:last-child > .item-title::before
	{
		background-size: 18px 18px;
	}

	/* Typography */

	/* .legal-menu > .menu-item:hover > .item-title {
		text-shadow: 0 0 0.35px #000, 0 0 0.35px #333;
	} */

	.legal-menu > .menu-item:hover,
	.legal-menu > .menu-item:hover:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ),
	.legal-menu > .menu-item:hover:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item
	{
		text-shadow: 0 0 0.35px #000, 0 0 0.35px #333;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ),
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item
	{
		text-decoration: solid underline #000 2px;
		text-underline-offset: 5px;
		text-shadow: 0 0 0.35px #000, 0 0 0.35px #333;
	}

	/* .legal-menu .sub-menu .menu-item .item-title:hover {
		text-decoration: solid underline #000 2px;
		text-underline-offset: 5px;
		text-shadow: 0 0 0.35px #000, 0 0 0.35px #333;
	} */

	/* .legal-menu .sub-menu .menu-item .item-title::before
	{
		text-decoration: unset;
	} */

	.legal-menu .menu-item.legal-country-all > .item-title::before { 
		font-size: 24px;
	}

	.legal-menu .legal-cut-control::before {
		font-size: 14px;
	}

	/* .legal-menu .legal-cut-control:hover::before {
		text-decoration: solid underline #000 2px;
		text-underline-offset: 5px;
		text-shadow: 0 0 0.35px #000, 0 0 0.35px #333;
	} */
    
}

/* Display */

.legal-header {
	display: flex;
	align-items: center;
}

/* .legal-header .legal-logo {
	display: flex;
} */

.legal-menu {
	display: flex;
	/* column-gap: 15px; */
}

.legal-menu .legal-cut-control::before {
	font-family: var( --legal-font-primary );
	cursor: pointer;
	color: #000;
	font-weight: 500;
	line-height: 20px;
}

.legal-menu .legal-cut-control:not( .legal-active )::before {
	content: attr( data-content-default );
}

.legal-menu .legal-cut-control.legal-active::before {
	content: attr( data-content-active );
}

.legal-menu .legal-cut-item:not( .legal-active )
{
	display: none;
}

/* .legal-menu a {
	display: inline;
} */

.legal-menu > .menu-item:last-child .item-title
{
	display: flex;
	align-items: center;
	gap: 8px; 
}

.legal-menu .menu-item
{
	display: flex;
}

/* .legal-menu .menu-item-has-children .legal-country
{
	flex-basis: 152px;
} */

.legal-menu .sub-menu .menu-item.menu-item-new a::after {
	content: "new";
}

.legal-menu .sub-menu .menu-item.menu-item-has-children {
	row-gap: 4px;
}

.legal-menu .sub-menu .menu-item.menu-item-has-children > a {
	pointer-events: none;
}

.legal-menu .sub-menu .menu-item-has-children .sub-menu {
    display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
    pointer-events: painted;
}

.legal-menu .menu-group .menu-item-has-children:after {
	content: none;
}

.legal-menu .menu-item-has-children:after {
	cursor: pointer;
}

.legal-menu .legal-country:not(.legal-country-all) > .item-title::before {
    display: inline-block;
}

.legal-menu .legal-cut-control::after {
	/* content: '\f101'; */
	content: '\F103';
    font-family: var(--legal-font-icons);
    /* font-size: 26px; */
    /* font-size: 1em; */
    font-size: 16px;
    /* line-height: 8px; */
    /* line-height: 1em;  */
    line-height: 16px; 
}

.legal-menu .item-title[href="#"] {
    pointer-events: none;
}

/* Position */

#thrive-header {
	z-index: 15;
}

.legal-header {
	/* padding: 0px; */
	margin: 0px auto;
}

/* .legal-header .legal-logo {
	margin-right: auto;
} */

.legal-header {
    position: relative;
}

/* .legal-menu .menu-item {
	padding: 0px;
} */

.legal-menu > .menu-item-has-children .menu-item-has-children .item-title
{
	padding: 8px 0px;
}

.legal-menu .sub-menu .menu-item.menu-item-new .item-title::after {
    position: absolute;
    padding-left: 5px;
}

.legal-menu > .menu-item:not( :last-child ) > .item-title
{
	padding: 30px 24px;
}

.legal-menu > .menu-item:last-child > .item-title
{
	padding: 30px 18px;
}

.legal-menu > .menu-item:last-child > .sub-menu {
	padding: 18px;
}

/* .legal-menu > .menu-item:last-child > .sub-menu .menu-item {
	padding: 0;
} */

/* .legal-menu .menu-item:not( .legal-menu > .menu-item) > .item-title {
	padding: 0px;
} */

.legal-menu > .menu-item:last-child .menu-item > .item-title {
	padding: 8px 0px;
}

/* .legal-menu > .menu-item:last-child .sub-menu .menu-group > .menu-item.legal-country-all > .item-title {
	padding: 10px 0px;
} */

.legal-menu .menu-item-has-children:after {
	padding: 10px 0px;
}

/* .legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    position: relative;
	padding: 0;
} */

.legal-menu .menu-item.legal-country-all > .item-title {
	position: relative;
}

/* .legal-menu .menu-item.legal-country-all > .item-title::before { 
	position: absolute;
	left: 0;
} */

.legal-menu .legal-cut-control {
	padding: 6px 0;
}

/* Width and Height */

.legal-header {
	max-width: 1080px;
}

.legal-menu {
	width: 100%;
}

/* .legal-menu > .menu-item:last-child > .sub-menu .menu-item {
	min-width: 152px;
} */

.legal-menu .menu-item-has-children:after {
	width: auto;
	height: auto;
}

/* Background */

.legal-header-wrapper
{
	background-color: #fff;
}

/* .legal-menu .sub-menu .menu-item {
	border-style: none;
	border-color: rgb(89, 151, 227);
} */

/* .legal-menu .sub-menu .menu-item:not( :last-child ) {
	border-width: 1px 1px 0px 1px;
} */

/* .legal-menu .sub-menu .menu-item:last-child {
	border-width: 1px;
} */

.legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    border: none;
    border-radius: 0;
	background-color: transparent;
}

.legal-menu > .menu-item:last-child > .item-title {
	background-repeat: no-repeat;
}

.legal-menu .legal-country:not(.legal-country-all) > .item-title::before
{
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #000;
	box-sizing: border-box;
}

.legal-menu .legal-cut-control::after {
	cursor: pointer;
}

.legal-menu .legal-cut-control.legal-active::after {
	transform: rotate( 180deg );
}

/* Typography */

/* .legal-menu a:not( .legal-disabled ) {
	font-family: var( --legal-font-primary );
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
    text-transform: none;
	text-decoration: none;
	color: #000;
} */

.legal-menu .item-title
{
	font-family: var( --legal-font-primary );
	text-decoration: none;
	font-style: normal;
}

.legal-menu > .menu-item-has-children:not( .legal-country ) .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title
{
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.legal-menu .sub-menu .legal-country > .item-title,
.legal-menu > .menu-item-has-children .menu-item-has-children > .item-title,
.legal-menu > .menu-item-has-children .menu-item-has-children .sub-menu > .menu-item > .item-title
{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.legal-menu > .menu-item-has-children:not( .legal-country ) .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title,
.legal-menu .sub-menu .legal-country > .item-title,
.legal-menu > .menu-item-has-children .menu-item-has-children .sub-menu > .menu-item > .item-title
{
	color: var(--Base-base-09, #0A0A0A);
}

.legal-menu > .menu-item-has-children .menu-item-has-children > .item-title
{
	color: var(--Base-base-05, #939393); 
}

/* .legal-menu .menu-item .item-title {
	line-height: 20px;
	font-size: 14px;
} */

.legal-menu > .menu-item > .item-title
{
	color: var(--Base-base-09, #0A0A0A);
	font-family: var( --legal-font-primary );
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	text-align: center;
}

.legal-menu .sub-menu .menu-item.menu-item-new .item-title::after {
    color: #298CFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

/* .legal-menu .sub-menu > .menu-group > .menu-item-has-children .menu-item.menu-item-new .item-title::after {
    line-height: 19px;
} */

/* .legal-menu .sub-menu .menu-item.menu-item-has-children > .item-title {
    color: #939393;
    font-size: 14px;
} */

/* .legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu .item-title {
    font-size: 14px;
} */

.legal-menu .legal-country:not(.legal-has-href) > .item-title::before {
	content: '';
	vertical-align: middle;
}

/* .legal-menu .menu-item.legal-country-all > .item-title::before
{
	font-family: var(--legal-font-icons);\
	content: '\F105';
	font-size: 18px;
	line-height: 18px;
} */

/* Other */ 

/* #content:not(.legal-override) {
	z-index: 1;
}

.bottom-section:not(.legal-override) {
	z-index: 0;
}

.thrv_footer:not(.legal-override) {
	z-index: 0;
}
a
.drop-menu_content_Spoiler {
	display: none;
} */



@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-header {
		flex-wrap: wrap;
	}

	.legal-header-control:not( .legal-active ) ~ .legal-menu {
		display: none;
	}

	.legal-header-control {
		display: block;
	}

	.legal-menu {
		flex-direction: column;
	}

	.legal-menu .menu-item {
		flex-wrap: wrap;
	}

	.legal-menu .menu-item > .item-title {
		order: 1;
	}

	.legal-menu .menu-item::after {
		order: 2;
	}

	.legal-menu .menu-item > .sub-menu {
		order: 3;
	}

	.legal-menu .menu-item-has-children:after {
		display: block;
	}

	.legal-menu > .menu-item:last-child > .item-title::after {
		content: attr( data-name-default );
	}
	.legal-menu > .menu-item.legal-active:last-child > .item-title::after {
		content: attr( data-name-alternate );
	}

	.legal-menu .menu-item.legal-active > .sub-menu {
		display: block;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		display: block;
	}

	.legal-menu .sub-menu .menu-item.menu-item-has-children {
		flex-direction: row;
	}

	.legal-menu .menu-item.legal-has-href {
		display: flex;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header .legal-menu > .menu-item.legal-active:last-child {
		align-content: flex-start;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header .legal-menu > .menu-item.legal-active:last-child::after {
		order: 0;
	}
	

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children .sub-menu {
		display: none;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		display: flex;
	}

	.legal-header .legal-header-control
	{
		display: flex;
		gap: 18px;
	}

	.legal-header .legal-header-control::before
	{
		display: inline-block;
		content: '';

	}

	/* Position */

	.legal-header .legal-logo {
		margin-left: 16px;
	}

	.legal-header .legal-header-control {
		margin-left: auto;
		margin-right: 16px;
	}

	/* .legal-header-control {
		position: static;
		margin-right: 58px;
	} */

	.legal-menu {
		padding: 8px 16px;
		border-top: 2px solid #000;
	}

	.legal-menu .menu-item > .item-title {
		margin-right: auto;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item {
		padding: 8px 0;
	}

	.legal-menu .sub-menu .sub-menu {
		padding: 0px 10px 10px 10px;
	}

	.legal-menu > .menu-item:last-child::after,
	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		transform: rotate(270deg);
		padding: 0px;
	}

	.legal-menu .menu-item-has-children.legal-active:after {
		transform: rotate(180deg);
	}

	.legal-header .legal-menu > .menu-item:not( :last-child ) > .item-title {
		padding: 16px 24px 16px 0;
	}

	.legal-header .legal-menu .menu-item-has-children:after {
		padding: 0px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header .legal-menu > .menu-item.legal-active:last-child {
		position: absolute;
		z-index: 2;
		padding: 0;
		top: 10px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header .legal-menu > .menu-item.legal-active:last-child::after {
		transform: none;
	}

	.legal-header .legal-menu > .menu-item:last-child > .item-title {
		padding: 16px 24px 16px 0px;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child > .item-title {
		padding: 14px 24px 14px 18px;
	}
	
	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu {
		padding: 8px 16px;
		margin-left: -16px;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu .menu-item > .item-title {
		padding: 10px 10px 10px 0px;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child .menu-item.legal-country-all > .item-title {
		padding: 10px 10px 10px 26px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active > .item-title {
		padding: 14px 0 14px 18px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		padding: 8px 16px;
		margin-left: -16px;
	}

	/* .legal-header-control::after {
		position: absolute;
		right: 16px;
	} */

	/* Width and Height */

	.legal-header .legal-logo {
		height: 52px;
	}

	/* .legal-header-control {
		width: 24px;
		height: 24px;
	} */

	.legal-header .legal-header-control::before
	{
		width: 24px;
		height: 24px;
	}

	.legal-menu {
		width: 100%;
	}

	.legal-menu .menu-item {
		width: 100%;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		width: 28px;
		height: 19px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header .legal-menu > .menu-item.legal-active:last-child {
		width: 100%;
		height: calc(100% - 10px);
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header .legal-menu > .menu-item.legal-active:last-child::after {
		height: auto;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		width: 100%;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children {
		width: auto;
	}

	.legal-menu .sub-menu .menu-item.menu-item-has-children {
		row-gap: 0;
	}

	.legal-menu .legal-country:not(.legal-country-all) > .item-title::before {
		width: 18px;
		height: 18px;
	}

	.legal-menu .menu-item > .sub-menu,
	.legal-menu > .menu-item:last-child > .sub-menu {
		width: 100%;
	}
	
	/* Background */

	.legal-header .legal-logo {
		cursor: pointer;
	}

	/* .legal-header-control */
	
	.legal-header .legal-header-control:not( .legal-active )::before
	{
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px;
		border-radius: 50%;
		border: 1px solid #000000;
		box-sizing: border-box;
	}
	
	.legal-header-control.legal-active {
		background-image: none;
		border: none;
	}

	.legal-menu .menu-item.legal-active > .sub-menu {
		border: none;
	}

	.legal-menu > .menu-item > .item-title {
		background-position: left 24px center;
	}

	.legal-menu > .menu-item:last-child > .item-title::before,
	.legal-menu > .menu-item:last-child .menu-item > .item-title::before {
		background-size: 18px;
		background-position: left center;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header .legal-menu > .menu-item.legal-active:last-child {
		background-color: #fff;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu {
		border-radius: 0;
		background-color: #fff;
	}
	
	.legal-header .legal-menu > .menu-item.legal-active:last-child > .item-title {
		background-position: left center;
		background-image: none;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu .menu-item > .item-title {
		background-position: left center;
	}
	

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		/* background-color: #fff; */
	}

	/* Typography */

	.legal-header .legal-menu > .menu-item:not( :last-child ) > .item-title {
		font-weight: 600;
	}

	.legal-menu .menu-item:not( .legal-menu > .menu-item) > .item-title,
	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu .menu-item > .item-title {
		font-size: 14px;
	}

	.legal-header .legal-menu > .menu-item:last-child > .item-title {
		font-weight: 600;
		font-size: 14px;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child > .item-title {
		font-size: 16px;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child > .item-title::before {
		content: none
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header .legal-menu > .menu-item.legal-active:last-child::after {
		content: '\f102';
		font-size: 24px;
		text-align: left;
		line-height: 51px;
		font-family: var(--legal-font-icons);
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active > .item-title {
		font-weight: 600;
		font-size: 16px;
		color: #000;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children > .item-title{
		color: #000;
	}

	.legal-header .legal-menu > .menu-item.legal-active:last-child .sub-menu .menu-item > .item-title {
		font-weight: 400;
	}

	.legal-menu .menu-item-has-children:after {
		line-height: 51px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		line-height: 1;
	}

	.legal-menu .menu-item-has-children:after,
	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		content: '\f104';
		font-size: 24px;
		text-align: center;
		font-family: var(--legal-font-icons);
	}

	.legal-menu .menu-item.legal-country-all > .item-title::before { 
		font-size: 18px;
	}

	.legal-menu .legal-cut-control::before {
		font-size: 16px;
	}

	.legal-header-control::after {
		font-family: var(--legal-font-icons);
		line-height: 24px;
		font-size: 24px;
	}

	.legal-header-control:not( .legal-active )::after {
		/* content: '\f106'; */
		/* content: '\F108'; */
		content: '\F10A';
	}

	.legal-header-control.legal-active::after {
		/* content: '\f105'; */
		/* content: '\F107'; */
		content: '\F10B';
	}
	
}