/* Display */

.legal-menu {
	display: flex;
	column-gap: 15px;
}

.legal-menu a {
	display: block;
}

/* Position */

.legal-menu a {
	padding: 10px;
}

/* Background */

.legal-menu a:hover {
	background-color: rgb(89, 151, 227);
}

.legal-menu .sub-menu a {
	border: 1px solid rgb(89, 151, 227)
}

/* Typography */

.legal-menu a:not( .legal-disabled ) {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}