@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-header {
		flex-wrap: wrap;
	}

	.legal-header-control:not( .legal-active ) ~ .legal-menu {
		display: none;
	}

	.legal-header-control {
		display: block;
		content: '';
	}

	.legal-menu {
		flex-direction: column;
	}

	.legal-menu .menu-item.legal-active > .sub-menu {
		display: block;
	}

	.legal-menu .menu-item {
		flex-wrap: wrap;
	}

	.legal-menu .menu-item > a {
		order: 1;
	}

	.legal-menu .menu-item::after {
		order: 2;
	}

	.legal-menu .menu-item > .sub-menu {
		order: 3;
	}

	/* Position */

	.legal-header-wrapper {
		padding: 0px 20px;
	}

	.legal-menu {
		padding-top: 15px;
	}

	.legal-menu .sub-menu .sub-menu {
		padding: 0px 10px 10px 10px;
	}

	.legal-menu .menu-item > a {
		margin-right: auto;
	}

	/* Width and Height */

	.legal-menu {
		width: 100%;
	}
	
	.legal-menu .menu-item {
		width: 100%;
	}

	.legal-header-control {
		width: 22px;
		height: 22px;
	}

	.legal-menu .menu-item > .sub-menu {
		width: 100%;
	}
	
	/* Background */

	.legal-header-control {
		background-image: url( '../../img/base/header/open.svg' );
	}
	
	.legal-header-control.legal-active {
		background-image: url( '../../img/base/header/close.svg' );
	}
	
	.legal-header-control {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}
}

@media screen and ( min-width: 768px )
{
	/* Display */

	.legal-menu .menu-item:hover > .sub-menu {
		display: block;
	}

	/* Position */

	.legal-menu .menu-item .sub-menu {
		position: absolute;
		z-index: 1;
	}

	.legal-menu > .menu-item > .sub-menu {
		top: 48px;
	}

	.legal-menu > .menu-item:not( :last-child ):not( :nth-last-child(2) ) .sub-menu {
		left: 0px;
	}

	.legal-menu > .menu-item:last-child .sub-menu,
	.legal-menu > .menu-item:nth-last-child(2) .sub-menu {
		right: 0px;
	}

	.legal-menu .sub-menu .sub-menu {
		top: -1px;
	}

	.legal-menu > .menu-item:not( :last-child ):not( :nth-last-child(2) ) .sub-menu .sub-menu {
		left: 249px;
	}

	.legal-menu > .menu-item:last-child .sub-menu .sub-menu,
	.legal-menu > .menu-item:nth-last-child(2) .sub-menu .sub-menu {
		right: 249px;
	}

	.legal-menu .menu-item-has-children {
		position: relative;
	}

	.legal-menu .menu-item > a {
		flex-grow: 1;
	}

	/* Background */

	.legal-menu .menu-item:hover {
		background-color: rgb(89, 151, 227);
	}
}

/* Display */

.legal-header {
	display: flex;
	align-items: center;
}

.legal-logo {
	display: flex;
}

.legal-menu {
	display: flex;
	column-gap: 15px;
}

.legal-menu a {
	display: block;
}

.legal-menu .menu-item {
	display: flex;
	cursor: pointer;
}

.legal-menu .menu-item > .sub-menu {
	display: none;
}

.legal-menu .menu-item-has-children:after {
	display: block;
	content: '';
}

.legal-menu .menu-item-has-children:after {
	cursor: pointer;
}

.legal-menu .menu-item-has-children.legal-active:after {
	transform: rotate(180deg);
}

.legal-menu .item-title[href="#"] {
    pointer-events: none;
}

.legal-menu .legal-country > .item-title:after {
	content: attr( 'data-text-default' );
}

/* Position */

#thrive-header {
	z-index: 15;
}

.legal-header {
	padding: 21px 0px;
	margin: 0px auto;
}

.legal-header .legal-logo {
	margin-right: auto;
}

.legal-menu > .menu-item:not( .legal-country ) > a {
	padding: 10px;
}

.legal-menu .menu-item.legal-country > a {
	padding: 10px 10px 10px 43px;
}

.legal-menu .menu-item:not( .legal-country ) > a {
	padding: 12px 17px;
}

.legal-menu .sub-menu > .legal-country > a {
	padding: 10px 10px 10px 53px;
}

.legal-menu .menu-item-has-children:after {
	padding: 10px 0px;
}

/* Width and Height */

.legal-header {
	max-width: 1080px;
}

.legal-menu .menu-item:not( .legal-country-wide ) > .sub-menu {
	width: 260px;
}

.legal-menu .menu-item.legal-country-wide > .sub-menu {
	width: 330px;
}

.legal-menu .menu-item a {
	min-width: 48px;
	min-height: 48px;
}

.legal-menu .menu-item-has-children:after {
	width: 28px;
	height: 48px;
}

/* Background */

.legal-header-wrapper {
	background-color: rgb(13, 11, 47);
}

.legal-menu .sub-menu {
	background-color: rgb(13, 11, 47);
}

.legal-menu .sub-menu .menu-item {
	border-style: solid;
	border-color: rgb(89, 151, 227);
}
.legal-menu .sub-menu .menu-item:not( :last-child ) {
	border-width: 1px 1px 0px 1px;
}
.legal-menu .sub-menu .menu-item:last-child {
	border-width: 1px;
}

.legal-menu .menu-item-has-children:hover:after {
	transform: rotate(180deg);
}
.legal-menu .menu-item-has-children:after {
	background-image: url( '../../img/base/header/item-open.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-menu .menu-item.legal-country > a {
	background-position: left 10px center;
}

.legal-menu .menu-item.legal-country .menu-item a {
	background-position: left 17px center;
}

.legal-menu .menu-item.legal-country > a {
	background-repeat: no-repeat;
}

.legal-menu > .menu-item:not( :last-child ).legal-country > a {
	background-size: 18px 18px;
}

.legal-menu > .menu-item:last-child > a,
.legal-menu > .menu-item:last-child .menu-item.legal-country > a {
	background-size: 23px 23px;
}

/* Typography */

.legal-menu a:not( .legal-disabled ) {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

/* Other */

#content:not(.legal-override) {
	z-index: 1;
}

.bottom-section:not(.legal-override) {
	z-index: 0;
}

.thrv_footer:not(.legal-override) {
	z-index: 0;
}

.drop-menu_content_Spoiler {
	display: none;
}