@media screen and ( min-width: 960px )
{
	/* Display */

	.legal-menu .legal-cut-control.legal-hide,
	.legal-header .legal-header-control,
	.legal-menu > .menu-item:not( :hover ) > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .legal-has-href
	{
		display: none;
	}

	.legal-menu,
	.legal-menu > .menu-item:hover > .sub-menu
	{
		display: flex;
	}

	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-group > .menu-item-has-children > .sub-menu
	{
		display: flex;
		flex-wrap: wrap;
	}

	.legal-menu > .menu-item > .sub-menu > .menu-group
	{ 
		display: flex;
		flex-wrap: wrap;
		align-content: start;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children
	{
		flex-wrap: wrap;
	}

	.legal-menu .legal-cut-control
	{
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.legal-header
	{
		column-gap: 32px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		flex-wrap: nowrap;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
        flex-wrap: wrap;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group
	{ 
		order: 0;
		flex-basis: calc( 100% / 4 - 24px );
	}

	.legal-menu > .menu-item > .sub-menu
	{
        gap: 28px 32px; 
	}

	.legal-menu > .menu-item:last-child > .item-title::after
	{
		content: attr( data-name-code );
	}

	.legal-menu .legal-cut-control:not( .legal-active )::before
	{
		content: attr( data-content-default );
	}
	
	.legal-menu .legal-cut-control.legal-active::before
	{
		content: attr( data-content-active );
	}

	/* Width and Height */

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ),
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-group > .menu-item-has-children .menu-item
	{
		flex-basis: 100%;
	}

	.legal-menu > .menu-item:last-child > .sub-menu > .menu-group
	{
		flex-basis: 152px;
	}

	.legal-menu
	{
		width: 100%;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		width: 100%;
	}

	.legal-header .legal-logo,
	.legal-header .legal-logo picture
	{
		width: 120px;
	}

	.legal-menu > .legal-country:last-child > .item-title::before
	{
		width: 24px;
		height: 24px;
	}

	.legal-menu > .menu-item:last-child .menu-item .item-title::before
	{
		width: 18px;
		height: 18px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		width: min-content;
	}

	.legal-header
	{
		max-width: var( --base-width-desktop );
	}

	.legal-menu > .menu-item:last-child .menu-item > .item-title
	{
		min-width: 152px;;
	}

	/* Position */
	
	.legal-header
	{
		margin: 0px auto;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
        padding: 28px 40px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .item-title
	{
		padding: 30px 24px;
	}

	.legal-menu > .menu-item:last-child > .item-title
	{
		padding: 30px 18px;
	}

	.legal-menu > .menu-item-has-children .menu-item-has-children .item-title,
	.legal-menu .legal-cut-control
	{
		padding: 8px 0px;
	}

	.legal-menu > .menu-item:last-child
	{
		margin-left: auto;
	}

	.legal-menu > .menu-item > .sub-menu
	{
		position: absolute;
		top: 82px;
		z-index: 1;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		left: 0px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		right: 0px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children )
	{
		padding: 10px 0px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		padding: 18px;
	}

	/* Background */

	.legal-menu > .menu-item > .sub-menu
	{
		border: 2px solid var(--Base-base-09, #0A0A0A);
		border-radius: 21px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu
	{
		box-sizing: border-box;
	}

	.legal-menu > .legal-country:last-child > .item-title::before
	{
		background-size: 24px 24px;
	}

	.legal-menu > .menu-item:last-child .menu-item > .item-title::before
	{
		background-size: 18px 18px;
	}

	.legal-menu > .menu-item:last-child .menu-item:not( .legal-country-all ) > .item-title::before,
	.legal-menu > .menu-item:last-child > .item-title::before
	{
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		border: 1px solid var(--Base-base-09, #0A0A0A);
		box-sizing: border-box;
	}

	/* Typography */

	.legal-menu > .menu-item > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title
	{
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
	}

	.legal-menu .legal-cut-control,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item > .item-title
	{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.legal-menu .legal-cut-control,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item > .item-title
	{
		color: var(--Base-base-09, #0A0A0A);
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title
	{
		color: var(--Base-base-05, #939393); 
	}

	.legal-menu .legal-cut-control,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children > .item-title
	{
		font-family: var( --legal-font-primary );
		text-decoration: none;
		font-style: normal;
	}

	.legal-menu > .menu-item:hover > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title:hover,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item:hover,
	.legal-menu .legal-cut-control:hover
	{
		text-shadow: 0 0 0.35px var(--Base-base-09, #0A0A0A);
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ) > .item-title:hover,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children .menu-item:hover
	{
		text-decoration: solid underline var(--Base-base-09, #0A0A0A) 2px;
		text-underline-offset: 5px;
	}

	.legal-menu .legal-cut-control::after
	{
		content: '\F103';
		font-family: var(--legal-font-icons);
		font-size: 16px;
		line-height: 16px; 
	}

	.legal-menu .legal-cut-control
	{
		cursor: pointer;
	}
}

@media screen and ( min-width: 768px ) and ( max-width: 1279px )
{
	.legal-header-wrapper
	{
		padding-left: 32px;
  		padding-right: 32px;
	}	
}

/* Display */

.legal-menu .legal-cut-item:not( .legal-active )
{
	display: none;
}

.legal-menu .menu-item
{
	display: flex;
}

.legal-header
{
	display: flex;
	align-items: center;
}

.legal-menu > .menu-item:last-child .item-title
{
	display: flex;
	align-items: center;
	gap: 8px; 
}

.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ).legal-new
{
	align-items: center;
	column-gap: 4px;
}

.legal-header .legal-logo,
.legal-header .legal-logo picture
{
	display: inline-block;
	height: 48px;
}

.legal-menu > .menu-item:last-child:not( .legal-active ) > .item-title::before,
.legal-menu > .menu-item:last-child .menu-item > .item-title::before
{
	content: '';
} 

.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ).legal-new::after
{
	content: "new";
  	flex-grow: 1;
}

.legal-menu .item-title[ href="#" ]
{
    pointer-events: none;
}

/* Position */

.legal-header
{
    position: relative;
}

.legal-menu > .menu-item:last-child .menu-item > .item-title
{
	padding: 8px 0px;
}

/* Width and Height */

/* Background */

.legal-header-wrapper,
.legal-menu > .menu-item > .sub-menu
{
	background-color: var(--Base-base-01, #FFF); 
}

/* Typography */

.legal-menu > .menu-item:last-child .menu-item > .item-title
{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ).legal-new::after
{
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}

.legal-menu > .menu-item > .item-title,
.legal-menu > .menu-item:last-child .menu-item > .item-title
{
	color: var(--Base-base-09, #0A0A0A);
}

.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ).legal-new::after
{
	color: var(--primary-blue-Primary-Blue, #06F);
}

.legal-menu > .menu-item > .item-title,
.legal-menu > .menu-item:last-child .menu-item > .item-title,
.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item:not( .menu-item-has-children ).legal-new::after
{
	font-family: var( --legal-font-primary );
	text-decoration: none;
	font-style: normal;
}

.legal-menu > .menu-item:last-child .menu-item > .item-title:hover
{
	text-shadow: 0 0 0.35px var(--Base-base-09, #0A0A0A);
}

.legal-menu > .menu-item:last-child .menu-item > .item-title:hover
{
	text-decoration: solid underline var(--Base-base-09, #0A0A0A) 2px;
	text-underline-offset: 5px;
}

@media screen and ( max-width: 767px )
{
	/* Position */

	.legal-header .legal-logo
	{
		padding-left: 16px;
	}

	.legal-header .legal-header-control
	{
		padding-right: 16px;
	}
}

@media screen and ( max-width: 959px )
{
	/* Display */

	.legal-header .legal-header-control:not( .legal-active ) ~ .legal-menu,
	.legal-menu > .menu-item:not( .legal-active ) > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-group > .menu-item-has-children:not( .legal-active ) > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children:not( .legal-active ) > .sub-menu
	{
		display: none;
	}

	.legal-header .legal-header-control,
	.legal-header .legal-header-control.legal-active ~ .legal-menu,
	.legal-menu > .menu-item:not( :last-child ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:last-child.legal-active > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children.legal-active > .sub-menu
	{
		display: flex;
	}

	.legal-header
	{
		flex-wrap: wrap;
	}

	.legal-menu,
	.legal-menu .menu-item
	{
		flex-wrap: wrap;
		align-content: start;
	}

	.legal-menu > .menu-item:last-child,
	.legal-menu > .menu-item:not(:last-child) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title
	{
		align-items: center;
	}

	.legal-menu > .menu-item:last-child
	{
		gap: 8px 18px;
	}

	.legal-header .legal-header-control
	{
		gap: 18px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title
	{
		column-gap: 18px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .sub-menu
	{
		flex-wrap: wrap;
	}

	.legal-menu > .menu-item:last-child > .sub-menu
	{
		row-gap: 8px;
	}
	
	.legal-menu > .menu-item:last-child > .item-title::after
	{
		content: attr( data-name-default );
	}

	.legal-menu > .menu-item.legal-active:last-child > .item-title::after
	{
		content: attr( data-name-alternate );
	}

	.legal-header .legal-header-control::before
	{
		content: '';
	}

	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children > .item-title
	{
		pointer-events: none;
	}
	
	.legal-menu .menu-item-has-children > .item-title
	{
		pointer-events: none;
	}

	/* Position */

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children.legal-active,
	.legal-menu > .menu-item:last-child.legal-active
	{
		position: absolute;
		top: 58px;
    	left: 0px;
		padding-top: 8px;
	}

	.legal-header
	{
		padding-top: 5px;
	}

	.legal-header .legal-logo
	{
		padding-bottom: 5px;
	}

	.legal-header .legal-header-control
	{
		margin-left: auto;
		padding-bottom: 5px; 
	}

	.legal-menu
	{
		padding-top: 8px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .item-title::after,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title::after
	{
		margin-left: auto;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children .menu-item > .item-title
	{
		padding: 8px 0px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children:not( .legal-active ) > .item-title
	{
		padding: 6px 0px;
	}

	.legal-menu > .menu-item > .item-title,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active > .item-title
	{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children > .sub-menu
	{
		padding-top: 8px;
  		padding-bottom: 8px;
	}

	.legal-menu > .menu-item:last-child > .sub-menu,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .sub-menu
	{
		padding-left: 16px;
		padding-right: 16px;
	}
	
	.legal-menu > .menu-item:last-child.legal-active > .item-title
	{
		padding-right: 16px;
	}

	.legal-menu > .menu-item:last-child.legal-active::before
	{
		padding-left: 16px;
	}

	/* Width and Height */

	body.legal-active {
		overflow: hidden;
	}

	.legal-menu > .menu-item:last-child > .item-title
	{
		flex-grow: 1;
	}

	.legal-menu > .menu-item,
	.legal-menu > .menu-item:not( :last-child ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item > .sub-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:last-child .menu-item,
	.legal-menu > .menu-item:last-child .menu-item > .item-title,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children .menu-item,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children .menu-item > .item-title
	{
		flex-basis: 100%;
	}

	.legal-header .legal-logo,
	.legal-header .legal-logo picture
	{
		width: 48px;
	}

	.legal-header .legal-header-control::before
	{
		width: 24px;
		height: 24px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		width: 28px;
		height: 19px;
	}

	.legal-menu > .menu-item:last-child .menu-item > .item-title::before,
	.legal-menu > .menu-item:last-child:not( .legal-active ) > .item-title::before
	{
		width: 18px;
		height: 18px;
	}

	.legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header .legal-menu > .menu-item.legal-active:last-child::after {
		height: auto;
	}

	.legal-header .legal-menu
	{
		width: 100%;
	}

	.legal-menu,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children.legal-active,
	.legal-menu > .menu-item:last-child.legal-active,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active
	{
		width: 100%;
		height: calc( 100vh - 85px );
    	overflow-x: scroll;
	}
	
	/* Background */

	.legal-menu > .menu-item:last-child.legal-active,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children.legal-active
	{
		background-color: var(--Base-base-01, #FFF); 
	}

	.legal-header > .legal-header-control:not( .legal-active )::before
	{
		background-size: 24px;
	}
 
	.legal-menu > .menu-item:last-child:not( .legal-active ) > .item-title::before
	{
		background-size: 18px;
	}

	.legal-header > .legal-header-control:not( .legal-active )::before,
	.legal-menu > .menu-item:last-child:not( .legal-active ) > .item-title::before,
	.legal-menu > .menu-item:last-child .menu-item:not( :last-child ) > .item-title::before
	{
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		border: 1px solid var(--Base-base-09, #0A0A0A);
		box-sizing: border-box;
	}
	
	.legal-menu,
	.legal-menu > .menu-item:last-child.legal-active,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active
	{
		border-top: 2px solid var(--Base-base-09, #0A0A0A);
	}

	/* Typography */

	.legal-menu > .menu-item:last-child:not( .legal-active ) > .item-title
	{
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children:not( .legal-active ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children .menu-item > .item-title
	{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .item-title,
	.legal-menu > .menu-item:last-child.legal-active > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children.legal-active > .item-title
	{
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children .menu-item > .item-title
	{
		color: var(--Base-base-09, #0A0A0A);
	}

	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item:not( .menu-item-has-children ) > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children > .item-title,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children .menu-item > .item-title
	{
		font-family: var( --legal-font-primary );
		text-decoration: none;
		font-style: normal;
	}

	.legal-menu > .menu-item:not( :last-child ):not( .legal-active ) > .item-title::after
	{
		content: '\F106'; 
	}

	.legal-menu > .menu-item:last-child:not( .legal-active )::after
	{
		content: '\F102'; 
	}

	.legal-menu > .menu-item:not( :last-child ).legal-active > .item-title::after
	{
		content: '\F10C';
	}
	
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children:not( .legal-active ) > .item-title::after
	{
		content: '\F102';
	}

	.legal-menu > .menu-item:last-child.legal-active::before,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active > .item-title::before
	{
		content: '\F104';
	}

	.legal-header > .legal-header-control:not( .legal-active )::after
	{
		content: '\F10A';
	}

	.legal-header > .legal-header-control.legal-active::after
	{
		content: '\F10B';
	}
	
	.legal-header > .legal-header-control.legal-active::after
	{
		font-family: var(--legal-font-icons);
		font-size: 32px;
		line-height: 32px;
	}

	.legal-header > .legal-header-control:not( .legal-active )::after,
	.legal-menu > .menu-item:not( :last-child ) > .item-title::after,
	.legal-menu > .menu-item:last-child:not( .legal-active )::after,
	.legal-menu > .menu-item:last-child.legal-active::before,
	.legal-menu > .menu-item:not( :last-child ) > .sub-menu > .menu-item-has-children:not( .legal-active ) > .item-title::after,
	.legal-menu > .menu-item:not(:last-child) > .sub-menu > .menu-item-has-children.legal-active > .item-title::before
	{
		font-family: var(--legal-font-icons);
		font-size: 24px;
		line-height: 24px;
	}

	.legal-menu > .menu-item:not( :last-child ) > .item-title::after
	{
		font-weight: 400;
	}
}