/* Header New CSS */

.new-legal-menu * {
    box-sizing: border-box;
}

@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-header-new {
		flex-wrap: wrap;
	}

	.legal-header-new-control:not( .legal-active ) ~ .new-legal-menu {
		display: none;
	}

	.legal-header-new-control {
		display: block;
		content: '';
	}

	.new-legal-menu {
		flex-direction: column;
	}

	.new-legal-menu .menu-item {
		flex-wrap: wrap;
	}

	.new-legal-menu .menu-item > a {
		order: 1;
	}

	.new-legal-menu .menu-item::after {
		order: 2;
	}

	.new-legal-menu .menu-item > .sub-menu {
		order: 3;
	}

	.new-legal-menu .menu-item-has-children:after {
		display: block;
		content: '';
	}

	.new-legal-menu > .menu-item.legal-country:last-child > a::after {
		content: attr( data-name-default );
	}
	.new-legal-menu > .menu-item.legal-country.legal-active:last-child > a::after {
		content: attr( data-name-alternate );
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu {
		display: block;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		display: block;
		content: '';
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child {
		align-content: flex-start;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child::after {
		order: 0;
	}
	

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children .sub-menu {
		display: none;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		display: flex;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu .link-hidden-list-3-level {
		display: none;
	}

	/* Position */

	.new-legal-menu {
		padding: 8px 16px;
		border-top: 2px solid #000;
	}

	.new-legal-menu .menu-item > a {
		margin-right: auto;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item {
		padding: 8px 0;
	}

	.new-legal-menu .sub-menu .sub-menu {
		padding: 0px 10px 10px 10px;
	}

	.new-legal-menu > .menu-item.legal-country:last-child::after {
		transform: rotate(270deg);
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		transform: rotate(270deg);
		padding: 0px;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child {
		position: absolute;
		z-index: 2;
		padding: 0;
		top: 10px;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child::after {
		background-image: url( 'https://match.center/wp-content/uploads/image-656f316b72537-image-656f.svg' );
		transform: none;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		padding-bottom: 8px;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child > a {
		padding: 14px 24px 14px 18px;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child .sub-menu {
		padding: 8px 16px;
		margin-left: -16px;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child .sub-menu .menu-item > a {
		padding: 10px 10px 10px 36px;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active > a {
		padding: 14px 0 14px 18px;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children .content-hidden-list-3-level {
		margin-left: -16px;
		padding-left: 16px;
		background-color: #fff;
	}

	/* Width and Height */

	.new-legal-menu {
		width: 100%;
	}
	
	.legal-header-new .new-legal-menu > .menu-item {
		width: 100%;
	}
	
	.legal-header-new .new-legal-menu .menu-item.legal-country:not( .legal-country:last-child ) > a {
		padding: 16px 24px 16px 0;
		font-weight: 600;
	}
	.legal-header-new .new-legal-menu > .menu-item.legal-country:last-child > a {
		padding: 16px 24px 16px 33px;
		background-position: left center;
		font-weight: 600;
		font-size: 14px;
	}
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child > a {
		font-size: 16px;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		width: 28px;
		height: auto;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child {
		width: 100%;
		height: calc(100% - 10px);
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active::after,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child::after {
		height: auto;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		width: 100%;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children {
		width: auto;
	}

	.new-legal-menu .sub-menu .menu-item.menu-item-has-children {
		row-gap: 0;
	}
	
	.legal-header-new .new-legal-menu .menu-item-has-children:after {
		padding: 0px;
	}

	.legal-header-new-control {
		width: 78px;
		height: 32px;
	}

	.new-legal-menu .menu-item.legal-country > a {
		background-position: left 24px center;
	}

	.new-legal-menu .menu-item > .sub-menu,
	.new-legal-menu .menu-item.legal-country:last-child > .sub-menu {
		width: 100%;
	}
	
	/* Background */

	.legal-header-new .legal-logo {
		background-image: url('https://match.center/wp-content/uploads/image-656ed29a991ee-image-656e.svg');
		background-repeat: no-repeat;
		background-position: left 16px center;
		cursor: pointer;
		height: 52px;
	}

	.legal-header-new-control {
		background-image: url( 'https://match.center/wp-content/uploads/image-656ec117b3f99-image-656e.svg' ), url('https://match.center/wp-content/uploads/flags/pt.svg');
		background-repeat: no-repeat;
		background-position: right 16px center, left center;
		background-size: 24px;
	}
	
	.legal-header-new-control.legal-active {
		background-image: url( 'https://match.center/wp-content/uploads/image-656ec15ec13be-image-656e.svg' );
		background-size: auto;
		background-position: right 16px center;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu {
		border: none;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children::after {
		background-image: url( 'https://match.center/wp-content/uploads/image-656ec2ecd32b6-image-656e.svg' );
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active,
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child {
		background-color: #fff;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child .sub-menu {
		border-radius: 0;
		background-color: #fff;
	}
	
	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child > a {
		background-position: left center;
		background-image: none;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child .sub-menu .menu-item > a {
		background-position: left center;
	}
	

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active .sub-menu {
		background-color: #fff;
	}

	/* Typography */

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children a {
		font-size: 16px;
		color: #000;
	}

	.new-legal-menu .menu-item.legal-active > .sub-menu .menu-item.menu-item-has-children.legal-active > a {
		font-weight: 600;
	}

	.legal-header-new .new-legal-menu > .menu-item.legal-country.legal-active:last-child .sub-menu .menu-item > a {
		font-weight: 400;
	}
	
}

@media screen and ( min-width: 768px )
{
	/* Display */

	.new-legal-menu .menu-item > a {
		flex-grow: 1;
	}

	.new-legal-menu > .menu-item.legal-country:last-child > a::after {
		content: attr( data-name-code );
	}

	.new-legal-menu .menu-item:hover > .sub-menu {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 0.5rem 2rem;
	}

	.new-legal-menu .menu-group .menu-item:hover > .sub-menu {
        gap: 0;
	}

	.new-legal-menu .menu-item:not( .legal-country-wide ):not( :last-child ) > .sub-menu {
		box-sizing: border-box;
	}

	.new-legal-menu .menu-item-has-children:after {
		display: none;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children {
		display: flex;
		flex-direction: column;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children .link-hidden-list-3-level {
		order: 1;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children .content-hidden-list-3-level {
		display: none;
		flex-direction: column;
	}

	/* Width and Height */

	.legal-header-new .legal-logo {
		height: 44px;
	}

	.new-legal-menu .menu-item:not( .legal-country-wide ):not( :last-child ) > .sub-menu {
		width: 1080px;
	}

	.new-legal-menu .menu-item.legal-country:last-child > .sub-menu {
		width: auto;
	}


	/* Position */

	.new-legal-menu > .menu-item:last-child {
		margin-left: auto;
	}

	.new-legal-menu .menu-item-has-children {
		position: static;
	}

	.new-legal-menu > .menu-item > .sub-menu {
		top: 75px;
	}

	.new-legal-menu .menu-item .sub-menu {
		position: absolute;
		z-index: 1;
	}
	

	.new-legal-menu .menu-item:hover > .sub-menu {
        padding: 28px 40px;
	}

	.new-legal-menu > .menu-item:not( :last-child ):not( :nth-last-child(2) ) .sub-menu {
		right: 0px;
	}

	.new-legal-menu > .menu-item:last-child .sub-menu,
	.new-legal-menu > .menu-item:nth-last-child(2) .sub-menu {
		right: 0px;
	}

	.new-legal-menu > .menu-item:nth-last-child(2) .sub-menu .sub-menu {
		right: 0;
	}

	.new-legal-menu .sub-menu .sub-menu {
		top: -1px;
	}

	.new-legal-menu .menu-group-3-level .menu-item .sub-menu {
		position: relative;
	}
 
	.new-legal-menu .menu-group-3-level .menu-item-has-children .link-hidden-list-3-level {
		padding: 8px 30px 8px 0;
	}


	/* Background */

	.legal-header-new .legal-logo {
		background-image: url('https://match.center/wp-content/uploads/image-656d80a6d9c8b-image-656d.svg');
		padding: 0;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
   
	.new-legal-menu .menu-item:hover {
        background-color: transparent;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children .link-hidden-list-3-level {
	    background-image: url(https://match.center/wp-content/uploads/image-656889a6719fd-image-6568.svg);
		background-repeat: no-repeat;
		background-size: 16px 16px;
		background-position: right 10px center;
		cursor: pointer;
	}

	.new-legal-menu .menu-group-3-level .menu-item-has-children .link-hidden-list-3-level.rotate-svg {
	    background-image: url(https://match.center/wp-content/uploads/image-6569d9e9ee01f-image-6569.svg);
	}

	/* Typography */

	.new-legal-menu .menu-item:hover > a {
        font-weight: 600;
	}

	.new-legal-menu .sub-menu .menu-item .item-title:hover {
		text-decoration: solid underline #000 2px;
		text-underline-offset: 5px;
		font-weight: 600;
	}
    
}

/* Display */

.legal-header-new {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.legal-header-new .legal-logo {
	display: flex;
}

.new-legal-menu {
	display: flex;
	column-gap: 15px;
}

.new-legal-menu a {
	display: inline;
}

.new-legal-menu .menu-item {
	display: flex;
	cursor: default;
}

.new-legal-menu .menu-item > .sub-menu {
	display: none;
}

.new-legal-menu .menu-group {
	order: 0;
	display: flex;
	flex-direction: column;
	flex-basis: 224px;
}

.new-legal-menu .menu-group.menu-group-3-level {
	order: 1;
}

.new-legal-menu .sub-menu .menu-item.new a::after {
	content: "new";
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children {
	row-gap: 8px;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children > a {
	pointer-events: none;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    display: flex;
	flex-direction: column;
    pointer-events: painted;
}

.new-legal-menu .menu-item.legal-country:last-child > .sub-menu {
	gap: 0.5rem 0;
	flex-wrap: nowrap;
}

.new-legal-menu .menu-group-3-level .menu-item-has-children:after {
	content: none;
}

.new-legal-menu .menu-item-has-children:after {
	cursor: pointer;
}

.new-legal-menu .item-title[href="#"] {
    pointer-events: none;
}

/* Position */

#thrive-header {
	z-index: 15;
}

.legal-header-new {
	padding: 0px;
	margin: 0px auto;
}

.legal-header-new .legal-logo {
	margin-right: auto;
}

.new-legal-menu {
    position: relative;
}

.new-legal-menu .menu-item {
	padding: 0;
}

.new-legal-menu .sub-menu .menu-item {
	padding: 8px 0;
}

.new-legal-menu > .menu-item:not( .legal-country ) > a {
	padding: 10px;
}

.new-legal-menu .sub-menu .menu-item.new a::after {
    position: absolute;
    padding-left: 5px;
}

.new-legal-menu .menu-item.legal-country:not( .legal-country:last-child ) > a {
	padding: 30px 24px;
}

.new-legal-menu > .menu-item.legal-country:last-child > a {
	padding: 30px 24px 30px 43px;
}

.new-legal-menu .menu-item.legal-country:last-child > .sub-menu {
	padding: 18px;
}

.new-legal-menu .menu-item.legal-country:last-child > .sub-menu .menu-item {
	padding: 0;
}

.new-legal-menu .menu-item-has-children.legal-active:after {
	transform: rotate(180deg);
}

.new-legal-menu .menu-item:not( .legal-country ) > a {
	padding: 0px;
}

.new-legal-menu .menu-item.legal-country:last-child .sub-menu .menu-group > .legal-country > a {
	padding: 10px 10px 10px 53px;
}

.new-legal-menu .menu-item-has-children:after {
	padding: 10px 0px;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    padding: 0;
}

/* Width and Height */

.legal-header-new {
	max-width: 1080px;
}

.new-legal-menu {
	width: 100%;
}

.legal-header-new .legal-logo {
    width: 120px;
}

.new-legal-menu .menu-item {
	width: fit-content;
}

.new-legal-menu .menu-item.legal-country:last-child > .sub-menu .menu-item {
	width: 270px;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    width: fit-content;
    height: auto;
}

.new-legal-menu .menu-item-has-children:after {
	width: 28px;
	height: auto;
}

/* Background */

.legal-header-new {
	background-color: #fff;
}

.new-legal-menu {
    background-color: #fff;
}

.new-legal-menu .sub-menu {
	background-color: #fff;
    border-radius: 21px;
    border: 2px solid #000;
    background: #FFF;
}

.new-legal-menu .sub-menu .menu-item {
	border-style: none;
	border-color: rgb(89, 151, 227);
}

.new-legal-menu .sub-menu .menu-item:not( :last-child ) {
	border-width: 1px 1px 0px 1px;
}

.new-legal-menu .sub-menu .menu-item:last-child {
	border-width: 1px;
}

.new-legal-menu .menu-item-has-children:after {
    background-image: url( 'https://match.center/wp-content/uploads/image-656ec2ecd32b6-image-656e.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu {
    border: none;
    border-radius: 0;
	background-color: transparent;
}

.new-legal-menu .menu-item.legal-country-pt > a {   /* стиль для наглядности иконок языкового переключателя*/
	background-image: url(https://match.center/wp-content/uploads/flags/pt.svg);
}

.new-legal-menu .menu-item.legal-country-all > a {   /* стиль для наглядности иконок языкового переключателя*/
	background-image: url(https://match.center/wp-content/uploads/image-656869944f58a-image-6568.svg);
}

.new-legal-menu .menu-item.legal-country > a {
	background-position: left 10px center;
}

.new-legal-menu .menu-item.legal-country .menu-item a {
	background-position: left 17px center;
	position: relative;
}

.new-legal-menu .menu-item.legal-country > a {
	background-repeat: no-repeat;
}

.new-legal-menu > .menu-item:not( :last-child ).legal-country > a {
	background-size: 18px 18px;
}

.new-legal-menu > .menu-item:last-child > a,
.new-legal-menu > .menu-item:last-child .menu-item.legal-country > a {
	background-size: 23px 23px;
}

/* Typography */

.new-legal-menu a:not( .legal-disabled ) {
	font-family: "Golos Text";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
    text-transform: none;
	text-decoration: none;
	color: #000;
}

.new-legal-menu .menu-item a {
	line-height: 1.4;
}

.new-legal-menu .sub-menu .menu-item.new a::after {
    color: #298CFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.new-legal-menu .sub-menu .menu-group-3-level .menu-item.new a::after {
    line-height: 19px;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children > a {
    color: #939393;
    font-size: 14px;
}

.new-legal-menu .sub-menu .menu-item.menu-item-has-children .sub-menu a {
    font-size: 14px;
}

/* Other */

#content:not(.legal-override) {
	z-index: 1;
}

.bottom-section:not(.legal-override) {
	z-index: 0;
}

.thrv_footer:not(.legal-override) {
	z-index: 0;
}

.drop-menu_content_Spoiler {
	display: none;
}