@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-header-menu::before,
	.legal-header-menu .toggle-button {
		display: block;
		content: '';
	}

	.legal-menu {
		flex-direction: column;
	}

	.legal-menu .menu-item:not( :active ) > a {
		pointer-events: none;
		cursor: pointer;
	}

	/* Width and Height */

	.legal-header-menu::before,
	.legal-header-menu .toggle-button {
		width: 22px;
		height: 22px;
	}

	.legal-menu .menu-item > a {
		width: 100%;
	}
	
	/* Background */

	.legal-header-menu #toggle-state:not( :checked ) ~ .legal-menu {
		display: none;
	}

	.legal-header-menu::before,
	.legal-header-menu #toggle-state:not( :checked ) ~ .toggle-button {
		background-image: url( '../../img/base/header/open.svg' );
	}
	
	.legal-header-menu.legal-active::before,
	.legal-header-menu #toggle-state:checked ~ .toggle-button {
		background-image: url( '../../img/base/header/close.svg' );
	}
	
	.legal-header-menu .toggle-button {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}
}

@media screen and ( min-width: 768px )
{
	/* Display */

	.legal-header-menu .toggle-button {
		display: none;
	}

	.legal-menu .menu-item:hover > .sub-menu {
		display: block;
	}

	/* Background */

	.legal-menu .menu-item:hover {
		background-color: rgb(89, 151, 227);
	}
}

/* Display */

.legal-menu {
	display: flex;
	column-gap: 15px;
}

.legal-menu a {
	display: block;
}

.legal-menu .menu-item {
	display: flex;
}

.legal-menu .menu-item > .sub-menu {
	display: none;
}

.legal-header-menu #toggle-state {
	display: none;
}

.legal-menu .menu-item-has-children:after {
	display: block;
	content: '';
}

.legal-menu .menu-item-has-children:after {
	cursor: pointer;
}

/* Position */

.legal-menu > .menu-item:not( .legal-country ) > a {
	padding: 10px;
}

.legal-menu .menu-item.legal-country > a {
	padding: 10px 10px 10px 43px;
}

.legal-menu .sub-menu:not( .legal-country ) .menu-item a {
	padding: 12px 17px;
}

.legal-menu .menu-item.legal-country .menu-item a {
	padding: 12px 17px 12px 50px;
}

.legal-menu > .menu-item {
	position: relative;
}

.legal-menu .menu-item .sub-menu {
	position: absolute;
	top: 48px;
	z-index: 1;
}

.legal-menu .menu-item:not( :last-child ) .sub-menu {
	left: 0px;
}

.legal-menu .menu-item:last-child .sub-menu {
	right: 0px;
}

.legal-menu .menu-item-has-children:after {
	padding: 10px 0px;
}

/* Width and Height */

.legal-menu .sub-menu {
	width: 245px;
}

.legal-menu .menu-item a {
	min-width: 48px;
	min-height: 48px;
}

.legal-menu .menu-item-has-children:after {
	width: 28px;
	height: 48px;
}

/* Background */

.legal-menu .sub-menu {
	background-color: rgb(13, 11, 47);
}

.legal-menu .sub-menu .menu-item {
	border-style: solid;
	border-color: rgb(89, 151, 227);
}
.legal-menu .sub-menu .menu-item:not( :last-child ) {
	border-width: 1px 1px 0px 1px;
}
.legal-menu .sub-menu .menu-item:last-child {
	border-width: 1px;
}

.legal-menu .menu-item-has-children:after {
	background-image: url( '../../img/base/header/item-open.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-menu .menu-item.legal-country > a {
	background-position: left 10px center;
}

.legal-menu .menu-item.legal-country .menu-item a {
	background-position: left 17px center;
}

.legal-menu .menu-item.legal-country > a {
	/* background-image: url( 'https://test.match.center/wp-content/uploads/flags/default.svg' ); */
	background-repeat: no-repeat;
	background-size: 23px 23px;
}

/* Typography */

.legal-menu a:not( .legal-disabled ) {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}