/* .icon-country-all-new:before {
    background-image: url( "../../img/multisite/flag/all-new.svg" );
} */
/* .icon-country-all:before {
    background-image: url( "../../img/multisite/flag/all.svg" );
} */
.icon-country-ar:before {
    background-image: url( "../../img/multisite/flag/ar.svg" );
}
.icon-country-at:before {
    background-image: url( "../../img/multisite/flag/at.svg" );
}
.icon-country-au:before {
    background-image: url( "../../img/multisite/flag/au.svg" );
}
/* .icon-country-bonus-b:before {
    background-image: url( "../../img/multisite/flag/bonus-b.svg" );
} */
/* .icon-country-bonus:before {
    background-image: url( "../../img/multisite/flag/bonus.svg" );
} */
.icon-country-bp:before {
    background-image: url( "../../img/multisite/flag/bp.svg" );
}
.icon-country-br:before {
    background-image: url( "../../img/multisite/flag/br.svg" );
}
.icon-country-by:before {
    background-image: url( "../../img/multisite/flag/by.svg" );
}
.icon-country-ca-fr:before {
    background-image: url( "../../img/multisite/flag/ca-fr.svg" );
}
.icon-country-ca:before {
    background-image: url( "../../img/multisite/flag/ca.svg" );
}
/* .icon-country-casino:before {
    background-image: url( "../../img/multisite/flag/casino.svg" );
} */
.icon-country-ch-en:before {
    background-image: url( "../../img/multisite/flag/ch-en.svg" );
}
.icon-country-ch-fr:before {
    background-image: url( "../../img/multisite/flag/ch-fr.svg" );
}
.icon-country-ch-it:before {
    background-image: url( "../../img/multisite/flag/ch-it.svg" );
}
.icon-country-ch:before {
    background-image: url( "../../img/multisite/flag/ch.svg" );
}
/* .icon-country-chile-flag-button-round:before {
    background-image: url( "../../img/multisite/flag/chile-flag-button-round.svg" );
} */
.icon-country-cl:before {
    background-image: url( "../../img/multisite/flag/cl.svg" );
}
.icon-country-co:before {
    background-image: url( "../../img/multisite/flag/co.svg" );
}
.icon-country-cz:before {
    background-image: url( "../../img/multisite/flag/cz.svg" );
}
.icon-country-da:before {
    background-image: url( "../../img/multisite/flag/da.svg" );
}
.icon-country-de:before {
    background-image: url( "../../img/multisite/flag/de.svg" );
}
/* .icon-country-default:before {
    background-image: url( "../../img/multisite/flag/default.svg" );
} */
.icon-country-dk:before {
    background-image: url( "../../img/multisite/flag/dk.svg" );
}
.icon-country-en:before {
    background-image: url( "../../img/multisite/flag/en.svg" );
}
.icon-country-eng:before {
    background-image: url( "../../img/multisite/flag/eng.svg" );
}
.icon-country-es:before {
    background-image: url( "../../img/multisite/flag/es.svg" );
}
/* .icon-country-esp:before {
    background-image: url( "../../img/multisite/flag/esp.svg" );
} */
/* .icon-country-football:before {
    background-image: url( "../../img/multisite/flag/football.svg" );
} */
.icon-country-hr:before {
    background-image: url( "../../img/multisite/flag/hr.svg" );
}
.icon-country-ie:before {
    background-image: url( "../../img/multisite/flag/ie.svg" );
}
.icon-country-in:before {
    background-image: url( "../../img/multisite/flag/in.svg" );
}
.icon-country-ke:before {
    background-image: url( "../../img/multisite/flag/ke.svg" );
}
.icon-country-kz-b:before {
    background-image: url( "../../img/multisite/flag/kz-b.svg" );
}
.icon-country-kz-kz:before {
    background-image: url( "../../img/multisite/flag/kz-kz.svg" );
}
.icon-country-kz:before {
    background-image: url( "../../img/multisite/flag/kz.svg" );
}
.icon-country-mt:before {
    background-image: url( "../../img/multisite/flag/mt.svg" );
}
.icon-country-mx:before {
    background-image: url( "../../img/multisite/flag/mx.svg" );
}
.icon-country-ng:before {
    background-image: url( "../../img/multisite/flag/ng.svg" );
}
.icon-country-nl:before {
    background-image: url( "../../img/multisite/flag/nl.svg" );
}
.icon-country-nz:before {
    background-image: url( "../../img/multisite/flag/nz.svg" );
}
/* .icon-country-payment:before {
    background-image: url( "../../img/multisite/flag/payment.svg" );
} */
.icon-country-pe:before {
    background-image: url( "../../img/multisite/flag/pe.svg" );
}
.icon-country-ph:before {
    background-image: url( "../../img/multisite/flag/ph.svg" );
}
.icon-country-pl:before {
    background-image: url( "../../img/multisite/flag/pl.svg" );
}
.icon-country-pt:before {
    background-image: url( "../../img/multisite/flag/pt.svg" );
}
.icon-country-py:before {
    background-image: url( "../../img/multisite/flag/py.svg" );
}
.icon-country-ro:before {
    background-image: url( "../../img/multisite/flag/ro.svg" );
}
/* .icon-country-rocket:before {
    background-image: url( "../../img/multisite/flag/rocket.svg" );
} */
.icon-country-rs:before {
    background-image: url( "../../img/multisite/flag/rs.svg" );
}
.icon-country-ru:before {
    background-image: url( "../../img/multisite/flag/ru.svg" );
}
.icon-country-se:before {
    background-image: url( "../../img/multisite/flag/se.svg" );
}
.icon-country-sv:before {
    background-image: url( "../../img/multisite/flag/sv.svg" );
}
/* .icon-country-switzerland-flag-round-xs-min:before {
    background-image: url( "../../img/multisite/flag/switzerland-flag-round-xs-min.svg" );
} */
/* .icon-country-switzerland-flag:before {
    background-image: url( "../../img/multisite/flag/switzerland-flag.svg" );
} */
.icon-country-ua-ru:before {
    background-image: url( "../../img/multisite/flag/ua-ru.svg" );
}
.icon-country-ua:before {
    background-image: url( "../../img/multisite/flag/ua.svg" );
}
.icon-country-uk:before {
    background-image: url( "../../img/multisite/flag/uk.svg" );
}
/* .icon-country-Wikipedia-Flags-BY-Belarus-Flag:before {
    background-image: url( "../../img/multisite/flag/Wikipedia-Flags-BY-Belarus-Flag.svg" );
} */
.icon-country-za:before {
    background-image: url( "../../img/multisite/flag/za.svg" );
}
