.legal-header-basketball:before,
.icon-basketball:before {
    content: "\f101";
}
.legal-header-esports:before,
.icon-esports:before {
    content: "\f102";
}
.legal-header-football:before,
.icon-football:before {
    content: "\f103";
}
.legal-header-horceracing:before,
.icon-horeseracing:before {
    content: "\f104";
}
.legal-header-mma:before,
.icon-mma:before {
    content: "\f105";
}
.legal-header-tennis:before,
.icon-tennis:before {
    content: "\f106";
}
.legal-header-deposite:before,
.icon-deposite:before {
    content: "\f107";
}
.legal-header-history:before,
.icon-history:before {
    content: "\f108";
}
.legal-header-features:before,
.icon-stars:before {
    content: "\f109";
}