/* Display */

.legal-other-offers {
	display: flex;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.legal-other-offers .offers-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.legal-other-offers .offers-item {
	flex-basis: 33.333%;
}

/* Position */

.legal-other-offers .offers-item {
	padding: 20px;
}

/* Width and Height */

.legal-other-offers .item-logo {
	width: 100%;
	height: 45px;
}

/* Background */

.legal-other-offers .offers-item {
	border-radius: 25px;
}

.legal-other-offers .item-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

/* Typography */

.legal-other-offers .item-bonus {
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 31.5px;
}

.legal-other-offers .item-bonus:not( .legal-black ) {
    color: #ffffff;
}

.legal-other-offers .item-bonus.legal-black {
    color: #000000;
}