/* review-counter-new */

@media screen and ( max-width: 767px ) {
	/* Display */

	.tcb-post-content > .legal-review-counter,
	.tcb-post-content > .legal-review-counter .review-counter-set {
		flex-direction: column;
	}
 
	.legal-billet-mega .legal-review-counter.legal-overall,
	.legal-billet-mega .legal-review-counter .review-counter-set {
		flex-direction: column;
	}

	.legal-review-counter:not( .legal-overall ) .set-item-wrapper {
		column-gap: 12px;
		align-items: center;
	}

	.legal-review-counter .review-counter-set {
		flex-direction: column;
		row-gap: 20px;
	}

	/* Position */

	.legal-review-counter.legal-default .border-internal {
		margin: 6px;
	}

	.legal-review-counter.legal-overall .review-counter-footer {
		padding: 0px 30px;
	}

	/* Width and Height */

	.legal-review-counter.legal-default .set-item,
	.legal-review-counter .review-counter-overall .set-item {
		width: 60px;
  		height: 60px;
	}

	.legal-review-counter .info-logo {
		width: 100%;
	}

	/* Background */

	.legal-review-counter .info-logo {
		background-position: top center;
	}

	.legal-review-counter.legal-default .set-item,
	.legal-review-counter .review-counter-overall .set-item {
		background: conic-gradient( var(--Base-base-09), var( --Primitives-purple-40 ) 1.6% var(--progress ), var(--Base-base-09) calc( var(--progress ) + 1.6%), var( --legal-counter-second ) 0deg );
	}

	.legal-review-counter.legal-default .border-internal,
	.legal-review-counter .review-counter-overall .border-internal {
		background: conic-gradient( var(--Base-base-01), var(--Base-base-09) 1.6% calc( var(--progress ) + 1.6%), var(--Base-base-01) 0deg );
	}

	/* Typography */

	.legal-review-counter.legal-default .item-value {
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Display */

	.legal-review-counter:not( .legal-overall ) .set-item-wrapper {
		flex-direction: column;
		row-gap: 12px;
		align-items: center;
	}

	/* Position */

	.legal-review-counter.legal-default .border-internal {
		margin: 9px;
	}

	/* Width and Height */

	.legal-review-counter .review-counter-afillate {
		min-width: 306px;
	}

	.legal-review-counter:not(.legal-overall) .set-item-wrapper {
		width: 148px;
	}

	.legal-review-counter.legal-default .set-item {
		width: 132px;
		height: 132px;
	}

	.legal-review-counter .review-counter-overall .set-item {
		width: 98px;
		height: 98px;
	}

	/* Background */

	.legal-review-counter.legal-default .set-item {
		background: conic-gradient( var(--Base-base-09), var( --Primitives-purple-40 ) 0.6% var(--progress ), var(--Base-base-09) calc( var(--progress ) + 0.6%), var( --legal-counter-second ) 0deg );
	}

	.legal-review-counter .review-counter-overall .set-item {
		background: conic-gradient( var(--Base-base-09), var( --Primitives-purple-40 ) 0.8% var(--progress ), var(--Base-base-09) calc( var(--progress ) + 0.8%), var( --legal-counter-second ) 0deg );
	}

	.legal-review-counter.legal-default .border-internal {
		background: conic-gradient( var(--Base-base-01), var(--Base-base-09) 0.3% calc( var(--progress ) + 0.5%), var(--Base-base-01) 0deg );
	}

	.legal-review-counter .review-counter-overall .border-internal {
		background: conic-gradient( var(--Base-base-09) calc( var(--progress ) + 0.8%), var(--Base-base-01) 0deg );
	}

	/* Typography */

	.legal-review-counter.legal-default .item-value {
		font-size: 20px;
		line-height: 26px;
	}

	.legal-review-counter.legal-default .item-label {
		text-align: center;
	}

}

/* Display */

.legal-review-counter {
	display: flex;
	flex-wrap: wrap;
}

.legal-review-counter.legal-overall {
	justify-content: center;
}

.legal-review-counter .review-counter-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.legal-review-counter.legal-default .review-counter-set {
	justify-content: center;
}

.legal-review-counter .review-counter-set {
	display: flex;
	column-gap: 32px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.legal-review-counter .set-item-wrapper {
	display: flex;
}

.legal-review-counter .review-counter-overall {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.legal-review-counter.legal-overall .review-counter-set .set-item-wrapper {
	align-items: center;
	column-gap: 12px;
}

.legal-review-counter .review-counter-overall .set-item-wrapper {
	align-items: center;
	row-gap: 10px;
	column-gap: 12px;
}

.legal-review-counter .set-item {
	display: flex;
	flex-shrink: 0;
}

.legal-review-counter .set-item-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 5px;
}

.legal-review-counter .border-internal {
	display: flex;
}
.legal-review-counter.legal-overall .review-counter-footer .review-counter-afillate {
	display: block;
}

.legal-review-counter.legal-overall .review-counter-footer .review-counter-afillate[href=""] {
	pointer-events: none;
}

/* Position */

.tcb-post-content > .legal-review-counter {
	margin-bottom: 24px;
}

.legal-review-counter {
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.legal-review-counter .review-counter-info {
	padding-top: 8px;
	padding-bottom: 8px;
}

.legal-review-counter .review-counter-set {
	padding-top: 20px;
	padding-bottom: 20px;
}

.legal-review-counter .review-counter-overall {
	padding-top: 20px;
	padding-bottom: 20px;
}

.legal-review-counter.legal-overall .border-internal {
	margin: 6px;
}

.legal-review-counter .set-item-info {
	margin: 1.6px;
}

.legal-review-counter .review-counter-afillate {
	margin-top: 28px;
	padding: 10px 18px;
}

/* Width and Height */

.legal-review-counter {
	min-height: 255px;
}

.legal-billet-mega .legal-review-counter {
	/* width: 100%; */
	width: calc(100% - 16px - 20px);
}

.legal-review-counter .review-counter-info {
	flex-basis: 100%;
}

.legal-review-counter .info-logo {
	width: 48px;
  	height: 48px;
}

.legal-review-counter.legal-default .review-counter-set {
	flex-basis: 100%;
}

.legal-review-counter.legal-overall .review-counter-set {
	flex-basis: 70%;
}

.legal-review-counter .review-counter-overall {
	flex-basis: 30%;
}

.legal-review-counter.legal-overall .review-counter-set .set-item-wrapper {
	flex-basis: calc( (100% / 3) - (32px / 1.5));
}

.legal-review-counter .border-internal {
	width: 100%;
}

.legal-review-counter.legal-overall .review-counter-set .set-item {
	width: 60px;
	height: 60px;
}

.legal-review-counter .set-item-info {
	width: 100%;
}

/* Typography */

.legal-review-counter .set-item-info {
	font-size: 1rem;
	text-align: center;
}

.legal-review-counter {
	font-family: var( --legal-font-primary );
	font-style: normal;
}

.legal-review-counter .info-rating,
.legal-review-counter .item-value,
.legal-review-counter .item-label {
	color: var(--Base-base-09);
}

.legal-review-counter .info-rating {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}

.legal-review-counter .item-value {
	font-weight: 600;
}

.legal-review-counter.legal-overall .item-value {
	font-size: 14px;
	line-height: 20px;
}

.legal-review-counter.legal-default .item-label {
	font-size: 13px; 
	line-height: 17px;
}

/* .legal-review-counter.legal-overall.font-legal-default .review-counter-set .item-label {
	color: rgb(255, 255, 255);
} */

.legal-review-counter.legal-overall .review-counter-set .item-label,
.legal-review-counter .review-counter-overall .item-label {
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}

.legal-review-counter.legal-overall .review-counter-footer .review-counter-afillate {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: var(--Base-base-01);
}

/* Background */

.legal-review-counter .info-logo {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-radius: 12%;
	border: 1px solid var(--Base-base-09);
	background-color: var(--Logo-background);
}

.legal-review-counter {
	border-radius: 12px;
	--legal-counter-color: var( --Primitives-purple-40 );
	--legal-counter-second: var(--Base-base-01);
}

.tcb-post-content > .legal-review-counter {
	border: 1px solid var(--Base-base-09);
}

.legal-review-counter .set-item {
	border-radius: 50%;
	animation: .7s ease-out turn_in reverse;
	border: 2px solid var(--Base-base-09);
}

.legal-review-counter.legal-overall .review-counter-set .set-item {
	background: conic-gradient( var(--Base-base-09), var( --Primitives-purple-40 ) 1.6% var(--progress ), var(--Base-base-09) calc( var(--progress ) + 1.6%), var( --legal-counter-second ) 0deg );
}

.legal-review-counter .border-internal {
	animation: .7s ease-out turn_in reverse;
	border-radius: 50%;
}

.legal-review-counter.legal-overall .review-counter-set .border-internal {
	background: conic-gradient( var(--Base-base-01), var(--Base-base-09) 1.6% calc( var(--progress ) + 1.6%), var(--Base-base-01) 0deg );
}

.legal-review-counter .set-item-info {
	border-radius: 50%;
	background: var(--Base-base-01);
}

.legal-review-counter .review-counter-afillate {
	border-radius: 60px;
	background-color: var(--Base-base-09);
}

.legal-review-counter .review-counter-afillate:hover
{
  background-color: var(--Base-base-07);
}

@keyframes turn_in {
	5% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .95 ), var( --legal-counter-second ) 0deg );
	}

	10% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .9 ), var( --legal-counter-second ) 0deg );
	}

	15% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .85 ), var( --legal-counter-second ) 0deg );
	}

	20% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .8 ), var( --legal-counter-second ) 0deg );
	}

	25% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .75 ), var( --legal-counter-second ) 0deg );
	}

	30% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .7 ), var( --legal-counter-second ) 0deg );
	}

	35% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .65 ), var( --legal-counter-second ) 0deg );
	}

	40% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .6 ), var( --legal-counter-second ) 0deg );
	}

	45% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .55 ), var( --legal-counter-second ) 0deg );
	}

	50% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .5 ), var( --legal-counter-second ) 0deg );
	}

	55% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .45 ), var( --legal-counter-second ) 0deg );
	}

	60% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .4 ), var( --legal-counter-second ) 0deg );
	}

	65% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .35 ), var( --legal-counter-second ) 0deg );
	}

	70% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * 0.3 ), var( --legal-counter-second ) 0deg );
	}

	75% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * 0.25 ), var( --legal-counter-second ) 0deg );
	}

	80% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .2 ), var( --legal-counter-second ) 0deg );
	}

	85% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .15 ), var( --legal-counter-second ) 0deg );
	}

	90% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .1 ), var( --legal-counter-second ) 0deg );
	}

	95% {
		background: conic-gradient( var( --legal-counter-color ) calc( var( --progress ) * .05 ), var( --legal-counter-second ) 0deg );
	}

	100% {
		background: conic-gradient(var( --legal-counter-second ) 0deg );
	}
}