/* @media screen and ( max-width: 1217px ) */
@media screen and ( max-width: 959px )
{
	/* Display */

	.legal-review-page
	{
		flex-wrap: wrap;
	}
	
	/* Width and Height  */

	.legal-review-page-main,
	.legal-review-page-sidebar
	{
		width: 100%;
	}

	/* Position */

	.legal-review-page-main {
		order: 1;
	}

	.legal-review-page-sidebar {
		order: 0;
	}
}

/* @media screen and ( min-width: 1218px ) */
@media screen and ( min-width: 960px )
{
	/* Position */

	.legal-review-page-sidebar {
		--header-height: 84px;
		position: sticky;
		top: calc( 145px + 30px );
		/* top: 30px; */
		/* top: calc( 145px + 30px + var( --header-height ) ); */
	}

	/* Width and Height  */

	.legal-review-page-main
	{
		width: calc( 100% / 3 * 2 - 24px );
	}

	.legal-review-page-sidebar
	{
		width: calc( 100% / 3 - 24px );
		height: fit-content;
	}
}

/* Display */

.legal-review-page
{
	display: flex;
	/* gap: 48px; */
	column-gap: 48px;
}