@media screen and ( max-width: 767px ) {
    /* Position */

    .legal-to-top {
        z-index: 1;
    }

    .legal-to-top:not( .legal-review-page-main .legal-to-top ) {
        bottom: 20px;
    }

    .legal-review-page-main .legal-to-top {
        bottom: calc( 88px + 20px );
    }
}

@media screen and ( min-width: 768px ) {
    /* Position */

    .legal-to-top {
        bottom: 20px;
        z-index: 2;
    }
}

/* Display */

.legal-to-top {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.legal-to-top.legal-active {
    display: flex;
}

.legal-to-top:not( .legal-active ) {
    display: none;
}

/* Position */

.legal-to-top {
    position: fixed;
    right: 20px;
    padding: 12px;
}

.legal-to-top::before {
    transform: rotate(90deg);
}

/* Width and Height */

.legal-to-top {
    width: calc(48px - (12px * 2));
    height: calc(48px - (12px * 2)); 
}

/* Background */

.legal-to-top {
    background-color: var(--Base-base-01);
    border-radius: 60px;
    border: 2px solid var(--Base-base-09); 
}

.legal-to-top:hover {
    background-color: var(--Base-base-09);
}

/* Typography */

.legal-to-top::before {
    content: '\F104';
    font-family: var( --legal-font-icons );
    font-size: 24px;
    line-height: 24px;
    color: var(--Base-base-09);
}

.legal-to-top:hover::before {
    color: var(--Base-base-01);
}