@media screen and ( max-width: 767px ) {

	/* Position */

    .tcb-post-content .legal-overview {
        margin-top: 16px;
        margin-bottom: 16px;
    }

}

@media screen and ( min-width: 768px ) {
	
	/* Position */

    .tcb-post-content .legal-overview {
        margin-top: 24px;
        margin-bottom: 24px;
    }


}

/* Overview Position */

.tcb-post-content .legal-overview {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    /* margin-top: 40px; */
}

/* .tcb-post-content .legal-overview-start {
    padding-top: 30px;
} */

/* .tcb-post-content .legal-overview-end {
    margin-bottom: 24px;
} */

/* Overview Background */

.tcb-post-content .legal-overview {
   /*  background-color: rgb(239, 245, 251); */
    border-radius: 8px 18px 18px 18px;
    border: 1px solid var(--Base-base-09);
    background: var(--Primitives-blue-40);
}

/* .tcb-post-content .legal-overview-end {
    border-bottom: 2px solid #5997E3;
} */

/* Overview Typography */