@media screen and ( max-width: 767px )
{
    /* Group Position */

    .review-group {
        margin-bottom: 32px;
    }
}

@media screen and ( min-width: 768px )
{

    /* Group Width and Height */

    .review-group {
        max-width: var( --base-width-desktop );
    }

    /* Group Position */

    .review-group {
        margin-bottom: 48px;
    }
}

/* Group Display */

.review-group {
    display: flex;
    flex-wrap: wrap;
}

/* Group Width and Height */
#theme-content-section .tve_wp_shortcode:not( .legal-off-style ) {
    width: inherit;
}

.review-group .swiper.legal-active-end::before {
    width: 83px;
    height: 36px;
}

.review-group .swiper:not( .legal-active-end ):after {
    width: 83px;
    height: 36px;
}

/* Group Position */

.review-group {
    margin-right: auto;
    margin-left: auto;
}

.review-group .swiper.legal-active-end::before {
    position: absolute;
    left: 0px;
    z-index: 1;
} 

.review-group .swiper:not( .legal-active-end ):after {
    position: absolute;
    right: 0px;
    top: 0;
}

.review-group .group-item {
    padding: 18px 16px;
}

.review-group .group-item:not( :first-child ) {
    margin-left: -8px;
}

/* Group Background */

.review-group .swiper.legal-active-end::before {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.review-group .swiper:not( .legal-active-end ):after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.review-group .group-item.legal-active {
    border-bottom: 2px solid var(--Base-base-09);
}

.review-group .group-item.legal-default {
    border-bottom: 2px solid var(--Base-base-03); 
}

.review-group .group-item:hover {
    border-bottom: 2px solid var(--Base-base-09); 
}

/* Group Typography */

.review-group .swiper.legal-active-end::before {
    content: "";
}

.review-group .swiper:not( .legal-active-end ):after {
    content: "";
}

.review-group .group-item {
    font-family: var( --legal-font-primary );
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    color: var(--Base-base-09);
}

.review-group .group-item.legal-active {
    font-weight: 500;
}

.review-group .group-item.legal-default {
    font-weight: 400;
}

.review-group .group-item {
    text-decoration: none;
}

.review-group .group-item:hover {
    text-shadow: 0 0 0.5px var(--Base-base-09);
}