/* Gallery Display */

.tcb-post-content .gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
    row-gap: 9px;
}

.gallery .gallery-icon a {
    display: block;
}
  
/* Gallery Position */

.gallery .legal-gallery {
    position: fixed;
    top: 0px;
    left: 0px;
}

.gallery .gallery-item {
    margin: 0px !important;
}

.gallery .gallery-item img {
    padding: 0px !important;
}

.gallery figcaption {
    margin-bottom: 0px !important;
}

.legal-gallery .legal-left,
.legal-gallery .legal-right {
    position: absolute;
    top: 50%;
}

.legal-gallery .legal-left {
    left: 0px;
}

.legal-gallery .legal-right {
    right: 0px;
}
  
/* Gallery Width and Height */
   
.gallery .gallery-item {
    width: calc( ( 100% / 3 ) - 6px ) !important;
}

.gallery .gallery-icon {
    width: 100%;
}

.gallery .gallery-icon a {
    width: 100%;
}

.gallery .gallery-item img {
    /* width: 100%; */
    max-width: unset !important;
}

.gallery .legal-gallery {
    height: 100vh;
    width: 100%;
}

.legal-gallery .legal-left,
.legal-gallery .legal-right {
    width: 36px;
    height: 66px;
}

.legal-gallery .legal-close {
    width: 32px;
    height: 32px;
}
  
/* Gallery Background */

.gallery .gallery-item img {
    border: unset !important;
    box-shadow: unset !important;
}

.legal-gallery,
.legal-gallery .legal-left,
.legal-gallery .legal-right,
.legal-gallery .legal-close {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-gallery .legal-left,
.legal-gallery .legal-right,
.legal-gallery .legal-close {
    background-color: rgba(0,0,0,0.4);
}

.legal-gallery .legal-left {
    background-image: url( '../../img/review/review-left.svg' );
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.legal-gallery .legal-right {
    background-image: url( '../../img/review/review-right.svg' );
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.legal-gallery .legal-close {
    background-image: url( '../../img/review/review-close.svg' );
    border-radius: 50%;
}

.gallery .legal-gallery {
    background-color: rgba(0, 0, 0, 0.75);
}

/* Gallery Typography */

.gallery figcaption {
    font-family: "Source Sans Pro";
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400;
    line-height: 24.5px !important;
    color: rgb(105, 105, 105) !important;
}