/* review-main-new */

@media screen and ( max-width: 767px )
{
    /* Review Position */

    .tcb-post-content.thrv_wrapper:not( .legal-off-style ) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tcb-post-content h1,
    .tcb-post-content h2:not( .legal-tabs-info h2 ):not( .legal-compilation .compilation-title h2 ),
    .tcb-post-content > h3:not( .legal-faq-title ):not( .bonus-name ) {
        /* padding-top: 16px; */
        /* padding-bottom: 16px; */
        margin-top: var( --Spacing-09 );
        margin-bottom: var( --Spacing-06 );
    }

   /*  .tcb-post-content h2:not( .legal-tabs-info h2 ):not( .legal-compilation .compilation-title h2 ) {
        margin-top: 28px;
    } */

    /* .tcb-post-content > h3:not( .legal-faq-title ):not( .bonus-name ) {
        margin-top: 16px;
    } */

    /* Width and Height */

    .tcb-post-content iframe {
        width: 100%;
    }

    /* Review Typography */

    .tcb-post-content h1 {
        /* font-size: 24px;
        line-height: 28px; */
        font-size: 1,5rem;
        line-height: 1.75rem;
    }
    
    .tcb-post-content h2:not( .legal-tabs-info h2 ) {
        /* font-size: 22px;
        line-height: 26px; */
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
    
    .tcb-post-content h3:not( .legal-bonus .bonus-name):not( .pros-cons-title ) {
        /* font-size: 20px;
        line-height: 24px; */
        font-size: 1,25rem;
        line-height: 1,5rem;
    }

    .tcb-post-content h4 {
        /* font-size: 18px;
        line-height: 22px; */
        font-size: 1,125rem;
        line-height: 1.375rem;
    }

    .tcb-post-content p:not( .legal-override ):not( .billet-title ):not( .legal-faq-title ):not( .legal-faq-description ):not( .legal-compilation .legal-tooltip p ):not( .legal-compilation .compilation-attention.legal-default p ):not( .tcb-post-content table p ):not( .wp-polls p ):not( .billet-item .billet-footer p ):not( .legal-billet-mega .billet-mega-tnc p):not( .legal-billet .billet-tnc-description p)
    {
       /*  font-size: 14px;
        line-height: 22px; */
        font-size: 0,875rem;
        line-height: 1.375rem;
    }
    
}

@media screen and ( min-width: 768px )
{
    /* Review Position */

    .tcb-post-content h1,
    .tcb-post-content h2:not( .legal-compilation .legal-tooltip h2 ):not( .legal-tabs-info h2 ):not( .legal-compilation .compilation-title h2 ),
    .tcb-post-content > h3:not( .legal-faq-title ):not( .bonus-name ) {
        /* padding-bottom: 24px; */
        margin-bottom: var( --Spacing-06 );
    }

    .tcb-post-content h1 {
        /* padding-top: 24px; */
        margin-top: var( --Spacing-07 );
    }

    .tcb-post-content h2:not( .legal-compilation .legal-tooltip h2 ):not( .legal-tabs-info h2 ):not( .legal-compilation .compilation-title h2 ),
    .tcb-post-content > h3:not( .legal-faq-title ):not( .bonus-name ) {
        /* padding-top: 24px; */
        /* margin-top: 32px; */
        margin-top: var( --Spacing-12 );
    }

    /* .tcb-post-content > h3:not( .legal-faq-title ):not( .bonus-name ) {
        padding-top: 14px;
        margin-top: 24px;
        margin-bottom: var( --Spacing-06 );
    } */

    /* Width and Height */

    .tcb-post-content iframe {
        max-width: 300px;
        height: auto;
    }

    /* Review Typography */

    .tcb-post-content h1 {
        /* font-size: 32px;
        line-height: 38px; */
        font-size: 2rem;
        line-height: 2.375rem;
    }
    
    .tcb-post-content h2:not( .legal-compilation .legal-tooltip h2 ):not( .legal-tabs-info h2 ) {
        /* font-size: 26px;
        line-height: 28px; */
        font-size: 1.625rem;
        line-height: 1.75rem;
    }
    
    .tcb-post-content h3:not( .legal-bonus .bonus-name):not( .pros-cons-title ) {
        /* font-size: 22px;
        line-height: 26px; */
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .tcb-post-content h4 {
        /* font-size: 20px;
        line-height: 24px; */
        font-size: 1,25rem;
        line-height: 1,5rem;
    }

    .tcb-post-content p:not( .legal-override ):not( .billet-title ):not( .legal-faq-title ):not( .legal-faq-description ):not( .legal-license ):not( .legal-compilation .legal-tooltip p ):not( .legal-compilation .compilation-attention.legal-default p ):not( .tcb-post-content table p ):not( .wp-polls p ):not( .billet-item .billet-footer p ):not( .legal-billet-mega .billet-mega-tnc p):not( .legal-billet .billet-tnc-description p) {
        /* font-size: 16px;
        line-height: 26px; */
        font-size: 1rem;
        line-height: 1.625rem;
    }
    
}

/* Review Display */

#content .main-content-background {
    display: none;
}

.tcb-post-content hr {
    clear: both;
}

.tcb-post-content iframe {
    display: block;
}

.tcb-post-content .legal-button {
	display: inline-block;
}

/* Review Position */

.tcb-post-content {
    margin: 0px;
}

.tcb-post-content.thrv_wrapper:not( .legal-override ) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

/* .tcb-post-content h1 {
    margin-top: 0px;
} */

/* .tcb-post-content h1,
.tcb-post-content h2:not( .legal-tabs-info h2 ):not( .legal-compilation .compilation-title h2 ),
.tcb-post-content h3, */
.tcb-post-content h4 {
    margin-bottom: 0px;
}

.tcb-post-content > p:not( .legal-override ):not( .legal-contextbox ):not( .legal-overview ):not( .legal-attention ):not( .legal-faq-title ):not( .legal-faq-description ):not( :first-child ) {
    /* padding-top: 0px; */
    /* padding-bottom: 18px; */
    /* margin: 0px; */
    margin-top: var( --Spacing-06 );
    margin-bottom: var( --Spacing-06 );
}

/* .billet-tnc-description > p:not( :last-child ):not( .legal-override ), */
.bonus-content > p:not( :last-child ):not( .legal-override ),
.billet .billet-tnc-description-full > p:not( :last-child ):not( .legal-override ),
.legal-review-page .tcb-post-content > p:not( .legal-overview ):first-child {
    padding-bottom: 18px;
}

.bonus-content > p,
.billet-tnc-description > p,
.billet .billet-tnc-description-full > p,
.legal-review-page .tcb-post-content > p:not( .legal-overview ):first-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

.legal-review-page .tcb-post-content > p:not( .legal-overview ):first-child {
    padding-top: 18px;
}

.tcb-post-content h4:not( .legal-override ) {
    padding-top: 16px;
    padding-bottom: 18px;
    margin: 0px;
}

.tcb-post-content h5:not( .legal-override ) {
    padding-bottom: 20px;
    margin: 0px;
}

.tcb-post-content .legal-contextbox {
    padding-left: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.tcb-post-content .legal-attention,
.tcb-post-content .legal-highlight:not( .legal-override ) {
    padding: 24px 16px;
}

.tcb-post-content .legal-attention:not( .compilation-date + .compilation-attention ),
.tcb-post-content .legal-highlight:not( .legal-override ) {
    margin-bottom: 24px;
}

.tcb-post-content .legal-attention:not( :first-child ):not( .compilation-date + .compilation-attention ),
.tcb-post-content .legal-highlight:not( .legal-override ) {
    margin-top: 0px;
}

.tcb-post-content .legal-attention:first-child {
    margin-top: 24px;
}

.tcb-post-content .legal-attention p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tcb-post-content .legal-attention p:not( :last-child ) {
    padding-bottom: 18px;
}

.tcb-post-content iframe {
    margin: 0px auto;
}

.tcb-post-content .legal-button {
	padding: 2px 15px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.tcb-post-content .legal-replaced-anchor {
    margin-right: 14px;
}

/* Review Background */

#content {
    background-color: #FAFCFE;
}

.tcb-post-content .legal-contextbox {
    border-left: 2px solid var( --Base-base-09 );
}

.tcb-post-content .legal-highlight {
    border-radius: 20px;
}

.tcb-post-content .legal-attention {
    background-color: var(--Primitives-red-40 );
    border-radius: 8px 18px 18px 18px;
    border: 1px solid var(--Base-base-09 );
}

.tcb-post-content hr {
    background-color: rgb(89, 151, 227);
    border: unset;
}

.tcb-post-content .legal-button {
	border-radius: 50px;
	border: 1px solid var( --Base-base-09 );
}

.tcb-post-content iframe {
    border-radius: 12px;
}

/* Review Typography */

.tcb-post-content h1,
.tcb-post-content h2:not( .legal-compilation .legal-tooltip h2 ),
.tcb-post-content h3:not( .legal-bonus .bonus-name ):not( .pros-cons-title ),
.tcb-post-content h4,
.tcb-post-content h5 {
    font-family: var( --legal-font-primary );
    color: var( --Base-base-09 );
    font-weight: 700;
}

.tcb-post-content p:not( .legal-override ):not( .legal-attention ):not( .billet-title ):not( .legal-faq-title ):not( .legal-faq-description ):not( .legal-compilation .compilation-attention.legal-default p ):not( .wp-polls p ):not( .billet-item .billet-footer p ):not( .legal-billet-mega .billet-mega-tnc p):not( .legal-billet .billet-tnc-description p),
.tcb-post-content .legal-attention,
.tcb-post-content .legal-attention a
{
    font-family: var( --legal-font-primary );
    font-style: normal;
    font-weight: 400;
}

.tcb-post-content p:not( .legal-override ):not( .legal-attention ):not( .billet-title ):not( .legal-faq-title ):not( .legal-faq-description ):not( .legal-compilation .compilation-attention.legal-default p ):not( .wp-polls p ):not( .billet-item .billet-footer p ):not( .legal-billet-mega .billet-mega-tnc p):not( .legal-billet .billet-tnc-description p),
.tcb-post-content .legal-attention {
    color: var( --Base-base-09 );
}

.tcb-post-content a:not( [class] ):not( .compilation-link a ):not( .legal-billet-mega.legal-horizontal .billet-mega-content a ):not( .legal-sitemap a ):not( .compilation-attention.legal-default a ):not( .wp-polls a ):not( .legal-billet .billet-tnc-description a) {
    color: var( --Base-link );
}

.tcb-post-content a:not( [class] ):not( .compilation-link a ):not( .legal-billet-mega.legal-horizontal .billet-mega-content a ):not( .legal-sitemap a ):not( .compilation-attention.legal-default a ):not( .wp-polls a ):not( .legal-billet .billet-tnc-description a):hover {
    color: var( --Base-link-hover );
}

.tcb-post-content .legal-attention a {
    color: #cfcfcf;
}
.tcb-post-content .legal-attention a:hover {
    color: #cfcfcf;
}

.tcb-post-content .legal-attention a u {
    text-decoration: none;
}

.tcb-post-content .legal-button {
	font-size: 14px;
	text-align: center;
    color: var( --Base-base-09 );
    text-decoration: none;
}

.tcb-post-content .legal-button:hover {
    text-shadow: 0 0 0.35px var(--Base-base-09);
}