/* Review Position */

.tcb-post-content h2 {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.tcb-post-content table {
    margin: 0px auto;
}

/* Review Background */

.tcb-post-content tr:nth-child( odd ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content tr:nth-child( even ) {
    background-color: transparent;
}