@media screen and ( max-width: 767px )
{
	/* Display */

	#theme-bottom-section .legal-author .author-photo {
		width: 48px;
		height: 48px;
	}

	/* Position */
	
	#theme-bottom-section .legal-author {
		padding-top: 28px;
	}	

	/* Typography */

	#theme-bottom-section .legal-author .author-name {
		font-size: 14px;
		line-height: 20px;
	}

	#theme-bottom-section .legal-author .author-duty {
		font-size: 13px;
		line-height: 17px;
	}
}

@media screen and ( min-width: 768px )
{

	/* Display */

	#theme-bottom-section .legal-author .author-photo {
		width: 80px;
		height: 80px;
	}

	/* Position */

	#theme-bottom-section .legal-author {
		margin-right: auto;
		margin-left: auto;
		padding-top: 40px;
	}

	/* Width and Height */

	#theme-bottom-section .legal-author {
		max-width: var( --base-width-desktop );
	}

	/* Typography */

	#theme-bottom-section .legal-author .author-name {
		font-size: 16px;
		line-height: 22px;
	}

	#theme-bottom-section .legal-author .author-duty {
		font-size: 14px;
		line-height: 20px;
	}
}

/* Display */

#theme-bottom-section .legal-author {
	display: flex;
	column-gap: 16px;
}

#theme-bottom-section .legal-author .author-photo::after {
	display: block;
}

#theme-bottom-section .legal-author .author-data {
	display: flex;
	flex-direction: column;
}

/* Position */

#theme-bottom-section .legal-author {
	padding-bottom: 24px;
}

#theme-bottom-section .legal-author .author-photo {
	position: relative;
}

#theme-bottom-section .legal-author .author-photo::after {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* Width and Height */

#theme-bottom-section .legal-author .author-photo::after {
	width: 18px;
	height: 18px;
}

/* Background */

/* #theme-bottom-section .legal-author
{
	border-bottom: 2px solid var(--Gray-200);
} */

#theme-bottom-section .legal-author .author-photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	border: 2px solid var(--Base-base-09);
	box-sizing: border-box;
}

#theme-bottom-section .legal-author .author-photo::after {
	background-image: url( '../../img/review/review-label-check.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Typography */

#theme-bottom-section .legal-author .author-photo::after {
	content: "";
}

#theme-bottom-section .legal-author .author-name,
#theme-bottom-section .legal-author .author-duty {
	font-family: var( --legal-font-primary );
	font-style: normal;
	color: var(--Base-base-09);
}

#theme-bottom-section .legal-author .author-name {
	font-weight: 600;
	text-decoration: none;
}

#theme-bottom-section .legal-author .author-duty {
	font-weight: 400;
}