/* Gallery Display */

.tcb-post-content .legal-imageset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 9px;
    row-gap: 9px;
}
  
/* Gallery Position */

.tcb-post-content .legal-imageset {
    padding-bottom: 30px;
}

.tcb-post-content .legal-gallery {
    position: fixed;
    top: 0px;
    left: 0px;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    position: absolute;
    top: 50%;
}

.tcb-post-content .legal-gallery .legal-left {
    left: 0px;
}

.tcb-post-content .legal-gallery .legal-right {
    right: 0px;
}
  
/* Gallery Width and Height */

.tcb-post-content .legal-gallery {
    height: 100vh;
    width: 100%;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    width: 36px;
    height: 66px;
}
  
/* Gallery Background */

.tcb-post-content .legal-gallery,
.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    background-color: rgba(0,0,0,0.4);
}

.tcb-post-content .legal-gallery .legal-left {
    background-image: url( '../../img/review/review-gallery-left.svg' );
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tcb-post-content .legal-gallery .legal-right {
    background-image: url( '../../img/review/review-gallery-right.svg' );
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tcb-post-content .legal-gallery {
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s;
}

/* Gallery Typography */

.tcb-post-content .legal-imageset .item-caption {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgb(105, 105, 105);
    text-align: center;
}