/* Display */

.tcb-post-content .legal-cut-control:not( .legal-active )::before
{
	content: attr( data-content-default );
}

.tcb-post-content .legal-cut-control.legal-active::before
{
	content: attr( data-content-active );
}

.tcb-post-content .legal-cut-item:not( .legal-active )
{
	display: none;
}

.tcb-post-content .legal-cut-control::after
{
	content: '';
	display: inline-block;
}

/* Width and Height */

.tcb-post-content .legal-cut-control::after
{
	width: 20px;
	height: 20px;
}

/* Background */

.tcb-post-content .legal-cut-control::after
{
	background-image: url( '../../img/review/review-cut-control.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.tcb-post-content .legal-cut-control.legal-active::after
{
	transform: rotate( 180deg );
}

/* Typography */

.tcb-post-content .legal-cut-control::before
{
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	vertical-align: middle;
}

.tcb-post-content .legal-cut-control::after
{
	vertical-align: middle;
}

