@media screen and ( max-width: 767px )
{
    /* Display */

    .review-anchors {
        row-gap: 10px;
    }

    .review-anchors .anchors-title {
        cursor: pointer;
    }

    /* Anchors Position */
    
    .review-anchors {
        margin-top: 32px;
    }

    .review-anchors .anchors-title {
        padding-right: 30px;
    }

    /* Width and Height */

    .review-anchors .anchors-title {
        width: 100%;
    }

    /* Background */

    .review-anchors .anchors-title {
        background-position: right center;
        background-repeat: no-repeat;
        background-size: auto;
    }

}

@media screen and ( min-width: 768px )
{
    /* Anchors Display */

    .review-anchors .anchors-control {
        display: none;
    }

    /* Anchors Width and Height */

    .review-anchors {
        max-width: var( --base-width-desktop );
    }

    /* Anchors Position */
    
    .review-anchors {
        margin-top: 48px;
    }

}

/* Anchors Display */

.review-anchors {
    display: flex;
    row-gap: 18px;
    flex-wrap: wrap;
}

 /* Anchors Position */

.review-anchors {
    /* margin: 0px auto; */
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
}

/* .review-anchors .swiper.legal-active-end::before  */
.review-anchors .swiper.legal-active-end::after {
    position: absolute;
    left: 0px;
    z-index: 1;
} 

.review-anchors .swiper:not( .legal-active-end ):after {
    position: absolute;
    right: 0px;
    top: 0;
}

.review-anchors .anchors-item {
    /* margin-right: 8px; */
    padding-top: 6px;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-left: 24px;
}

/* Anchors Width and Height */

.review-anchors .anchors-title {
    width: 100%;
}

/* .review-anchors .swiper.legal-active-end::before  */
.review-anchors .swiper.legal-active-end::after {
    width: 83px;
    height: 36px;
}

.review-anchors .swiper:not( .legal-active-end )::after {
    width: 83px;
    height: 36px;
}

/* Anchors Background */

.review-anchors .anchors-item {
    border: 1px solid var(--Base-base-09);
    border-radius: 60px;
}

/* .review-anchors .swiper.legal-active-end::before  */
.review-anchors .swiper.legal-active-end::after {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.review-anchors .swiper:not( .legal-active-end ):after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

/* Anchors Typography */

.review-anchors .anchors-title,
.review-anchors .anchors-item {
    font-family: var( --legal-font-primary );
    color: var(--Base-base-09);
    line-height: 22px;
    font-style: normal;
    /* white-space: nowrap; */
}

.review-anchors .anchors-title {
    font-size: 18px;
    font-weight: 700;
}

/* .review-anchors .swiper.legal-active-end::before  */
.review-anchors .swiper.legal-active-end::after {
    content: "";
}

.review-anchors .swiper:not( .legal-active-end ):after {
    content: "";
}

.review-anchors .anchors-item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.review-anchors .anchors-item:hover {
    text-shadow: 0 0 0.7px var(--Base-base-09);
}