/* Display */

.legal-author {
	display: flex;
	column-gap: 20px;
}

/* Position */

.legal-author {
	padding: 20px 70px;
	margin: 0px auto;
}

/* Width and Height */

.legal-author {
	max-width: 1080px;
}

.legal-author .author-photo {
	width: 100px;
	height: 100px;
}

/* Background */

.legal-author .author-photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;

	border-radius: 50%;
	border: 2px solid #3E66AC;
}