/* Display */

.legal-banner {
	overflow: hidden;
	width: 100%;
}

.legal-banner .banner-image {
	/* display: flex;
	column-gap: 20px; */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	width: 900px;
	overflow-x: auto;
}

.legal-banner .banner-image img {
	flex: 0 0 auto;
	width: 150px;
	height: 150px;
}

/* Width and height */

/* .legal-banner .banner-info {
	width: 50%;
} */

/* Position */

/* .legal-banner {
	margin-bottom: 20px;
} */