@media screen and ( max-width: 767px )
{
    /* Review Display */

    .tcb-post-content table.legal-raw {
        overflow: scroll;
        display: block;
    }
}

@media screen and ( min-width: 768px )
{
    /* Review Display */
    
    .tcb-post-content table.legal-column {
        float: left;
    }

    /* Review Position */

    .tcb-post-content table.legal-column + table.legal-column {
        margin-left: 20px;
    }

    /* Review Width and Height */

    .tcb-post-content table.legal-column {
        width: calc( 50% - 10px );
    }

}

/* Review Position */

.tcb-post-content table {
    margin: 0px auto;
    margin-bottom: 30px;
}

.tcb-post-content table.legal-check td:last-child {
    padding-right: 56px;
}

/* Review Width and Height */

.tcb-post-content table.legal-raw {
    width: 100%;
}

.tcb-post-content table.legal-check {
    min-width: 300px;
}

/* Review Background */

.tcb-post-content table {
    background-color: #ffffff;
}

/* Table with Thead and Tbody */

.tcb-post-content table:not( [ class ] ) thead tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table:not( [ class ] ) thead tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table:not( [ class ] ) thead + tbody tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

.tcb-post-content table:not( [ class ] ) thead + tbody tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

/* Table with Tbody only */

.tcb-post-content table:not( [ class ] ) tbody:first-child tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table:not( [ class ] ) tbody:first-child tr:nth-child( 2n ) {
    background-color: transparent;
}

/* Table legal-raw with Tbody only */

.tcb-post-content table.legal-raw tbody:first-child tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw tbody:first-child tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw tbody:first-child tr:nth-child( 2n+1 ):not( :first-child ) {
    background-color: rgb(239, 245, 251);
}

/* Table legal-raw with Thead and Tbody */

.tcb-post-content table.legal-raw thead tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw thead + tbody tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw thead + tbody tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

/* Table legal-raw-column with Thead and Tbody */

.tcb-post-content table.legal-raw-column tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-raw-column tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

/* Table legal-column with Thead and Tbody */

.tcb-post-content table.legal-column tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-column tr:nth-child( 2n ) {
    background-color: transparent;
}

/* Table legal-check with Thead and Tbody */

.tcb-post-content table.legal-check tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-check tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table.legal-check td:not( .legal-cross ):last-child {
    background-image: url( '../../img/review/review-table-check.svg' );
}

.tcb-post-content table.legal-check td.legal-cross:last-child {
    background-image: url( '../../img/review/review-table-cross.svg' );
}

.tcb-post-content table.legal-check td:last-child {
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: auto;
}

/* Review Typography */

.tcb-post-content table.legal-raw-column tr:first-child,
.tcb-post-content table.legal-raw-column tr > td:first-child {
    font-weight: 600;
}

.tcb-post-content table.legal-raw tbody:first-child tr:first-child,
.tcb-post-content table.legal-raw thead tr:first-child {
    font-weight: 700;
    color: rgb(255, 255, 255);
}