@media screen and ( max-width: 767px ) {
    /* Review About Display */

    .review-about {
        flex-direction: column;
    }
}

@media screen and ( min-width: 768px ) {
    /* Review About Position */

    .review-about .about-left {
        margin-left: auto;
    }

    .review-about .about-right {
        margin-right: auto;
    }
}

/* Review About Display */

.review-about {
    display: flex;
    column-gap: 50px;
}

.review-about .about-left,
.review-about .about-center,
.review-about .about-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.review-about .about-left {
    align-items: center;
}

.legal-afillate {
    display: block;
}

/* Review About Width and Height */

.review-about .about-left {
    width: calc( ( 1080px * 0.25 ) - 33px );
}

.review-about .about-logo {
    width: inherit;
    height: 45px;
}

.review-about .about-rating {
    width: fit-content;
}

.review-about .about-center {
    width: calc( ( 1080px * 0.5 ) - 33px );
}

.review-about .about-right {
    width: calc( ( 1080px * 0.25 ) - 33px );
}

.tcb-post-content .legal-afillate {
    max-width: 261px;
}

/* Review About Position */

.review-about {
    padding: 10px 0px;
}

.review-about .about-rating {
    padding-left: 34px;
}

.review-about .about-center h1,
.review-about .about-center h3 {
    padding-bottom: 0px;
}

.legal-afillate {
    padding: 7px 41px 7px 22px;
}

.tcb-post-content .legal-afillate {
    margin: 0px auto;
}

/* Review About Background */

.review-about .about-logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.review-about .about-rating {
    background-image: url( '../../img/review/review-rating.svg' );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-afillate {
    background-image: url( '../../img/review/review-bet-here.svg' );
    background-position: right 22px center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(89, 151, 227);
    border-radius: 20px;
    border: 1.6px solid rgb(255, 255, 255);
}

/* Review About Typography */

.review-about .about-rating {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

.review-about .about-center h1 {
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.4px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.review-about .about-center h3 {
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.review-about .about-center p {
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.legal-afillate:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.legal-afillate {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

