@media screen and ( max-width: 959px )
{
    /* Stats Width */

    .review-stats .stats-item {
        width: 100%;
    }
}

@media screen and ( min-width: 960px )
{
    /* Stats Width */

    .review-stats .stats-item {
        width: calc( 50% - 20px );
    }
}

/* Stats Display */

.review-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.review-stats .item-value:after
{
    content: attr( data-value, '9/10' );
}

/* Stats Position */

.review-stats
{
    padding-bottom: 24px;
}

.review-stats .item-title {
	padding-bottom: 12px;
}

/* Stats Width */

.review-stats .item-value-wrapper,
.review-stats .item-value {
	height: 27px;
}

.review-stats .item-value-wrapper {
	width: 100%;
}

/* Stats Background */

.review-stats .item-value-wrapper
{
    border-radius: 8px;
    border: 2px solid var( --Base-base-09 );
    background: var( --Base-base-01 );
    overflow: hidden;
}

.review-stats .item-value
{
    background-color: var( --Primitives-purple-40 );
}

/* Stats Typography */ 

.review-stats .item-title
{
    color: var(--Base-base-09, #0A0A0A); 
	font-family: var( --legal-font-primary );
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
}