/* Display */

.legal-other-offers {
	display: flex;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.legal-other-offers .offers-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* row-gap: 20px; */
}

.legal-other-offers .item-bonus {
	display: flex;
	align-items: center;
}

.legal-other-offers .item-afillate {
	display: block;
}

/* Position */

.legal-other-offers {
	margin-bottom: 20px;
}

.legal-other-offers .offers-item {
	padding: 20px;
}

.legal-other-offers .item-logo {
	/* margin-top: auto; */
	margin-bottom: 20px;
}

.legal-other-offers .item-afillate {
	padding: 12px 25px 12px 60px;
}

/* Width and Height */

.legal-other-offers .offers-item {
	flex-basis: calc( 33.333% - 60px );
}

.legal-other-offers .item-bonus {
	height: 64px;
}

.legal-other-offers .item-logo {
	width: 100%;
	height: 45px;
}

.legal-other-offers .item-afillate {
	width: fit-content;
}

/* Background */

.legal-other-offers .offers-item {
	border-radius: 25px;
}

.legal-other-offers .item-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-other-offers .item-afillate {
	background-image: url( '../../img/review/review-get.svg' );
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
	border: 1.6px solid #ffffff;
}

/* Typography */

.legal-other-offers .item-bonus {
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 31.5px;
	text-align: center;
}

.legal-other-offers .item-bonus:not( .legal-black ) {
    color: #ffffff;
}

.legal-other-offers .item-bonus.legal-black {
    color: #000000;
}

.legal-other-offers .item-afillate {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 14.4px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
}