@media screen and (max-width: 767px) {

    /* Display */
  
  
    /* Typography */
  
  
     /* Width and Height */
  
}
  
  @media screen and (min-width: 768px) {
    /* Display */
  
  
    /* Width and Height */
  
  
    /* Typography */
}
  
  /* Review Display */
  
  
  /* Review Position */

  .mc-list-howto {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: var( --Spacing-06 );
	margin-bottom: var( --Spacing-06 );
  }
  
  /* Review Width and Height */
  
  
  /* Review Background */
  
  
  /* Typography */