.icon-american-football:before {
    content: "\f101";
}
.icon-asian:before {
    content: "\f102";
}
.icon-athletics:before {
    content: "\f103";
}
.icon-australian-football:before {
    content: "\f104";
}
.icon-autosport:before {
    content: "\f105";
}
.icon-badminton:before {
    content: "\f106";
}
.icon-baseball:before {
    content: "\f107";
}
.icon-basketball:before {
    content: "\f108";
}
.icon-beach-football:before {
    content: "\f109";
}
.icon-beach-volleyball:before {
    content: "\f10a";
}
.icon-biathlon:before {
    content: "\f10b";
}
.icon-billiard:before {
    content: "\f10c";
}
.icon-boat-racing:before {
    content: "\f10d";
}
.icon-bowling:before {
    content: "\f10e";
}
.icon-bowls:before {
    content: "\f10f";
}
.icon-boxing:before {
    content: "\f110";
}
.icon-bycicle:before {
    content: "\f111";
}
.icon-chess:before {
    content: "\f112";
}
.icon-cricket:before {
    content: "\f113";
}
.icon-darts:before {
    content: "\f114";
}
.icon-esports:before {
    content: "\f115";
}
.icon-f1:before {
    content: "\f116";
}
.icon-fighting:before {
    content: "\f117";
}
.icon-floorball:before {
    content: "\f118";
}
.icon-football:before {
    content: "\f119";
}
.icon-futzal:before {
    content: "\f11a";
}
.icon-golf:before {
    content: "\f11b";
}
.icon-greyhound-racing:before {
    content: "\f11c";
}
.icon-handball:before {
    content: "\f11d";
}
.icon-hockey-game:before {
    content: "\f11e";
}
.icon-hockey-on-grass:before {
    content: "\f11f";
}
.icon-hockey-with-ball:before {
    content: "\f120";
}
.icon-hockey:before {
    content: "\f121";
}
.icon-horeseracing:before {
    content: "\f122";
}
.icon-hurting:before {
    content: "\f123";
}
.icon-kabaddi:before {
    content: "\f124";
}
.icon-kerling:before {
    content: "\f125";
}
.icon-lacrosse:before {
    content: "\f126";
}
.icon-match:before {
    content: "\f127";
}
.icon-muay-thai,
.icon-mma:before {
    content: "\f128";
}
.icon-muay-thai:before {
    content: "\f129";
}
.icon-netball:before {
    content: "\f12a";
}
.icon-olympic:before {
    content: "\f12b";
}
.icon-pickleball:before {
    content: "\f12c";
}
.icon-poker:before {
    content: "\f12d";
}
.icon-professional-wrestling:before {
    content: "\f12e";
}
.icon-rugby:before {
    content: "\f12f";
}
.icon-sailing:before {
    content: "\f130";
}
.icon-scwash:before {
    content: "\f131";
}
.icon-sepak-takraw:before {
    content: "\f132";
}
.icon-skating:before {
    content: "\f133";
}
.icon-ski-race:before {
    content: "\f134";
}
.icon-skiing:before {
    content: "\f135";
}
.icon-skyjumping:before {
    content: "\f136";
}
.icon-surfing:before {
    content: "\f137";
}
.icon-tank:before {
    content: "\f138";
}
.icon-tennis:before {
    content: "\f139";
}
.icon-tennis2:before {
    content: "\f13a";
}
.icon-trophy:before {
    content: "\f13b";
}
.icon-volleyball:before {
    content: "\f13c";
}
.icon-water-polo:before {
    content: "\f13d";
}
.icon-winter-sports:before {
    content: "\f13e";
}