@media screen and ( min-width: 1218px )
{
	/* Position */

	.legal-review-page-sidebar
	{
		position: sticky;
		/* top: 0px; */
		top: 30px;
	}

	/* Width and Height  */

	.legal-review-page-main
	{
		width: calc( 100% / 3 * 2 - 24px );
	}

	.legal-review-page-sidebar
	{
		width: calc( 100% / 3 - 24px );
		height: fit-content;
	}
}

/* Display */

.legal-review-page
{
	display: flex;
	gap: 48px;
}