/* Selectors */

/* .tcb-post-content .legal-imageset-oops
{
    background-color: aliceblue;
}

.tcb-post-content .legal-imageset
{
    background-color:antiquewhite;
}

.tcb-post-content .imageset-item
{
    background-color:beige;
}
.tcb-post-content .item-image
{
    background-color:burlywood;
}
.tcb-post-content .item-caption
{
    background-color:coral;
}

.tcb-post-content .imageset-pagination
{
    background-color:cornsilk;
} */

@media screen and ( max-width: 767px )
{
    /* Display */

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset
    {
        column-gap: 0px;
    }

     /* Position */

    .tcb-post-content .legal-imageset.columns-1 .imageset-item {
        margin-right: auto;
        margin-left: auto;
    }

    /* Width and Height */

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .imageset-item:not( .columns-1 .imageset-item )
    {
        min-width: 100%;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .item-image:not( .columns-1 .item-image.legal-portrait )
    {
        width: 100%;
        height: auto;
    }

    /* Background */

    .tcb-post-content .legal-gallery {
        background-size: 90%;
    }
}

@media screen and ( max-width: 959px )
{
    /* Display */

    .tcb-post-content .legal-imageset-wrapper .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper .imageset-forward
    {
        display: none;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset
    {
        column-gap: 8px;
    }

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        column-gap: 32px;
    }

    .tcb-post-content .legal-imageset-wrapper .legal-imageset:not( .columns-1 ) ~ .imageset-pagination
    {
        display: flex;
    }

    /* Width and Height */

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        width: 100%;
    }

    .tcb-post-content .legal-imageset-oops .imageset-item
    {
        min-width: 100%;
    }

    .tcb-post-content .legal-imageset-oops .item-image
    {
        max-width: 100%;
    }

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and ( min-width: 960px )
{
    /* Display */

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset
    {
        column-gap: 8px;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-1
    {
        /* justify-content: center; */
    }

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        column-gap: 0px;
    }

    .tcb-post-content .legal-imageset-wrapper .legal-imageset:not( .columns-1 ) ~ .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper .legal-imageset:not( .columns-1 ) ~ .imageset-forward
    {
        display: flex;
    }

    .tcb-post-content .legal-imageset-wrapper .legal-imageset.columns-1 ~ .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper .legal-imageset.columns-1 ~ .imageset-forward,
    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-2 ~ .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-2 ~ .imageset-forward
    {
        display: none;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-2 ~ .imageset-pagination
    {
        display: none;
    }

    .tcb-post-content .legal-imageset-wrapper.legal-imageset-oops .legal-imageset.columns-2 ~ .imageset-pagination,
    .tcb-post-content .legal-imageset-wrapper .legal-imageset.columns-3 ~ .imageset-pagination
    {
        display: flex;
    }

    .tcb-post-content .legal-imageset-wrapper .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper .imageset-forward
    {
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-1,
    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-2
    {
        justify-content: space-around;
    }

    .tcb-post-content .legal-imageset-oops::before {
        cursor: pointer;
    }

    /* Position */

    .tcb-post-content .legal-imageset-wrapper .imageset-backward
    {
        left: 8px;
    }

    .tcb-post-content .legal-imageset-wrapper .imageset-forward
    {
        right: 8px;
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .imageset-backward,
    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .imageset-forward
    {
        position: absolute;
        top: calc(50% - 24px);
    }

    .tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset.columns-1 .item-image.legal-portrait
    {
        margin: 0px auto;
    }

    /* Width and Height */

    .tcb-post-content .legal-imageset-oops .imageset-item
    {
        min-width: var( --base-width-desktop );
    }

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        width: var( --base-width-desktop ); 
    }

    /* Position */

    .tcb-post-content .legal-imageset-oops .legal-imageset
    {
        margin-left: calc( ( 100% - var( --base-width-desktop ) ) / 2 );
        margin-right: calc( ( 100% - var( --base-width-desktop ) ) / 2 );
    }

    /* Background */
}

/* Display */

.tcb-post-content .legal-imageset
{
    overflow-x: hidden;
}

.tcb-post-content .legal-imageset {
    display: flex;
}

.tcb-post-content .legal-imageset .imageset-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 8px;
}

.tcb-post-content .legal-imageset .imageset-item {
    scroll-snap-align: start;
}

.tcb-post-content .legal-imageset-wrapper .legal-imageset:not( .columns-1 ) ~ .imageset-pagination
{
    /* display: flex; */
    justify-content: end;
    column-gap: 4px;
}

.tcb-post-content .legal-imageset-wrapper .legal-imageset.columns-1 ~ .imageset-pagination
{
    display: none;
}

.tcb-post-content .legal-imageset-oops
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.tcb-post-content .legal-imageset-oops .legal-imageset
{
    padding-bottom: 18px;
}

.tcb-post-content .legal-imageset-oops .imageset-item
{
    justify-content: center;
    align-items: center;
}
  
/* Position */

.tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops )
{
    position: relative;
}

.tcb-post-content .legal-imageset-wrapper {
    padding-top: 16px;
}

.tcb-post-content .legal-imageset-wrapper:not( :last-child )
{
    /* padding-bottom: 18px; */
    padding-bottom: 16px;
}

.tcb-post-content .legal-gallery {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    position: absolute;
    top: 50%;
}

.tcb-post-content .legal-gallery .legal-left {
    left: 0px;
}

.tcb-post-content .legal-gallery .legal-right {
    right: 0px;
}

.tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .imageset-pagination
{
    padding-top: 8px;
}

.tcb-post-content .legal-imageset.columns-1 .item-image,
.tcb-post-content .legal-imageset.columns-2 .item-image {
    margin-right: auto;
    margin-left: auto;
}

.tcb-post-content .legal-imageset-oops .imageset-pagination
{
    align-items: center;
    padding: 0px 32px;
}

.tcb-post-content .legal-imageset-oops::before
{
    position: absolute;
    top: 18px;
    right: 16px;
}
  
/* Width and Height */

.tcb-post-content .legal-gallery {
    height: 100vh;
    width: 100%;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    width: 36px;
    height: 66px;
}

.tcb-post-content .legal-imageset-wrapper .imageset-backward,
.tcb-post-content .legal-imageset-wrapper .imageset-forward
{
    width: 48px;
    height: 48px;
}

.tcb-post-content .legal-imageset-wrapper .pagination-item
{
    width: 12px;
    height: 12px;
}

.tcb-post-content .legal-imageset.columns-1 .imageset-item
{
    /* width: 100%; */
}

.tcb-post-content .legal-imageset.columns-1 .legal-landscape
{
    /* width: 100%; */
}

.tcb-post-content .legal-imageset.columns-1 .item-image.legal-portrait
{
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}
  
/* Background */

.tcb-post-content .legal-gallery,
.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    background-position: center center;
    background-repeat: no-repeat;
}

.tcb-post-content .legal-gallery .legal-left,
.tcb-post-content .legal-gallery .legal-right {
    background-size: auto;
}

.tcb-post-content .legal-gallery .legal-left {
    background-image: url( '../../img/review/review-gallery-left.svg' );
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tcb-post-content .legal-gallery .legal-right {
    background-image: url( '../../img/review/review-gallery-right.svg' );
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tcb-post-content .legal-gallery {
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s;
}

.tcb-post-content .legal-imageset .item-image
{
    border-radius: 12px;
}

.tcb-post-content .legal-imageset-wrapper .imageset-backward,
.tcb-post-content .legal-imageset-wrapper .imageset-forward
{
    border-radius: 60px;
    border: 2px solid var(--Base-base-09, #0A0A0A);
    background: var(--Base-base-01, #FFF);
    box-sizing: border-box;
}

.tcb-post-content .legal-imageset-wrapper .pagination-item:not( .legal-active )
{
    background-color: var(--Base-base-01, #FFF); 
}

.tcb-post-content .legal-imageset-wrapper .pagination-item.legal-active
{
    background: var(--Base-base-09, #0A0A0A); 
}

.tcb-post-content .legal-imageset-wrapper .pagination-item
{
    border-radius: 60px;
    border: 1px solid var(--Base-base-09, #0A0A0A); 
    box-sizing: border-box;
}

/* Typography */

.tcb-post-content .legal-imageset-wrapper:not( .legal-imageset-oops ) .legal-imageset .item-caption
{
    color: var( --Base-base-05, #939393 );
}

.tcb-post-content .legal-imageset-oops .legal-imageset .item-caption
{
    color: var( --Base-base-01 );
}

.tcb-post-content .legal-imageset .item-caption
{
    font-family: var( --legal-font-primary );
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.tcb-post-content .legal-imageset-wrapper .imageset-backward::before
{
    transform: rotate( 180deg );
}

.tcb-post-content .legal-imageset-wrapper .imageset-backward::before,
.tcb-post-content .legal-imageset-wrapper .imageset-forward::before
{
    content: '\F102';
}

.tcb-post-content .legal-imageset-wrapper .imageset-backward::before,
.tcb-post-content .legal-imageset-wrapper .imageset-forward::before
{
    color: var( --Base-base-09, #0A0A0A );
    font-family: var( --legal-font-icons );
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tcb-post-content .legal-imageset-oops::before
{
    content: '\F10B';
    color: var( --Base-base-01 );
    font-family: var( --legal-font-icons );
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}