@media screen and ( max-width: 767px ) {

    /* Width and Height */

    .review-about .footer-logo {
        width: 100%;
    }

    .review-about .footer-logo .logo-item:not( .logo-item[ href='#' ] ) img {
        max-height: 18px;
    }

    /* Position */

    .review-about {
        padding-right: 15px;
        padding-left: 15px;
    }
} 

@media screen and ( max-width: 959px )
{
    /* Display */

    .review-about {
        flex-direction: column;
        row-gap: 20px;
    } 

    .review-about .about-achievement {
        flex-direction: column;
        row-gap: 20px;
    }

    .review-about .achievement-tooltip-background.legal-active {
        align-items: flex-end;
        justify-content: center;
    }

    .review-about .about-right,
    .legal-review-page-sidebar .about-right
    {
        align-items: center;
    }

    .review-about.legal-mode-mini .about-center {
        flex-wrap: wrap;
        row-gap: 28px;
    }

    .legal-review-page-sidebar .about-right.sticky-bonus .review-bonus-head,
    .legal-review-page-sidebar .about-right.sticky-bonus .review-bonus-title,
    .legal-review-page-sidebar .about-right.sticky-bonus .review-bonus-description,
    .legal-review-page-sidebar .about-right.sticky-bonus .legal-cut-control {
        display: none;
    }

    .review-about .footer-logo {
        flex-wrap: wrap;
        row-gap: 8px;
    }
    
    /* .moved-bonus, */

    .sticky-bonus,
    .review-about .achievement-tooltip {
        animation: myAnim 0.8s ease 0s 1 normal forwards;
    }

    /* Width and Height */

    .review-about .about-right,
    .legal-review-page-sidebar .about-right.sticky-bonus,
    .about-right .review-bonus-head {
        width: 100%;
    }

    .review-about:not( .legal-mode-mini ) .about-logo {
        width: 68px;
        height: 68px;
    }

    .review-about .achievement-tooltip-background.legal-active {
        width: 100%;
        height: 100vh;
    }

    .review-about .achievement-tooltip {
        width: calc( 100% - (16px * 2) - 2px );
    }

    .review-about .about-data {
        width: calc( 100% - ( 70px + 26px ) );
    }

    .review-about.legal-mode-mini .about-button {
        width: 100%;
    }

    /* Position */

    .review-about {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .review-about .legal-afillate-description {
        margin-top: calc( 10px - 8px );
        padding-top: 4px;
    }

    .review-about .achievement-tooltip-background.legal-active {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
    }

    .review-about .achievement-tooltip {
        padding-bottom: 32px;
    }

    .review-about .footer-logo {
        padding-bottom: 4px;
    }

    .legal-review-page-sidebar .about-right.sticky-bonus
    {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 1;
    }

    .legal-review-page-sidebar .about-right.sticky-bonus {
        padding: 14px 16px 16px 16px;
    }

    .legal-review-page-sidebar .about-right:not( .sticky-bonus ) {
        margin-top: 32px;
        margin-bottom:32px;
    }

    /* Background */

    .legal-review-page-sidebar .about-right.sticky-bonus {
        background: var(--Base-base-01);
        border-top: 2px solid var( --Base-base-09);
    }

    .review-about .achievement-tooltip-background.legal-active {
        background-color: rgba(0, 0, 0, 0.45);
    }

     .review-about .achievement-tooltip {
        border-radius: 12px 12px 0px 0px;
    }

    /* Typography */

    .review-about .about-center h1 {
        font-size: 22px;
        line-height: 26px;
    }

    .review-about .about-rating {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    /* Position */

	.review-about {
		padding-left: 32px;
    	padding-right: 32px;
	}
}

@media screen and ( min-width: 960px )
{
    /* Position */

    .review-about {
        margin: 0px auto;
        position: relative;
    }

    .review-about .about-right
    {
        position: absolute;
        top: 18px;
        right: 0px;
    }

    .review-about:not( .legal-mode-mini ) {
        padding-top: 28px;
        padding-bottom: 32px;
    }

    .review-about .achievement-tooltip {
        position: absolute;
        left: 0px;
        top: calc( 36px + 4px );
        padding-bottom: 16px;
    }

    .review-about.legal-mode-mini {
        margin-left: auto;
        margin-right: auto;
    }

    .review-about.legal-mode-mini .about-button {
        margin-left: auto;
    }

    .review-about .legal-afillate-description,
    .review-about .footer-logo {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .review-about .footer-logo {
        margin-left: auto;
    }

    .legal-review-page-sidebar .about-right {
        margin-top: -145px;
        margin-bottom: 80px;
    }
    
    /* Width and Height */

    .review-about:not( .legal-mode-mini ) .about-logo {
        width: 100px;
        height: 100px;
    }

    .review-about {
        max-width: var( --base-width-desktop );
    }

    .review-about:not( .legal-mode-mini ) .about-center {
        width: calc( 100% / 3 * 2 - 24px );
    }

    .review-about.legal-mode-mini .about-center {
        width: 100%;
    }

    .review-about .achievement-tooltip {
        width: calc( 320px - (16px * 2) - 2px );
    }

    .review-about .about-data {
        width: calc( 100% - ( 102px + 26px ) );
    }

    .review-about .about-right
    {
        width: calc( 100% / 3 - 24px );
    }

    .review-about.legal-mode-mini .legal-afillate {
        min-width: calc( 148px - (18px * 2) );
    }

    /* Background */

    .review-about .achievement-tooltip {
        border-radius: 12px;
        border-bottom: 1px solid var(--Base-base-09);
    }

    /* Typography */

    .review-about .about-center h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .review-about .about-rating {
        font-size: 20px;
        line-height: 26px;
    }
    
}

/* Animation */

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Display */

.review-about {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.review-about .about-center {
    display: flex;
    column-gap: 26px;
    flex-wrap: wrap;
}

.review-about.legal-mode-mini .about-center {
    align-items: center;
}

.review-about .achievement-name {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.review-about .achievement-tooltip-background.legal-active {
    display: flex;
}

.review-about .achievement-tooltip-background:not( .legal-active ) {
    display: none;
}

.review-about .achievement-tooltip {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

.review-about .achievement-tooltip-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.review-about .about-right,
.legal-review-page-sidebar .about-right
{
    display: flex;
    flex-wrap: wrap;
}

.review-about .about-right:not( .sticky-bonus ) .review-bonus-description:not(.legal-active),
.legal-review-page-sidebar .about-right .review-bonus-description:not(.legal-active) {
    display: none;
}

.about-right .legal-cut-control {
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.about-right:not( .sticky-bonus ) .legal-cut-control {
    display: flex;
}

.review-about .about-data {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    row-gap: 8px;
}

.review-about .about-rating {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.legal-afillate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal-afillate[href=""] {
    pointer-events: none;
}

.review-about .about-achievement {
    display: flex;
    column-gap: 30px;
}

.review-about .achievement-bonus-link {
    display: inline-block;
}

.review-about .footer-logo {
    display: flex;
    column-gap: 8px;
}

.review-about .footer-logo .logo-item[ href='#' ] {
	pointer-events: none;
}

/* Width and Height */

.review-about .about-logo {
    flex-shrink: 0;
}

.review-about .about-center h1,
.review-about .about-center .review-bonus-title {
    width: 100%;
}

.review-about .achievement-name {
    min-height: calc( 36px - ( 4px * 2 ) );
    width: fit-content;
}

.about-right .review-bonus-head,
.legal-review-page-sidebar .about-right .review-bonus-title {
    width: 100%;
}

.review-about .about-right .review-bonus-description,
.legal-review-page-sidebar .about-right .review-bonus-description {
    width: 100%;
}

.legal-review-page-sidebar .about-right .legal-afillate {
    min-height: calc(56px - 20px);
}

.legal-review-page-sidebar .about-right .legal-afillate {
    width: 100%;
}

.review-about .about-achievement {
    width: 100%;
}

.review-about .about-rating {
    width: 100%;
}

.review-about .achievement-bonus-link {
    height: 28px;
}

.review-about.legal-mode-mini .about-logo {
    width: 46px;
    height: 46px;
}

.review-about .footer-logo .logo-item[ href='#' ] img {
    height: 48px;
}

/* Position */

.review-about .about-right,
.legal-review-page-sidebar .about-right {
    padding: 24px 28px;
}

.review-about-wrapper.legal-mode-mini {
    padding-bottom: 24px;
}

.review-about.legal-mode-mini {
    padding: 24px;
}

.review-about .about-achievement {
    padding-bottom: 24px;
}

.review-about .achievement-item {
    position: relative;
}

.review-about .achievement-name {
    padding: 4px 10px;
}

.review-about .achievement-tooltip {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.review-about .about-center h1 {
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-right .review-bonus-head {
    padding-bottom: 8px;
}

.review-about .about-right .review-bonus-title, 
.legal-review-page-sidebar .about-right .review-bonus-title {
    padding-bottom: 48px;
}

.review-about .about-right .review-bonus-description,
.legal-review-page-sidebar .about-right .review-bonus-description,
.about-right .legal-cut-control {
    padding-top: 14px;
}

.about-right .legal-cut-control {
    margin: 0 auto;
}

.about-right .legal-cut-control.legal-active::after {
    transform: rotate(180deg);
}

.review-about .about-right .legal-afillate, 
.legal-review-page-sidebar .about-right .legal-afillate,
.tcb-post-content .legal-afillate {
    padding: 10px 18px;
}

.review-about .achievement-bonus .achievement-bonus-link {
    padding-left: 37px;
}

.review-about .achievement-name .achievement-bonus-link {
    padding-left: 32px;
}

.review-about .achievement-app .achievement-bonus-link {
    padding-left: 64px;
}

/* Background */

.legal-review-page-sidebar .about-right
{
    box-sizing: border-box;
}

.legal-review-page-sidebar .about-right:not( .sticky-bonus ) {
    border: 2px solid var( --Base-base-09);
}

.review-about-wrapper:not(.legal-mode-mini) {
    background-color: var(--Base-base-02);
    border-bottom: 1px solid var(--Base-base-09); 
}

.review-about.legal-mode-mini {
    border-radius: 18px;
    background-color: var(--Base-base-01);
    border: 1px solid var(--Base-base-09);
}

.review-about .achievement-name {
    background-color: var(--Base-base-01);
    border-radius: 60px; 
}

.review-about .achievement-tooltip {
    border-top: 1px solid var(--Base-base-09);
    border-right: 1px solid var(--Base-base-09);
    border-left: 1px solid var(--Base-base-09);
    background: var(--Base-base-01);
}

.review-about .about-logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--Base-base-09);
    background-color: var(--Logo-background);
}

.review-about:not( .legal-mode-mini ) .about-logo {
    border-radius: 24px;
}

.review-about.legal-mode-mini .about-logo {
    border-radius: 12.8px;
}

.legal-afillate {
    border-radius: 60px;
    background-color: var(--Base-base-09);
}

.review-about.legal-default .achievement-bonus .achievement-bonus-link {
    background-image: url( '../../img/review/about/bonus-white.svg' );
}

.review-about.legal-black .achievement-bonus .achievement-bonus-link {
    background-image: url( '../../img/review/about/bonus-black.svg' );
}

.review-about.legal-default .achievement-name .achievement-bonus-link {
    background-image: url( '../../img/review/about/achievement-white.svg' );
}

.review-about.legal-black .achievement-name .achievement-bonus-link {
    background-image: url( '../../img/review/about/achievement-black.svg' );
}

.review-about .achievement-bonus .achievement-bonus-link,
.review-about .achievement-name .achievement-bonus-link {
    background-position: left center;
}

.review-about .achievement-bonus .achievement-bonus-link,
.review-about .achievement-name .achievement-bonus-link,
.review-about .achievement-app .achievement-bonus-link {
    background-repeat: no-repeat;
    background-size: auto;
}

.review-about.legal-default .achievement-app .achievement-bonus-link {
    background-image: url( '../../img/review/about/ios-white.svg' ),
    url( '../../img/review/about/android-white.svg' );
}

.review-about.legal-black .achievement-app .achievement-bonus-link {
    background-image: url( '../../img/review/about/ios-black.svg' ),
    url( '../../img/review/about/android-black.svg' );
}

.review-about .achievement-app .achievement-bonus-link {
    background-position: left center, left 32px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-review-page-sidebar .about-right:not( .sticky-bonus ) {
    border-radius: 32px;
    background: var( --Primitives-purple-50 );
}

/* Typography */

.review-about.legal-black .about-rating,
.review-about.legal-black .about-center h1,
.review-about .achievement-name,
.review-about .achievement-tooltip,
.review-about.legal-black .about-achievement .achievement-bonus-link,
.review-about.legal-black .about-center .review-bonus-title,
.review-about .review-bonus-description,
.legal-review-page-sidebar .about-right .review-bonus-description,
.about-right .legal-cut-control,
.about-right .review-bonus-head {
    color: var( --Base-base-09 );
}

.review-about .about-rating,
.review-about .about-center h1,
.review-about .achievement-name,
.review-about .achievement-tooltip,
.review-about .about-right .review-bonus-title,
.legal-review-page-sidebar .about-right .review-bonus-title,
.review-about .about-right .review-bonus-description,
.legal-review-page-sidebar .about-right .review-bonus-description,
.legal-afillate,
.review-about .legal-afillate-description,
.review-about .about-achievement .achievement-bonus-link,
.about-right .legal-cut-control,
.about-right .review-bonus-head {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.review-about .achievement-name,
.review-about .achievement-tooltip {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.review-about .achievement-tooltip-background + .achievement-name {
    cursor: pointer;
}

.review-about .achievement-name:not( .achievement-tooltip-background + .achievement-name ) {
    cursor: default;
}

.review-about .achievement-tooltip-close::before,
.review-about .about-rating::before {
    font-family: var(--legal-font-icons);
}

.review-about .achievement-tooltip-close::before {
    content: '\F10E';
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}

.review-about .about-rating {
    font-weight: 600;
}

.review-about .about-rating::before {
    content: '\F10F';
    line-height: 24px;
    font-size: 24px;
}

.review-about .about-center h1 {
    font-weight: 700;
}

.about-right .review-bonus-head {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.review-about .about-right .review-bonus-title,
.legal-review-page-sidebar .about-right .review-bonus-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
}

.review-about .about-right .review-bonus-description,
.legal-review-page-sidebar .about-right .review-bonus-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.legal-afillate:hover {
    background-color: var(--Base-base-07);
}

.legal-afillate {
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: var( --Base-base-01 );
}

.legal-review-page-sidebar .about-right .legal-afillate {
    font-size: 16px;
    line-height: 22px;
}

.tcb-post-content > .legal-afillate {
    font-size: 14px;
    line-height: 20px;
} 

.about-right .legal-cut-control {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.about-right .legal-cut-control:not( .legal-active ):before {
    content: attr( data-review-default );
}

.about-right .legal-cut-control.legal-active::before {
    content: attr( data-review-active );
}

.about-right .legal-cut-control::after {
    content: '\F103';
    font-family: var(--legal-font-icons);
    font-size: 16px;
    line-height: 16px;
}

.review-about .legal-afillate-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: var( --Base-base-05 );
}

.review-about .about-achievement .achievement-bonus-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.review-about .footer-logo .logo-item {
    line-height: 0;
    opacity: 0.65;
}