/* Billet Display */

.legal-billet {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 30px;
}

/* Billet Position */

.legal-billet .billet-body {
	padding: 10px 0px;
}

/* Billet Width and Height */

.legal-billet .billet-review {
	width: 22%;
}

.legal-billet .billet-body {
	width: 56%;
}

.legal-billet .billet-get {
	width: 22%;
}

/* Billet Background */

.legal-billet {
	border: 0.8px solid rgba(198, 198, 198, 0.2);
	border-radius: 20px;
}