/* Display */

.legal-other-offers {
	display: flex;
	/* justify-content: center; */
	column-gap: 18px;
	/* row-gap: 20px; */
	/* flex-wrap: wrap; */
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.legal-other-offers::-webkit-scrollbar { 
	width: 0;
	height: 0;
}

.legal-other-offers .offers-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.legal-other-offers .item-bonus {
	display: flex;
	align-items: center;
}

.legal-other-offers .item-afillate {
	display: block;
}

/* Position */

.legal-other-offers-wrapper {
	position: relative;
	overflow: hidden;
}

.legal-other-offers {
	overflow: scroll;
	scroll-behavior: smooth;
}

.legal-other-offers {
	margin-bottom: 20px;
}

.legal-other-offers .offers-item {
	padding: 20px 0px;
}

.legal-other-offers .item-bonus {
	padding:  0px 20px;
}

.legal-other-offers .item-afillate {
	padding: 12px 25px 12px 60px;
}

/* Width and Height */

.legal-other-offers .offers-item {
	/* flex: 1 0 calc( 33.333% - 12px ); */
	flex: 1 0 calc( 100% / 3 - 12px );
}

.legal-other-offers .item-bonus {
	height: 40px;
}

.legal-other-offers .item-logo {
	width: 100%;
	height: 45px;
}

.legal-other-offers .item-afillate {
	width: fit-content;
}

/* Background */

.legal-other-offers .offers-item {
	border-radius: 25px;
}

.legal-other-offers .item-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-other-offers .item-afillate {
	background-image: url( '../../img/review/review-get.svg' );
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
	border: 1.6px solid #ffffff;
}

.legal-other-offers-wrapper .offers-arrow-prev {
	left: 0;
	padding-left: 0.25rem;
	border-radius: 0 2rem 2rem 0;
}

.legal-other-offers-wrapper .offers-arrow-next {
	right: 0;
	padding-left: 0.75rem;
	border-radius: 2rem 0 0 2rem;
}

/* Typography */

.legal-other-offers .item-bonus {
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.legal-other-offers .item-bonus:not( .legal-black ) {
    color: #ffffff;
}

.legal-other-offers .item-bonus.legal-black {
    color: #000000;
}

.legal-other-offers .item-afillate {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 14.4px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
}

/* Slider */

.slider-wrapper {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
  }
  
  .slides-container {
	display: flex;
	column-gap: 20px;

	height: 300px;
	width: 100%;

	overflow: scroll;
	scroll-behavior: smooth;

	list-style: none;
	margin: 0;
	padding: 0 !important;
  }
  
  .slide-arrow {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 4rem;
	background-color: white;
	border: none;
	width: 2rem;
	font-size: 3rem;
	padding: 0;
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
	opacity: 1;
  }
  
  #slide-arrow-prev {
	left: 0;
	padding-left: 0.25rem;
	border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
	right: 0;
	padding-left: 0.75rem;
	border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
	/* width: 100%; */
	height: 100%;
	/* flex: 1 0 100%; */
	flex: 1 0 33.333%;
  }
  
  .slide:nth-child(1) {
	background-color: #49b293;
  }
  
  .slide:nth-child(2) {
	background-color: #b03532;
  }
  
  .slide:nth-child(3) {
	background-color: #6a478f;
	margin: 0;
  }
  
  .slide:nth-child(4) {
	background-color: #da6f2b;
  }

  .slide:nth-child(5) {
	background-color: #2b7e95;
  }

  .slide:nth-child(6) {
	background-color: #952b82;
  }

  .slides-container {

    scrollbar-width: none; /* Firefox */

    -ms-overflow-style: none;  /* Internet Explorer 10+ */

}

/* WebKit */

.slides-container::-webkit-scrollbar { 

    width: 0;

    height: 0;

}

  