@media screen and (max-width: 767px) {

    /* Display */


    /* Typography */


    /* Width and Height */

}

@media screen and (min-width: 768px) {
    /* Display */


    /* Width and Height */


    /* Typography */
}

/* Review Display */


/* Review Position */

.mc-list-howto {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: var(--Spacing-06);
    margin-bottom: var(--Spacing-06);
}

.mc-list-howto li {
    padding-left: calc(var(--Spacing-09) + 1rem);
}

/* Review Width and Height */

.mc-list-howto>li::before {
    /* width: calc( var( --Spacing-09 ) - 0.25rem );
height: calc( var( --Spacing-09 ) - 0.25rem ); */
    width: var(--Spacing-09);
    height: var(--Spacing-09);
    box-sizing: border-box;
}

/* Review Background */

.mc-list-howto>li::before {
    border: 0.125rem solid var(--Base-base-09);
    border-radius: 50%;
}

/* Typography */

.mc-list-howto li::before {
    text-align: center;
}

ol.mc-list-howto li::before {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
}

ul.mc-list-howto li::before {
    content: '\F10D';
    font-family: var(--legal-font-icons);
    font-size: 1.5rem;
    line-height: 1.8125rem;
    ;
}

.mc-list-howto .question-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625rem;
}

.mc-list-howto .question-content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}