@media screen and ( max-width: 767px )
{
    /* Review Display */

    .tcb-post-content table.legal-raw {
        overflow: scroll;
        display: block;
    }
}

@media screen and ( min-width: 768px )
{
    /* Review Display */
    
    /* .tcb-post-content table.legal-column {
        float: left;
    } */

    .tcb-post-content .legal-column {
        display: inline-block;
    }

    .tcb-post-content .legal-column-3 {
        display: inline-block;
    }

    /* Review Position */

    /* .tcb-post-content table.legal-column + table.legal-column {
        margin-left: 20px;
    } */

    .tcb-post-content table.legal-column:nth-child( 2n ) {
        margin-left: 8px;
    }

    .tcb-post-content table.legal-column:nth-child( 2n + 1 ) {
        margin-right: 8px;
    }

    .tcb-post-content .legal-column-3:nth-child( 3n ) {
        margin-left: 10px;
    }

    .tcb-post-content .legal-column-3:nth-child( 3n+1 ) {
        margin-right: 10px;
    }

    .tcb-post-content .legal-column-3:nth-child( 3n+2 ) {
        margin-right: 4px;
        margin-left: 4px;
    }

    /* Review Width and Height */

    .tcb-post-content table.legal-column {
        width: calc( 50% - 10px );
    }

    .tcb-post-content .legal-column-3 {
        width: calc(100% / 3 - 12px);
    }
}

/* Display */

.tcb-post-content table.legal-raw.legal-column tbody,
.tcb-post-content table.legal-raw.legal-column-3 tbody {
    display: table;
}

.tcb-post-content table {
    caption-side: unset;
}

/* Review Position */

.tcb-post-content table {
    margin: 0px auto;
    margin-bottom: 30px;
}

.tcb-post-content table.legal-check td:last-child {
    padding-right: 56px;
}

/* Review Width and Height */

.tcb-post-content table.legal-raw:not( .legal-column ):not( .legal-column-3 ) {
    width: 100%;
}

.tcb-post-content table.legal-raw.legal-column tbody,
.tcb-post-content table.legal-raw.legal-column-3 tbody {
    width: 100%;
}

.tcb-post-content table caption {
    width: 100%;
}

.tcb-post-content table.legal-check {
    min-width: 300px;
}

/* Review Background */

.tcb-post-content table {
    background-color: #ffffff;
}

.tcb-post-content table caption {
    background-color: #FAFCFE;
}

/* Table with Thead and Tbody */

.tcb-post-content table:not( [ class ] ) thead tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table:not( [ class ] ) thead tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table:not( [ class ] ) thead + tbody tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

.tcb-post-content table:not( [ class ] ) thead + tbody tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

/* Table with Tbody only */

.tcb-post-content table:not( [ class ] ) tbody:first-child tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table:not( [ class ] ) tbody:first-child tr:nth-child( 2n ) {
    background-color: transparent;
}

/* Table legal-raw with Tbody only */

.tcb-post-content table.legal-raw tbody:first-child tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw tbody:first-child tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw tbody:first-child tr:nth-child( 2n+1 ):not( :first-child ) {
    background-color: rgb(239, 245, 251);
}

/* Table legal-raw with Caption and Tbody only */

.tcb-post-content table.legal-raw caption ~ tbody tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw caption ~ tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw caption ~ tr:nth-child( 2n+1 ):not( :first-child ) {
    background-color: rgb(239, 245, 251);
}

/* Table legal-raw with Thead and Tbody */

.tcb-post-content table.legal-raw thead tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw thead + tbody tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw thead + tbody tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

/* Table legal-raw-column with Thead and Tbody */

.tcb-post-content table.legal-raw-column tr:nth-child( 2n ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-raw-column tr:nth-child( 2n+1 ) {
    background-color: transparent;
}

/* Table legal-column with Thead and Tbody */

.tcb-post-content table.legal-column tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-column tr:nth-child( 2n ) {
    background-color: transparent;
}

/* Table legal-column-3 with Thead and Tbody */

.tcb-post-content table[class="legal-column-3"] tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table[class="legal-column-3"] tr:nth-child( 2n ) {
    background-color: transparent;
}

/* Table legal-check with Thead and Tbody */

.tcb-post-content table.legal-check tr:nth-child( 2n+1 ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content table.legal-check tr:nth-child( 2n ) {
    background-color: transparent;
}

.tcb-post-content table.legal-check td:not( .legal-cross ):last-child {
    background-image: url( '../../img/review/review-table-check.svg' );
}

.tcb-post-content table.legal-check td.legal-cross:last-child {
    background-image: url( '../../img/review/review-table-cross.svg' );
}

.tcb-post-content table.legal-check td:last-child {
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: auto;
}

/* Review Typography */

.tcb-post-content table.legal-raw-column tr:first-child,
.tcb-post-content table.legal-raw-column tr > td:first-child {
    font-weight: 600;
}

.tcb-post-content table.legal-raw tbody:first-child tr:first-child,
.tcb-post-content table.legal-raw thead tr:first-child {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.tcb-post-content table caption {
    color: rgba(10, 10, 10, 0.85);
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

/* Other */

.table-custom1 table  {
    border:1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

.table-custom1 thead  {
    background: #333; 
    color: white;
    font-weight: bold;
}

.table-custom1 table td {
   padding: 5px;
   border: 1px solid #c0c0c0; 
}

@media only screen and ( max-width: 760px ) {
    .table-custom1 table {
        border-collapse: collapse;
        border-spacing: 0;
        border: none;
    }
    
    .table-custom1 td {
        margin: 0;
        vertical-align: top;
    }
    
    .table-custom1 table {
        display: block;
        position: relative;
    }
    
    .table-custom1 thead {
        display: block;
        float: left;
    }
    
    .table-custom1 tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table-custom1 thead tr {
        display: block;
    }

    .table-custom1 tbody tr {
        display: inline-block;
        vertical-align: top;
    }

    .table-custom1 td {
        display: block;
        text-align: left;
    }
}

.table-bonus {
    text-align: center;
    width: 50%;
}

.table-bonus td {
    margin-right: 10px;
}

.wp-caption {
    max-width: 100%;
}

.tag-bonus {
    padding: 10px;
    margin-right:10px;
    border: 1px solid #5997e3;
    border-radius: 20px;
    font-size: 15px;
    word-break: break-all;
    line-height: 30px;
}

@media only screen and (max-width: 479px) {
    .tag-bonus {
        display: flex;    
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
        padding: 6px;
    }
    .tags-bonus {
        white-space: normal;
    }

    .table-bonus {
        overflow-y: scroll;
        border: 0px;
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 821px) {
    .img-bonus {
        max-width: 770px;
    }
}