/* .tcb-post-content .mc-list-tile-icons
{
	background-color: darkseagreen;
} */

.tcb-post-content .mc-list-tile-icons
{
	display: flex;
  	flex-wrap: wrap;
	gap: 9px;
}

.tcb-post-content .mc-list-tile-icons li
{
	flex-basis: calc( 100% / 3 - 8px );

	border: 1px solid #000;
}