/* Display */

.legal-banner {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.legal-banner .banner-image {
	flex: 0 0 auto;
}

/* Position */

.legal-banner {
	margin-bottom: ;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

/* Width and Height */

.legal-banner {
	width: 100%;
}