/* Overview Position */

.tcb-post-content .legal-overview {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin: 0px;
}

.tcb-post-content .legal-overview-start {
    padding-top: 30px;
}

.tcb-post-content .legal-overview-end {
    margin-bottom: 30px;
}

/* Overview Background */

.tcb-post-content .legal-overview {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content .legal-overview-end {
    border-bottom: 2px solid #5997E3;
}

/* Overview Typography */