@media screen and ( max-width: 767px )
{
	/* Position */
	
	#theme-bottom-section .legal-author {
		padding: 20px;
	}	
}

@media screen and ( min-width: 768px )
{
	/* Position */

	#theme-bottom-section .legal-author {
		/* padding: 30px 70px; */
		padding-bottom: 24px;
		margin-bottom: 64px;
	}

	/* Width and Height */

	#theme-bottom-section .legal-author {
		/* max-width: 1080px; */
		max-width: var( --base-width-desktop );
	}
}

/* Display */

#theme-bottom-section .legal-author {
	display: flex;
	column-gap: 16px;
}

#theme-bottom-section .legal-author .author-data {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

/* Position */

#theme-bottom-section .legal-author {
/* 	margin: 0px auto; */
	margin-right: auto;
	margin-left: auto;
}

/* Width and Height */

#theme-bottom-section .legal-author .author-photo {
	/* width: 100px;
	height: 100px; */
	width: 80px;
	height: 80px;
}

/* Background */

#theme-bottom-section .legal-author
{
	/* border-top: 1px dashed rgb(198,198,198); */
	border-bottom: 2px solid var(--Gray-200);
}

#theme-bottom-section .legal-author .author-photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	border: 2px solid var(--Base-base-09);
}

#theme-bottom-section .legal-author .author-photo::after {
	background-image: url( '../../img/review/review-label-check.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

/* Typography */

#theme-bottom-section .legal-author .author-photo::after {
	content: "";
}

#theme-bottom-section .legal-author .author-name,
#theme-bottom-section .legal-author .author-duty {
	font-family: var( --legal-font-primary );
	font-style: normal;
	color: var(--Base-base-09);
}

#theme-bottom-section .legal-author .author-name {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-decoration: none;
	/* color: rgb(89, 151, 227); */
	/* letter-spacing: 2px; */
	/* text-transform: uppercase; */
}

#theme-bottom-section .legal-author .author-duty {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	/* color: rgb(106, 107, 108); */
	/* letter-spacing: 2px; */
	/* text-transform: uppercase; */
}