@media screen and ( min-width: 768px ) {

	/* Display */

	.legal-other-offers {
		column-gap: 18px;
	}

	/* Position */

	.legal-other-offers .offers-item:first-of-type {
		margin-left: auto;
	}

	.legal-other-offers .offers-item:last-of-type {
		margin-right: auto;
	}

	/* Width and Height */

	.legal-other-offers .offers-item {
		flex-basis: calc( 100% / 3 - 12px );
	}
}

@media screen and ( max-width: 767px ) {

	/* Width and Height */

	.legal-other-offers .offers-item {
		flex-basis: 100%;
	}
}

/* Display */

.legal-other-offers {
	display: flex;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.legal-other-offers .offers-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	flex-shrink: 0;
}

.legal-other-offers .item-bonus {
	display: flex;
	align-items: center;
}

.legal-other-offers .item-afillate {
	display: block;
}

.legal-footer .item-afillate[ href='' ] {
	pointer-events: none;
}

/* Position */

.legal-other-offers-wrapper {
	position: relative;
	overflow: hidden;
}

.legal-other-offers {
	overflow: scroll;
	scroll-behavior: smooth;
}

.legal-other-offers-wrapper {
	margin-bottom: 20px;
}

.legal-other-offers .offers-item {
	padding: 20px 0px;
}

.legal-other-offers .item-bonus {
	padding:  0px 20px;
}

.legal-other-offers .item-afillate {
	padding: 12px 25px 12px 60px;
}

.legal-other-offers-wrapper .offers-arrow {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto 0px;
}

.legal-other-offers-wrapper .offers-arrow-prev {
	left: 0;
}

.legal-other-offers-wrapper .offers-arrow-next {
	right: 0;
}

/* Width and Height */

.legal-other-offers .item-bonus {
	height: 40px;
}

.legal-other-offers .item-logo {
	width: 100%;
	height: 45px;
}

.legal-other-offers .item-afillate {
	width: fit-content;
}

.legal-other-offers-wrapper .offers-arrow {
	width: 30px;
	height: 60px;
}

.legal-other-offers::-webkit-scrollbar { 
	width: 0;
	height: 0;
}

/* Background */

.legal-other-offers .offers-item {
	border-radius: 25px;
}

.legal-other-offers .item-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-other-offers .item-afillate {
	background-image: url( '../../img/review/review-get.svg' );
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
	border: 1.6px solid #ffffff;
}

.legal-other-offers-wrapper .offers-arrow-prev {
	border-radius: 0px 50px 50px 0px;
	background-image: url( '../../img/review/review-gallery-left.svg' );
}

.legal-other-offers-wrapper .offers-arrow-next {
	background-image: url( '../../img/review/review-gallery-right.svg' );
	border-radius: 50px 0px 0px 50px;
}

.legal-other-offers-wrapper .offers-arrow {
	background-position: center center;
    background-repeat: no-repeat;
	background-size: auto;
	background-color: unset;
	border: unset;
	opacity: 0.5;
	transition: opacity 100ms;
}

.legal-other-offers-wrapper .offers-arrow:hover,
.legal-other-offers-wrapper .offers-arrow:focus {
 	opacity: 1;
}

/* Typography */

.legal-other-offers .item-bonus {
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.legal-other-offers .item-bonus:not( .legal-black ) {
    color: #ffffff;
}

.legal-other-offers .item-bonus.legal-black {
    color: #000000;
}

.legal-other-offers .item-afillate {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 14.4px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
} 