@media screen and ( max-width: 767px )
{
	/* Billet Display */

	.legal-billet {
		flex-direction: column;
	}

	.legal-billet .billet-review {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		/* column-gap: 16px; */
		column-gap: 0.875rem;
		row-gap: var( --Spacing-07 );
	}

	/* Billet Position */

	.legal-billet .billet-body {
		padding: 10px 15px;
	}

	/* Billet Width and Height */

	.legal-billet .billet-review {
		min-height: 150px;
	}

	.legal-billet .billet-title,
	.legal-billet .billet-get-link {
		flex-basis: 100%;
	}

	/* Billet Background */
	
	.legal-billet .billet-review {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	.legal-billet .billet-get {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

@media screen and ( min-width: 768px )
{
	/* Billet Position */

/* 	.legal-billet:not( .no-height ) {
		min-height: 210px;
	} */

	.legal-billet .billet-get-link {
		margin-left: auto;
	}

}

/* Billet Display */

.legal-billet {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
}

.legal-billet .billet-review {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* column-gap: 16px; */
	column-gap: 0.875rem;
	/* row-gap: 18px; */
}

.legal-billet .review-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.legal-billet .review-data {
	display: flex;
	flex-wrap: wrap;
}

.legal-billet .billet-body {
	display: flex;
	flex-direction: column;
}

.legal-billet .billet-get {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-billet .billet-get-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-billet .check-oops[href=""] {
    pointer-events: none;
}

.legal-billet .billet-description {
	display: flex;
}

/* Billet Position */

.legal-billet {
	/* margin-bottom: 30px; */
	margin-top: var( --Spacing-07 );
	margin-bottom: var( --Spacing-07 );
}

/* .legal-billet .billet-body, */
.legal-billet .billet-review {
	/* padding: 20px; */
	padding: var( --Spacing-07 );
}

.legal-billet .billet-body {
	padding-top: 0.5rem;
	padding-right: var( --Spacing-07 );
	padding-bottom: var( --Spacing-04 );
	padding-left: var( --Spacing-07 );
}

.legal-billet .billet-get-link {
	padding: 10px 18px;
}

.legal-billet .billet-title {
	margin-top: 0px;
	margin-bottom: 0px;
	/* padding-bottom: 8px; */
}

.legal-billet h3:not( .legal-override ),
.legal-billet h4:not( .legal-override ) {
    padding-bottom: 0px;
}

/* Billet Width and Height */

.legal-billet .billet-review {
	width: 100%;
	box-sizing: border-box;
}

.legal-billet .billet-name {
	width: 100%;
}

.legal-billet .review-image {
	/* width: 70px;
	height: 70px; */
	width: var( --Spacing-12 );
	height: var( --Spacing-12 );
}

.legal-billet .review-image img {
	width: 100%;
	height: auto;
}

.legal-billet .billet-body {
	width: 100%;
	box-sizing: border-box;
}

.legal-billet .billet-get-link {
	min-width: 128px;
 	min-height: 30px;
}

/* Billet Background */

.legal-billet {
	background-color: var(--Base-base-01);
	/* border: 1px solid var(--Base-base-09);  */
	/* border-radius: 24px 24px 18px 18px; */
}

.legal-billet .billet-review {
	/* border-bottom: 1px solid var(--Base-base-09); */
	border: 1px solid var( --Base-base-09 );
	border-radius: var( --Spacing-06 );
	background-color: var( --Primitives-purple-20 );
}

.legal-billet .review-image {
	border: 1px solid var(--Base-base-09);
	border-radius: 12.8px;
	overflow: hidden;
  	background-color: var(--Logo-background);
}

.legal-billet .billet-get {
	background-color: rgb(239, 245, 251);
}

.legal-billet .billet-get-link {
	/* background-color: var( --Base-base-09 ); */
	background-color: var( --Base-purple_button );
	border-radius: 60px;
}

.legal-billet .billet-get-link:hover {
	background-color: var( --Base-base-07 );
}

/* Billet Typography */

.legal-billet .billet-review.legal-default .review-title-link {
	color: #ffffff;
}

.legal-billet .billet-review:not( .legal-default ) .review-title-link {
	color: #000000;
}

.legal-billet .billet-name,
.legal-billet .review-title-link,
.legal-billet .billet-get-link,
.legal-billet .billet-title,
.legal-billet .billet-description {
	font-family: var( --legal-font-primary );
  	font-style: normal;
}

.legal-billet .billet-name,
.legal-billet .review-title-link,
.legal-billet .billet-title {
	color: var( --Base-base-09 );
}

.legal-billet .billet-name {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.legal-billet .review-title-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.legal-billet .billet-title {
	/* font-size: 16px; */
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.625rem;
	/* line-height: 22px; */
}

/* .legal-billet .billet-description {
	color: rgba(10, 10, 10, 0.85);
	text-align: justify;
} */

.legal-billet .billet-get-link {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: var( --Base-base-01 );
	text-decoration: none;
	text-align: center;
}

.legal-billet .billet-description p {
	font-style: normal;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.125rem;
}

.legal-billet .billet-description p,
.legal-billet .billet-description a {
	color: var( --Base-base-05 );
}

.legal-billet .billet-description:not( .legal-active ) p {
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.legal-billet .billet-description:not( .legal-active ) .billet-footer-control {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.125rem;
	white-space: nowrap;
  	cursor: pointer;
  	color: var( --Base-base-08 );
}

.legal-billet .billet-description:not( .legal-active ) .billet-footer-control:hover {
	text-shadow: 0 0 0.35px var(--Base-base-09);
}

.legal-billet .billet-description:not( .legal-short-tnc ):not( .legal-active ) .billet-footer-control:before {
    content: attr( data-default );
}