/* Gallery Display */

.tcb-post-content .gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
    row-gap: 9px;
}

.gallery .gallery-icon a {
    display: block;
}
  
/* Gallery Position */
  
.gallery .gallery-item {
    margin: 0px !important;
}

.gallery .gallery-item img {
    padding: 0px !important;
}
  
/* Gallery Width and Height */
   
.gallery .gallery-item {
    width: calc( ( 100% / 3 ) - 6px ) !important;
}

.gallery .gallery-icon {
    width: 100%;
}

.gallery .gallery-icon a {
    width: 100%;
}

.gallery .gallery-item img {
    /* width: 100%; */
    max-width: unset !important;
}
  
/* Gallery Background */

.gallery .gallery-item img {
    border: unset !important;
    box-shadow: unset !important;
}

/* Gallery Typography */

.gallery figcaption {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.5px;
    color: rgb(105, 105, 105);
}