/* @media screen and ( max-width: 959px )
{ */

	/* TABLE */

	/* table start */

	.tcb-post-content table
	{
		background-color: khaki;
	}

	/* table end */

	/* THEAD, TBODY */

	/* thead and tbody start */

	/* thead and tbody all */

	.tcb-post-content table > *
	{
		/* background-color: lightgray; */
	}

	/* thead all */

	.tcb-post-content table > thead
	{
		/* background-color:burlywood; */
	}

	/* tbody all */

	.tcb-post-content table > tbody
	{
		/* background-color:cornsilk; */
	}

	/* thead and tbody end */

	/* TR */

	/* tr start */

	/* thead or tbody 1st tr 1st */

	.tcb-post-content table > :first-child > tr:first-child
	{
		/* background-color: bisque;  */
	}

	/* thead or tbody last tr last */

	.tcb-post-content table > :last-child > tr:last-child
	{
		/* background-color:azure; */
	}

	/* tr end */

	/* TH, TR */

	/* th and td start */

	/* thead 1st tr 1st th or td all */

	.tcb-post-content table > thead:first-of-type > tr:first-child > *
	{
		/* background-color:brown; */
	}

	/* tbody all tr all th or td all */

	.tcb-post-content table > tbody > tr > *
	{
		/* background-color:darkcyan; */
	}

	/* tbody not last tr not last th or td all */

	.tcb-post-content table > tbody:not( :last-of-type ) > tr:not( :last-of-type ) > *
	{
		background-color:darkseagreen;
	}

	/* tbody last tr last th or td all */

	.tcb-post-content table > tbody:last-of-type > tr:last-of-type > *
	{
		background-color:darksalmon;
	}

	/* thead or tbody 1st tr 1st th or td 1st */

	.tcb-post-content table > :first-child > tr:first-child > *:first-child
	{
		/* background-color:aquamarine; */
	}

	/* thead or tbody 1st tr 1st th or td last */

	.tcb-post-content table > :first-child > tr:first-child > *:last-child
	{
		/* background-color:cornflowerblue; */
	}

	/* thead or tbody last tr lasst th or td 1st */

	.tcb-post-content table > :last-child > tr:last-child > *:first-child
	{
		/* background-color:chartreuse; */
	}

	/* thead or tbody last tr lasst th or td last */

	.tcb-post-content table > :last-child > tr:last-child > *:last-child
	{
		/* background-color:chocolate; */
	}

	/* Level 1 item 1st */

	/* .tcb-post-content table tr:first-child > :first-child:not( #legal-override )
	{
		background-color: brown;
	} */

	/* Level 1 item all */

	/* .tcb-post-content table tr > :first-child
	{
		background-color:bisque;
	} */

	/* Level 1 row item not 1st and last */

	/* .tcb-post-content table tr:not( :first-child ):not( :last-child ) > :first-child
	{
		background-color:azure;
	} */

	/* Level 1 item last */

	/* .tcb-post-content table tr:last-child > :first-child
	{
		background-color:darkgrey;
	} */

	/* th and td all */

	.tcb-post-content table tr > *
	{
		/* background-color:aliceblue; */
	}

	/* th all */

	.tcb-post-content table tr > th
	{
		/* background-color:darksalmon; */
	}

	/* td all */

	.tcb-post-content table tr > td
	{
		/* background-color:darkorange; */
	}

	/* Level 2 item all */

	/* .tcb-post-content table tr td:not( :first-child )
	{
		background-color:gold;
	} */

	/* Level 2 item last */

	/* .tcb-post-content table tr td:last-child:not( :only-child )
	{
		background-color:cadetblue;
	} */

	/* Level 2 last row last item */

	/* .tcb-post-content table tr:last-child td:last-child:not( :only-child )
	{
		background-color:cornflowerblue;
	}	 */

	/* th and td end */
/* } */