@media screen and ( max-width: 959px )
{
	/* Level 1 item 1st */

	.tcb-post-content table tr:first-child > :not( [ rowspan ] ):first-child
	{
		background-color: brown;
	}

	/* Level 1 item all */

	.tcb-post-content table tr > :not( [ rowspan ] ):first-child
	{
		background-color:bisque;
	}

	/* Level 1 row item not last */

	.tcb-post-content table tr > :not( [ rowspan ] ):not( :first-child ):not( :last-child )
	{
		background-color:azure;
	}

	/* Level 1 item last */

	.tcb-post-content table tr:last-child > :not( [ rowspan ] ):first-child
	{
		background-color:darkgrey;
	}

	/* All items */

	.tcb-post-content table tr > :not( [ rowspan ] )
	{
		background-color:burlywood;
	}

	/* Level 2 item all */

	.tcb-post-content table tr td:not( [ rowspan ] ):not( :first-child )
	{
		background-color:gold;
	}

	/* Level 2 item last */

	.tcb-post-content table tr td:not( [ rowspan ] ):last-child
	{
		background-color:cadetblue;
	}

	/* Level 2 last row last item */

	.tcb-post-content table tr:last-child td:not( [ rowspan ] ):last-child
	{
		background-color:cornflowerblue;
	}	
}