@media screen and ( max-width: 767px )
{
	/* Bonus Display */	

	.legal-bonus {
		flex-direction: column;
	}

	.legal-bonus .bonus-title {
		flex-direction: column;
	}

	/* Bonus Position */

	.legal-bonus {
		padding: 15px 15px;
	}
}

@media screen and ( min-width: 768px )
{
	/* Bonus Position */

	.tcb-post-content > .legal-bonus {
		padding: 15px 30px;
	}

	/* Bonus Width and Height */

	.legal-bonus .bonus-title {
		width: 25%;
	}

	.legal-bonus .bonus-name {
		width: 50%;
	}

	.legal-bonus .bonus-get {
		width: 25%;
	}
}

/* Bonus Display */

.legal-bonus {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 10px;
}

.legal-bonus .bonus-title {
	display: flex;
	justify-content: center;
	column-gap: 20px;
	align-items: center;
}

.legal-bonus .bonus-get {
	display: flex;
	justify-content: center;
}

.legal-bonus .bonus-get-link {
	display: block;
}

.legal-bonus .check-oops[href=""] {
    pointer-events: none;
}

/* Bonus Width and Height */

.legal-bonus .bonus-get-link {
	width: fit-content;
}

/* Bonus Position */

.tcb-post-content > .legal-bonus {
	margin-bottom: 20px;
}

.legal-bonus .bonus-get-link {
	padding: 12px 25px 12px 60px;
}

.legal-bonus .bonus-content {
	padding-top: 30px;
}

.legal-bonus .bonus-name:not( .legal-override ) {
	padding-bottom: 0px;
}

/* Bonus Background */

.tcb-post-content > .legal-bonus {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 9px 19px -1px;
}

.legal-bonus .bonus-get-link {
	background-image: url( '../../img/review/review-get.svg' );
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
}

/* Bonus Typography */

.legal-bonus .bonus-name {
	text-align: center;
}

.legal-bonus p.legal-bonus-content-item {
	text-align: center;
}

.legal-bonus .bonus-title-link {
	font-family: "Source Sans Pro";
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 33.6px;
	color: rgb(12, 17, 21);
	text-decoration: none;
	text-align: center;
}

.legal-bonus .bonus-name {
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 31.5px;
	color: rgba(10, 10, 10, 0.85);
}

.legal-bonus .bonus-get-link {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 14.4px;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.legal-bonus .bonus-content p {
	text-align: justify;
}