@media screen and ( min-width: 768px )
{
    /* Display */

    .tcb-post-content .legal-list-3 {
        display: flex;
        flex-wrap: wrap;
    }

    /* Review Position */

    .tcb-post-content ul:not( [ class ] ):not( [ style ] ),
    .tcb-post-content ol:not( [ class ] ) {
        padding-left: 30px;
    }

    /* Width and Height */

    .tcb-post-content .legal-list-3 li {
        width: 33.333%;
    }
}

/* Review Display */

.tcb-post-content ol {
    list-style: none;
    counter-reset: legal-counter;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] {
    list-style: none !important;
    counter-reset: legal-counter-alpha;
}

.tcb-post-content ol li {
    counter-increment: legal-counter;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li {
    counter-increment: legal-counter-alpha;
}

.tcb-post-content ol li::before {
    content: counter( legal-counter );
    display: inline-block;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li::before {
    content: counter( legal-counter-alpha, upper-alpha );
}

.tcb-post-content ul {
	list-style: none;
	list-style-type: none;
}

.tcb-post-content ul li::before {
	content: '';
    display: inline-block;
}

/* Review Position */

.tcb-post-content ul:not( [ class ] ):not( [ style ] ),
.tcb-post-content ol:not( [ class ] ) {
    padding-top: 0px;
    padding-bottom: 30px;
}

.tcb-post-content li > ul:not( [ class ] ):not( [ style ] ),
.tcb-post-content li > ol:not( [ class ] ) {
    padding-top: 15px;
    padding-bottom: 0px;
}

.tcb-post-content ul li:not( :last-child ),
.tcb-post-content ol li:not( :last-child ) {
    padding-bottom: 15px;
}

.tcb-post-content li:not( [ class ] ) {
	padding-left: 34px;
	margin-left: 0px;
}

.tcb-post-content li::before {
    margin-right: 10px;
    margin-left: -34px;
}

.tcb-post-content ul li::before {
	margin-bottom: -6px;
}

/* Review Width and Height */

.tcb-post-content li::before {
    width: 24px;
    height: 24px;
}

/* Review Background */

/* .tcb-post-content ul li {
    list-style-image: url( '../../img/review/review-ul.svg' );
} */

.tcb-post-content ul li:before {
    background-image: url( '../../img/review/review-ul.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
	list-style-image: none;
}

.tcb-post-content ol li::before {
    border: 2px solid rgb(89, 151, 227);
    border-radius: 50%;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li:before {
    background-color: rgb(89, 151, 227);
}

/* Review Typography */

.tcb-post-content ol li::before {
    font-weight: 600;
    line-height: 20px;
    color: rgb(89, 151, 227);
    text-align: center;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li:before {
    color: #ffffff;
}