/* Bonus Display */

.legal-bonus {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 10px;
}

.legal-bonus .bonus-title {
	display: flex;
	justify-content: center;
	column-gap: 20px;
	align-items: center;
}

/* Bonus Width and Height */

.legal-bonus .bonus-title {
	width: 25%;
}

.legal-bonus .bonus-name {
	width: 50%;
}

.legal-bonus .bonus-get {
	width: 25%;
}

/* Bonus Position */

.legal-bonus {
	padding: 15px 30px;
	margin-bottom: 20px;
}

/* Bonus Background */

.legal-bonus {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 9px 19px -1px;
}

/* Bonus Typography */

.legal-bonus {
	text-align: center;
}

.legal-bonus .bonus-title-link {
	font-family: "Source Sans Pro";
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 33.6px;
	color: rgb(12, 17, 21);
	text-decoration: none;
}