@media screen and (max-width: 767px) {

  /* Typography */

  .tcb-post-content>ul:not(.legal-highlight):not(.legal-faq-description):not([style]) li,
  .tcb-post-content>ol li,
  .bonus-content>ul li,
  .billet-description>ul li,
  .bonus-content>ol li,
  .billet-description>ol li {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) {
  /* Display */

  .tcb-post-content .legal-list-2,
  .tcb-post-content .legal-list-3,
  .tcb-post-content .legal-list-4 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  /* Width and Height */

  .tcb-post-content .legal-list-2 li {
    width: calc(50% - (24px + 14px + 18px));
  }

  .tcb-post-content .legal-list-3 li {
    width: calc(33.333% - (24px + 14px + 18px));
  }

  .tcb-post-content .legal-list-4 li {
    width: calc(25% - (24px + 14px + 18px));
  }

  /* Typography */

  .tcb-post-content>ul:not(.legal-highlight):not(.legal-faq-description):not([style]),
  .tcb-post-content>ol,
  .bonus-content>ul li,
  .billet-description>ul li,
  .bonus-content>ol li,
  .billet-description>ol li {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Review Display */

.tcb-post-content ol:not(.menu__box) {
  list-style: none;
  counter-reset: legal-counter;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] {
  list-style: none !important;
  counter-reset: legal-counter-alpha;
}

.tcb-post-content ol:not(.menu__box)>li {
  counter-increment: legal-counter;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li {
  counter-increment: legal-counter-alpha;
}

.tcb-post-content ol:not(.menu__box)>li::before {
  content: counter(legal-counter);
  display: inline-block;
}

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li::before {
  content: counter(legal-counter-alpha, upper-alpha);
}

.tcb-post-content ul {
  list-style: none;
  list-style-type: none;
}

/* Review Position */

.tcb-post-content ul:not(.legal-sitemap),
.tcb-post-content ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tcb-post-content>ul:not(.legal-highlight):not(.legal-faq-description):not(.legal-list-image):not([style]),
.tcb-post-content>ol:not(.legal-faq-description) {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.tcb-post-content>ul:not([style]):not(.legal-list-image),
.tcb-post-content>ol {
  padding-left: 0px;
}

.tcb-post-content>.legal-list-image:not(.compilation-link) {
  padding-left: 0px;
  padding-bottom: 24px;
}

.tcb-post-content ul li,
.tcb-post-content ol li {
  position: relative;
}

.tcb-post-content li::before {
  position: absolute;
  /*правило для pros & cons*/
  left: 0px;
}

.tcb-post-content>ul:not([style]):not(.legal-list-image) li,
.tcb-post-content>ol li {
  padding-left: calc(24px + 12px);
}

.tcb-post-content>.legal-list-image:not(.compilation-link) li {
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: calc(24px + 14px);
}

.tcb-post-content>ul:not(.legal-highlight):not(.legal-faq-description):not([style]):not(.legal-list-image)>li:not( :last-child),
.tcb-post-content>ol:not(.legal-faq-description)>li:not( :last-child) {
  padding-bottom: 24px;
}

.legal-billet ul,
.legal-billet ol {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
}

.tcb-post-content .legal-highlight {
  padding-top: 15px;
}

.bonus-content>ul:not(.legal-override):not(.legal-highlight):not([style]):last-child,
.billet-description>ul:not(.legal-override):not([style]):last-child,
/* .bonus-content > ol:not( .legal-override ):last-child, */
.billet-description>ol:not(.legal-override):last-child {
  padding-bottom: 12px;
  padding-left: 0px;
}

.bonus-content>ul li,
.billet-description>ul li,
.bonus-content>ol li,
.billet-description>ol li {
  padding-left: calc(24px + 12px);
}

.bonus-content>ul li:not(:last-child),
.billet-description>ul li:not(:last-child),
.bonus-content>ol li:not(:last-child),
.billet-description>ol li:not(:last-child) {
  padding-bottom: 24px;
}

.tcb-post-content li>ul,
.tcb-post-content li>ol {
  padding-top: 24px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: calc(28px - (24px + 12px));
}

.tcb-post-content li>ul li:not(:last-child),
.tcb-post-content li>ol li:not(:last-child),
.bonus-content li>ul li:not(:last-child),
.bonus-content li>ol li:not(:last-child),
.billet-description li>ul li:not(:last-child),
.billet-description li>ol li:not(:last-child) {
  padding-bottom: 16px;
}

.tcb-post-content ul.legal-highlight li {
  padding-bottom: 0px;
}

.tcb-post-content li>br {
  display: block;
  margin-top: 8px;
}

/* Review Width and Height */

.tcb-post-content ol>li::before {
  width: 24px;
  height: 24px;
}

/* Review Background */

.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li:before {
  /* background-color: rgb(89, 151, 227); */
  background-color: var(--Primitives-blue-40);
}

/* Typography */

.tcb-post-content ul>li,
.tcb-post-content ol li,
.tcb-post-content ol:not(.menu__box)>li::before {
  font-family: var(--legal-font-primary);
  font-style: normal;
}

.tcb-post-content ul>li,
.tcb-post-content ol li,
.tcb-post-content ol:not(.menu__box)>li::before,
.tcb-post-content ol[style*="list-style-type: upper-alpha;"] li:before {
  color: var(--Base-base-09);
}

.tcb-post-content>ul:not(.legal-highlight):not(.legal-faq-description):not([style]) li,
.tcb-post-content>ol li,
.bonus-content>ul li,
.billet-description>ul li,
.bonus-content>ol li,
.billet-description>ol li {
  font-weight: 400;
}

/* .tcb-post-content ol li,
.tcb-post-content ol:not(.menu__box)>li::before {
  color: var(--Base-base-09);
} */

.tcb-post-content ul>li:before {
  font-family: var(--legal-font-icons);
  font-size: 24px;
  line-height: 24px;
}

.tcb-post-content ol:not(.menu__box)>li::before {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.tcb-post-content>ul:not(.legal-list-image):not(.legal-list-pros):not(.legal-list-cons)>li:before,
.tcb-post-content>ul:not(.legal-list-image):not(.legal-list-pros):not(.legal-list-cons) ul>li:before,
.tcb-post-content>ol ul:not(.legal-list-image):not(.legal-list-pros):not(.legal-list-cons) li:before,
.legal-billet ul:not(.legal-list-image) li:before,
.legal-bonus ul:not(.legal-list-image) li:before,
.billet ul:not(.legal-list-image) li:before,
.billet-mega-content>ul:not(.legal-list-image):not(.legal-list-pros):not(.legal-list-cons) li:before {
  content: '\F107';
}

.tcb-post-content>.legal-list-pros li:before,
.billet-mega-content>.legal-list-pros li:before {
  content: '\F10D';
}

.tcb-post-content>.legal-list-cons li:before,
.billet-mega-content>.legal-list-cons li:before {
  content: '\F10E';
  color: var(--Base-base-05);
}

/* .tcb-post-content ol[style*="list-style-type: upper-alpha;"] li:before {
  color: #ffffff;
} */

.tcb-post-content .legal-list-image li::before {
  font-family: var(--legal-font-icons-sport);
  font-style: normal;
}