/*review-pros-cons-NEW*/

@media screen and ( max-width: 767px ) {

	/* Pros Cons Display */

	.legal-pros-cons {
		flex-wrap: wrap;
	}

	/* Pros Cons Width */

	.legal-pros-cons .pros-cons-item {
		width: 100%;
	}
}

@media screen and ( min-width: 768px )
{
	/* Pros Cons Width */

	.legal-pros-cons .pros-cons-item {
		/* width: calc( 50% - 36px - 9px - 2px ); */
		flex-basis: 100%;
	}
}

/* Pros Cons Display */

.legal-pros-cons {
	display: flex;
	column-gap: 18px;
	row-gap: 30px;
}

/* Pros Cons Position */

.tcb-post-content > .legal-pros-cons {
	/* padding-bottom: 30px; */
	padding-bottom: 24px;
}

.legal-pros-cons .pros-cons-item {
	padding: 0px 18px 32px 18px;
}

.legal-pros-cons .pros-cons-title {
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	margin-top: 0px; /*Правило для H3*/
}

.legal-pros-cons ul {
	padding-left: 0px; /*Временное правило*/
}

.tcb-post-content .legal-pros-cons li {
	padding-left: calc(24px + 8px);
}

.tcb-post-content .legal-pros-cons li:not( :last-child ) {
	padding-bottom: 18px;
}

/* .legal-pros-cons li:before {
	position: absolute;
} */

/* Width and Height */

.legal-pros-cons {
	width: 100%;
}

/* Pros Cons Background */

.legal-pros-cons .pros-cons-item {
	/* border: 1px solid var(--Base-base-09); */
	/* border-radius: 21px; */
	border-radius: var( --Spacing-06 );
}

.legal-pros-cons .legal-pros {
	/* background-color: var(--Primitives-green-40); */
	background-color: var( --Primitives-green-20 );
	border: 1px solid var( --Status-Success );
}

.legal-pros-cons .legal-cons {
	/* background-color: var(--Base-base-01); */
	background-color: var( --Base-base-02 );
}

.legal-pros-cons .pros-cons-title {
	border-bottom: 1px solid var( --Base-base-09 );
}

/*.legal-pros-cons .legal-pros .pros-cons-title {
	background-image: url( '../../img/review/review-pros.svg' );
}

.legal-pros-cons .legal-cons .pros-cons-title {
	background-image: url( '../../img/review/review-cons.svg' );
} */

.legal-pros-cons li:before {
	/* background-position: center center;
	background-repeat: no-repeat;
	background-size: auto; */
	list-style-image: none;
}

/* .legal-pros-cons .legal-pros ul li:before {
	background-image: url( '../../img/review/review-pros-check.svg' );
}

.legal-pros-cons .legal-cons ul li:before {
	background-image: url( '../../img/review/review-cons-cross.svg' );
} */

/* Pros Cons Typography */

.legal-pros-cons .pros-cons-title
{
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.tcb-post-content .legal-pros-cons li
{
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

/* .legal-pros-cons li:before {
	font-family: var(--legal-font-icons);
	line-height: 24px;
	font-size: 24px;
} */

.legal-pros-cons .legal-pros ul li:before {
	content: "\F10D";
	color: var( --Base-base-09 );
}

.legal-pros-cons .legal-cons ul li:before {
	content: "\F10E";
	color: var(--Base-base-05 );
}

.legal-pros-cons .pros-cons-title
/* .tcb-post-content .legal-pros-cons li */
{
	font-family: var( --legal-font-primary );
	font-style: normal;
	color: var( --Base-base-09 );
}