@media screen and ( max-width: 767px )
{
	/* Display */

	#theme-bottom-section .legal-author .author-photo {
		width: var( --Spacing-12 );
		height: var( --Spacing-12 );
	}

	/* Position */
	
	#theme-bottom-section .legal-author {
		/* padding-top: 28px; */
		margin-top: var( --Spacing-09 );
	}	

	/* Typography */

	#theme-bottom-section .legal-author .author-name {
		/* font-size: 14px; */
		/* line-height: 20px; */
		font-weight: 500;
	}

	/* #theme-bottom-section .legal-author .author-duty {
		font-size: 13px;
		line-height: 17px;
	} */
}

@media screen and ( min-width: 768px )
{

	/* Display */

	#theme-bottom-section .legal-author .author-photo {
		/* width: 80px; */
		/* height: 80px; */
		width: 4rem;
		height: 4rem;
	}

	/* Position */

	#theme-bottom-section .legal-author {
		margin-top: var( --Spacing-12 );
		margin-right: auto;
		margin-left: auto;
		/* padding-top: 40px; */
	}

	/* Width and Height */

	#theme-bottom-section .legal-author {
		max-width: var( --base-width-desktop );
	}

	/* Typography */

	#theme-bottom-section .legal-author .author-name {
		font-weight: 600;
	}

	/* #theme-bottom-section .legal-author .author-duty {
		font-size: 14px;
		line-height: 20px;
	}*/
}

/* Display */

#theme-bottom-section .legal-author,
#theme-bottom-section .author-social-links {
	display: flex;
	/* column-gap: var( --Spacing-04 ); */
}

/* #theme-bottom-section .legal-author .author-photo::after {
	display: block;
} */

#theme-bottom-section .legal-author .author-data {
	display: flex;
	flex-direction: column;
}

#theme-bottom-section .legal-author .social-links::before {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* Position */

#theme-bottom-section .legal-author {
	/* padding-bottom: 24px; */
	margin-bottom: var(--Spacing-07);
}

#theme-bottom-section .legal-author .author-photo {
	position: relative;
}

#theme-bottom-section .legal-author .author-data {
	margin-left: var( --Spacing-04 );
	margin-right: var( --Spacing-09 );
}

#theme-bottom-section .author-social-links {
	margin-left: auto;
}

/* #theme-bottom-section .legal-author .author-photo::after {
	position: absolute;
	right: 0px;
	bottom: 0px;
} */

/* Width and Height */

#theme-bottom-section .legal-author .social-links::before {
	width: 2.75rem;
    height: 2.75rem;
}

/* #theme-bottom-section .legal-author .author-photo::after {
	width: 18px;
	height: 18px;
} */

/* Background */

/* #theme-bottom-section .legal-author
{
	border-bottom: 2px solid var(--Gray-200);
} */

#theme-bottom-section .legal-author .author-photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	border: 2px solid var(--Base-base-09);
	box-sizing: border-box;
}

#theme-bottom-section .legal-author .social-links::before {
	border-radius: 0.5rem;
  	border: 1px solid var( --Base-base-04 );
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	box-sizing: border-box;
}

/* #theme-bottom-section .legal-author .author-photo::after {
	background-image: url( '../../img/review/review-label-check.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
} */

/* Typography */

/* #theme-bottom-section .legal-author .author-photo::after {
	content: "";
} */

#theme-bottom-section .legal-author .author-name,
#theme-bottom-section .legal-author .author-duty {
	font-family: var( --legal-font-primary );
	font-style: normal;
}

#theme-bottom-section .legal-author .author-name {
	font-size: 1rem;
	line-height: 1.375rem;
	text-decoration: none;
	color: var( --Base-base-09 );
}

#theme-bottom-section .legal-author .author-duty {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var( --Base-base-05 );
}

#theme-bottom-section .legal-author .social-links {
	text-decoration: none;
}

#theme-bottom-section .legal-author .social-links:hover.social-links::before {
	color: var( --Base-purple_button_hover );
	border: 1px solid var( --Base-purple_button_hover );
	transition: 0.4s;
}

#theme-bottom-section .legal-author .social-links::before {
	font-family: var( --legal-font-icons );
  	font-size: 1.25rem;
  	line-height: 1.25rem;
  	color: var( --Base-base-04 );
}

#theme-bottom-section .social-links-twitter::before {
	content: '\F119';
}

#theme-bottom-section .social-links-facebook::before {
	content: '\F117';
}

#theme-bottom-section .social-links-linkedin::before {
	content: '\F118';
}