/* Review Display */

.tcb-post-content > p:first-child {
    display: none;
}

/* Review Position */

.tcb-post-content {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 30px !important;
}

.tcb-post-content h2 {
    /* padding-top: 30px !important; */
    padding-bottom: 20px !important;
}

.tcb-post-content table {
    margin: 0px auto;
    margin-bottom: 30px;
}

.tcb-post-content ul,
.tcb-post-content ol {
    padding-top: 0px !important;
    padding-bottom: 30px !important;
}

.tcb-post-content ul li:not( :last-child ),
.tcb-post-content ol li:not( :last-child ) {
    padding-bottom: 15px;
}

.tcb-post-content p {
    padding-bottom: 28px !important;
}

.tcb-post-content h3 {
    padding-bottom: 20px !important;
}

/* Review Width and Height */

.tcb-post-content table.legal-raw {
    width: 100%;
}

/* Review Background */

.tcb-post-content tr:nth-child( odd ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content tr:nth-child( even ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw tr:first-child {
    background-color: rgb(8, 5, 61);
}

.tcb-post-content table.legal-raw tr:nth-child( odd ):not( :first-child ) {
    background-color: transparent;
}

.tcb-post-content table.legal-raw tr:nth-child( even ) {
    background-color: rgb(239, 245, 251);
}

.tcb-post-content ul li {
    list-style-image: url( '../../img/review/review-ul.svg' );
}

.tcb-post-content ol {
    list-style: none;
    counter-reset: legal-counter;
}

.tcb-post-content ol li {
    counter-increment: legal-counter;
}

.tcb-post-content ol li::before {
    content: counter( legal-counter );
    
    display: inline-block;

    border: 2px solid rgb(89, 151, 227);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    
    font-weight: 600;
    line-height: 20px;
    color: rgb(89, 151, 227);
    text-align: center;

    margin-right: 10px;
}

/* Review Typography */

.tcb-post-content p,
.tcb-post-content ul,
.tcb-post-content ol,
.tcb-post-content table {
    font-family: "Source Sans Pro" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 28px;
    color: rgba(10, 10, 10, 0.85);
}

.tcb-post-content h3 {
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    color: rgb(12, 17, 21);
}

.tcb-post-content table.legal-raw tr:first-child {
    font-weight: 700;
    color: rgb(255, 255, 255);
}