@media screen and ( max-width: 959px )
{
    /* Width and Height */

    .tcb-post-content table
    {
        width: 100%;
    }

  /*   .tcb-post-content .legal-scroll-x, */
    .tcb-post-content .legal-scroll
    {
        overflow-x: scroll;
    }

    /* Position */

    /* .tcb-post-content .legal-scroll
    {
        padding-right: 8px;
    } */

    .tcb-post-content .legal-scroll table
    {
        margin-right: 8px;
    }

    .tcb-post-content .legal-scroll,
    .tcb-post-content .legal-scroll-x
    {
        padding-bottom: 8px;
    }

     /* Typography */

     .tcb-post-content table.legal-column-3 tr > * {
        font-size: 14px;
    }
}

@media screen and ( min-width: 960px )
{
    /* Display */

    .tcb-post-content table.legal-column,
    .tcb-post-content table.legal-column-3 {
        display: inline-table;
    }

    /* Position */

    .tcb-post-content table tr > *
    {
        padding-left: 16px;
        padding-right: 16px;
    }

    .tcb-post-content table.legal-column
    {
        margin-right: 8px;
    }

    .tcb-post-content table.legal-column + table.legal-column
    {
        margin-right: 0px;
        margin-left: 8px;
    }

    /* legal-column-3 */

    .tcb-post-content table.legal-column-3
    {
        /* border: 1px solid blueviolet; */
        margin-right: 9px;
    }

    .tcb-post-content table.legal-column-3 + table.legal-column-3
    {
        /* border: 1px solid cadetblue; */
        margin-right: 5px;
        margin-left: 5px;
    }

    .tcb-post-content table.legal-column-3 + table.legal-column-3 + table.legal-column-3
    {
        /* border: 1px solid darkorange; */
        margin-right: 0px;
        margin-left: 9px;
    }

    .tcb-post-content .legal-scroll
    {
        padding-right: 8px;
    }

    /* Width and Height */

    .tcb-post-content table.legal-raw:not( .legal-column ):not( .legal-column-3 )
    {
        width: 100%;
    }
    
    .tcb-post-content table.legal-column
    {
        width: calc( 50% - 10px );
    }

    .tcb-post-content table.legal-column-3
    {
        width: calc( 100% / 3 - 12px );
    }

    .tcb-post-content .legal-scroll:not( .legal-full-width ) {
        /* width: fit-content; */
        margin-left: auto;
        margin-right: auto;
    }

    /* Background */

    /* Typography */

    .tcb-post-content table.legal-column-3 tr > * {
        font-size: 12px;
    }
}

/* Display */

.tcb-post-content table
{
    caption-side: bottom;
    display: inline-table;
    overflow: hidden;
}

.tcb-post-content .legal-scroll
{
    max-height: 500px;
    overflow-y: scroll;
}

.tcb-post-content .legal-check td:last-child
{
    display: flex;
}

/* Position */

.tcb-post-content table tr > *
{
    padding: 24px 16px;
}

.billet-mega-content > table,
.tcb-post-content > table,
.tcb-post-content > .legal-scroll,
.tcb-post-content > .legal-scroll-x
{
    margin-top: 16px;
    vertical-align: top;
}

.billet-mega-content > table:not( :last-child ),
.billet-mega-content > .legal-scroll:not( :last-child ),
.billet-mega-content > .legal-scroll-x:not( :last-child ),
.tcb-post-content > table:not( :last-child ),
.tcb-post-content > .legal-scroll:not( :last-child ),
.tcb-post-content > .legal-scroll-x:not( :last-child )
{
    margin-bottom: 24px;
}

.tcb-post-content table caption
{
    padding-top: 12px;
}

.tcb-post-content .legal-check td:last-child::after
{
    margin-left: auto;
}

/* Width and Height */

.tcb-post-content table.legal-check {
    min-width: 300px;
}

.tcb-post-content .legal-scroll-x {
    overflow-x: auto;
}

.tcb-post-content .legal-scroll-x::-webkit-scrollbar,
.tcb-post-content .legal-scroll::-webkit-scrollbar {
    width: 12px;
}

/* Background */

.tcb-post-content table tr > *
{
    box-sizing: border-box;
}

.tcb-post-content table.legal-check td:last-child {
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.tcb-post-content table
{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 18px;
    border: 2px solid var( --Base-base-09, #0A0A0A );
    /* overflow: hidden; */
}

.tcb-post-content .legal-scroll-x,
.tcb-post-content .legal-scroll { /*стиль скролла для Mozila Firefox*/
    scrollbar-color: var(--Base-base-04) var(--Base-base-02);
    scrollbar-width: thin;
}

.tcb-post-content .legal-scroll-x::-webkit-scrollbar-track,
.tcb-post-content .legal-scroll::-webkit-scrollbar-track {
    background-color: var(--Base-base-02);
    border-radius: 60px;
}

.tcb-post-content .legal-scroll-x::-webkit-scrollbar-thumb,
.tcb-post-content .legal-scroll::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background-color: var(--Base-base-04);
    border: 3px solid var(--Base-base-02);
}

.tcb-post-content table > :first-child > tr:first-child
{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.tcb-post-content table > thead
{
    background-color: var( --Base-base-02, #F6F6F6 );
}

.tcb-post-content table > thead:first-of-type > tr:first-child > *
{
    border-bottom: 2px solid var( --Base-base-09, #0A0A0A ); 
}

.tcb-post-content table > tbody > tr > *
{
    border-bottom: 1px solid var( --Base-base-09, #0A0A0A ); 
}

/* .tcb-post-content table > tbody:last-of-type > tr > *[ rowspan ]:not([ rowspan="1" ]), */
.tcb-post-content table > tbody:last-of-type > tr:last-of-type > *
{
    border-bottom: unset;
}

.tcb-post-content .legal-check td:not(.legal-cross):last-child::after
{
    content: '\F10D';
}

.tcb-post-content .legal-check td.legal-cross:last-child::after
{
    content: '\F10E';
}

/* Typography */

/* .tcb-post-content table > thead:first-of-type > tr:first-child > * */
.tcb-post-content table > * > tr > *
{
    /* text-align: left; */
    vertical-align: top;
}

.tcb-post-content table tr > *
{
    color: var(--Base-base-09, #0A0A0A);
    font-family: var( --legal-font-primary );
    font-style: normal;
    line-height: 20px;
}

.tcb-post-content table:not( .legal-column-3 ) tr > * {
    font-size: 14px;
}

.tcb-post-content table th
{
    font-weight: 500; 
}

.tcb-post-content table td
{
    font-weight: 400; 
}

.tcb-post-content table caption
{
    color: var( --Base-base-05 );
    font-family: var( --legal-font-primary );
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.tcb-post-content .legal-check td:last-child::after
{
    font-family: var( --legal-font-icons ); 
    font-style: normal;
    font-weight: 400;
}

.tcb-post-content .legal-scroll,
.tcb-post-content .legal-scroll-x
{
    text-align: center;
}