@media screen and ( max-width: 767px )
{
    /* Group Position */

    .review-group {
        margin-bottom: 32px;
    }
}

@media screen and ( min-width: 768px )
{

    /* Group Width and Height */

    .review-group {
        max-width: var( --base-width-desktop );
    }

    /* Group Position */

    .review-group {
        margin-bottom: 48px;
    }
}

/* Group Display */

.review-group {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 46px; */
    /* justify-content: center; */
}

/* Group Width and Height */
#theme-content-section .tve_wp_shortcode:not( .legal-off-style ) {
    width: inherit;
}

/* Group Position */

/* nav.group {
    padding-bottom: 30px;
} */

.review-group {
    /* margin: 0px auto; */
    margin-right: auto;
    margin-left: auto;
}

.review-group .group-item {
    padding: 18px 16px;
}

/* Group Background */

/* .review-group {
    border-bottom: 0.8px solid rgb(199, 227, 255);
} */

.review-group span.group-item {
    border-bottom: 2px solid var(--Base-base-09);
}

.review-group a.group-item {
    border-bottom: 2px solid var(--Base-base-03); 
}

.review-group a.group-item:hover {
    border-bottom: 2px solid var(--Base-base-09); 
}

/* Group Typography */

.review-group .group-item {
   /*  font-family: "Source Sans Pro"; */
    font-family: var( --legal-font-primary );
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    color: var(--Base-base-09);
   /*  text-transform: uppercase; */
}

.review-group span.group-item {
    font-weight: 500;
}

.review-group a.group-item {
    font-weight: 400;
    text-decoration: none;
}

.review-group a.group-item:hover {
    /* font-weight: 500; */
    text-shadow: 0 0 0.5px var(--Base-base-09);
}

/* .review-group .group-item {
    color: rgb(59, 59, 59);
    color: var(--Base-base-09);
} */

/* .review-group a.group-item {
    color: rgb(89, 151, 227);
} */