@media screen and ( max-width: 767px )
{
	/* Bonus Display */	

	.legal-bonus .bonus-header {
		flex-wrap: wrap;
	}

	/* Width and Height */

	.legal-bonus .bonus-name,
	.legal-bonus .bonus-get,
	.legal-bonus.no-image .bonus-get,
	.legal-bonus:not(.no-image) .bonus-get-link {
		width: 100%;
	}

	/* Bonus Position */

	.legal-bonus .bonus-title {
		padding-bottom: 14px;
	}

	.legal-bonus .bonus-name {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.legal-bonus.legal-bonus:not(.no-image) .bonus-name:not( .legal-override ) {
		margin-bottom: 28px;
	}

	/* Background */

	.legal-bonus.no-image .bonus-name {
		border-radius: 20px 20px 0px 0px;
	}

	.legal-bonus.no-image .bonus-get {
		border-radius: 0px 0px 20px 20px;
	}

	/* Bonus Typography */

	.legal-bonus .bonus-title-link {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}
}

@media screen and ( min-width: 768px )
{
	/* Bonus Position */

	.legal-bonus .bonus-title {
		padding-right: 14px;
	}

	.legal-bonus .bonus-title-link, 
	.legal-bonus:not( .no-image ) .bonus-name {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.legal-bonus .bonus-name:not( .legal-override ) {
		padding-right: 20px;
	}

	.legal-bonus:not( .no-image ) .bonus-get {
		margin-left: auto;
	}

	/* Bonus Width and Height */

	.legal-bonus .bonus-title {
		width: var( --width-bonus-logo );
	}

	.legal-bonus:not(.no-image) .bonus-get-link {
		min-width: calc(148px - (18px * 2));
	}

	/* Background */
	
	.legal-bonus.no-image .bonus-name {
		border-radius: 20px 0px 0px 20px;
	}

	.legal-bonus.no-image .bonus-get {
		border-radius: 0px 20px 20px 0px;
	}

	/* Bonus Typography */

	.legal-bonus .bonus-title-link {
		font-size: 20px;
		font-weight: 600;
		line-height: 26px;
	}
}

/* Bonus Display */

.tcb-post-content > .legal-bonus,
.legal-billet-mega .billet-mega-content > .legal-bonus {
	display: flex;
	flex-wrap: wrap;
}

.legal-bonus .bonus-header {
	display: flex;
	align-items: center;
}

.legal-bonus .bonus-title {
	display: flex;
	column-gap: 14px;
	align-items: center;
}

.legal-bonus .bonus-get {
	display: flex;
	justify-content: center;
}

.legal-bonus .bonus-get-link {
	display: flex;
  	justify-content: center;
}

.legal-bonus .check-oops[href=""] {
    pointer-events: none;
}

.legal-bonus.no-image .bonus-name,
.legal-bonus.no-image .bonus-get {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Bonus Width and Height */

.legal-bonus .bonus-header {
	width: 100%;
}

.legal-bonus .bonus-title-image {
	--width-bonus-logo: 46px;
	width: var( --width-bonus-logo );
	height: 46px;
}

.legal-bonus.no-image .bonus-name,
.legal-bonus.no-image .bonus-get {
	height: 80px;
}

.legal-bonus .bonus-get-link {
	width: fit-content;
}

.legal-bonus .bonus-content {
	width: 100%;
}

/* Bonus Position */

.tcb-post-content > .legal-bonus,
.legal-billet-mega .billet-mega-content > .legal-bonus {
	margin-bottom: 18px;
}

.legal-bonus .bonus-name {
	margin-top: 0px;
}

.legal-bonus .bonus-get-link {
	padding: 10px 18px;
}

.legal-bonus .bonus-header {
	padding: 24px;
}

.legal-bonus .bonus-content {
	padding: 20px;
}

.legal-bonus .bonus-content > ol,
.legal-bonus .bonus-content > ul {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 0px
}

/* Bonus Background */

.tcb-post-content > .legal-bonus,
.legal-billet-mega .billet-mega-content > .legal-bonus {
	background-color: var(--Base-base-01);
	border: 1px solid var(--Base-base-09);
	border-radius: 18px;
}

.legal-bonus .bonus-title-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid var(--Base-base-09);
	border-radius: 12%;
	background-color: var(--Logo-background);
}

.legal-bonus.no-image .bonus-name,
.legal-bonus.no-image .bonus-get {
	background-color: #5997e3;
}

.legal-bonus.no-image .bonus-get-link {
	background-color: #ffffff;
}

.legal-bonus:not( .no-image ) .bonus-get-link {
	background-color: var(--Base-base-09);
}

.legal-bonus:not( .no-image ) .bonus-get-link:hover {
	background-color: var(--Base-base-07);
}

.legal-bonus.no-image .bonus-get-link {
	background-image: url( '../../img/review/review-get-b.svg' );
}

.legal-bonus .bonus-get-link {
	border-radius: 20px;
}

.legal-bonus.no-image .bonus-get-link {
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	border-radius: 20px;
}

.legal-bonus .bonus-content {
	border-top: 1px solid var(--Base-base-09);
}

.legal-bonus .bonus-content .legal-highlight {
	background-color: var(--Base-base-02) !important; /* временный important - перекрытие inline */
}

/* Bonus Typography */

.legal-bonus .bonus-content:not( .legal-default ) .legal-highlight {
	color: #000000;
}

.legal-bonus p.legal-bonus-content-item {
	text-align: center;
}

.legal-bonus .bonus-title-link,
.legal-bonus .bonus-name,
.legal-bonus .bonus-get-link {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-bonus .bonus-title-link,
.legal-bonus .bonus-name,
.legal-bonus .bonus-content.legal-default .legal-highlight,
.legal-bonus .bonus-content.legal-default .legal-highlight li {
	color: var(--Base-base-09);
}

.legal-bonus .bonus-title-link {
	text-decoration: none;
}

.legal-bonus .bonus-name {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.legal-bonus .bonus-get-link {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none;
	color: var(--Base-base-01);
}