.legal-header-basketball:before,
.icon-basketball-shots:before,
.icon-basketball:before {
    content: "\f108";
}
.legal-header-esports:before,
.icon-esports:before {
    content: "\f115";
}
.legal-header-football:before
.icon-beach-football:before,
.icon-soccer:before,
.icon-gaelic-football:before,
.icon-futsal:before,
.icon-futsal-4×4:before,
.icon-football:before {
    content: "\f119";
}
.legal-header-horceracing:before
.icon-trotting:before,
.icon-trotting-antepost:before,
.icon-horse-racing:before,
.icon-horse-racing-antepost:before,
.icon-horeseracing:before {
    content: "\f122";
}
.legal-header-mma:before,
.icon-ufc:before, 
.icon-ufc-mma:before,
.icon-mma:before {
    content: "\f128";
}
.legal-header-tennis:before,
.icon-tennis:before {
    content: "\f139";
}
.legal-header-deposite:before,
.icon-deposite:before {
    content: "\f107";
}
.legal-header-history:before,
.icon-history:before {
    content: "\f108";
}
.legal-header-features:before,
.icon-stars:before {
    content: "\f109";
}