@media screen and ( max-width: 767px )
{
	/* Billet Display */

	.legal-billet {
		flex-direction: column;
	}

	/* Billet Position */

	.legal-billet .billet-body {
		padding: 10px 15px;
	}

	/* Billet Width and Height */

	.legal-billet .billet-review {
		min-height: 150px;
	}

	.legal-billet .billet-get {
		min-height: 100px;
	}

	/* Billet Background */
	
	.legal-billet .billet-review {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	.legal-billet .billet-get {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

@media screen and ( min-width: 768px )
{
	/* Billet Position */

	.legal-billet:not( .no-height ) {
		min-height: 210px;
	}

	.legal-billet .billet-body {
		padding: 30px 0px;
	}

	/* Billet Width and Height */

	.legal-billet .billet-review {
		width: 22%;
	}

	.legal-billet .billet-body {
		width: calc( 56% - 60px );
	}

	.legal-billet .billet-get {
		width: 22%;
	}

	/* Billet Background */

	.legal-billet .billet-review {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.legal-billet .billet-get {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

/* Billet Display */

.legal-billet {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
}

.legal-billet .billet-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}

.legal-billet .billet-body {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.legal-billet .billet-get {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-billet .billet-get-link {
	display: block;
}

.legal-billet .check-oops[href=""] {
    pointer-events: none;
}

/* Billet Position */

.legal-billet {
	margin-bottom: 30px;
}

.legal-billet .billet-get-link {
	padding: 12px 55px 12px 22px;
}

.legal-billet h3:not( .legal-override ) {
    padding-bottom: 0px;
}

/* Billet Width and Height */

.legal-billet .billet-get-link {
	width: fit-content;
}

/* Billet Background */

.legal-billet {
	background-color: #ffffff;
	border: 0.8px solid rgba(198, 198, 198, 0.2);
	border-radius: 20px;
}

.legal-billet .billet-get {
	background-color: rgb(239, 245, 251);
}

.legal-billet .billet-get-link {
	background-image: url( '../../img/review/review-billet-get.svg' );
	background-position: right 25px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
}

/* Billet Typography */

.legal-billet .billet-review.legal-default .review-title-link {
	color: #ffffff;
}

.legal-billet .billet-review:not( .legal-default ) .review-title-link {
	color: #000000;
}

.legal-billet .review-title-link {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 27px;
	text-decoration: none;
	text-transform: uppercase;
}

.legal-billet .billet-title {
	font-family: "Source Sans Pro";
	font-size: 23px;
	font-style: normal;
	font-weight: 600;
	line-height: 27.6px;
}

.legal-billet .billet-description {
	color: rgba(10, 10, 10, 0.85);
	text-align: justify;
}

.legal-billet .billet-get-link {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 14.4px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
}