/* Breadcrumbs new CSS */
@media screen and ( max-width: 767px )
{
	/* Position */

	nav.breadcrumbs {
		padding: 0px 20px;
	}
}

@media screen and ( min-width: 768px )
{
    /* Width and Height */

    .legal-breadcrumbs {
        width: 1218px;
    }
}

/* Breadcrumbs Display */

.legal-breadcrumbs {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
}

.legal-breadcrumbs .legal-item-title {
    display: inline-block;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    display: flex;
    column-gap: 8px;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title span {  /*временный стиль для отключения надписи Match Center*/
    display: none;
}

/* Breadcrumbs Position */

.legal-breadcrumbs {
    padding: 5px 0px;
    margin: 0px auto;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    padding-left: 0;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child )::before {
    padding-right: 8px;
}

/* Width and Heigh */

nav.breadcrumbs {
	min-height: 40px;
}

/* Breadcrumbs Background */

nav.breadcrumbs {
    background-color: #fff;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    background-image: none;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title {
    cursor: pointer;
}

/* Breadcrumbs Typography */

.legal-breadcrumbs span.legal-item-title {
    color: #0A0A0A;
}

.legal-breadcrumbs a.legal-item-title {
    font-weight: 400;
}

.legal-breadcrumbs a.legal-item-title:hover {
    text-shadow: 0 0 0.35px #000, 0 0 0.35px #525252;
}

.legal-breadcrumbs .legal-item-title {
    font-family: "Golos Text";
    font-size: 13px;
    font-style: normal;
    line-height: 17px;
    color: #6C6C6C;
    text-decoration: none;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title::after {
    content: '\f109';
    color: #6C6C6C;
    line-height: 18px;
    font-size: 18px;
    font-family: var(--legal-font-icons);
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child:hover .legal-item-title::after {
    font-weight: 600;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child )::before {
    content: "/";
    color: #6C6C6C;
    padding-right: 8px;
}