/* Breadcrumbs new CSS */

@media screen and ( max-width: 767px )
{
	.legal-section-breadcrumbs .breadcrumbs
	{
		padding-left: 16px;
  		padding-right: 16px;
	}	
}

@media screen and ( min-width: 768px ) and ( max-width: 1279px )
{
	.legal-section-breadcrumbs .breadcrumbs
	{
		padding-left: 32px;
  		padding-right: 32px;
	}	
}


@media screen and ( min-width: 960px )
{
    /* Width and Height */

    .legal-breadcrumbs {
        max-width: var( --base-width-desktop );
    }
}

/* Breadcrumbs Display */

.legal-breadcrumbs {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.legal-breadcrumbs .legal-item-title {
    display: flex;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    display: flex;
    column-gap: 8px;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title span {
    display: none;
}

/* Breadcrumbs Position */

.legal-breadcrumbs {
    padding-top: 18px;
    padding-bottom: 14px;
    margin: 0px auto;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    padding-left: 0;
}

/* Width and Heigh */

.legal-section-breadcrumbs .breadcrumbs {
	min-height: 40px;
}

/* Breadcrumbs Background */

.legal-section-breadcrumbs .breadcrumbs {
    background-color: var(--Base-base-01);
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child ) {
    background-image: none;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title {
    cursor: pointer;
}

/* Breadcrumbs Typography */

.legal-breadcrumbs span.legal-item-title {
    color: var(--Base-base-09);
}

.legal-breadcrumbs a.legal-item-title:hover {
    text-shadow: 0 0 0.35px #000, 0 0 0.35px #525252;
}

.legal-breadcrumbs .legal-item-title {
    font-family: "Golos Text";
    font-size: 13px;
    font-style: normal;
    line-height: 17px;
    color: var(--Base-breadcrumbs);
    text-decoration: none;
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child .legal-item-title::after {
    content: '\f109';
    color: var(--Base-breadcrumbs);
    line-height: 18px;
    font-size: 18px;
    font-family: var(--legal-font-icons);
}

.legal-breadcrumbs .legal-breadcrumbs-item:first-child:hover .legal-item-title::after {
    font-weight: 600;
}

.legal-breadcrumbs .legal-breadcrumbs-item:not( :first-child )::before {
    content: "/";
    color: var(--Base-breadcrumbs);
    line-height: 17px;
}