.legal-forecast-list * {
	box-sizing: border-box;
	font-family: "Source Sans Pro";
}

.legal-forecast-list a {
	text-decoration: none;
}

.legal-forecast-list a:hover {
	text-decoration: none;
}

/* Position */

.legal-forecast-list {
	padding-bottom: 20px;
}

.legal-forecast-list .legal-forecast-block {
	padding: 10px;
}

@media (max-width: 768px) {
	.legal-forecast-list .legal-forecast-block {
		margin: 0 auto;
	}
}

.legal-forecast-list .block-prewiew {
	padding: 15px 10px;
}

/* Width and Height */


.legal-forecast-list .block-prewiew {
	width: 100%;
	height: 190px;
}

@media (max-width: 576px) {
	.legal-forecast-list .block-prewiew {
		height: 175px;
	}
}

/* Display */

.legal-forecast-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem; 
}

.legal-forecast-list .legal-forecast-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 1rem;
    flex-basis: 329px
}

@media (max-width: 768px) {
	.legal-forecast-list .legal-forecast-block {
		row-gap: 0.5rem;
	}
}

.legal-forecast-list .block-prewiew {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

/* Background */

.legal-forecast-list .legal-forecast-block {
	border-radius: 8px;
	overflow: hidden;
}

.legal-forecast-list .block-prewiew {
	border-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;
}

.legal-forecast-list .block-prewiew:hover {
    background-size: 110%;
    background-position: center;
}

.legal-forecast-list .legal-forecast-block:hover {
	background-color: #fff;
}

/* Typography */

.legal-forecast-list .block-prewiew span {
	cursor: pointer;
	text-align: left;
	color: #fff;
	line-height: 1.2;
	font-weight: 400;
	font-size: 16px;
}

.legal-forecast-list .legal-forecast-block-title {
	cursor: pointer;
	text-align: left;
	color: #0c1115;
	line-height: 1.2;
	font-weight: 400;
	font-size: 18px;
}