@media screen and ( max-width: 767px ) {

	/* Display */

	.legal-forecast-block {
		row-gap: 0.5rem;
	}

	/* Position */

	.legal-forecast-block {
		margin: 0 auto;
	}

	/* Width and Height */

	.legal-forecast-block .block-prewiew {
		height: 175px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Display */

	.legal-forecast-block {
		row-gap: 1rem;
	}

}

/* Display */

.legal-forecast-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem; 
}

.legal-forecast-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
    flex-basis: 349px;
	box-sizing: border-box;
}

.legal-forecast-block .block-prewiew {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

/* Position */

.legal-forecast-list {
	padding-bottom: 20px;
}

/* .legal-forecast-block {
	padding: 10px;
} */

/* @media (max-width: 768px) {
	.legal-forecast-block {
		margin: 0 auto;
	}
} */

.legal-forecast-block .block-prewiew {
	padding: 15px 10px;
}

/* Width and Height */


.legal-forecast-block .block-prewiew {
	width: 100%;
	height: 190px;
	box-sizing: border-box;
}

/* @media (max-width: 576px) {
	.legal-forecast-block .block-prewiew {
		height: 175px;
	}
} */

/* Background */

.legal-forecast-block {
	border-radius: 18px;
	border: 1px solid var( --Base-base-09 );
	overflow: hidden;
}

/* .legal-forecast-block:hover {
	background-color: #fff;
} */

.legal-forecast-block .block-prewiew {
	/* border-radius: 8px; */
	background-size: cover;
	background-repeat: no-repeat;
}

.legal-forecast-block .block-prewiew:hover {
    background-size: 110%;
    background-position: center;
}

/* Typography */

.legal-forecast-block .legal-forecast-date,
.legal-forecast-block .legal-forecast-block-title {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-forecast-block .legal-forecast-date {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: var( --Base-base-05 );
	cursor: default; 
}

/* .legal-forecast-list .container-for-title */
.legal-forecast-block .legal-forecast-block-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: var( --Base-base-09 );
	text-decoration: none;
	cursor: pointer;
}