/* Display */

.wp-polls .form_radio_btn label {
	display: inline-block;
}

/* Width and Height */

.wp-polls .form_radio_btn label {
	/* width: 250px; */
	width: calc( 274px - ( 18px * 2 ) - 2px );
}

/* Position */

.wp-polls {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 24px;
}

.wp-polls .form_radio_btn:first-child {
	margin-right: 8px;
}

.wp-polls .form_radio_btn:last-child {
	margin-left: 8px;
}

.wp-polls .form_radio_btn label {
/* 	margin: 0 0 20px 0; */
	padding: 10px 18px;
}

/* Background */

.wp-polls {
	border-radius: 24px;
  	background: var( --Base-base-02 );
}

.wp-polls .form_radio_btn label {
	border-radius: 60px;
	border: 1px solid var( --Base-base-09 );
}

/* Typography */

.wp-polls .wp-polls-form > p:last-of-type,
.wp-polls .form_radio_btn label,
.wp-polls .Button-my-style,
.wp-polls a {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.wp-polls .wp-polls-form > p:last-of-type,
.wp-polls .form_radio_btn label,
.wp-polls a {
	color: var( --Base-base-09 );
}

.wp-polls .wp-polls-form > p:last-of-type {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.wp-polls .form_radio_btn label,
.wp-polls .Button-my-style,
.wp-polls a {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.wp-polls .form_radio_btn label {
	text-align: center;
}

.wp-polls .Button-my-style {
	color: var( --Base-base-01 );
}

.wp-polls a {
	text-decoration: none;
}





.wp-polls .container-form_radio_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
/* .wp-polls .form_radio_btn {
	display: inline-block;
	margin: 0 25px;
} */
.wp-polls .form_radio_btn input[type=radio] {
	display: none;
}
.wp-polls .form_radio_btn label {
	display: inline-block;
	border-radius: 20px;
	text-align: center;
	border: 1px solid var( --Base-base-09 );
	width: 250px;
}
	
/* Checked */
.wp-polls .form_radio_btn input[type=radio]:checked + label {
	background: #5997e3;
	color: #fff;
}
	
/* Hover */
.wp-polls .form_radio_btn label:hover {
	color: #000;
	cursor: pointer;
}
	
/* Disabled */
.wp-polls .form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
.wp-polls .Button-my-style {
	border-radius: 20px;
	padding: 10px 20px;
	background-color: var( --Base-base-04 );
	border: #fff solid 2px;
	color: #fff;
	font-weight: 600;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}
.wp-polls .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 576px) {
	.wp-polls .container-form_radio_btn {
		flex-direction: column;
	}
}