@media screen and ( max-width: 767px ) {
    /* Display */

    .what-is-mc-wrapper .legal-tab-menu {
        flex-wrap: wrap;
        gap: 8px;
    }

    /* Position */

    .what-is-mc-wrapper {
        padding-top: 58px;
        padding-right: 16px;
        padding-bottom: 62px;
        padding-left: 16px;
    }

    .legal-what-is-mc h2 {
       padding-bottom: 40px !important;
    }

    .legal-what-is-mc .legal-tab-content {
        padding-top: 52px;
        padding-right: 28px;
        padding-bottom: 52px;
        padding-left: 28px;
    }
    
    .legal-tab-content.legal-content-1 {
        top: 9px;
    }
    
    .legal-tab-content.legal-content-2,
    .legal-tab-content.legal-content-3 {
        top: calc( 9px * 2 );
    }
    
    .legal-what-is-mc .legal-tab-content.legal-active {
        top: 0px;
    }
    
    .legal-what-is-mc .legal-tab-content.legal-active + .legal-tab-content.legal-content-0 {
        top: 9px;
    }

    /* Width and Height */

    .what-is-mc-wrapper {
        min-height: 820px;
    }

    .legal-what-is-mc .legal-tab-content {
        width: calc( 100% - ( 28px * 2 ) );
        height: 341px; 
    }

    /* Background */

    /* Typography */

    .legal-what-is-mc h2 {
        font-size: 44px !important;
        line-height: normal !important;
    }

    .legal-what-is-mc .legal-tab-content {
        font-size: 20px;
        line-height: 36px;
    }

}

@media screen and ( min-width: 768px ) {
    /* Display */

    .what-is-mc-wrapper .legal-tab-menu {
        justify-content: space-between;
        column-gap: 20px;
    }

    .legal-what-is-mc .legal-tab-content {
        align-items: center;
    }

    /* Position */

    .what-is-mc-wrapper {
        padding-top: 62px;
        padding-right: 32px;
        padding-bottom: 112px;
        padding-left: 32px;
    }

    .legal-what-is-mc h2 {
        padding-bottom: 64px !important;
     }

    .legal-what-is-mc .legal-tab-content {
        padding-right: 140px;
        padding-left: 140px;
    }

    .legal-tab-content.legal-content-0 {
        left: -13px;
    }
    
    .legal-tab-content.legal-content-1 {
        top: 13px;
    }
    
    .legal-tab-content.legal-content-2,
    .legal-tab-content.legal-content-3 {
        top: calc( 13px * 2 );
        left: 13px;
    }
    
    .legal-what-is-mc .legal-tab-content.legal-active {
        left: -13px;
        top: 0px;
    }
    
    .legal-what-is-mc .legal-tab-content.legal-active + .legal-tab-content.legal-content-0 {
        top: 13px;
        left: 0px;
    }

    /* Width and Height */

    .what-is-mc-wrapper {
        min-height: calc( 582px + 62px + 112px );
    }

    .what-is-mc-wrapper .legal-tab-title {
        min-width: calc( ( 100% / 4 ) - 15px - 48px - 2px );
    }

    .legal-what-is-mc .legal-tab-content {
        /* width: 1172px; */
        width: calc( 100% - ( 140px * 2 ) );
        height: 317px; 
    }

    /* Background */

    .legal-what-is-mc .legal-tab-content.legal-active:not( .legal-content-1 ) + .legal-tab-content.legal-content-0 {
        border-bottom: none;
    }

    /* Typography */

    .legal-what-is-mc h2 {
        font-size: 58px !important;
        line-height: normal !important;
    }

    .legal-what-is-mc .legal-tab-content {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

}

@media screen and ( max-width: 1217px ) {
     /* Position */

    .what-is-mc-wrapper {
        left: 50%;
        margin-left: -50vw;
    }

      /* Width and Height */

      .legal-what-is-mc {
        width: 100%;
    }
}

@media screen and ( min-width: 1218px ) {

    /* Position */

    .what-is-mc-wrapper {
        /* left: 78%; */
        /* margin-left: -50.4vw; */
        /* left: 80.1%; */
        left: 79.9%;
        margin-left: -50.9vw;
    }

    /* Width and Height */

    .legal-what-is-mc {
        width: var(--base-width-desktop);
    }
}

/* Animation */

@keyframes animWhatIsMC {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* @keyframes animWhatIsMC {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-250px);
	}
} */

/* Display */

.what-is-mc-wrapper {
    display: flex;
    justify-content: center;
}

.what-is-mc-wrapper .legal-tab-menu {
	display: flex;
}

.what-is-mc-wrapper .legal-tab-title {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.legal-what-is-mc .legal-tab-content {
    display: flex;
}

/* Position */

.what-is-mc-wrapper {
    position: relative;
  /*   left: calc(-50.4vw + 78%); */
}

.legal-what-is-mc > p {
    padding-top: 0px;
    padding-bottom: 18px;
    margin: 0px;
}

.legal-what-is-mc h2 {
    margin: 0px !important;
    padding-top: 0px !important;
 }

 .what-is-mc-wrapper .legal-tab-menu {
    padding-bottom: 48px;
 }

.what-is-mc-wrapper .legal-tab-title {
    padding-left: 24px;
    padding-right: 24px;
}

.legal-what-is-mc .legal-tab-display {
    position: relative;
}

.legal-what-is-mc .legal-tab-content {
    position: absolute;
}

.legal-what-is-mc .legal-tab-content.legal-active {
    /* animation: animWhatIsMC 0.8s ease 0s 1 normal forwards; */
    animation: animWhatIsMC 0.5s ease 0s 1 normal forwards;
}

.legal-what-is-mc .legal-tab-content.legal-active {
    z-index: 1;
}

/* Width and Height */

.what-is-mc-wrapper {
    /* width: 98.8vw; */
    width: 99vw;
    box-sizing: border-box;
}

/* .legal-what-is-mc {
    max-width: var(--base-width-desktop);
} */

.what-is-mc-wrapper .legal-tab-title {
    min-height: 44px;
   /*  min-width: calc( ( 100% / 4 ) - 15px - 48px - 2px ); */
}

/* Background */

.what-is-mc-wrapper {
    background-color: var( --Primitives-yellow-60 );
    border-top: 1px solid var( --Base-base-09 ); 
    border-bottom: 1px solid var( --Base-base-09 );
}

.legal-what-is-mc .legal-tab-title {
	border: 1px solid var( --Base-base-09 );
    border-radius: 60px;
}

.legal-what-is-mc .legal-tab-title:not(.legal-active) {
    background-color: var( --Base-base-01 );
}

.legal-what-is-mc .legal-tab-title:not(.legal-active) {
	background-color: var( --Base-base-01 );
}

.legal-what-is-mc .legal-tab-title.legal-active {
	background-color: var( --Base-base-09 );
}

.legal-what-is-mc .legal-tab-content {
    background-color: var( --Base-base-01 );
    border-radius: 32px;
    border: 1px solid var( --Base-base-09 ); 
}

/* Typography */

.legal-what-is-mc h2 {
    text-align: center;
}

.legal-what-is-mc .legal-tab-title,
.legal-what-is-mc .legal-tab-content {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-what-is-mc .legal-tab-title:hover {
    text-shadow: 0 0 0.35px var( --Base-base-09 );
}

.legal-what-is-mc .legal-tab-title:not(.legal-active) {
	color: var(--Base-base-09);
	transition: 0.5s;
}

.legal-what-is-mc .legal-tab-title.legal-active {
	color: var(--Base-base-01);
}

.legal-what-is-mc .legal-tab-content {
    font-weight: 400;
}