@media screen and ( max-width: 767px ) {

	/* Width and Height */

    .legal-tabs-mini {
        flex-basis: 100%;
    }

}

@media screen and ( min-width: 768px ) {
	
	/* Width and Height */

    .legal-tabs-mini {
        flex-basis: calc( 50% - (24px / 2) - 2px );
    }

}

/* Display */

.legal-tabs-mini-set {
    display: flex;
    /* align-items: stretch; */
    /* justify-content: center; */
	flex-wrap: wrap;
    gap: 24px;
}

.legal-tabs-mini {
    display: flex;
    flex-direction: column;
   /*  justify-content: space-between; */
    /* row-gap: 1rem; */
    /* flex-basis: 348px; */
}

.tabs-mini-title {
    display: flex;
	align-items: center;
    column-gap: 14px;
}

.legal-tabs-mini .tabs-mini-title::before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-mini-items {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.tabs-mini-item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
	column-gap: 16px;
}

.mini-item-logo .mini-item-logo-afillate {
    display: block;
}

.mini-item-button .mini-item-button-afillate {
    display: inline-block;
}

.tabs-mini-afillate {
    display: block;
}

/* Width and Height */

.legal-tabs-mini .tabs-mini-title::before {
    width: 46px;
    height: 46px; 
}

.legal-tabs-mini .mini-item-logo-afillate {
    width: 38px;
    height: 38px;
}

.legal-tabs-mini  .mini-item-button-afillate {
    min-width: calc( 118px - (18px * 2) );
}

/* Position */

.legal-tabs-mini-set {
	padding-bottom: 28px;
}

.legal-tabs-mini {
    /* padding: 20px; */
    padding-top: 24px;
    padding-bottom: 20px;
}

.legal-tabs-mini .tabs-mini-title,
.legal-tabs-mini .tabs-mini-description {
    /* padding-left: 40px; */
    padding-right: 24px;
    padding-left: 24px;
}

.legal-tabs-mini .tabs-mini-title {
    padding-bottom: 14px;
}

.tabs-mini-description {
	margin-bottom: auto;
}

.legal-tabs-mini .tabs-mini-items {
    margin-top: 24px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;
}

.legal-tabs-mini .mini-item-button {
    margin-left: auto;
}

.legal-tabs-mini .mini-item-button-afillate,
.legal-tabs-mini .tabs-mini-afillate {
    padding-right: 18px;
    padding-left: 18px;
}

.legal-tabs-mini .mini-item-button-afillate {
    /* padding: 0.5rem 1rem; */
    padding-top: 8px;
    padding-bottom: 8px;
}

.legal-tabs-mini .tabs-mini-afillate {
    /* padding: 0.5rem 1rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Background */

.legal-tabs-mini {
    background-color: var( --Base-base-01 );
  /*   box-shadow: 0 0 10px #e4e4e4; */
    border-radius: 18px;
    border: 1px solid var( --Base-base-09 ); 
    /* border: rgb(89 151 227 / 20%) 0.5px solid; */
}

.legal-tabs-mini .tabs-mini-title {
    /* background-position: left center;
    background-repeat: no-repeat;
    background-size: auto; */
    background-image: none !important; /*временное правило*/
}

.legal-tabs-mini .tabs-mini-title::before {
    border-radius: 12.848px;
    border: 1px solid var( --Base-base-09 ); 
}

.legal-tabs-mini .tabs-mini-items {
    border-top: 1px solid var( --Base-base-09 );
}

.legal-tabs-mini .mini-item-logo-afillate {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 1px solid var(--Base-base-09);
    background-color: var(--Logo-background);
}

.legal-tabs-mini .mini-item-button-afillate {
    /* background-color: #5997e3; */
    border-radius: 60px;
    background-color: var( --Base-base-09 );
    /* border: none; */
    /* border-radius: 3px; */
    /* cursor: pointer; */
}

.legal-tabs-mini .mini-item-button-afillate:hover {
    background-color: var( --Base-base-07 );
}

.legal-tabs-mini .tabs-mini-afillate {
    /* background-color: #eff5fb; */
    /* border: none; */
    /* border-radius: 3px; */
    border-radius: 60px;
    border: 1px solid var( --Base-base-09 );
    background: var( --Base-base-01 );
}

.legal-tabs-mini .tabs-mini-afillate:hover {
   /*  background-color: #5997e3;
    color: #fff;
    transition: 0.5s;
	text-decoration: none; */
    text-shadow: 0 0 0.6px var(--Base-base-09);
}

/* Typography */

.legal-tabs-mini .tabs-mini-title,
.legal-tabs-mini .tabs-mini-description,
.legal-tabs-mini .mini-item-profit, 
.legal-tabs-mini .mini-item-bonus,
.legal-tabs-mini .mini-item-button-afillate,
.legal-tabs-mini .tabs-mini-afillate {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-tabs-mini .tabs-mini-title,
.legal-tabs-mini .tabs-mini-description,
.legal-tabs-mini .mini-item-profit, 
.legal-tabs-mini .mini-item-bonus,
.legal-tabs-mini .tabs-mini-afillate {
    color: var( --Base-base-09 );
}

.legal-tabs-mini .mini-item-button-afillate {
    color: var( --Base-base-01 );
}

.legal-tabs-mini .mini-item-button-afillate[ href="" ] {
    pointer-events: none;
}

.legal-tabs-mini .tabs-mini-title {
    font-size: 20px;
    font-weight: 600;
	line-height: 26px;
}

.legal-tabs-mini .tabs-mini-title::before {
    font-family: var( --legal-font-icons );
    font-size: 32px;
    line-height: 32px;
}

.legal-tabs-mini.item-0 .tabs-mini-title::before {
    content: '\F113';
}

.legal-tabs-mini.item-1 .tabs-mini-title::before {
    content: '\F116';
}

.legal-tabs-mini.item-2 .tabs-mini-title::before {
    content: '\F115';
}

.legal-tabs-mini .tabs-mini-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* color: #3b3b3b */
}

.legal-tabs-mini .mini-item-profit, 
.legal-tabs-mini .mini-item-bonus {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.legal-tabs-mini  .mini-item-button-afillate,
.legal-tabs-mini .tabs-mini-afillate {
   /*  color: #fff; */
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}