@media screen and ( max-width: 767px ) {

     /* Width and Height */

    .home .legal-tabs .legal-tab-title {
        min-width: calc( ( 100% / 2 ) - 4px );
        box-sizing: border-box;
    }

       /* Tabs Position */

    .legal-tabs .legal-tab-menu {
        padding-bottom: 18px;
    }

    .home .legal-tabs .legal-tabs-title + .legal-tab-menu {
        margin-top: 28px;
    }

   /*  .home .legal-tabs .legal-tab-menu {
        padding-top: 12px;
    } */

    /* Tabs Typography */

    .home .legal-tabs .legal-tabs-title {
        font-size: 32px;
        line-height: 38px;
    }

}

@media screen and ( min-width: 768px ) {

    /* Tabs Display */

    .home .legal-tabs {
        display: flex;
        flex-wrap: wrap;
    }

    /* Width and Height */

    .home .legal-tabs .legal-tabs-title {
        width: fit-content;
    }

    .home .legal-tabs .legal-tab-menu {
        width: calc( ( 162px * 2 ) + 8px );
    }

    .home .legal-tabs .legal-tab-title {
        min-width: calc( 162px - ( 24px * 2 ) - 2px );
    }

    .legal-tabs .legal-tab-display {
        width: 100%;
    }

    /* Tabs Position */

    .legal-tabs .legal-tab-menu:not( .home .legal-tabs .legal-tab-menu ) {
        padding-bottom: 28px;
    }

    .home .legal-tabs .legal-tabs-title + .legal-tab-menu {
        margin-top: calc( 24px + ( ( 58px - 46px ) / 2 ) );
        margin-left: auto;
    }

/*     .home .legal-tabs .legal-tab-menu {
        position: absolute;
        top: calc( 0px - 24px - 28px - ( (46px - 28px) / 2 ) );
        right: 0px;
    } */

    /* Tabs Typography */

    .home .legal-tabs .legal-tabs-title {
        font-size: 48px;
        line-height: 58px;
    }

}

/* Tabs Display */

.legal-tabs .legal-tab-menu {
    display: flex;
    column-gap: 8px;
}

.legal-tabs .legal-tab-content:not( .legal-active ) {
    display: none;
}

.legal-tabs .legal-tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.legal-tabs .legal-tabs-link {
    display: block;
}

/* Width and Height */

.legal-tabs .legal-tab-title:not( .home .legal-tabs .legal-tab-title ) {
    min-height: 34px;
}

.home .legal-tabs .legal-tab-title {
    /* min-width: 114px; */
    height: 44px;
}

/* Tabs Position */

.legal-tabs .legal-tabs-title {
    margin-top: 24px;
}

.legal-tabs .legal-tab-menu:not( .home .legal-tabs .legal-tab-menu ) {
    padding-top: 18px;
}

.legal-tabs .legal-tab-display {
    padding-top: 20px;
    padding-bottom: 20px;
}

.legal-tabs .legal-tab-title[class*="tab-image-"] {
    padding-left: 44px;
}
.legal-tabs .legal-tab-title {
    padding-left: 24px;
    padding-right: 24px;
}

.legal-tabs .legal-tabs-description {
    margin-bottom: 15px;
}

.legal-tabs .legal-tabs-link {
    padding-left: 50px;
}

/* Tabs Background */

.legal-tabs .legal-tab-title {
    border: 1px solid var(--Base-base-09); 
}

.legal-tabs .legal-tab-title:not( .home .legal-tabs .legal-tab-title ) {
    border-radius: 20px;
}

.home .legal-tabs .legal-tab-title {
    border-radius: 60px;
}

.legal-tabs .legal-tab-title:not( .legal-active ) {
    background-color: var(--Base-base-01);
}

.legal-tabs .legal-tab-title.legal-active {
    background-color: var(--Base-base-09);
}

.legal-tabs .legal-tab-title[class*="tab-image-"] {
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-tabs .legal-tabs-link {
    background-image: url( '../../img/compilation/compilation-all.svg' );
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: auto;
}

/* Tabs Typography */

.legal-tabs .legal-tabs-title,
.legal-tabs .legal-tab-title,
.legal-tabs .legal-tabs-description,
.legal-tabs .legal-tabs-link {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-tabs .legal-tabs-title,
.legal-tabs .legal-tabs-description {
    color: var(--Base-base-09);
}

.home .legal-tabs .legal-tabs-title {
    font-weight: 700;
}

.legal-tabs .legal-tab-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.legal-tabs .legal-tab-title:not( .legal-active ) {
    color: var(--Base-base-09);
    transition: 0.5s;
}

.legal-tabs .legal-tab-title.legal-active {
    color: var(--Base-base-01);
}

.legal-tabs .legal-tabs-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.legal-tabs .legal-tabs-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    color: rgb(89, 151, 227);
}