/* Tabs Display */

.legal-tabs .legal-tab-menu {
    display: flex;
    column-gap: 20px;
}

.legal-tabs .legal-tab-content:not( .legal-active ) {
    display: none;
}

.legal-tabs .legal-tab-title {
    cursor: pointer;
}

.legal-tabs .legal-tabs-link {
    display: block;
}

/* Tabs Position */

.legal-tabs .legal-tabs-title {
    margin-top: 20px;
}

.legal-tabs .legal-tab-menu {
    padding: 20px 0px;
}

.legal-tabs .legal-tab-display {
    padding-top: 20px;
    padding-bottom: 20px;
}

.legal-tabs .legal-tab-title[class*="tab-image-"] {
    padding-left: 44px;
}
.legal-tabs .legal-tab-title {
    padding-left: 20px;
    padding-right: 20px;
}

.legal-tabs .legal-tabs-description {
    margin-bottom: 15px;
}

.legal-tabs .legal-tabs-link {
    padding-left: 50px;
}

/* Tabs Background */

.legal-tabs .legal-tab-title {
    background-color: #FFFFFF;
}

.legal-tabs .legal-tab-title.legal-active {
    border: 1px solid #007bff;
    color: #fff;
    background: #007bff;
}

.legal-tabs .legal-tab-title:not( .legal-active ) {
    border: 1px solid transparent;
}

.legal-tabs .legal-tab-title[class*="tab-image-"] {
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-tabs .legal-tab-title {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px #e4e4e4;
}

.legal-tabs .legal-tabs-link {
    background-image: url( '../../img/compilation/compilation-all.svg' );
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-tabs .legal-tab-menu {
    border-bottom: 1px solid #e8e8e8;
}

/* Tabs Typography */

.legal-tabs .legal-tabs-title {
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: rgb(12, 17, 21);
}

.legal-tabs .legal-tab-title {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: rgb(100, 99, 99);
}

.legal-tabs .legal-tabs-description {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgb(59, 59, 59);
}

.legal-tabs .legal-tabs-link {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    color: rgb(89, 151, 227);
}