.page404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 50px;
	padding-bottom: 0;
	row-gap: 1.5rem;
}

.page404 .svg-before-text-block {
	display: flex;
	align-items: center;
}

.page404 .svg-oops-smile {
	background-image: url('../../img/notfound/notfound.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 55px;
	height: 55px;
	margin-right: 20px;
	color: #000;
}

.page404 h1 {
	size: 32px;
	;
	font-weight: 700;
	color: #0A0A0A;
}

@media (max-width: 576px) {
	.page404 h1 {
		size: 24px;
	}
}

.page404 .lang-current {
	pointer-events: none;
}

.page404 .menu-avaible-404 {
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	padding-bottom: 100px;
	row-gap: 0.7rem;
	column-gap: 0.77rem;
}

.page404 .menu-avaible-404 .lang-item {
	width: 170px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-family: "source sans pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 650;
	line-height: 28px;
	color: #3B3B3B;
	text-transform: uppercase;
	text-decoration: none;
}

.page404 .menu-avaible-404 .lang-item:hover {
	background-color: #5997E3;
	transition: 0.5s;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px #E4E4E4;
}

.page404 .menu-avaible-404 .lang-item .lang-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: #B8B8B8 solid 1.5px;
}

@media screen and (max-width: 1079px) {
	.page404 .menu-avaible-404 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.page404 {
		padding: 50px 20px 0 20px;
	}

	.page404 .svg-before-text-block {
		padding: 0 10px;
	}

	.page404 p {
		padding: 0 10px;
	}

	.page404 .menu-avaible-404 .lang-item {
		width: 158px;
		font-weight: 600;
	}
}