@media screen and ( max-width: 767px ) {

	/* Width and Height */

	.legal-notfound .svg-oops-notfound {
		width: 343px;
		height: 124px;
	}

	.legal-notfound .menu-item {
		min-width: calc( 109px - (18px * 2) - 2px );
	}

	/* Position */

	.legal-notfound {
		padding-right: 16px;
		padding-bottom: calc( 40px + 32px );
		padding-left: 16px;
	}

	.legal-notfound .notfound-title,
	.legal-notfound .menu-notfound {
		padding-top: 28px;
	}

	.legal-notfound .menu-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	/* .legal-notfound {
		padding: 50px 20px 0 20px;
	} */

	/* .legal-notfound .svg-before-text-block {
		padding: 0 10px;
	} */

	/* .legal-notfound .notfound-description {
		padding: 0 10px;
	} */

	/* Typography */

	.legal-notfound .notfound-title {
		size: 24px;
	}

	.legal-notfound .menu-notfound .menu-item {
		font-weight: 600;
	}
}

/* @media screen and (max-width: 1079px) {

	Width and Height

	.legal-notfound .menu-notfound {
		width: 100%;
	}
} */

@media screen and (min-width: 768px) and (max-width: 1279px) {

	/* Position */

	.legal-notfound {
		padding-left: 32px;
    	padding-right: 32px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Width and Height */

	.legal-notfound .svg-oops-notfound {
		width: 649px;
		height: 234px;
	}

	.legal-notfound .menu-notfound .menu-item {
		min-width: calc( 137px - (18px * 2) - 2px );
		min-height: calc( 50px - (10px * 2) - 2px );
	}

	/* Position */

	.legal-notfound {
		padding-bottom: calc( 40px + 64px );
	}

	.legal-notfound .menu-notfound {
		padding-top: 58px;
	}

	.legal-notfound .menu-item {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/* Typography */

	.legal-notfound .notfound-title {
		size: 32px;
	}
}

/* Display */

.legal-notfound {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* row-gap: 1.5rem; */
}

.legal-notfound .svg-before-text-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.legal-notfound .menu-notfound {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* row-gap: 0.7rem; */
	column-gap: 8px;
	row-gap: 8px;
}

.legal-notfound .menu-notfound .menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Width and Height */

.legal-notfound .svg-oops-notfound {
	flex-basis: 100%;
}

/* .legal-notfound .menu-notfound {
	width: 900px;
} */

/* .legal-notfound .menu-notfound .menu-item .lang-title {
	width: fit-content;
} */

/* .legal-notfound .menu-notfound .menu-item .lang-image {
	height: 20px;
	width: 20px;
} */

/* Position */

.legal-notfound {
	padding-top: 50px;
}

.legal-notfound .notfound-title,
.legal-notfound .notfound-description {
	margin-top: 0px;
	margin-bottom: 0px;
}

.legal-notfound .notfound-description {
	padding-top: 24px;
}

.legal-notfound .menu-notfound {
/* 	margin: 0 auto; */
	padding-bottom: 100px;
}

.legal-notfound .menu-item {
	padding-right: 18px;
	padding-left: 18px;
}

/* Background */

.legal-notfound {
	background-color: var(--Base-base-02);
}

.legal-notfound .svg-oops-notfound {
	background-image: url('../../img/notfound/notfound-new.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.legal-notfound .menu-item {
	border-radius: 60px;
	border: 1px solid var(--Base-base-09);
}

/* .legal-notfound .menu-notfound .menu-item:hover {
	background-color: #5997E3;
	border-radius: 10px;
	box-shadow: 0 0 10px #E4E4E4;
} */

/* .legal-notfound .menu-notfound .menu-item .lang-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	border: #B8B8B8 solid 1.5px;
} */

/* Typography */

.legal-notfound .notfound-title,
.legal-notfound .notfound-description,
.legal-notfound .menu-item {
	font-family: var( --legal-font-primary );
    font-style: normal;
	color: var(--Base-base-09);
}

.legal-notfound .notfound-title {
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
}

.legal-notfound .menu-item {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	/* text-transform: uppercase; */
	text-decoration: none;
}

.legal-notfound .menu-item:hover {
	text-shadow: 0 0 0.5px var(--Base-base-09);
}