.container__svg-before-text-block.page404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 50px;
	padding-bottom: 0;
	row-gap: 1.5rem;
}

.container__svg-before-text-block.page404 .svg-before-text-block {
	display: flex;
	align-items: center;
}

.svg-oops-smile {
	background-image: url( '../../img/notfound/notfound.svg' );
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 55px;
	height: 55px;
	margin-right: 20px;
	color: #000;
}

.container__svg-before-text-block.page404 h1 {
	size: 32px;;
	font-weight: 700;
	color: #0A0A0A;
}

@media (max-width: 576px) {
	.container__svg-before-text-block.page404 h1 {
		size: 24px;
	}
}

.lang-current {
	pointer-events: none;
}

.menu-avaible-404 {
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 100px;
	row-gap: 0.7rem;
	column-gap: 0.77rem;
}

.menu-avaible-404 .lang-item {
	width: 170px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-family: "source sans pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 650;
	line-height: 28px;
	color: #3b3b3b;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 10px;
}

.menu-avaible-404 .lang-item:hover {
	background-color: #5997e3;
	transition: 0.5s;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px #e4e4e4;
}

.menu-avaible-404 .lang-item .lang-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: #b8b8b8 solid 1.5px;
}

@media screen and (max-width: 1079px) {
	.menu-avaible-404 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.menu-avaible-404 .lang-item {
		width: 158px;
		font-weight: 600;
	}
}