/* Display */

.legal-wiki-main .legal-wiki-featured {
	display: flex;
  	justify-content: center;
}

/* Position */

.legal-wiki-main .legal-wiki-featured {
	padding-bottom: 20px;
}

/* Background */

.legal-wiki-main .wiki-featured-image {
	border-radius: 10px;
}