/* Billet Spoiler Display */

.billet-spoiler,
.billet-spoiler .spoiler-stats,
.billet-spoiler .spoiler-description,
.billet-spoiler .spoiler-progress {
    display: flex;
}

.billet-spoiler,
.billet-spoiler .spoiler-stats,
.billet-spoiler .spoiler-progress {
    flex-wrap: wrap;
}

.billet-spoiler .spoiler-stats {
    justify-content: space-around;
}

.billet-spoiler .spoiler-description {
    align-items: center;
}

.billet-spoiler .spoiler-progress {
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
}

/* Billet Spoiler Position */

.billet-spoiler {
    margin-top: 15px;
}

.billet-spoiler .spoiler-stats {
    padding: 10px 0px;
}

.billet-spoiler .spoiler-description-wrapper {
    padding: 20px;
}

.billet-spoiler .spoiler-progress {
    padding: 20px 0px;
}

.billet-spoiler .spoiler-review {
    padding: 10px;
}

/* Billet Spoiler Width */

.billet-spoiler .spoiler-description {
    width: 25%;
}

.billet-spoiler .spoiler-stats,
.billet-spoiler .spoiler-review {
    width: 100%;
}

.billet-spoiler .spoiler-progress {
    width: 75%;
}

.billet-spoiler .progress-item {
    width: calc(50% - 30px);
}

/* Billet Spoiler Background */

.billet-spoiler {
    background-color: #EFF5FB;
    border-radius: 20px;
}

.billet-spoiler .spoiler-description {
    background-color: #F6F6F6;
}

.billet-spoiler .spoiler-progress {
    background-color: #FFFFFF;
}

.billet-spoiler .item-value-wrapper {
    background-color: #F6F6F6;
    box-shadow: 0 0 2px #e4e4e4;
    border-radius: 20px;
}

.billet-spoiler .item-value {
    background-color: #5997e3;
    border-radius: 20px;
}

/* Billet Spoiler Typography */

.billet-spoiler .stat-title,
.billet-spoiler .stat-description {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
    color: rgba(10, 10, 10, 0.85);
}

.billet-spoiler .stat-title {
    font-weight: 700;
}

.billet-spoiler .stat-description {
    font-weight: 400;
}

.billet-spoiler .spoiler-description {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: rgba(10, 10, 10, 0.85);
}

.billet-spoiler .item-title,
.billet-spoiler .item-value {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.billet-spoiler .item-title {
    color: rgba(10, 10, 10, 0.85);
}

.billet-spoiler .item-value {
    text-align: center;
    color: rgb(255, 255, 255);
}

.billet-spoiler .legal-review {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    color: #000000;
}