/* Billet Container */

.billet {
    display: flex;
    flex-wrap: wrap;
}

.billet-left,
.billet-center,
.billet-right {
    height: 168px;
}

.billet-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 22%;
}

.billet-left a {
    display: block;
    width: fit-content;
}

.billet-center {
    display: flex;
    flex-wrap: wrap;
    width: 54%;
}

.billet-right {
    width: 24%;
}

.billet-spoiler,
.billet-footer {
    width: 100%;
}

/* Billet Center Title */

.billet-title {
    width: 100%;
    display: flex;
}

.billet-center h3 {
    margin: 0px;
}

/* Billet Center List */

.billet-list-part.legal-row {
    width: 100%;
    display: flex;
}

.billet-list-part.legal-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Billet Typography */
.billet-center h3 {
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 23px;
    font-style: normal;
    line-height: 1.2em;
    text-decoration: rgb( 32, 65, 71 );
}