/* Billet Spoiler Display */

.billet-spoiler,
.billet-spoiler .spoiler-stats,
.billet-spoiler .spoiler-progress {
    display: flex;
    flex-wrap: wrap;
}

.billet-spoiler {
    margin-top: 15px;
}

.billet-spoiler .spoiler-stats {
    padding: 10px 0px;
    justify-content: space-around;
}

.billet-spoiler .spoiler-description {
    width: 25%;
}

.billet-spoiler .spoiler-description {
    padding: 20px;
}

.billet-spoiler .spoiler-progress {
    width: 75%;
}

.billet-spoiler .spoiler-stats,
.billet-spoiler .spoiler-review {
    width: 100%;
}

/* .billet-spoiler .spoiler-stat {
    width: 25%;
} */

.billet-spoiler .spoiler-progress .progress-item {
    width: 50%;
}

/* Billet Spoiler Color */

.billet-spoiler {
    background-color: #EFF5FB;
    border-radius: 20px;
}

.billet-spoiler .spoiler-description {
    background-color: #F6F6F6;
}

.billet-spoiler .spoiler-progress {
    background-color: #FFFFFF;
}