.billet {
    display: flex;
    flex-wrap: wrap;
}

.billet-left {
    width: 22%;
}
.billet-center {
    width: 54%;
}
.billet-right {
    width: 24%;
}

.billet-spoiler,
.billet-footer {
    width: 100%;
}