#wp-admin-bar-WPML_ALS .ab-sub-wrapper {
	width: 500px;
}

#wp-admin-bar-WPML_ALS #wp-admin-bar-WPML_ALS-default {
	display: flex;
  	flex-wrap: wrap;
}

/* Appearence > Menus satrt */

#nav-menu-header .major-publishing-actions
{
	flex-wrap: wrap;
}

#nav-menu-header #menu-name
{
	margin-left: 0px !important;
  	margin-right: auto;
}

#nav-menu-header #icl_menu_translation_of
{
	margin-left: 0px !important;
}

#nav-menu-header #icl_menu_language
{
	margin-left: 0px !important;
}