#tinymce .mc-icons-sports::before,
#tinymce .mc-icons-sports::after
{
	font-family: var(--legal-font-icons-sport);
	font-style: normal;
}

#tinymce .mc-icons-sports
{
	background-color: lightgoldenrodyellow;
}

#tinymce .mc-icons-sports::before,
#tinymce .mc-icons-sports::after
{
	background-color: bisque;
}

#tinymce .icon-position-after
{
	display: inline-flex;
	flex-direction: row-reverse;
	/* justify-content: flex-end; */
}

#tinymce .mc-list-tile-icons li {
	flex-basis: calc( 100% / 4 - ( ( 0.5rem * 3 ) / 4 ) );
	box-sizing: border-box;
}

/* mc-icons-country */

#tinymce .mc-icons-country:before
{
	content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

/* mc-icons-payment */

#tinymce .mc-icons-payment:before
{
	content: "";
    display: inline-block;
    width: 34px;
    height: 24px;
    background-size: contain;
}