/* mc-icons */

.mce-container .mc-icons
{
	font-family: var(--legal-font-icons);
	font-style: normal;
}

/* mc-icons-sports */

.mce-container .mc-icons-sports
{
	font-family: var(--legal-font-icons-sport);
	font-style: normal;
}

/* mc-icons-country */

.mce-container .mc-icons-country:before
{
	content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
}

/* mc-icons-payment */

.mce-container .mc-icons-payment:before
{
	content: "";
    display: inline-block;
    width: 34px;
    height: 24px;
    background-size: contain;
}

/* iconpicker */

.mce-container .mc-icon-picker h2,
.mce-container .mc-icon-picker h3 {
	margin-bottom: 14px;
}

.mce-container .mc-icon-picker h3 {
	margin-top: 14px;
}

.mce-container .mc-icon-picker .icon-picker-categories {
	display: flex;
  	column-gap: 24px;
	row-gap: 8px;
  	flex-wrap: wrap;
	margin-left: 0px;
}

.mce-container .mc-icon-picker .picker-category-items
{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.mce-container .mc-icon-picker .picker-category-items .category-item
{
	/* flex-basis: calc( 25% - 10px ); */
	flex-basis: calc( 20% - 20px );
	border-radius: 0.5rem;
	border: 1px solid var( --Base-base-04 );
	padding: 4px;
	text-decoration: none;
	color: #939393;
}

.mce-container .mc-icon-picker .picker-category-items .category-item:hover {
	background-color: lightgoldenrodyellow;
}

.mce-container .mc-icon-picker .picker-category-items .category-item i {
	color: #000;
}

.mce-container .mc-icon-picker-wrapper
{
	height: 736px;
  	overflow-y: scroll;
}