/* @font-face {
    font-family: "mc-icons";
    src: url("./mc-icons.woff2?97381a56e81544e763524d71ecfc67d2") format("woff2");
} */

/* i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: mc-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.icon-right:before {
    content: "\f102";
}
.icon-header-arrow-fill-down:before {
    content: "\f103";
}
.icon-header-arrow-left:before {
    content: "\f104";
}
.icon-header-arrow-right:before {
    content: "\f105";
}
.icon-down:before {
    content: "\f106";
}
.icon-home:before {
    content: "\f109";
}
.icon-burger:before {
    content: "\f10a";
}
.icon-close-stroke:before {
    content: "\f10b";
}
.icon-up:before {
    content: "\f10c";
}
.icon-check:before {
    content: "\f10d";
}
.icon-cross:before {
    content: "\f10e";
}
.icon-bullet:before {
    content: "\f107";
}
.icon-present:before {
    content: "\f108";
}
.icon-star:before {
    content: "\f10f";
}
.icon-star-small:before {
    content: "\f110";
}
.icon-android:before {
    content: "\f111";
}
.icon-ios:before {
    content: "\f112";
}
.icon-mobile:before {
    content: "\f113";
}
.icon-question:before {
    content: "\f114";
}
.icon-esport:before {
    content: "\f115";
}
.icon-persent:before {
    content: "\f116";
}
.icon-facebook:before {
    content: "\f117";
}
.icon-linkedIn:before {
    content: "\f118";
}
.icon-twitter:before {
    content: "\f119";
}
.icon-deposite:before {
    content: "\f101";
}
.icon-flag:before {
    content: "\f11a";
}
.icon-mobile-white:before {
    content: "\f11b";
}
.icon-reliability:before {
    content: "\f11c";
}
