@media screen and ( max-width: 959px )
{
	/* Position */

	.legal-section-content {
		/* padding: 16px; */
		padding-right: 16px;
		padding-bottom: 32px;
		padding-left: 16px;
	}
}

@media screen and ( min-width: 960px )
{
	/* Display */

	.legal-section-content
	{
		gap: 48px;
	}

	/* Position */

	.legal-section-content
	{
		margin: 0px auto;
		padding-bottom: 64px;
		
	}

	/* Width and Height */

	.legal-section-content
	{
		width: var( --base-width-desktop );
	}
}

/* Position */

body:not( #legal-override ) {
	margin: 0px;
}

/* Background */

body:not( #legal-override )
{
	background-color: var( --Base-base-01, #FFF );
}