/* For separate Thrive Style */

/* Display */

body
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.legal-section-content
{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Position */

.tcb-post-content .emoji {
	margin-right: 5px;
}

/* Width and Height */

.legal-section-content {
	min-height: 200px;
}

.tcb-post-content .emoji {
	width: 14px;
	max-height: 14px;
}