@media screen and ( max-width: 767px )
{
	/* Position */

	.legal-section-content {
		padding: 20px;
	}
}

@media screen and ( min-width: 768px ) {
	/* Position */

	.legal-section-content {
		margin: 0px auto;
		padding-bottom: 30px;
	}

	/* Width and Height */

	.legal-section-content {
		width: 1080px;
	}
}

/* Position */

body:not( #legal-override ) {
	margin: 0px;
}

/* Background */

body:not( #legal-override ) {
	background-color: rgb(250, 252, 254);
}