@media screen and ( max-width: 767px )
{
	/* Position */

	:not( .error404 ):not( .error410 ) > .legal-section-content {
		/* padding: 16px; */
		padding-right: 16px;
		padding-bottom: 32px;
		padding-left: 16px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	:not( .error404 ):not( .error410 ) > .legal-section-content {
		padding-left: 32px;
    	padding-right: 32px;
	}
}

@media screen and ( min-width: 768px )
{
	/* Display */

	.legal-section-content
	{
		gap: 48px;
	}

	/* Position */

	.legal-section-content
	{
		margin: 0px auto;
		
	}

	:not( .error404 ):not( .error410 ) > .legal-section-content
	{
		padding-bottom: 64px;
		
	}

	/* Width and Height */

	:not( .error404 ):not( .error410 ) > .legal-section-content
	{
		max-width: var( --base-width-desktop );
	} 
}

/* Position */

body:not( #legal-override ) {
	margin: 0px;
}

/* Background */

body:not( #legal-override )
{
	background-color: var( --Base-base-01, #FFF );
}