@media screen and ( max-width: 767px ) {

	/* Display */

	.legal-compilation-bonus {
		flex-wrap: wrap;
	}

	/* Width and Height */

	.legal-compilation-bonus .legal-compilation-logo,
	.legal-compilation-bonus .legal-compilation-peculiarity {
		width: 100%;
   }

	.legal-compilation-bonus .legal-compilation-review {
		width: calc( 50% - 4px - 2px );
	}

	.legal-compilation-bonus .legal-compilation-review + .legal-compilation-button {
		width: calc( 50% - 4px - 2px - (17px * 2) );
	}

	.legal-compilation-bonus .legal-compilation-button:not( .legal-compilation-bonus .legal-compilation-review + .legal-compilation-button ) {
		width: 100%;
	}

   /* Position */

   .legal-compilation-bonus .legal-compilation-logo {
		padding-bottom: 14px;
	}

	.legal-compilation-bonus .legal-compilation-peculiarity {
		padding-top: 4px;
		padding-bottom: 4px;
		margin-bottom: 28px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Display */

	/* .legal-compilation-bonus {
		justify-content: space-between;
	} */

	/* Width and Height */

	.legal-compilation-bonus .legal-compilation-button {
		min-width: calc(148px - (18px * 2));
	}

	/* Position */

	.legal-compilation-bonus .legal-compilation-logo {
		padding-right: 14px;
	}

	.legal-compilation-bonus .legal-compilation-peculiarity {
		padding-top: 8px;
		padding-right: 20px;
		padding-bottom: 8px;
		margin-right: auto;
	}
}

/* Display */

.legal-compilation-bonus {
	display: flex;
}

/* .legal-compilation-bonus .legal-compilation-logo {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
} */

.legal-compilation-bonus .legal-logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.legal-compilation-bonus .legal-compilation-peculiarity {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
}

.legal-compilation-bonus .compilation-review-link {
	display: block;
}

.legal-compilation-bonus .peculiarity-bonys-link[ href='' ],
.legal-compilation-bonus .legal-compilation-button[ href='' ] {
	pointer-events: none;
}

/* Width and Height */

.legal-compilation-bonus .legal-compilation-logo {
	flex-basis: fit-content;
}

.legal-compilation-bonus .legal-logo-link {
	width: 46px;
    height: 46px;
}

.legal-compilation-bonus .legal-compilation-logo .legal-logo-picture {
	width: 100%;
  	height: auto;
}

.legal-compilation-bonus .legal-compilation-peculiarity-bonys,
.legal-compilation-bonus .legal-compilation-peculiarity-text {
	width: 100%;
}

.legal-compilation-bonus .compilation-review-link,
.legal-compilation-bonus .legal-compilation-button {
	height: fit-content;
}

/* Position */

.legal-compilation-bonus {
	padding: 24px;
	margin-bottom: 18px;
}

.legal-compilation-bonus .legal-compilation-review {
	margin-right: 8px;
}

.legal-compilation-bonus .compilation-review-link,
.legal-compilation-bonus .legal-compilation-button {
	padding: 9px 17px;
}

/* Background */

.legal-compilation-bonus {
	background-color: var(--Base-base-01);
	border: 1px solid var(--Base-base-09);
	border-radius: 18px;
}

.legal-compilation-bonus .legal-logo-link {
	border: 1px solid var(--Base-base-09);
	border-radius: 12.8px;
	overflow: hidden;
	background-color: var(--Logo-background);
}

.legal-compilation-bonus .compilation-review-link {
	border-radius: 60px;
	border: 1px solid var(--Base-base-09);
	background: var(--Base-base-01);
}

.legal-compilation-bonus .legal-compilation-button {
	background-color: var(--Base-base-09);
	border-radius: 20px;
	border: 1px solid var(--Base-base-09);
}

.legal-compilation-bonus .legal-compilation-button:hover {
	background-color: var(--Base-base-07);
}

/* Typography */

.legal-compilation-bonus .legal-compilation-peculiarity-bonys,
.legal-compilation-bonus .peculiarity-bonys-link,
.legal-compilation-bonus .legal-compilation-peculiarity-text,
.legal-compilation-bonus .compilation-review-link,
.legal-compilation-bonus .legal-compilation-button {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-compilation-bonus .peculiarity-bonys-link,
.legal-compilation-bonus .compilation-review-link,
.legal-compilation-bonus .legal-compilation-button {
	text-decoration: none;
}

.legal-compilation-bonus .legal-compilation-peculiarity-bonys,
.legal-compilation-bonus .peculiarity-bonys-link,
.legal-compilation-bonus .legal-compilation-peculiarity-text,
.legal-compilation-bonus .compilation-review-link {
	color: var(--Base-base-09);
}

.legal-compilation-bonus .compilation-review-link {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
}

.legal-compilation-bonus .compilation-review-link:hover {
	text-shadow: 0 0 0.6px #000;
}

.legal-compilation-bonus .legal-compilation-peculiarity-bonys,
.legal-compilation-bonus .peculiarity-bonys-link {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}

.legal-compilation-bonus .legal-compilation-peculiarity-text {
	font-size: 14px;
	line-height: 22px;
}

.legal-compilation-bonus .legal-compilation-button {
	color: var(--Base-base-01);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}