@media screen and ( max-width: 767px ) {

	/* Display */

	.compilation-bonus-main {
		flex-wrap: wrap;
	}

	/* Width and Height */

	.compilation-bonus-main .legal-compilation-logo,
	.compilation-bonus-main .legal-compilation-peculiarity {
		width: 100%;
   }

	.compilation-bonus-main .legal-compilation-review {
		width: calc( 50% - 4px - 2px );
	}

	.compilation-bonus-main .legal-compilation-review + .legal-compilation-button {
		width: calc( 50% - 4px - 2px - (17px * 2) );
	}

	.compilation-bonus-main .legal-compilation-button:not( .compilation-bonus-main .legal-compilation-review + .legal-compilation-button ) {
		width: 100%;
	}

   /* Position */

   .compilation-bonus-main .legal-compilation-logo {
		padding-bottom: 14px;
	}

	.compilation-bonus-main .legal-compilation-peculiarity {
		padding-top: 4px;
		padding-bottom: 4px;
		margin-bottom: 28px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Display */

	/* .compilation-bonus-main {
		justify-content: space-between;
	} */

	/* Width and Height */

	.compilation-bonus-main .legal-compilation-button {
		/* min-width: calc(148px - (18px * 2)); */
		min-width: 126px;
	}

	/* Position */

	.compilation-bonus-main .legal-compilation-logo {
		padding-right: 14px;
	}

	.compilation-bonus-main .legal-compilation-peculiarity {
		padding-top: 8px;
		padding-right: 20px;
		padding-bottom: 8px;
		margin-right: auto;
	}
}

/* Display */

.compilation-bonus-main {
	display: flex;
}

/* .compilation-bonus-main .legal-compilation-logo {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
} */

.compilation-bonus-main .legal-logo-link,
.compilation-bonus-main .legal-logo-linklegal-disabled {
	display: flex;
	justify-content: center;
	align-items: center;
}

.compilation-bonus-main .legal-logo-linklegal-disabled {
	pointer-events: none;
}

.compilation-bonus-main .legal-compilation-peculiarity {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
}

/* .compilation-bonus-main .compilation-review-link {
	display: block;
} */

.compilation-bonus-main .peculiarity-bonys-link[ href='' ],
.compilation-bonus-main .legal-compilation-button[ href='' ] {
	pointer-events: none;
}

/* Width and Height */

.compilation-bonus-main .legal-compilation-logo {
	flex-basis: fit-content;
}

.compilation-bonus-main .legal-logo-link,
.compilation-bonus-main .legal-logo-linklegal-disabled {
	/* width: 46px;
    height: 46px; */
	width: var( --Spacing-12 );
  	height: var( --Spacing-12 );
}

.compilation-bonus-main .legal-compilation-logo .legal-logo-picture {
	width: 100%;
  	height: auto;
}

.compilation-bonus-main .legal-compilation-peculiarity-bonys,
.compilation-bonus-main .legal-compilation-peculiarity-text {
	width: 100%;
}

/* .compilation-bonus-main .compilation-review-link, */
.compilation-bonus-main .legal-compilation-button {
	height: fit-content;
}

/* Position */

.compilation-bonus-main {
	padding: 24px;
	margin-bottom: 18px;
}

.compilation-bonus-main .legal-compilation-review {
	margin-right: 8px;
}

/* .compilation-bonus-main .compilation-review-link, */
.compilation-bonus-main .legal-compilation-button {
	/* padding: 9px 17px; */
	padding: 0.625rem 1.125rem;
}

/* Background */

.compilation-bonus-main {
	border: 1px solid var( --Base-base-09 );
  	border-radius: var( --Spacing-06 );
  	background-color: var( --Primitives-purple-20 );
}

.compilation-bonus-main .legal-logo-link,
.compilation-bonus-main .legal-logo-linklegal-disabled {
	border: 1px solid var(--Base-base-09);
	border-radius: 12.8px;
	overflow: hidden;
	background-color: var(--Logo-background);
}

/* .compilation-bonus-main .compilation-review-link {
	border-radius: 60px;
	border: 1px solid var(--Base-base-09);
	background: var(--Base-base-01);
} */

.compilation-bonus-main .legal-compilation-button {
	background-color: var( --Base-purple_button );
	border-radius: 60px;
}

.compilation-bonus-main .legal-compilation-button:hover {
	background-color: var( --Base-purple_button_hover );
}

/* Typography */

/* .compilation-bonus-main .compilation-review-link, */
.compilation-bonus-main .legal-compilation-peculiarity-bonys,
.compilation-bonus-main .peculiarity-bonys-link,
.compilation-bonus-main .legal-compilation-peculiarity-text,
.compilation-bonus-main .legal-compilation-button {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

/* .compilation-bonus-main .compilation-review-link, */
.compilation-bonus-main .peculiarity-bonys-link,
.compilation-bonus-main .legal-compilation-button {
	text-decoration: none;
}

/* .compilation-bonus-main .compilation-review-link */
.compilation-bonus-main .legal-compilation-peculiarity-bonys,
.compilation-bonus-main .peculiarity-bonys-link,
.compilation-bonus-main .legal-compilation-peculiarity-text {
	color: var(--Base-base-09);
}

/* .compilation-bonus-main .compilation-review-link {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
}

.compilation-bonus-main .compilation-review-link:hover {
	text-shadow: 0 0 0.6px #000;
} */

.compilation-bonus-main .legal-compilation-peculiarity-bonys,
.compilation-bonus-main .peculiarity-bonys-link {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}

.compilation-bonus-main .legal-compilation-peculiarity-text {
	font-size: 14px;
	line-height: 22px;
}

.compilation-bonus-main .legal-compilation-button {
	color: var(--Base-base-01);
	font-size: 0,875rem;
	font-weight: 500;
	line-height: 1,25rem;
	text-align: center;
}

.legal-compilation-bonus .footer-tnc-info::after {
	content: attr( data-text );
}

.legal-compilation-bonus .compilation-bonus-footer:not(.legal-short-tnc):not(.legal-active) .compilation-footer-control::before {
	content: attr( data-default );
}