@media screen and ( max-width: 767px ) {

    /* Display */

    .legal-compilation .legal-compilation-info {
        row-gap: 8px;
    }
    
    /* Width and Height */

    .legal-compilation .legal-tooltip {
        width: calc( 100% - (16px * 2) - 2px );
    }

     /* Position */

    .legal-compilation .compilation-date ~ .legal-tooltip {
        top: calc( 24px + (8px * 2) + 36px + 8px );
    }

    .legal-compilation .legal-tooltip:not( .compilation-date ~ .legal-tooltip )  {
        top: calc( 24px + (8px * 2) );
    }
}


@media screen and ( min-width: 768px ) {

    /* Width and Height */

    .legal-compilation .legal-tooltip {
        width: calc( 320px - (16px * 2) - 2px );
    }

    /* Position */

    .legal-compilation .legal-tooltip {
        top: calc( 24px + (8px * 2) );
    }
    
}

/* Compilation Display */

.legal-compilation .legal-compilation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.legal-compilation .compilation-attention-tooltip {
    display: flex;
 /*    justify-content: flex-end; */
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.legal-compilation .legal-tooltip.legal-active
{
    display: flex;
}

.legal-compilation .legal-tooltip
{
    flex-wrap: wrap;
    row-gap: 8px;
}

/* .legal-compilation .legal-tooltip h2 {
    display: flex;
    align-items: center;
} */

.compilation-link {
    cursor: pointer;
}

.tcb-post-content .compilation-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tcb-post-content .compilation-link::after {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legal-compilation .legal-tooltip h2
{
    order: 1;
}

.legal-compilation .legal-tooltip .legal-tooltip-close
{
    order: 2;
}

.legal-compilation .legal-tooltip p
{
    order: 3;
}

.legal-compilation .legal-tooltip:not( .legal-active )
{
    display: none;
}

/* Compilation Position */

.legal-compilation:not( :last-child ) {
    margin-bottom: 24px; 
}

/* .legal-compilation .compilation-title.legal-image {
    padding-left: 70px;
} */

.legal-compilation .compilation-title {
    padding-top: 24px;
    margin-bottom: 24px;
}

.legal-compilation .compilation-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .legal-compilation .compilation-attention:not( :last-child ) {
    margin-bottom: 15px;
} */

.legal-compilation .legal-compilation-info:not(:empty) {
    margin-bottom: 28px;
}

.legal-compilation .compilation-date + .compilation-attention.legal-attention {
    margin-top: 24px;
}

.legal-compilation .compilation-date {
    padding: 8px 18px;
}

.legal-compilation .compilation-attention-tooltip {
    padding-top: 8px;
    padding-bottom: 8px;
}

.legal-compilation .legal-tooltip {
    padding: 16px;
}

.legal-compilation .legal-tooltip h2,
.legal-compilation .legal-tooltip p {
    margin-top: 0;
}

.legal-compilation .compilation-attention.legal-default p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* .legal-compilation .legal-tooltip h2::after, */
.legal-compilation .legal-tooltip .legal-tooltip-close
{
    margin-left: auto;
}

.legal-compilation .legal-tooltip p {
    margin-bottom: 0px;
}

.compilation-link {
    padding: 7px 8px 7px 28px;
    margin-bottom: 24px;
}

/* .legal-compilation, */
.legal-compilation .legal-compilation-info
{
    position: relative;
}

.legal-compilation .legal-tooltip
{
    position: absolute;
    right: 0px;
    z-index: 1;
}

/* Width and Height */

.legal-compilation .compilation-date {
    /* width: fit-content; */
    height: fit-content;
}

.tcb-post-content .compilation-link::after {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

/* .legal-compilation .legal-tooltip h2 {
    width: 100%;
} */

/* Compilation Background */

/* .legal-compilation .compilation-title.legal-image {
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: auto;
} */

.legal-compilation .compilation-title.legal-image {
    /* временное правило */
    background-image: none !important;
}

.legal-compilation .compilation-date {
    border-radius: 18px;
    background: var(--Base-base-02);
}

.legal-compilation .legal-tooltip {
    border-radius: 12px;
    border: 1px solid var(--Base-base-09);
    background: var(--Base-base-01);
}

.compilation-link {
    border-radius: 60px;
    border: 1px solid var(--Base-base-09);
    background-color: var(--Base-base-01);
}

.tcb-post-content .compilation-link::after {
    border-radius: 50%;
    background-color: var(--Base-base-01);
    border: 1px solid var(--Base-base-09);
}

.tcb-post-content .compilation-link:hover::after {
    background-color: var(--Base-base-09);
}

/* Compilation Typography */

.legal-compilation .compilation-title,
.legal-compilation .compilation-date,
.legal-compilation .compilation-attention-tooltip,
.legal-compilation .legal-tooltip h2,
.tcb-post-content .compilation-link,
.legal-compilation .compilation-attention.legal-default p {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-compilation .compilation-title,
.legal-compilation .compilation-date,
.tcb-post-content .compilation-link {
    color: var(--Base-base-09);
}

.legal-compilation .compilation-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
}

.legal-compilation .compilation-date,
.legal-compilation .compilation-attention-tooltip,
.legal-compilation .compilation-attention.legal-default p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.tcb-post-content .compilation-link::after,
.legal-compilation .compilation-attention-tooltip::after,
/* .legal-compilation .legal-tooltip h2::after, */
.legal-compilation .legal-tooltip .legal-tooltip-close::before
{
    font-family: var( --legal-font-icons );
}

.tcb-post-content .compilation-link::after,
.legal-compilation .compilation-attention-tooltip::after {
    font-size: 24px;
    line-height: 24px;
}

.legal-compilation .compilation-attention-tooltip:not( .legal-active ),
.legal-compilation .compilation-attention.legal-default p {
    color: var(--Base-base-05);
}

.legal-compilation .compilation-attention-tooltip:not( .legal-active ):hover,
.legal-compilation .compilation-attention-tooltip.legal-active {
    color: var(--Base-base-07);
}

.legal-compilation .compilation-attention-tooltip::after {
    content: '\F114';
}

.legal-compilation .legal-tooltip h2 {
    font-weight: 600;
}

/* .legal-compilation .legal-tooltip h2::after, */
.legal-compilation .legal-tooltip .legal-tooltip-close::before
{
    content: '\F10E';
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}

.legal-compilation .legal-tooltip h2,
.legal-compilation .legal-tooltip p,
.legal-compilation .legal-tooltip a {
    font-size: 14px;
    line-height: 20px;
}

.legal-compilation .legal-tooltip a {
    text-decoration: none;
}

/* .legal-compilation .compilation-attention-tooltip a {
    text-decoration: none;
} */

.tcb-post-content .compilation-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.tcb-post-content .compilation-link::after {
    content: '\F102';
    color: var(--Base-base-09);
}

.tcb-post-content .compilation-link:hover::after {
    color: var(--Base-base-01);
} 