/* Compilation About CSS */

@media screen and ( max-width: 767px ) {
    /* Display */

    .compilation-about .block-frame {
        display: none;
    }

}

@media screen and ( min-width: 376px ) {
    /* Position */

    .compilation-about-wrapper {
        padding-right: 32px;
        padding-bottom: 40px;
        padding-left: 32px;
    }

    .compilation-about h1 {
        padding-bottom: 28px;
    }

    /* Typography */
    .compilation-about h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .compilation-about .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    .compilation-about .legal-cut-control::before {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and ( max-width: 375px ) {
    /* Position */

    .compilation-about-wrapper {
        padding-right: 16px;
        padding-bottom: 32px;
        padding-left: 16px;
    }

    .compilation-about h1 {
        padding-bottom: 18px;
    }

    /* Typography */

    .compilation-about h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .compilation-about .text {
        font-size: 14px;
        line-height: 22px;
    }

    .compilation-about .legal-cut-control::before {
        font-size: 14px;
        line-height: 20px;
    }
}


/* Display */

.compilation-about {
    display: flex;
}

.compilation-about .legal-cut-item:not( .legal-active ) {
    display: none;
}

.compilation-about .legal-cut-control.legal-active {
    display: none;
}

/* Width and Height */
.compilation-about {
    max-width: var(--base-width-desktop);
}

.compilation-about .frame {
    width: 264px;
    height: 309px;
}

/* Position */
.compilation-about-wrapper {
    padding-top: 28px;
}

.compilation-about {
    margin: 0px auto;
}

.compilation-about .text:not( :first-of-type ) {
    padding-top: 18px;
}

.compilation-about h1,
.compilation-about .text {
    margin: 0px; /* временное правило*/
}

.compilation-about .block-frame {
    padding: 6px 68px 5px 68px;
}

.compilation-about .legal-cut-control {
    padding: 8px 0px;
    margin-top: 8px;
}

/* Background */

.compilation-about-wrapper {
    background-color: var(--Base-base-02);
    border-bottom: 2px solid var(--Base-base-09);
}

/* Typography */
.compilation-about h1,
.compilation-about .text,
.compilation-about .legal-cut-control::before {
    color: var(--Base-base-09);
    font-family: var(--legal-font-primary);
}

.compilation-about h1 {
    font-weight: 700;
}

.compilation-about .legal-cut-control {
    cursor: pointer;
}

.compilation-about .legal-cut-control::before {
    content: attr( data-content-default );
    font-weight: 500;
}

/* .compilation-about .legal-cut-control:hover .legal-cut-control::before {
    font-weight: 600;
}
 */

