/* Compilation About CSS */

@media screen and ( max-width: 959px ) {
    /* Display */

   /*  .compilation-about .section-image-item {
        max-height: 0;
        overflow: hidden;
    } */

}

@media screen and ( min-width: 768px ) {
    /* Position */

    .compilation-about-wrapper {
        padding-right: 32px;
        padding-left: 32px;
    }

    .compilation-about-wrapper:not( .home .compilation-about-wrapper ) {
        padding-right: 32px;
        padding-bottom: 40px;
        padding-left: 32px;
    }

    .home .compilation-about-wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .compilation-about h1 {
        padding-bottom: 28px;
    }

    /* Typography */
    .compilation-about h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .compilation-about .section-content-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

    .compilation-about .legal-cut-control {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and ( max-width: 767px ) {
    /* Position */

    .compilation-about-wrapper {
        padding-right: 16px;
        padding-bottom: 32px;
        padding-left: 16px;
    }

    .home .compilation-about-wrapper {
        padding-top: 32px;
    }

    .compilation-about h1 {
        padding-bottom: 18px;
    }

    /* Typography */

    .compilation-about h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .compilation-about .section-content-text {
        font-size: 14px;
        line-height: 22px;
    }

    .compilation-about .legal-cut-control::before {
        font-size: 14px;
        line-height: 20px;
    }
}


/* Display */

.compilation-about {
    display: flex;
}

.home .compilation-about .about-section-image {
    display: none;
}

.compilation-about .legal-cut-item:not( .legal-active ) {
    display: none;
}

.compilation-about .legal-cut-control {
    display: inline-block;
}

.compilation-about .legal-cut-control.legal-active {
    display: none;
}

/* Width and Height */
.compilation-about:not( .home .compilation-about ) {
    max-width: var(--base-width-desktop);
}

.home .compilation-about {
    max-width: 832px;
}

.home .about-section-content > h1,
.home .about-section-content > p:not( :last-child ) {
    max-width: 754px;
}

.compilation-about .section-content-text .legal-button {
    min-height: 44px;
}

/* Position */
.compilation-about-wrapper:not( .home .compilation-about-wrapper ) {
    padding-top: 28px;
}

.compilation-about {
    margin: 0px auto;
}

.compilation-about h1,
.compilation-about .section-content-text:not( .legal-contextbox ) {
    margin: 0px;
}

.compilation-about .section-content-text:not( :first-of-type ):not( .legal-contextbox ) {
    padding-top: 18px;
}

.compilation-about .legal-contextbox {
    padding-left: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* .compilation-about .about-section-image {
    padding: 6px 68px 5px 68px;
} */

.compilation-about .legal-cut-control {
    margin-top: 8px;
}

.compilation-about .section-content-text .legal-button {
    padding-right: 24px;
    padding-left: 24px;
}

/* Background */

.compilation-about-wrapper {
    border-bottom: 1px solid var( --Base-base-09 );
}

.compilation-about-wrapper:not( .home .compilation-about-wrapper ) {
    background-color: var( --Base-base-02 );
}

.home .compilation-about-wrapper {
    background-color: var( --Primitives-purple-60 );
}

.compilation-about .legal-contextbox {
    border-left: 2px solid var( --Base-base-09 );
}

.compilation-about .section-content-text .legal-button {
    border-radius: 60px;
    border: 1px solid var( --Base-base-09 );
    background-color: var( --Base-base-01 );
}

/* Typography */

.compilation-about h1,
.compilation-about .section-content-text,
.compilation-about .legal-cut-control,
.compilation-about .section-content-text a {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.compilation-about h1,
.compilation-about .section-content-text,
.compilation-about .legal-cut-control,
.compilation-about .section-content-text .legal-button {
    color: var(--Base-base-09);
}

.home .about-section-content {
    text-align: center;
}

.compilation-about h1 {
    font-weight: 700;
}

.compilation-about .section-content-text a:not( .legal-button ) {
    color: var( --Base-link-hover );
}

.compilation-about .section-content-text .legal-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.compilation-about .legal-cut-control {
    cursor: pointer;
}

.compilation-about .legal-cut-control {
    /* content: attr( data-content-default ); */
    font-weight: 500;
}

.compilation-about .legal-cut-control:hover {
    font-weight: 600;
}


