/* Compilation Display */

.compilation-link {
    cursor: pointer;
}

.tcb-post-content .compilation-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tcb-post-content .compilation-link::after {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Compilation Position */

.legal-compilation:not( :last-child ) {
    margin-bottom: 30px; 
}

.legal-compilation .compilation-title.legal-image {
    padding-left: 70px;
}

.legal-compilation .compilation-title {
    margin-bottom: 30px;
}

.legal-compilation .compilation-attention:not( :last-child ) {
    margin-bottom: 15px;
}

.legal-compilation .compilation-date {
    padding: 8px 18px;
    margin-bottom: 28px;
}

.compilation-link {
    padding: 7px 8px 7px 28px;
}

/* Width and Height */

.legal-compilation .compilation-date {
    width: fit-content;
}

.tcb-post-content .compilation-link::after {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}

/* Compilation Background */

.legal-compilation .compilation-title.legal-image {
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: auto;
}

.legal-compilation .compilation-date {
    border-radius: 18px;
    background: var(--Base-base-02);
}

.compilation-link {
    border-radius: 60px;
    border: 1px solid var(--Base-base-09);
    background-color: var(--Base-base-01);
}

.tcb-post-content .compilation-link::after {
    border-radius: 50%;
    background-color: var(--Base-base-01);
    border: 1px solid var(--Base-base-09);
}

.tcb-post-content .compilation-link:hover::after {
    background-color: var(--Base-base-09);
}

/* Compilation Typography */

.legal-compilation .compilation-title,
.legal-compilation .compilation-date,
.tcb-post-content .compilation-link {
    font-family: var( --legal-font-primary );
    font-style: normal;
    color: var(--Base-base-09);
}

.legal-compilation .compilation-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
}

.legal-compilation .compilation-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.tcb-post-content .compilation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.tcb-post-content .compilation-link::after {
    content: '\F102';
    font-family: var( --legal-font-icons );
    font-size: 24px;
    line-height: 24px;
    color: var(--Base-base-09);
}

.tcb-post-content .compilation-link:hover::after {
    color: var(--Base-base-01);
} 