@font-face {
	font-display: swap;
	font-family: 'MC Icons Sports';
	font-style: normal;
	font-weight: 400;
	src: url( '../font/mc-icons-sports/mc-icons-sports.woff2?ver=1.0.1' ) format( 'woff2' );
} 
  