:root {
	--legal-font-primary: "Golos Text", sans-serif;
	/* --legal-font-icons: "MC Icons"; */
	--legal-font-icons: "MC Icons2";
	/* --legal-font-icons2: "MC Icons2"; */
	--width-desktop-start: 768px;
	--width-mobile-end: 767px;
}

@custom-media --desktop ( min-width: 768px );
@custom-media --mobile ( max-width: 767px );