:root
{
	/* Font */
	--legal-font-primary: "Golos Text", sans-serif;
	--legal-font-icons: "MC Icons";
	--legal-font-icons-sport: "MC Icons Sports";
	--legal-font-icons-title: "MC Icons Title";

	/* Width and Height */
	/* --base-width-desktop: 1280px; */
	--base-width-desktop: 1218px;
	--other-width-desktop: 1218px;
	--medium-width-desktop: 1210px;
	--small-width-desktop: 960px;
	--base-width-tablet: 768px;
	--base-width-mobile: 375px;

	/* Background */
	--Base-base-01: #FFF;
	--Base-base-02: #F6F6F6;
	--Base-base-03: #EDEDED;
	--Base-base-04: #C8C8C8;
	--Base-base-05: #939393;
	--Base-base-07: #353535;
	--Base-base-08: #1D1D1D;
	--Base-base-09: #0A0A0A;
	--Base-link: #846FFF;
	--Base-link-hover: #9a88ff;
	--Base-breadcrumbs: #6C6C6C;
	--primary-blue-Primary-Blue: #06F;
	--Primitives-blue-40: #D9F2FF;
	--primary-blue-Blue-80: #4D80FF;
	--Primitives-green-40: #ECF9E2;
	--Primitives-purple-40: #EBE8FC;
	--Primitives-purple-50: #E3DEFF;
	--Primitives-purple-60: #C7BFFF;
	--Primitives-red-40: #FFD9D9;
	--Primitives-red-60: #FF845E;
	--Primitives-yellow-100: #EDFF6A;
	--white-20: rgba(255, 255, 255, 0.20);
	--white-60: rgba(255, 255, 255, 0.60);
	--Gray-200: #EAECF0;
	--Logo-background: #E3E3E3;
	--Status-Error: #FF3B30;
}