@font-face {
	font-display: swap;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	/* src: url('../font/golos-text/golos-text-v4-cyrillic_latin-regular.woff2') format('woff2'); */
	src: url('../font/sourcesanspro/SourceSansPro-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 500;
	/* src: url('../font/golos-text/golos-text-v4-cyrillic_latin-500.woff2') format('woff2'); */
	src: url('../font/sourcesanspro/SourceSansPro-SemiBold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	/* src: url('../font/golos-text/golos-text-v4-cyrillic_latin-600.woff2') format('woff2'); */
	src: url('../font/sourcesanspro/SourceSansPro-Bold.woff2') format('woff2');
}