/* Language Display */

.lang-switcher .lang-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.lang-switcher .menu-avaible {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 0.5rem;
}

.lang-switcher .menu-avaible {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.lang-switcher .menu-avaible:not( .legal-active ) {
    display: none;
}

.lang-switcher .lang-current .lang-title {
    display: flex;
    column-gap: 1px;
    align-items: center;
}

.lang-switcher .lang-current .lang-title::after {
    display: block;
    content: '';
}

@media screen and ( min-width: 1080px ) {
    .lang-switcher .menu-avaible {
        row-gap: 10px;
    }
}

@media screen and ( max-width: 768px ) {
    .lang-switcher .menu-avaible {
        justify-content: space-evenly;
        column-gap: 0;
    }
}

@media screen and ( max-width: 1079px ) {
    .lang-switcher .menu-avaible {
        row-gap: 15px;
    }
}

/* Language Width and Height */


.lang-switcher .menu-avaible .lang-item {
    width: 150px;
}

.lang-switcher .lang-current {
    width: fit-content;
}

.lang-switcher .lang-current .lang-title::after {
    width: 24px;
    height: 28px;
}

@media screen and ( min-width: 1080px ) {
    .lang-switcher .menu-avaible {
        width: 960px;
    }
}

@media screen and ( max-width: 1079px ) {
    .lang-switcher .menu-avaible {
        width: 100%;
    }

    .lang-switcher .lang-current {
        margin: 0px auto;
    }
}

/* Language Position */

.lang-switcher {
    position: relative;
}

.lang-switcher .lang-image {
    margin-left: 5px;
}

@media screen and ( min-width: 1080px ) {
    .lang-switcher .menu-avaible {
        padding: 20px 0px 20px 10px;
    }
}

@media screen and ( max-width: 768px ) {
    .lang-switcher .menu-avaible {
        padding: 20px 0px;
    }
}

@media screen and ( max-width: 1079px ) {
    .lang-switcher .menu-avaible {
        padding: 11px 0px;
    }
}

/* Language Background */

.lang-switcher .lang-current.legal-active .lang-title::after {
    transform: rotate( 180deg );
}

.lang-switcher .lang-current .lang-title::before
{
    content: '';
    display: block;
    width: 36px;
    height: 20px;
    padding-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.lang-switcher .lang-current .lang-title::after {
    background-image: url( '../../img/wpml/wpml-lang-switcher-open.svg' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.lang-switcher .lang-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.lang-switcher .menu-avaible {
    background-color: #08053d;
    border: 1px solid rgb(89, 151, 227);
}

@media screen and ( min-width: 1080px ) {
    .lang-switcher .menu-avaible .lang-item:hover {
        background-color: #0d0863;
        border-radius: 5px;
    }
    
    .lang-switcher .lang-current:hover {
        background-color: #5997e3;
    }
}

/* Language Typography */

.lang-switcher .lang-item {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}