@media screen and ( max-width: 768px ) {
    /* Display */

    .lang-switcher .menu-avaible {

        justify-content: space-between;
        column-gap: 0;
    }

}

@media screen and ( min-width: 768px ) {
    /* Display */

    .lang-switcher .menu-avaible {
        justify-content: flex-start;
        column-gap: 28px;
    }

    /* Position */

    .lang-switcher .menu-avaible .lang-item {
        padding: 8px 0px;
    }
 
}

@media screen and ( max-width: 959px ) {
     /* Position */

    .lang-switcher .menu-avaible
    {
        bottom: 50px;
    }

    /* Width and Height */

    .lang-switcher .menu-avaible {
        width: calc(100% - 36px);
    }
}

@media screen and ( min-width: 960px ) {

     /* Position */
    .lang-switcher .lang-current {
        padding-left: 40px;
    }

    .lang-switcher .menu-avaible
    {
        bottom: 30px;
    }

    /* Width and Height */

    .lang-switcher .menu-avaible {
        width: calc( (152px * 5) + (28px * 4) );
    }
}

@media screen and ( max-width: 1079px ) {
    /* Display */

    .lang-switcher .menu-avaible {
        row-gap: 14px;
    }
 
}

@media screen and ( min-width: 1080px ) {
    /* Display */

    .lang-switcher .menu-avaible {
        row-gap: 8px;
    }

    /* Typography */

    .lang-switcher .menu-avaible .lang-item .lang-title:hover,
    .lang-switcher .lang-current .lang-title:hover {
        text-decoration: solid underline var(--Base-base-01) 2px;
        text-shadow: 0 0 0.35px #fff, 0 0 0.35px #e7e7e7;
        text-underline-offset: 5px;
    }

}

/* Language Display */

.lang-switcher .lang-item {
    display: flex;
    align-items: center;
}

.lang-switcher .lang-current {
    column-gap: 14px;
}

.lang-switcher .menu-avaible {
    display: flex;
    flex-wrap: wrap;
}

.lang-switcher .menu-avaible .lang-item {
    column-gap: 8px;
}

.lang-switcher .menu-avaible:not( .legal-active ) {
    display: none;
}

.lang-switcher .lang-current .lang-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.lang-switcher .lang-item .lang-image {
    display: flex;
}

/* Language Width and Height */

.lang-switcher .menu-avaible .lang-item {
    width: 152px;
}

.lang-switcher .lang-current .lang-title::after {
    width: 17px;
    height: 17px;
}

.lang-switcher .lang-item .lang-image:not(.menu-avaible.legal-active .lang-avaible .lang-image) {
    width: auto;
    height: auto;
}

.lang-switcher .lang-current {
    width: fit-content;
}

/* Language Position */

.lang-switcher {
    position: relative;
}

.lang-switcher .menu-avaible {
    position: absolute;
    right: 0px;
    padding: 18px;
}

.lang-switcher .lang-current .lang-title-suffix {
    padding-left: 14px;
}

/* Language Background */

/* .lang-switcher .locale-1 {
    background-image: url('img/en.svg');
} */

.lang-switcher .lang-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid var(--Base-base-09);
}

.lang-switcher .lang-current .lang-title::after {
    background-size: 17px;
}

.lang-switcher .lang-current .lang-title-suffix {
    border-left: 1px solid var(--Base-base-07);
}

.lang-switcher .menu-avaible {
    background-color: var(--Base-base-08);
    border: 2px solid var(--Base-base-07);
    border-radius: 21px;
}

/* Language Typography */

.lang-switcher .menu-avaible .lang-item {
    line-height: 20px;
} 

.lang-switcher .lang-current .lang-title-suffix {
    line-height: 18px;
}

.lang-switcher .lang-item,
.lang-switcher .lang-current .lang-title-suffix {
    font-family: var( --legal-font-primary );
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--Base-base-01);
    text-decoration: none;
} 

.lang-switcher .lang-current .lang-title::after {
    content: '';
} 