/* @media screen and ( max-width: 1217px ) */
@media screen and ( max-width: 959px )
{
	/* Display */

	.legal-bonus-single
	{
		flex-wrap: wrap;
	}

	/* Width and Height */

	.legal-bonus-single .legal-bonus-main,
	.legal-bonus-single .legal-bonus-sidebar
	{
		width: 100%;
	}
}

/* @media screen and ( min-width: 1218px ) */
@media screen and ( min-width: 960px )
{
	/* Width and Height */

	.legal-bonus-single .legal-bonus-main {
		/* flex-basis: calc( 75% - 25px ); */
		width: calc( 100% / 3 * 2 - 24px );
		/* flex-grow: 1; */
	} 

	.legal-bonus-single .legal-bonus-sidebar {
		/* flex-basis: calc( 25% - 25px ); */
		width: calc( 100% / 3 - 24px );
    	height: fit-content;
	}

	/* Position */

	.legal-bonus-single .legal-bonus-sidebar {
		position: sticky;
		/* top: calc( var( --bonus-about-action-margin-top ) + 30px ); */
		top: 30px;
	}
}

/* Display */

.legal-bonus-single {
	display: flex;
	flex-wrap: wrap;
	/* column-gap: 50px; */
	column-gap: 48px;
}

/* Position */

/* .legal-bonus-single .legal-bonus-sidebar {
	position: relative;
} */