@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-bonus-summary {
		flex-direction: column;
	}

	.legal-bonus-summary .bonus-summary-item {
		display: flex;
		column-gap: 5px;
	}

	/* Width and Height */

	.legal-bonus-summary {
		width: 100%;
	}

	/* Position */

	/* .legal-bonus-summary .bonus-summary-item */
	.legal-bonus-summary .bonus-summary-item:not( :first-of-type ) {
		/* margin-right: 32px; */
		margin-left: calc( 32px - 8px);
	}
	
}

@media screen and ( min-width: 768px )
{
	/* Display */

	/* .legal-bonus-summary {
		row-gap: 25px;
	} */

	/* Width and Height */

	/* .legal-bonus-summary .bonus-summary-item {
		flex-basis: calc( 100% / 5 - 8px );
	} */

	/* Position */

	/* .legal-bonus-summary .bonus-summary-item */
	.legal-bonus-summary .bonus-summary-item:not( :first-of-type ) {
		/* margin-right: 48px; */
		margin-left: calc( 48px - 8px);
	}
	
/* 	.legal-bonus-summary .item-value {
		padding-left: 25px;
	} */
}

/* Display */

/* .legal-bonus-summary {
	display: flex;
	flex-wrap: wrap;
	column-gap: 48px;
} */

.legal-bonus-summary .bonus-summary-item {
	display: flex;
  	flex-direction: column;
	row-gap: 8px;
}

/* Position */

/* .legal-bonus-summary {
	padding: 15px 25px;
	margin-bottom: 20px;
} */

/* .legal-bonus-summary .item-label {
	padding-left: 25px;
} */

/* Background */

/* .legal-bonus-summary {
	background-color: rgb(239, 245, 251);
	border-radius: 20px;
} */

/* .legal-bonus-summary .item-label {
	background-position: left top 9.75px;
	background-repeat: no-repeat;
	background-size: auto;
} */

/* .legal-bonus-summary .item-label-bookmaker {
	background-image: url( '../../img/bonus/bonus-summary-bookmaker.svg' );
}

.legal-bonus-summary .item-label-bonus-amount {
	background-image: url( '../../img/bonus/bonus-summary-bonus-amount.svg' );
}

.legal-bonus-summary .item-label-min-deposit {
	background-image: url( '../../img/bonus/bonus-summary-min-deposit.svg' );
}

.legal-bonus-summary .item-label-wagering {
	background-image: url( '../../img/bonus/bonus-summary-wagering.svg' );
}

.legal-bonus-summary .item-label-published {
	background-image: url( '../../img/bonus/bonus-summary-published.svg' );
} */

/* Typography */

.legal-bonus-summary .item-label,
.legal-bonus-summary .item-value {
	font-family: var( --legal-font-primary );
	font-style: normal;
	cursor: default;
}

.legal-bonus-summary .item-label {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var( --Base-base-05 );
}

.legal-bonus-summary .item-value {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: var( --Base-base-09 );
}