/* Display */

.legal-bonus-about {
	display: flex;
  	column-gap: 50px;
}

/* Position */

.legal-bonus-about {
	margin: 0px auto;
	padding: 40px 0px;
}

/* Width and Height */

.legal-bonus-about {
	width: 1080px;
}

/* Typography */

.legal-bonus-about {
	font-family: "Source Sans Pro";
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 50.4px;
	color: rgb(255, 255, 255);
}