@media screen and ( max-width: 767px )
{
	/* Display */
	
	.legal-bonus-categories {
		justify-content: center;
	}
}

/* Display */

/* .legal-bonus-categories {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
} */

/* Position */

.legal-bonus-categories {
	padding-bottom: 28px;
}

.legal-bonus-categories .bonus-categories-item {
	/* padding: 5px 10px; */
	margin-right: 8px;
	padding-top: 6px;
	padding-right: 24px;
	padding-bottom: 6px;
	padding-left: 24px;
}

/* Background */

.legal-bonus-categories .bonus-categories-item {
	/* border: 0.8px solid rgb(89, 151, 227); */
	/* border-radius: 20px; */
	border: 1px solid var(--Base-base-09);
  	border-radius: 60px;
}

/* Typography */

.legal-bonus-categories .bonus-categories-item {
	font-family: var( --legal-font-primary );
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: var( --Base-base-09 );
	text-decoration: none;
}

.legal-bonus-categories .bonus-categories-item:hover {
	text-shadow: 0 0 0.7px var(--Base-base-09);
}