@media screen and ( min-width: 768px ) {
		
	/* Width and Height */

	.legal-bonus-list .bonus-list-item {
		flex-basis: 330px;
	}

}

/* Display */

.legal-bonus-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.legal-bonus-list .bonus-list-item {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.legal-bonus-list .list-item-about {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}

.legal-bonus-list .about-get-button {
	display: inline-block;
}

/* Position */

:not( .legal-bonus-main ) .legal-bonus-list {
	padding-bottom: 30px;
}

.legal-bonus-list .bonus-list-title {
	margin-bottom: 0px;
}

.legal-bonus-list .list-item-about {
	position: relative;
}

.legal-bonus-list .item-logo {
	position: absolute;
	left: 24px;
	top: -25px;
}

.legal-bonus-list .list-item-about {
	padding: 30px 15px 15px 15px;
}

.legal-bonus-list .item-about-get {
	margin-top: auto;
}

.legal-bonus-list .about-get-button {
	padding: 15px 22px 15px 50px;
}

/* Width and Height */

.legal-bonus-list .bonus-list-title {
	flex-basis: 100%;
}

.legal-bonus-list .bonus-list-item {
	flex-basis: 330px;
	min-height: 400px;
}

.legal-bonus-list .item-image {
	min-height: 190px;
}

.legal-bonus-list .list-item-about {
	min-height: 210px;
}

.legal-bonus-list .item-about-title {
	flex-basis: calc( 70% - 25px );
}

.legal-bonus-list .item-about-size {
	flex-basis: calc( 30% - 25px );
	flex-grow: 1;
}

.legal-bonus-list .item-about-get {
	width: 100%;
}

.legal-bonus-list .about-get-button {
	width: fit-content;
}

/* Background */

.legal-bonus-list .item-image {
	border-radius: 7px 7px 0px 0px;
}

.legal-bonus-list .list-item-about {
	border: 0.8px solid rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 7px 7px;
}

.legal-bonus-list .item-logo {
	border: 1.6px solid rgb(255, 255, 255);
	border-radius: 50%
}

.legal-bonus-list .about-get-button {
	background-image: url( '../../img/bonus/bonus-get.svg' );
	background-position: left 25px center;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-bonus-list .about-get-button {
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
}

/* Typography */

.legal-bonus-list .bonus-list-title {
	font-family: "Source Sans Pro";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 38.4px;
	color: rgb(12, 17, 21);
}

.legal-bonus-list .item-image-link {
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	color: rgb(12, 17, 21);
	text-decoration: none;
}

.legal-bonus-list .item-about-size {
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	color: rgb(89, 151, 227);
	text-align: center;
}

.legal-bonus-list .about-get-button {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 16.8px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.legal-bonus-list .item-about-get {
	text-align: center;
}