@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-bonus-list {
		gap: 20px;
		justify-content: center;
	}

	/* Position */

	.legal-bonus-list:not( :last-of-type ) {
		padding-bottom: 20px;
	}

	.legal-bonus-list .bonus-list-title {
		padding-top: 16px;
        padding-bottom: 16px;
		margin-top: 28px;
	}

	/* Width and Height */

	.legal-bonus-list .bonus-list-item {
		flex-basis: 100%;
	}

	/* Typography */

	.legal-bonus-list .bonus-list-title {
		font-size: 22px;
        line-height: 26px;
	}
}

@media screen and ( min-width: 768px )
{	
	/* Display */

	.legal-bonus-list {
		gap: 20px;
		justify-content: flex-start;
	} 
	
	/* Position */

	.legal-bonus-list:not( :last-of-type ) {
		padding-bottom: 30px;
	}

	.legal-bonus-list .bonus-list-title {
		padding-top: 24px;
		padding-bottom: 24px;
        margin-top: 32px;
	}
		
	/* Width and Height */

	.legal-bonus-list .bonus-list-item {
		flex-basis: calc(100% / 3 - 2px - (40px / 3) );
	}

	/* Typography */

	.legal-bonus-list .bonus-list-title {
		font-size: 26px;
        line-height: 28px;
	}
}

/* Display */

.legal-bonus-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.legal-bonus-list .bonus-list-item {
	display: flex;
	flex-direction: column;
}

.legal-bonus-list .list-item-about {
	display: flex;
	flex-direction: column;
  	row-gap: 14px;
}

.legal-bonus-list .item-container-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.legal-bonus-list .item-about-size {
	display: flex;
	justify-content: end;
}

.legal-bonus-list .about-get-button {
	display: flex;
	justify-content: center;
}

/* Position */

:not( .legal-bonus-main ) > .legal-bonus-list {
	padding-bottom: 30px;
}

.legal-bonus-list .bonus-list-item {
	position: relative;
}

.legal-bonus-list .bonus-list-item:hover {
	margin-top: -4px;
	transition: 0.2s;
}

.legal-bonus-list .bonus-list-title {
	margin-bottom: 0px;
}

.legal-bonus-list .list-item-about {
	padding: 12px 16px 20px 16px;
}

.legal-bonus-list .item-about-expired {
	padding: 4px 14px;
	position: absolute;
	left: 16px;
	top: 16px; 
}

.legal-bonus-list .item-about-get {
	margin-top: auto;
}

.legal-bonus-list .about-get-button {
	padding: 10px 18px;
}

/* Width and Height */

.legal-bonus-list .bonus-list-title {
	flex-basis: 100%;
}

.legal-bonus-list .item-image-link {
	height: 155px;
}

.legal-bonus-list .item-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.legal-bonus-list .list-item-about {
	min-height: calc(230px - 12px - 20px);
}

.legal-bonus-list .item-container-row {
	width: 100%;
	height: fit-content;
}

.legal-bonus-list .item-logo {
	width: 30px;
	height: 30px;
}

.legal-bonus-list .item-about-title {
	width: 100%;
}

.legal-bonus-list .item-about-size {
	flex-basis: 134px;
}

.legal-bonus-list .item-about-get {
	width: 100%;
}

/* Background */

.legal-bonus-list .bonus-list-item {
	border-radius: 18px;
	border: 1px solid var(--Base-base-09);
	overflow: hidden;
}

.legal-bonus-list .bonus-list-item .item-about-expired + .item-image-link {
	filter: grayscale(1);
}

.legal-bonus-list .list-item-about {
	border-top: 1px solid var(--Base-base-09);
}

.legal-bonus-list .item-logo {
	border: 1px solid var(--Base-base-09);
	border-radius: 8px;
}

.legal-bonus-list .about-get-button {
	background-color: var(--Base-base-09);
	border-radius: 30px;
}
.legal-bonus-list .about-get-button:hover {
	background-color: var(--Base-base-07);
}

.legal-bonus-list .item-about-expired {
	background-color: var(--Base-base-02);
  	border-radius: 50px;
}

/* Typography */

.legal-bonus-list .bonus-list-title,
.legal-bonus-list .item-about-title .item-image-link,
.legal-bonus-list .item-about-size,
.legal-bonus-list .about-get-button,
.legal-bonus-list .item-about-expired {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-bonus-list .bonus-list-title,
.legal-bonus-list .item-about-size,
.legal-bonus-list .item-about-title .item-image-link,
.legal-bonus-list .item-about-expired {
	color: var(--Base-base-09);
}

.legal-bonus-list .bonus-list-title {
	font-weight: 700;
}

.legal-bonus-list .bonus-list-item > .item-image-link {
	line-height: 0;
}

.legal-bonus-list .item-about-title .item-image-link,
.legal-bonus-list .item-about-size {
	font-size: 16px;
	line-height: 22px;
}

.legal-bonus-list .item-about-title .item-image-link {
	font-weight: 500;
	text-decoration: none;
}

.legal-bonus-list .item-about-title .item-image-link:hover {
	text-shadow: 0 0 0.5px var(--Base-base-09);
}

.legal-bonus-list .item-about-size {
	font-weight: 600;
	text-align: right;
}

.legal-bonus-list .about-get-button {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none;
	color: var(--Base-base-01);
}

.legal-bonus-list .about-get-button[ href="" ] {
	pointer-events: none;
}

.legal-bonus-list .item-about-expired {
	font-size: 12px;
	line-height: 18px;
}