@media screen and ( min-width: 768px ) {
		
	/* Width and Height */

	.legal-bonus-list .bonus-list-item {
		flex-basis: 330px;
	}

}

/* Display */

.legal-bonus-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

/* Background */

.legal-bonus-list .bonus-list-item {
	border: 0.8px solid rgba(0, 0, 0, 0.12);
	border-radius: 7px;
}