/* Display */

.legal-bonus-summary {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 25px;
}

.legal-bonus-summary .bonus-summary-item {
	flex-basis: calc( 100% / 5 - 8px );
}

/* Position */

.legal-bonus-summary {
	padding: 15px 25px;
}

/* Background */

.legal-bonus-summary {
	background-color: rgb(239, 245, 251);
	border-radius: 20px;
}