/* Display */

.legal-bonus-summary {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 25px;
}

/* Width and Height */

.legal-bonus-summary .bonus-summary-item {
	flex-basis: calc( 100% / 5 - 8px );
}

/* Position */

.legal-bonus-summary {
	padding: 15px 25px;
}

/* Background */

.legal-bonus-summary {
	background-color: rgb(239, 245, 251);
	border-radius: 20px;
}

/* Typography */

.legal-bonus-summary .item-label {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 34.5px;
	color: rgb(59, 59, 59);
}

.legal-bonus-summary .item-value {
	font-family: "Source Sans Pro";
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 34.5px;
	color: rgb(59, 59, 59);
}