@media screen and ( min-width: 768px ) {
	
	

}

/* Display */

.legal-bonus-list {
	display: flex;
	flex-wrap: wrap;
}

/* Width and Height */

.legal-bonus-list .bonus-list-item {
	flex-basis: 330px;
}