/* Display */

.legal-bonus-about {
	display: flex;
  	column-gap: 50px;
}

.legal-bonus-about .bonus-about-data {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.legal-bonus-about .bonus-about-action {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
  	justify-content: center;
}

/* Position */

.legal-bonus-about {
	margin: 0px auto;
	padding: 40px 0px;
}

/* Width and Height */

.legal-bonus-about {
	width: 1080px;
}

.legal-bonus-about .bonus-about-data {
	flex-basis: calc( 75% - 25px );
}

.legal-bonus-about .bonus-about-action {
	flex-basis: calc( 25% - 25px );
}

/* Background */

.legal-bonus-about .bonus-about-action {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
}

/* Typography */

.legal-bonus-about .about-data-title {
	font-family: "Source Sans Pro";
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 50.4px;
	color: rgb(255, 255, 255);
}

.legal-bonus-about .about-data-description {
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 28px;
	color: rgb(255, 255, 255);
}