/* Display */

.legal-bonus-single {
	display: flex;
	column-gap: 50px;
}

/* Width and Height */

.legal-bonus-single .bonus-full-main {
	flex-basis: calc( 75% - 25px );
}

.legal-bonus-single .bonus-full-sidebar {
	flex-basis: calc( 25% - 25px );
}

/* Position */

.legal-bonus-single .bonus-full-sidebar {
	position: relative;
}