@media screen and ( min-width: 768px ) {
		
	/* Width and Height */

	.legal-bonus-list .bonus-list-item {
		flex-basis: 330px;
	}

}

/* Display */

.legal-bonus-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.legal-bonus-list .bonus-list-item {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.legal-bonus-list .list-item-about {
	display: flex;
	flex-wrap: wrap;
}

/* Position */

.legal-bonus-list .list-item-about {
	position: relative;
}

.legal-bonus-list .item-logo {
	position: absolute;
	left: 24px;
	top: -25px;
}

.legal-bonus-list .list-item-about {
	padding: 30px 15px 15px 15px;
}

/* Width and Height */

.legal-bonus-list .bonus-list-item {
	min-height: 400px;
}

.legal-bonus-list .item-image {
	min-height: 190px;
}

.legal-bonus-list .list-item-about {
	min-height: 210px;
}

.legal-bonus-list .item-about-title,
.legal-bonus-list .item-about-size {
	width: 50%;
}

.legal-bonus-list .item-about-get {
	width: 100%;
}

/* Background */

.legal-bonus-list .item-image {
	border-radius: 7px 7px 0px 0px;
}

.legal-bonus-list .list-item-about {
	border: 0.8px solid rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 7px 7px;
}

.legal-bonus-list .item-logo {
	border: 1.6px solid rgb(255, 255, 255);
	border-radius: 50%
}