@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-billet-mega .billet-mega-about
	{
		flex-wrap: wrap;
	}

	/* Position */
	.legal-billet-mega h3,
	.legal-billet-mega h4 {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	/* Width and Height */

	/* .legal-billet-mega .billet-mega-about {
		width: 100%;
	} */
	
	.legal-billet-mega .mega-about-afillate,
	.legal-billet-mega .mega-about-links
	{
		flex-basis: 100%;
	}

	/* Typography */

	.legal-billet-mega li {
		font-size: 14px;
        line-height: 20px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Position */

	.legal-billet-mega .mega-about-afillate
	{
		margin-left: auto; 
	}
	
	.legal-billet-mega .mega-about-links
	{
		margin-left: auto;
	}

	.legal-billet-mega h3,
	.legal-billet-mega h4 {
		padding-top: 14px;
		padding-bottom: 24px;
	}

	/* Width and Height */

	.legal-billet-mega.legal-author .billet-mega-about {
		/* width: calc( 25% - 36px ); */
		flex-basis: 100%;
	}

	.legal-wiki-single .legal-wiki-main .legal-billet-mega.legal-author .billet-mega-about {
		/* width: calc( 30% - 36px ); */
	}

	.legal-billet-mega.legal-default .billet-mega-content,
	.legal-billet-mega.legal-image .billet-mega-content,
	.legal-billet-mega.legal-no-controls .billet-mega-content,
	.legal-billet-mega.legal-horizontal .billet-mega-content {
		/* width: calc( 80% - 15px ); */
	}

	.legal-billet-mega.legal-author .billet-mega-content {
		/* width: calc( 75% - 15px ); */
	}

	.legal-wiki-single .legal-wiki-main .legal-billet-mega.legal-author .billet-mega-content {
		/* width: calc( 70% - 15px ); */
	}

	/* Background */

/* 	.legal-billet-mega.legal-default .billet-mega-about,
	.legal-billet-mega.legal-no-controls .billet-mega-about {
		border-right: 1px solid rgb(237, 237, 237);
	} */

	/* Typography */

	.legal-billet-mega li {
		font-size: 16px;
    	line-height: 22px;
	}
}

/* Display */

.legal-billet-mega {
	display: flex;
	flex-wrap: wrap;
	/* gap: 30px; */
}

.legal-billet-mega .billet-mega-about {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
}

.legal-billet-mega.legal-image .billet-mega-about,
.legal-billet-mega.legal-horizontal .billet-mega-about {
	/* justify-content: center; */
}

/* .legal-billet-mega.legal-image .billet-mega-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */

.legal-billet-mega.legal-image .billet-mega-content,
.legal-billet-mega.legal-horizontal .billet-mega-content {
	display: flex;
	/* align-items: center; */
	/* column-gap: 50px; */
	flex-wrap: wrap;
}

@media (max-width: 767px) {
    .legal-billet-mega.legal-horizontal .billet-mega-content {
        flex-direction: column;
		row-gap: 1rem;
    } 
}

.legal-billet-mega .billet-mega-about {
	column-gap: 16px;
	row-gap: 18px;
}

.legal-billet-mega .mega-about-afillate[href=""] {
	display: block;
	pointer-events: none;
}

.legal-billet-mega .mega-about-review[href=""] {
	pointer-events: none;
}

.legal-billet-mega .mega-about-links {
	display: flex;
	column-gap: 10px;
}

.legal-billet-mega .link-item {
	display: flex;
	align-items: center;
}

/* Position */

.legal-billet-mega {
	/* padding: 30px; */
	margin-bottom: 24px;
}

.legal-billet-mega .billet-mega-about {
	/* padding: 40px 20px 40px 0px; */
	padding: 20px;
}

.legal-billet-mega .link-item {
	padding: 7px;
}

.legal-billet-mega .billet-mega-content
{
	padding: 18px 20px;
}

.legal-billet-mega .billet-mega-content p {
	margin: 0px;
}

.legal-billet-mega .mega-about-afillate {
	/* padding: 5px 40px 5px 20px; */
	padding: 10px 18px;
}

.legal-billet-mega:not( .legal-image ) .billet-mega-content {
	/* padding-top: 10px; */
}

.legal-billet-mega:not( .legal-horizontal ) p:not( :last-child ) {
    padding-bottom: 18px;
	margin-bottom: 0px;
}

.legal-billet-mega.legal-horizontal p:not( :last-child ) {
    padding-bottom: 0px;
}

.legal-billet-mega h3,
.legal-billet-mega h4 {
    margin-top: 0px;
}

/* .legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ):not( .legal-list-pros ):not( .legal-list-cons ) {
	padding-top: 0px;
    padding-bottom: 15px;
} */

.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content .legal-list-pros,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content .legal-list-cons,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ol:not( .legal-highlight ):not( [style] ) {
	padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 0px;
}

.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-pros li,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-cons li,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ) li,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ol li {
	padding-left: calc(24px + 12px);
}

.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-pros li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-cons li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ) li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ol:not( :last-child ) {
	padding-bottom: 24px;
}

.legal-billet-mega.legal-horizontal .billet-mega-content > ul:not( .legal-override ):not( .legal-highlight ):not( [style] ) {
	padding-top: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
}

.legal-billet-mega .legal-license {
	padding-right: 21px;
}

.legal-billet-mega .billet-mega-footer {
	padding-right: 20px;
	padding-bottom: 18px;
	padding-left: 20px;
}

/* Width and Height */

.legal-billet-mega .billet-mega-content {
	width: 100%;
}

.legal-billet-mega.legal-default .billet-mega-about,
.legal-billet-mega.legal-image .billet-mega-about,
.legal-billet-mega.legal-no-controls .billet-mega-about,
.legal-billet-mega.legal-horizontal .billet-mega-about {
	/* width: calc( 20% - 36px ); */
	flex-basis: 100%; 
}

.legal-billet-mega.legal-horizontal .legal-license {
	/* flex-basis: 15%; */
}
.legal-billet-mega.legal-horizontal .legal-license ~ p {
	/* flex-basis: 35%; */
}
.legal-billet-mega.legal-horizontal .legal-license ~ p ~ ul {
	/* flex-basis: 50%; */
}

.legal-billet-mega .mega-about-logo {
	width: 72px;
	height: 72px;
}

/* .legal-billet-mega.legal-default .mega-about-logo,
.legal-billet-mega.legal-no-controls .mega-about-logo,
.legal-billet-mega.legal-horizontal .mega-about-logo {
	width: 72px;
	height: 72px;
}

.legal-billet-mega.legal-image .mega-about-logo {
	width: 72px;
	height: 72px;
}

.legal-billet-mega.legal-author .mega-about-logo {
	width: 70px;
	height: 70px;
}

.legal-wiki-single .legal-wiki-main .legal-billet-mega.legal-author .mega-about-logo {
	width: 72px;
	height: 72px;
} */

.legal-billet-mega .link-item {
	width: calc(32px - 7px * 2);
    height: calc(32px - 7px * 2);
}


.legal-billet-mega .mega-about-afillate {
	/* width: 100%; */
	min-width: 128px;
}

.legal-billet-mega .billet-mega-footer {
	width: 100%;
}

/* Background */

.legal-billet-mega {
	/* box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px 0px;
	border-radius: 20px; */
	background-color: var(--Base-base-01);
	border-radius: 24px 24px 18px 18px;
	border: 1px solid var(--Base-base-09);
}

.legal-billet-mega .billet-mega-about {
	border-bottom: 1px solid var(--Base-base-09);
}

.legal-billet-mega .mega-about-logo {
	background-position: center center;
	background-repeat: no-repeat;
	/* background-size: contain; */
	border: 1px solid var(--Base-base-09);
}

.legal-billet-mega:not( .legal-author ) .mega-about-logo {
	background-size: 80%;
	border-radius: 12%;
}

.legal-billet-mega.legal-author .mega-about-logo {
	background-size: cover;
	border-radius: 50%;
}

.legal-billet-mega .mega-about-afillate {
	/* background-image: url( '../../img/review/review-bet-here.svg' );
	background-position: right 22px center;
	background-repeat: no-repeat;
	background-size: auto; */
	/* background-color: rgb(89, 151, 227); */
	background-color: var(--Base-base-09);
	border-radius: 60px;
}

.legal-billet-mega .mega-about-afillate:hover {
	background: var(--Base-base-07);
}

.legal-billet-mega .link-item {
	border: 1px solid var(--Base-base-09 );
    border-radius: 4px;
}

/* .legal-billet-mega.legal-image {
	background-image: linear-gradient(to left, #eff5fb, #fdfdfd);
} */

.legal-billet-mega.legal-horizontal {
	background-color: #fff;
}

.legal-billet-mega.legal-horizontal .billet-mega-content a {
	background: unset;
}

.legal-billet-mega .legal-license {
	background-image: url( '../../img/billet/mega/mega-license.svg' );
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto;
}

/* Typography */

.legal-billet-mega .mega-about-afillate,
.legal-billet-mega .mega-about-review,
.legal-billet-mega .content-title-link,
.legal-billet-mega .mega-about-name,
.legal-billet-mega .mega-about-name,
.legal-billet-mega .mega-about-post,
.legal-billet-mega .mega-about-prefix,
.legal-billet-mega.legal-horizontal .billet-mega-content a {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-billet-mega .mega-about-afillate {
	/* font-family: "Source Sans Pro"; */
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	/* text-transform: uppercase; */
	text-decoration: none;
	text-align: center;
	color: var(--Base-base-01);
}

.legal-billet-mega .mega-about-review {
	/* font-family: "Source Sans Pro"; */
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	color: var( --Base-base-09 );
	text-decoration: none;
	text-transform: uppercase;
}

/* .legal-billet-mega .mega-content-title, */

.legal-billet-mega .content-title-link {
	/* font-family: "Source Sans Pro"; */
	/* font-size: 28px;
	font-weight: 700;
	line-height: 33.6px; */
	color: var( --Base-base-09 );
	text-decoration: none;
}

.legal-billet-mega .mega-about-name {
	/* font-family: "Source Sans Pro"; */
	font-size: 16px;
	font-weight: 700;
	/* letter-spacing: 2px; */
	line-height: 24px;
	color: var( --Base-base-09 );
	/* text-transform: uppercase; */
}

.legal-billet-mega .mega-about-post {
	/* font-family: "Source Sans Pro"; */
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--Base-base-05);
}

.legal-billet-mega .mega-about-prefix {
	/* font-family: "Source Sans Pro"; */
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 28px;
	color: rgba(10, 10, 10, 0.85);
}

.legal-billet-mega.legal-horizontal .billet-mega-content p {
	text-align: center;
}

.legal-billet-mega.legal-horizontal .billet-mega-content a {
	/* font-family: "Source Sans Pro"; */
	font-size: 16px;
	font-weight: 700;
	line-height: 20.8px;
	color: rgb(12, 11, 45);
}