@media screen and ( min-width: 768px ) {
	/* Width and Height */

	.legal-billet-mega .billet-mega-about {
		width: calc( 25% - 15px );
	}

	.legal-billet-mega .billet-mega-content {
		width: calc( 75% - 15px );
	}
}

/* Display */

.legal-billet-mega {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

/* Position */

.legal-billet-mega {
	padding: 30px;
}

/* Width and Height */

/* .legal-billet-mega .billet-mega-footer {
	width: 100%;
} */

/* Background */

.legal-billet-mega {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px 0px;
	border-radius: 20px;
}