@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-billet-mega .billet-mega-about
	{
		flex-wrap: wrap;
	}

	/* Position */
	.legal-billet-mega h3,
	.legal-billet-mega h4 {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	/* Width and Height */
	
	.legal-billet-mega .mega-about-afillate,
	.legal-billet-mega .mega-about-links
	{
		flex-basis: 100%;
	}

	/* .legal-billet-mega .billet-mega-tnc:not( .legal-active) p {
		width: 75%;
	} */
	
	/* .legal-billet-mega .billet-mega-tnc .billet-mega-tnc-control {
		width: 25%;
	} */

	/* Typography */

	.legal-billet-mega li {
		font-size: 14px;
        line-height: 20px;
	}
}

@media screen and ( min-width: 768px ) {

	/* Position */

	.legal-billet-mega .mega-about-afillate
	{
		margin-left: auto; 
	}
	
	.legal-billet-mega .mega-about-links
	{
		margin-left: auto;
	}

	.legal-billet-mega h3:not( .legal-bonus h3 ),
	.legal-billet-mega h4 {
		padding-top: 14px;
		padding-bottom: 24px;
	}

	/* Width and Height */

	.legal-billet-mega.legal-author .billet-mega-about {
		flex-basis: 100%;
	}

	/* .legal-billet-mega .billet-mega-tnc:not( .legal-active) p {
		width: 90%;
	} */
	
	/* .legal-billet-mega .billet-mega-tnc .billet-mega-tnc-control {
		width: 10%;
	} */

	/* Typography */

	.legal-billet-mega li {
		font-size: 16px;
	}

	.legal-billet-mega:not( .legal-horizontal ) li {
    	line-height: 22px;
	}
}

/* Display */

/* .legal-billet-mega */
.legal-billet-mega .billet-mega {
	display: flex;
	flex-wrap: wrap;
}

.legal-billet-mega .billet-mega-about {
	display: flex;
	align-items: center;
	column-gap: 16px;
	row-gap: 18px;
}

.legal-billet-mega .mega-about-review {
	display: inline-block;
}

.legal-billet-mega.legal-image .billet-mega-content,
.legal-billet-mega.legal-horizontal .billet-mega-content {
	display: flex;
	flex-wrap: wrap;
}

.legal-billet-mega.legal-horizontal .billet-mega-content {
	row-gap: 16px;
}

.legal-billet-mega .mega-about-afillate {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-billet-mega .mega-about-afillate[href=""] {
	pointer-events: none;
}

.legal-billet-mega .mega-about-review[href=""] {
	pointer-events: none;
}

.legal-billet-mega .mega-about-links {
	display: flex;
	column-gap: 10px;
}

.legal-billet-mega .legal-license {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.legal-billet-mega .legal-license::before {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-billet-mega .link-item {
	display: flex;
	align-items: center;
}

.legal-billet-mega .billet-mega-tnc {
	display: flex;
}

.legal-billet-mega .billet-mega-tnc.legal-active {
	flex-wrap: wrap;
}

.legal-billet-mega .billet-mega-tnc:not( .legal-active ) p:not( :first-of-type ),
.legal-billet-mega .billet-mega-tnc.legal-active .billet-mega-tnc-control,
.legal-billet-mega .billet-mega-tnc.legal-short-tnc .billet-mega-tnc-control {
	display: none;
}

/* Position */

.legal-billet-mega {
	margin-bottom: 24px;
}

.legal-billet-mega .billet-mega-about,
.legal-billet-mega .billet-mega-content {
	padding: 20px;
}

.legal-billet-mega .link-item {
	padding: 7px;
}

.legal-billet-mega .billet-mega-content p:not( .legal-contextbox ):not( .legal-overview ):not( .legal-attention ),
.legal-billet-mega .billet-mega-tnc p {
	margin: 0px;
}

.legal-billet-mega .mega-about-afillate {
	padding: 10px 18px;
}

.legal-billet-mega:not( .legal-horizontal ) p:not( .legal-contextbox ):not( .legal-overview ):not( .legal-attention ):not( :last-child ):not( .billet-mega-tnc p ) {
    padding-bottom: 18px;
} 

.legal-billet-mega.legal-horizontal p:not( :last-child ) {
    padding-bottom: 0px;
}

.legal-billet-mega h3,
.legal-billet-mega h4 {
    margin-top: 0px;
}

.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content .legal-list-pros,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content .legal-list-cons,
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ol:not( .legal-highlight ):not( [style] ) {
	padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 0px;
}

.legal-billet-mega .billet-mega-content > .legal-list-pros li,
.legal-billet-mega .billet-mega-content > .legal-list-cons li,
.legal-billet-mega .billet-mega-content > ul:not( .legal-highlight ):not( [style] ) li,
.legal-billet-mega .billet-mega-content > ol li {
	padding-left: calc(24px + 12px);
}

.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-pros li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > .legal-list-cons li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ul:not( .legal-highlight ):not( [style] ) li:not( :last-child ),
.legal-billet-mega:not( .legal-horizontal ) .billet-mega-content > ol li:not( :last-child ) {
	padding-bottom: 24px;
}

.legal-billet-mega.legal-horizontal .billet-mega-content > ul:not( .legal-override ):not( .legal-highlight ):not( [style] ) {
	padding-top: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
}

.legal-billet-mega .legal-license {
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 2px 8px 2px 3px;
}

.legal-billet-mega .billet-mega-footer {
	padding-right: 20px;
	padding-bottom: 18px;
	padding-left: 20px;
}

.legal-billet-mega .billet-mega-tnc {
	padding-top: 32px;
	padding-right: 24px;
  	padding-bottom: 12px;
	padding-left: 24px;
	margin-top: -24px;
}

/* Width and Height */

.legal-billet-mega .billet-mega-content {
	width: calc(100% - (20px * 2));
}

.legal-billet-mega.legal-default .billet-mega-about,
.legal-billet-mega.legal-image .billet-mega-about,
.legal-billet-mega.legal-no-controls .billet-mega-about,
.legal-billet-mega.legal-horizontal .billet-mega-about,
.legal-billet-mega.legal-author .billet-mega-about {
	flex-basis: 100%; 
}

.legal-billet-mega .mega-about-logo {
	width: 70px;
	height: 70px;
}

.legal-billet-mega .link-item {
	width: calc(32px - 7px * 2);
    height: calc(32px - 7px * 2);
}

.legal-billet-mega .legal-license::before {
	width: 16px;
	height: 16px;
}

.legal-billet-mega .mega-about-afillate {
	min-width: 128px;
	min-height: 30px;
}

.legal-billet-mega .billet-mega-content p:not( .legal-contextbox ):not( .legal-overview ):not( .legal-attention ),
.legal-billet-mega.legal-horizontal .billet-mega-content p,
.legal-billet-mega.legal-horizontal .billet-mega-content ul {
	width: 100%;
}

.legal-billet-mega .billet-mega-footer {
	width: 100%;
}

/* Background */

/* .legal-billet-mega */
.legal-billet-mega .billet-mega {
	background-color: var(--Base-base-01);
	border-radius: 24px 24px 18px 18px;
	border: 1px solid var(--Base-base-09);
}

.legal-billet-mega .billet-mega-about {
	border-bottom: 1px solid var(--Base-base-09);
}

.legal-billet-mega .mega-about-logo {
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid var(--Base-base-09);
}

.legal-billet-mega:not( .legal-author ) .mega-about-logo {
	background-size: contain;
	border-radius: 12%;
	background-color: var(--Logo-background);
}

.legal-billet-mega.legal-author .mega-about-logo {
	background-size: cover;
	border-radius: 50%;
}

.legal-billet-mega .mega-about-afillate {
	background-color: var(--Base-base-09);
	border-radius: 60px;
}

.legal-billet-mega .mega-about-afillate:hover {
	background-color: var(--Base-base-07);
}

.legal-billet-mega .link-item {
	border: 1px solid var(--Base-base-09);
    border-radius: 4px;
}

.legal-billet-mega.legal-horizontal {
	background-color: var(--Base-base-01);
}

.legal-billet-mega .legal-license {
	border-radius: 16px;
	background-color: var(--Base-base-02);
}

.legal-billet-mega .legal-license::before {
	background-color: var(--primary-blue-Blue-80);
	border-radius: 50%;
}

.legal-billet-mega .billet-mega-tnc {
	border-radius: 0px 0px 24px 24px;
	border-left: 1px solid var(--Base-base-09);
	border-right: 1px solid var(--Base-base-09);
	border-bottom: 1px solid var(--Base-base-09);
}

/* Typography */

.legal-billet-mega .mega-about-afillate,
.legal-billet-mega .mega-about-review,
.legal-billet-mega .content-title-link,
.legal-billet-mega .mega-about-name,
.legal-billet-mega .mega-about-name,
.legal-billet-mega .mega-about-post,
.legal-billet-mega .mega-about-prefix,
.legal-billet-mega.legal-horizontal .billet-mega-content a,
.legal-billet-mega .billet-mega-tnc {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-billet-mega .mega-about-afillate,
.legal-billet-mega .mega-about-review {
	font-size: 14px;
	line-height: 20px;
}

.legal-billet-mega .mega-about-afillate {
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	color: var(--Base-base-01);
}

.legal-billet-mega .mega-about-review {
	font-weight: 400;
	color: var( --Base-base-09 );
}

.legal-billet-mega .content-title-link {
	color: var( --Base-base-09 );
	text-decoration: none;
}

.legal-billet-mega .mega-about-name {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: var( --Base-base-09 );
}

.legal-billet-mega .mega-about-post {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: var(--Base-base-05);
}

.legal-billet-mega .mega-about-prefix {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 28px;
	color: rgba(10, 10, 10, 0.85);
}

.legal-billet-mega .legal-license {
	font-size: 13px;
	line-height: 26px;
}

.legal-billet-mega .legal-license::before {
	content: '\F10D';
	font-family: var(--legal-font-icons);
    line-height: 12px;
    font-size: 12px;
	font-weight: 600;
	color: var( --Base-base-01 );
}

.legal-billet-mega.legal-horizontal .billet-mega-content a {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: var( --Base-base-09 );
}

.legal-billet-mega.legal-horizontal .billet-mega-content a:hover {
	text-shadow: 0 0 0.6px var(--Base-base-09);
}

.legal-billet-mega.legal-horizontal li {
	line-height: 26px;
}

.legal-billet-mega .billet-mega-tnc p,
.legal-billet-mega .billet-mega-tnc-control {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.legal-billet-mega .billet-mega-tnc p {
	color: var( --Base-base-05 );
}

.legal-billet-mega .billet-mega-tnc:not( .legal-active ) p {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.legal-billet-mega .billet-mega-tnc-control:hover {
	text-shadow: 0 0 0.35px var(--Base-base-09);
}

.legal-billet-mega .billet-mega-tnc-control::before {
	content: attr( data-default );
	color: var( --Base-base-08 );
	cursor: pointer;
	white-space: nowrap;
}