@media screen and ( max-width: 767px ) {

    /* Billet Display */

    .billet {
        flex-direction: column;
    }

    .billet-center {
        row-gap: 16px;
    }  

    .billet-title {
        flex-wrap: wrap;
        column-gap: 9.18px;
        row-gap: 16px;
    }

    .billet-list-part.legal-column:not( .billet-list-part.legal-column:not( .legal-default ) + .billet-list-part.legal-default.legal-column ) {
        flex-direction: column;
    }

    .billet-list-part.legal-column:not( .legal-default ) + .billet-list-part.legal-default.legal-column {
        column-gap: 24px;
        order: 0;
    }

    .billet-list-part.legal-column:not( .billet-list-part.legal-column:not( .legal-default ) + .billet-list-part.legal-default.legal-column ) {
        order: 1;
    }

    /* Billet Position */

    .billet-center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .billet-item .billet .billet-main,
    .billet-item .billet .billet-bonus {
        padding: 20px;
    }

    .billet-right .bonus-button {
        margin-top: 32px;
    }

    .billet-item .billet-footer:not( :empty ) {
        padding-right: 16px;
        padding-left: 16px;
    }

    /* Billet Width and Height */
    .billet-left,
    .billet-center,
    .billet-right {
        min-height: 168px;
    }

    .billet-item .legal-logo {  
        width: 48px;
        height: 48px;
    }

    .billet .bonus-mobile-item::before {
        width: 24px;
        height: 24px;
    }

    /* Billet Background */

    .billet-left {
        border-radius: 20px 20px 0px 0px;
    }

    .billet-right {
        border-radius: 0px 0px 24px 24px;
    }

    .billet-item .billet .billet-main {
        border-bottom: var( --base-border-billet ); 
    }

    /* Billet Typography */

    .billet-list-part .billet-list-part-item {
        font-size: 14px;
        line-height: 20px;
    }

    .billet-item .billet-footer {
        font-size: 10px;
        line-height: 14px;
    }

    .billet-item .billet-description-full ul li {
        font-size: 14px;
        line-height: 20px;
    }

}

@media screen and ( min-width: 768px ) {

     /* Billet Display */

    .billet-center {
        row-gap: 18px;
    }    

    .billet-title {
        column-gap: 16px;
    }

    .billet .title-data {
        row-gap: 4px;
    }

    .billet-list-part.legal-column {
        flex-direction: column;
    }

    /* Billet Width and Height */
    .billet-left,
    .billet-center,
    .billet-right {
        min-height: 250px;
    }

    .billet-left {
        width: calc( 22% - 20px );
    }

    .billet-item .billet-bonus
    {
        width: calc( 100% / 3 );
    }

    .billet-item .billet-main
    {
        width: calc( 100% / 3 * 2 );
    }

    .billet-item .legal-logo {  
        width: 70px;
        height: 70px;
    }

    .billet .bonus-mobile-item::before {
        width: 28px;
        height: 28px;
    }

    /* .billet-list-part.legal-column.legal-default:not( .billet-list-part.legal-column:not( .legal-default ) + .billet-list-part.legal-default.legal-column ) {
        width: calc( 50% - 28px );
    } */

    /* .billet-list-part.legal-column:not( .legal-default ) */

    .billet .billet-list-part:not( .legal-default )
    {
        /* width: 72%; */
        /* width: calc( 100%/3 * 2 - 14px ); */

        flex-basis: calc( 100% / 3 * 2 - 14px );
        flex-grow: 1;
    }

    /* .billet-list-part.legal-column:not( .legal-default ) + .billet-list-part.legal-default.legal-column */

    .billet-list-part:not( .legal-default ) + .billet-list-part.legal-default.legal-column
    {
        /* width: calc( 28% - 28px); */
        /* width: calc( 28% - 8px); */
        /* width: calc( 100%/3 - 14px ); */
        
        flex-basis: calc( 100% / 3 - 14px );
    }

    .billet-list-part.legal-default.legal-column:nth-child( 2 ),
    .billet-list-part.legal-default.legal-column + .billet-list-part.legal-default.legal-column {
        flex-basis: calc( 50% - ( 28px / 2 ) );
    }

    /* Position */

    .billet-item .billet .billet-main,
    .billet-item .billet .billet-bonus {
        padding: 20px 24px;
    }

    .billet .bonus-mobile {
        margin-left: auto;
    }

    .billet-right .bonus-button {
        margin-top: auto;
    }

    .billet-item .billet-footer:not( :empty ) {
        padding-right: 24px;
        padding-left: 24px;
    }

    /* Billet Background */

    .billet-left {
        border-radius: 20px 0px 0px 20px;
    }

    .billet-right {
        border-radius: 0px 24px 24px 0px;
    }

    .billet-item .billet .billet-main {
        border-right: var( --base-border-billet ); 
    }

    /* Billet Typography */

    .billet-list-part .billet-list-part-item {
        font-size: 16px;
        line-height: 22px;
    }

    .billet-item .billet-footer {
        font-size: 12px;
        line-height: 18px;
    }

    .billet-item .billet-description-full ul li {
        font-size: 16px;
        line-height: 22px;
    }

}

/* Body */
body {
    background-color: #EDEFF4;
}

/* Display */

.billet {
    display: flex;
    flex-wrap: wrap;
}

.billet-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.billet-left a {
    display: block;
    width: fit-content;
}

.billet-left .legal-review {
    display: block;
}

.billet-center {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 28px;
}

.billet-title {
    display: flex;
}

.billet-item .legal-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billet .title-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    column-gap: 14px;
}

.billet .title-data-group {
    display: flex;
    column-gap: 8px;
}

.billet-title .billet-title-rating {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.billet-list-part {
    display: flex;
    row-gap: 8px;
}

.billet-list-part.legal-row {
    flex-direction: column;
}

.billet-list-part:not( .legal-default.legal-row ) .billet-list-part-item {
    display: flex;
    column-gap: 8px;
}

.billet-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 14px;
}

.billet-right .legal-play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.billet-right .billet-footer-control {
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.billet-spoiler:not( .legal-active ) {
    display: none;
}

.billet-right .bonus-spoiler {
    cursor: pointer;
}

.billet-right .bonus-spoiler.legal-active .spoiler-open,
.billet-right .bonus-spoiler:not( .legal-active ) .spoiler-close {
    display: none;
}

.billet .legal-disabled {
    pointer-events: none;
}

.billet .bonus-mobile {
    display: flex;
    column-gap: 8px;
}

.billet .bonus-mobile-item::before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billet-item .billet-footer:not( .legal-active ) {
    display: none;
}

.billet-item .billet-footer.legal-active {
    display: block;
    content: "Hello world";
}

/* Background */

.billet-item .billet
{
    border-radius: 24px;
    border: var( --base-border-billet );
    background-color: var(--Base-base-01, #FFF);
}

.billet-item .billet-bonus
{
    background-color: var(--Primitives-blue-40);
}

.billet-item .legal-logo {
    border: 1px solid var(--Base-base-09);
    border-radius: 12.8px;
    overflow: hidden;
    background-color: var(--Logo-background);
}

.billet-title .billet-title-achivement {
    background-position: left 8px center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    background-color: var(--Base-base-01);
    border: 1px solid var(--Base-base-09); 
}

.billet-list-part .billet-list-part-item {
    background-repeat: no-repeat;
}

.billet-list-part.legal-close .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-close.svg');
}

.billet-list-part.legal-triangle .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-triangle.svg');
}

.billet-right .legal-play {
    background-color: var(--Base-base-09);
    border-radius: 60px;
}

.billet-right .legal-play:hover {
    background-color: var(--Base-base-07);
}

.billet-right .bonus-spoiler {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
}

.billet-right .bonus-spoiler:not( .legal-active ) {
    background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-spoiler-open.svg' );
}

.billet-right .bonus-spoiler.legal-active {
    background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-spoiler-close.svg' );
}

.billet-left .legal-review {
    border-bottom: 1px solid transparent;
}

.billet-left .legal-review:hover {
    border-bottom: 1px solid #FFFFFF;
}

.billet-left .billet-order {
    clip-path: polygon(100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
    background-color: rgb(89, 151, 227);
}

.billet .bonus-mobile-item::before {
    border-radius: 50%;
    border: 1px solid var(--Base-base-09); 
}

.billet .legal-iphone::before {
    content: '\F112';
}

.billet .legal-android::before {
    content: '\F111';
}

.billet .legal-site::before {
    content: '\F113';
}

/* .billet .profit-label {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
} */

/* .billet .profit-label {
    background-image: url( '../../img/billet/profit/billet-profit.svg' );
} */

.billet .billet-license {
    background-image: url( '../../img/billet/billet-license-no.svg' );
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}

.billet-item {
    --base-border-billet: 1px solid var(--Base-base-09, #0A0A0A);
    border-radius: 24px;
}

.billet-item:hover {
    box-shadow: 4px 4px 0px 0px #000;
	transition: 0.4s;
}


.billet-item .billet-footer
{
    border-radius: 0px 0px 24px 24px;
    border-left: var( --base-border-billet );
    border-right: var( --base-border-billet );
    border-bottom: var( --base-border-billet );
    background: var(--Base-base-02);
}

.billet-item .billet .billet-main,
.billet-item .billet .billet-bonus,
.billet-item .billet-footer
{
    box-sizing: border-box;
}

/* Width and Height */

.billet-item .legal-logo {
    box-sizing: border-box;
}

.billet-item .legal-logo img {  
   width: 100%;
    height: auto; 
}

.billet-right .bonus-button {
    width: 100%;
}

.billet-right .legal-play {
    min-height: calc( 50px - (10px * 2) );
}

.billet-right .bonus-title,
.billet-right .bonus-description {
    width: 100%;
}

.billet-spoiler {
    width: 100%;
}

.billet-title {
    width: 100%;
}

.billet .title-data-group {
    width: 100%;
}

.billet .bonus-mobile-item {
    height: fit-content;
}

/* .billet-list-part.legal-row .billet-list-part-item {
    width: auto;
} */

.billet-list-part.legal-row {
    /* width: 100%; */
}

/* Position */

.billet-item {
    margin-bottom: 24px;
}

.billet-center,
.billet-right {
    padding-top: 20px;
    padding-bottom: 20px;
}

.billet-item .billet-footer
{
    margin-top: -24px;
}

.billet-item .billet-footer:not( :empty ) {
    padding-top: 32px;
    padding-bottom: 8px;
}

.billet-item .billet-footer:empty {
    padding-top: 23px;
    padding-bottom: 0px;
}

.billet-title h3 {
    margin: 0px;
}

/* .billet-title .billet-title-achivement.legal-background {
    padding: 3px 10px;
} */

.billet-title .billet-title-achivement {
    padding-top: 5px;
    padding-right: 14px;
    padding-bottom: 5px;
    padding-left: calc(8px + 18px + 4px);
    position: absolute;
    top: calc(0px - (30px / 2));
}

/* .billet-list-part:not( .legal-check ):not( .legal-plus ):not( .legal-minus ):not( .legal-default ) .billet-list-part-item {
    padding-left: 30px; 
} */

.billet-left .billet-order {
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 8px 5px;
}

.billet-left {
    position: relative;
}

.billet-right .legal-play {
    padding: 10px 18px;
}

.billet-right .bonus-spoiler {
    padding-right: 22px;
}

.billet-right .billet-footer-control.legal-active::after {
    transform: rotate(180deg);
}

/* .billet .profit-label {
    padding-left: 33px;
} */

.billet .billet-license {
    padding-top: 45px;
}

.billet-item .billet
{
    position: relative;
}

.billet-item .billet-description-full ul {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.billet-item .billet-description-full ul li {
    position: relative;
    padding-left: calc( 24px + 12px );
}

.billet-item .billet-description-full ul li:not( :last-child ) {
    padding-bottom: 24px;
}

.billet-item .billet-description-full ul li::before {
    position: absolute;
    left: 0px;
}

/* Billet Typography */

.billet-left .legal-review.legal-black {
    color: var(--Base-base-09);
}

.billet-left .legal-review:not( .legal-black ) {
    color: #FFFFFF;
}

.billet-item {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.billet-left .legal-review {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
}

.billet-center .legal-title,
.billet-center .billet-order,
.billet-title .billet-title-rating,
.billet-title .legal-review,
.billet-title .billet-title-achivement,
.billet-list-part:not( .legal-minus ) .billet-list-part-item {
    color: var(--Base-base-09);
    font-style: normal;
}

.billet-center .legal-title,
.billet-center .billet-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.billet-title .billet-title-rating {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.billet-title .billet-title-rating::before,
.billet-list-part:not( .legal-default ) .billet-list-part-item::before {
    font-family: var(--legal-font-icons);
    line-height: 24px;
    font-size: 24px;
}

.billet-title .billet-title-rating::before {
    content: '\F110';
}

.billet-list-part.legal-check .billet-list-part-item::before {
    content: '\F107';
}

.billet-list-part.legal-plus .billet-list-part-item::before {
    content: '\F107';
}

.billet-list-part.legal-minus .billet-list-part-item::before {
    content: '\F10E';
    color: var(--Base-base-05);
}

.billet-list-part.legal-check-round .billet-list-part-item::before {
    content: '\F107';
}

.billet-title .billet-title-achivement {
    font-style: normal;
    font-weight: 600;
}

.billet .bonus-mobile-item {
    text-decoration: none;
}

.billet .bonus-mobile-item::before {
    font-family: var( --legal-font-icons );
    font-size: 18px;
    line-height: 18px;
    color: var(--Base-base-09);
}

.billet .bonus-mobile-item:hover.bonus-mobile-item::before {
    color: var(--Base-base-07);
    font-weight: 600;
}

.billet-title .legal-review {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.billet-title .billet-title-achivement {
    font-size: 12px;
    line-height: 18px;
}

.billet-list-part:not( .legal-default ) .billet-list-part-item {
    font-weight: 400;
}

.billet-list-part.legal-default .billet-list-part-item {
    font-weight: 400;
    /* text-transform: uppercase; */
}

.billet-right .bonus-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.billet-right .legal-bonus,
.billet-right .legal-bonus:hover,
.billet-right .legal-bonus:active,
.billet-right .legal-bonus:visited {
    color: var( --Base-base-09 );
    text-decoration: none;
}

.billet-right .bonus-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.5px;
}

.billet-right .legal-play {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: var(--Base-base-01);
}

.billet-item .billet-description-full ul {
    list-style: none;
}

.billet-item .billet-description-full ul li::before {
    content: '\F107';
    font-family: var(--legal-font-icons);
    font-size: 24px;
    line-height: 24px;
}

.billet-right .billet-footer-control {
    font-size: 14px;
    line-height: 18px;
}

.billet-right .billet-footer-control:not( .legal-active ):before {
    content: attr( data-default );
}

.billet-right .billet-footer-control.legal-active::before {
    content: attr( data-active );
}

.billet-right .billet-footer-control::after {
    content: '\F103';
    font-family: var(--legal-font-icons);
    font-size: 16px;
    line-height: 16px;
}

.billet-right .bonus-spoiler {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.billet-left .billet-order {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

.billet .profit-label,
.billet .profit-value {
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
    color: rgb(59, 59, 59);
}

.billet .profit-label {
    font-weight: 400;
}

.billet .profit-value {
    font-weight: 600;
}

.billet-item .billet-footer {
    color: var( --Base-base-05 );
    font-style: normal;
    font-weight: 400;
}

.billet .billet-license .billet-license-label {
    color: rgb(59, 59, 59);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 22.5px;
}