@media screen and ( min-width: 768px ) {
	/* Width and Height */

	.legal-billet-mega .billet-mega-about {
		width: calc( 20% - 15px );
	}

	.legal-billet-mega .billet-mega-content {
		width: calc( 80% - 15px );
	}
}

/* Display */

.legal-billet-mega {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.legal-billet-mega .billet-mega-about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Position */

.legal-billet-mega {
	padding: 30px;
}

.legal-billet-mega .billet-mega-about {
	padding: 40px 0px;
}

/* Width and Height */

.legal-billet-mega .mega-about-logo {
	width: 100%;
	height: 45px;
}

/* Background */

.legal-billet-mega {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 12px 0px;
	border-radius: 20px;
}

.legal-billet-mega .mega-about-logo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}