/* Selectors */

.billet-item .billet-footer
{
    /* background-color:aliceblue; */
}

@media screen and ( max-width: 767px ) {

    /* Billet Display */

    .billet {
        flex-direction: column;
    }

    /* Billet Position */

    .billet-center {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Billet Width and Height */
    .billet-left,
    .billet-center,
    .billet-right {
        min-height: 168px;
    }

    .billet-item .legal-logo {  
        width: 48px;
        height: 48px;
    }

    /* Billet Background */

    .billet-left {
        border-radius: 20px 20px 0px 0px;
    }

    .billet-right {
        border-radius: 0px 0px 20px 20px;
    }

}

@media screen and ( min-width: 768px ) {

    /* Billet Width and Height */
    .billet-left,
    .billet-center,
    .billet-right {
        min-height: 250px;
    }

    .billet-left {
        width: calc( 22% - 20px );
    }

    .billet-item .billet-bonus
    {
        width: calc( 100% / 3 );
    }

    .billet-item .billet-main
    {
        width: calc( 100% / 3 * 2 );
    }

    .billet-item .legal-logo {  
        width: 70px;
        height: 70px;
    }

    .billet-list-part.legal-column:not( .legal-check ):not( .billet-list-part.legal-check.legal-column + .billet-list-part.legal-default.legal-column ) {
        /* width: calc( 50% - 4px ); */
        width: calc( 50% - 28px );
    }

    .billet-list-part.legal-check.legal-column {
        width: calc(78% - 8px);
    }

    .billet-list-part.legal-check.legal-column + .billet-list-part.legal-default.legal-column {
        width: calc( 22% - 28px);
    }

    /* Billet Background */

    .billet-left {
        border-radius: 20px 0px 0px 20px;
    }

    .billet-right {
        border-radius: 0px 20px 20px 0px;
    }

}

/* Body */
body {
    background-color: #EDEFF4;
}

/* Display */

.billet {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 30px; */
}

.billet-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.billet-left a {
    display: block;
    width: fit-content;
}

.billet-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.billet-center {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    align-content: flex-start;
    row-gap: 18px;
    column-gap: 28px;
    position: relative;
}

.billet-title {
    display: flex;
    column-gap: 16px;
}
/* @media (max-width: 768px) {
    .billet-title {
        flex-wrap: wrap;
        row-gap: 0.5rem;
    } 
} */

.billet .title-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    column-gap: 14px;
}

.billet .title-data-group {
    display: flex;
    column-gap: 14px;
}

.billet-title .billet-title-rating {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.billet .billet-title-achivement.legal-background {
    position: absolute;
    top: 0px;
    right: 30px;
}

.billet-list-part {
    display: flex;
    row-gap: 8px;
}

.billet-list-part.legal-row {
    /* display: flex; */
    /* column-gap: 4px; */
    /* row-gap: 8px; */
    flex-direction: column;
}

/* @media (max-width: 768px) {
    .billet-list-part.legal-row {
        flex-direction: column;
    } 
} */

.billet-list-part.legal-column {
    display: flex;
    flex-direction: column;
}

.billet-list-part .billet-list-part-item {
    display: flex;
    column-gap: 8px;
}

.billet-right .legal-play {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.billet-left .legal-review {
    display: block;
}

.billet-spoiler:not( .legal-active ) {
    display: none;
}

.billet-right .bonus-spoiler {
    cursor: pointer;
}

.billet-right .bonus-spoiler.legal-active .spoiler-open,
.billet-right .bonus-spoiler:not( .legal-active ) .spoiler-close {
    display: none;
}

.billet .legal-disabled {
    pointer-events: none;
}

.billet .bonus-mobile {
    display: flex;
    column-gap: 15px;
}

.billet .bonus-mobile-item {
    display: block;
}

.billet-item .billet
{
    overflow: hidden;
}

/* Background */

.billet {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.billet-item .billet-main
{
    background-color: var(--Base-base-01, #FFF);
}

.billet-item .billet-bonus
{
    background-color: var(--Primitives-blue-40, #D9F2FF);
}

.billet-item .legal-logo {
    border: 1px solid var(--Base-base-09);
    border-radius: 12.8px;
    overflow: hidden;
}

/* .billet-item .legal-logo img {  
    border-radius: 12.8px;
} */

/* .billet-title .billet-title-rating {
    background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-rating.svg' );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
} */

.billet-title .billet-title-achivement.legal-image {
    background-position: left 8px center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
}

.billet-list-part .billet-list-part-item {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
}

/* .billet-list-part.legal-check .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-check.svg');
}  */

.billet-list-part.legal-check-round .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-check-round.svg');
}

.billet-list-part.legal-close .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-close.svg');
}

.billet-list-part.legal-plus .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-plus.svg');
}

.billet-list-part.legal-minus .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-minus.svg');
}

.billet-list-part.legal-triangle .billet-list-part-item {
    background-image: url('/wp-content/themes/thrive-theme-child/assets/img/billet/list/billet-list-triangle.svg');
}

.billet-right .legal-play {
    /* background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-play.svg' ); */
    /* background-color: #007BFF; */
    background-color: var(--Base-base-09);
   /*  background-color: var(--Base-base-09);
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: auto; */
    border-radius: 60px;
}

.billet-right .legal-play:hover {
    background-color: var(--Base-base-07);
}

.billet-right .bonus-spoiler {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
}

.billet-right .bonus-spoiler:not( .legal-active ) {
    background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-spoiler-open.svg' );
}

.billet-right .bonus-spoiler.legal-active {
    background-image: url( '/wp-content/themes/thrive-theme-child/assets/img/billet/billet-spoiler-close.svg' );
}

.billet-left .legal-review {
    border-bottom: 1px solid transparent;
}

.billet-left .legal-review:hover {
    border-bottom: 1px solid #FFFFFF;
}

.billet-left .billet-order {
    clip-path: polygon(100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
    background-color: rgb(89, 151, 227);
}

.billet .bonus-mobile-item {
    background-color: rgb(230, 230, 230);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
}

.billet .legal-iphone {
    background-image: url( '../../img/billet/mobile/billet-mobile-iphone.svg' );
}

.billet .legal-android {
    background-image: url( '../../img/billet/mobile/billet-mobile-android.svg' );
}

.billet .legal-site {
    background-image: url( '../../img/billet/mobile/billet-mobile-site.svg' );
}

.billet .legal-iphone:not( .legal-disabled ):hover {
    background-image: url( '../../img/billet/mobile/billet-mobile-hover-iphone.svg' );
}

.billet .legal-android:not( .legal-disabled ):hover {
    background-image: url( '../../img/billet/mobile/billet-mobile-hover-android.svg' );
}

.billet .legal-site:not( .legal-disabled ):hover {
    background-image: url( '../../img/billet/mobile/billet-mobile-hover-site.svg' );
}

.billet .profit-label {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
}

.billet .profit-label.legal-green {
    background-image: url( '../../img/billet/profit/billet-profit-green.svg' );
}

.billet .profit-label.legal-yellow {
    background-image: url( '../../img/billet/profit/billet-profit-yellow.svg' );
}

.billet .profit-label.legal-red {
    background-image: url( '../../img/billet/profit/billet-profit-red.svg' );
}

.billet .billet-title-achivement.legal-background {
    background-color: rgb(8, 5, 61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.billet .billet-license {
    background-image: url( '../../img/billet/billet-license-no.svg' );
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}

.billet-item {
    --base-border-billet: 1px solid var(--Base-base-09, #0A0A0A);
    border-radius: 24px;
}

.billet-item:hover {
    box-shadow: 4px 4px 0px 0px #000; /*тест ховера*/
	transition: 0.4s;
}


.billet-item .billet-footer
{
    border-radius: 0px 0px 24px 24px;
    border-left: var( --base-border-billet );
    border-right: var( --base-border-billet );
    border-bottom: var( --base-border-billet );
    background: var(--Base-base-02, #F6F6F6);
}

.billet-item .billet
{
    border-radius: 24px;
    border: var( --base-border-billet );
}

.billet-item .billet .billet-main
{
    border-right: var( --base-border-billet ); 
}

.billet-item .billet .billet-main,
.billet-item .billet .billet-bonus,
.billet-item .billet-footer
{
    box-sizing: border-box;
}

/* Width and Height */

/* .billet-left a {
    width: fit-content;
} */

.billet-item .legal-logo {
    box-sizing: border-box;
}

.billet-item .legal-logo img {  
    max-width:100%;
    height: auto; 
}

.billet-right .bonus-button {
    width: 100%;
}

.billet-right .legal-play {
    min-height: calc( 50px - (10px * 2) );
}

.billet-spoiler {
    width: 100%;
}

/* .billet-item .billet-footer
{
    width: auto;
} */

.billet-title {
    width: 100%;
}

/* .billet .title-data {
    width: 100%;
} */

/* .billet .legal-title {
    width: 100%;
} */

.billet .title-data-group {
    width: 100%;
}

/* .billet-list-part .billet-list-part-item {
    min-height: 24px;
} */

.billet-list-part.legal-row .billet-list-part-item {
    /* width: 33.333%; */
    width: auto;
}

/* @media (max-width: 768px) {
    .billet-list-part.legal-row .billet-list-part-item {
        width: auto;
    }
} */

.billet-list-part.legal-row {
    width: 100%;
}

.billet .bonus-mobile-item {
    width: 39px;
    height: 39px;
}

@media (max-width: 576px) {
    .billet-title .billet-title-achivement.legal-image {
        width: 100%;
        text-align: center;
    }
}

/* Position */

.billet-item {
    margin-bottom: 24px;
}

.billet-center,
.billet-right {
    padding-top: 20px;
    padding-bottom: 20px;
}

.billet-item .billet-footer
{
    margin-top: -24px;
}

.billet-item .billet-footer:not( :empty ) {
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.billet-item .billet-footer:empty {
    padding-top: 23px;
    padding-bottom: 0px;
}

.billet-title h3 {
    margin: 0px;
}

/* .billet-title .billet-title-rating {
    padding-left: 30px;
} */

.billet-title .billet-title-achivement.legal-background {
    padding: 3px 10px;
}

.billet-title .billet-title-achivement.legal-image {
    margin-left: auto;
    padding: 5.5px 10px 5.5px 30px;
}

@media (max-width: 768px) {
    .billet-title .billet-title-achivement.legal-image {
        margin-left: 0;
    }
}

/* .billet-list-part:not( .legal-default ) .billet-list-part-item { */
.billet-list-part:not( .legal-check ):not( .legal-default ) .billet-list-part-item {
    /* padding: 3px 0px 0px 30px; */
    padding-left: 30px; 
}

/* .billet-list-part.legal-default .billet-list-part-item {
    padding: 0px 0px 0px 28px;
} */

/* .billet-list-part.legal-check .billet-list-part-item {
    padding: 0px;
} */

.billet-right .legal-play {
    padding: 10px 18px;
}

.billet-right .bonus-spoiler {
    padding-right: 22px;
}

.billet-right .bonus-title,
.billet-right .bonus-description {
    /* margin: 0px 40px; */
    padding: 0px 15px;
}

.billet-left .billet-order {
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 8px 5px;
}

.billet-left {
    position: relative;
}

.billet .profit-label {
    padding-left: 33px;
}

.billet .billet-license {
    padding-top: 45px;
}

.billet-item .billet
{
    position: relative;
}

.billet-item .billet .billet-main,
.billet-item .billet .billet-bonus
{
    padding: 20px 24px;
}

/* Billet Typography */

.billet-left .legal-review.legal-black {
    color: var(--Base-base-09);
}

.billet-left .legal-review:not( .legal-black ) {
    color: #FFFFFF;
}

.billet-item {
    font-family: var( --legal-font-primary );
    font-style: normal;
}

.billet-left .legal-review {
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
}

.billet-center .legal-title,
.billet-center .billet-order {
    /* font-family: "Source Sans Pro"; */
    font-weight: 700;
    /* font-size: 23px; */
    font-size: 16px;
    font-style: normal;
    /* line-height: 29px; */
    line-height: 24px;
    text-decoration: none;
    color: var(--Base-base-09);
}

.billet-title .billet-title-rating {
    /* font-family: 'Source Sans Pro'; */
    font-style: normal;
    /* font-weight: 700;
    font-size: 18px;
    line-height: 29px; */
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--Base-base-09);
}

.billet-title .billet-title-rating::before {
    content: '\F10F';
    /* color: var(--Base-base-09); */
    line-height: 24px;
    font-size: 24px;
    font-family: var(--legal-font-icons);
}

.billet-list-part.legal-check .billet-list-part-item::before {
    content: '\F107';
    line-height: 24px;
    font-size: 24px;
    font-family: var(--legal-font-icons);
}

.billet-title .billet-title-achivement {
    /* font-family: "Source Sans Pro"; */
    font-style: normal;
    font-weight: 600;
}

.billet-title .legal-review {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--Base-base-09);
}

.billet-title .billet-title-achivement.legal-background {
    font-size: 13px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}
.billet-title .billet-title-achivement.legal-image {
    font-size: 14px;
    line-height: 18px;
    color: var(--Base-base-09);
}

.billet-list-part:not( .legal-default ) .billet-list-part-item {
    font-weight: 400;
}

.billet-list-part.legal-default .billet-list-part-item {
    /* font-weight: 600; */
    font-weight: 400;
    text-transform: uppercase;
}

.billet-list-part .billet-list-part-item {
    /* font-family: 'Source Sans Pro'; */
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--Base-base-09);
}

.billet-right .bonus-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.billet-right .legal-bonus,
.billet-right .legal-bonus:hover,
.billet-right .legal-bonus:active,
.billet-right .legal-bonus:visited {
    /* font-family: 'Source Sans Pro'; */
  /*   font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-transform: capitalize;
    color: #0C0B2D; */
    color: var( --Base-base-09 );
    text-decoration: none;
}

/* .billet-right .legal-bonus:hover {
    text-decoration: underline;
} */

.billet-right .bonus-description {
    /* font-family: "Source Sans Pro"; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.5px;
    text-align: center;
}

.billet-right .legal-play {
    /* font-family: 'Source Sans Pro'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* text-transform: uppercase; */
    text-decoration: none;
    text-align: center;
    color: var(--Base-base-01);
}

.billet-right .bonus-spoiler {
    /* font-family: "Source Sans Pro"; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.billet-left .billet-order {
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

.billet .profit-label,
.billet .profit-value {
    /* font-family: "Source Sans Pro"; */
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
    color: rgb(59, 59, 59);
}

.billet .profit-label {
    font-weight: 400;
}

.billet .profit-value {
    font-weight: 600;
}

.billet-item .billet-footer
{
    color: var( --Base-base-05, #939393 );
  /*   font-family: var( --legal-font-primary ); */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.billet .billet-license .billet-license-label {
    color: rgb(59, 59, 59);
    /* font-family: "Source Sans Pro"; */
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 22.5px;
}