/* Display */

.legal-oops-cookie-wrapper {
	display: flex;
	justify-content: center;
}

.legal-oops-cookie {
	display: flex;
	column-gap: 50px;
}

/* Position */

.legal-oops-cookie-wrapper {
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 25px 0px;
}

.legal-oops-cookie .oops-cookie-button {
	padding: 10px 50px;
}

/* Width and height */

.legal-oops-cookie-wrapper {
	width: 100%;
}

.legal-oops-cookie {
	flex-basis: 1080px;
}

.legal-oops-cookie .oops-cookie-description {
	flex-basis: calc( 75% - 50px );
}

.legal-oops-cookie .oops-cookie-button {
	flex-basis: fit-content;
}

/* Background */

.legal-oops-cookie-wrapper {
	background-color: rgba(0, 0, 0, 0.85);
}

.legal-oops-cookie .oops-cookie-button {
	background-color: rgb(89, 151, 227);
	border-radius: 20px;
}

/* Typography */

.legal-oops-cookie .oops-cookie-description {
	color: rgb(255, 255, 255);
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16.8px;
}

.legal-oops-cookie .oops-cookie-button {
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 14.4px;
	text-transform: uppercase;
}