/* Display */

.legal-oops-cookie-wrapper {
	display: flex;
	justify-content: center;
}

.legal-oops-cookie {
	display: flex;
	column-gap: 50px;
}

/* Position */

.legal-oops-cookie-wrapper {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

/* Width and height */

.legal-oops-cookie-wrapper {
	width: 100%;
}

.legal-oops-cookie {
	flex-basis: 1080px;
}

.legal-oops-cookie .oops-cookie-description {
	flex-basis: calc( 75% - 25px );
}

.legal-oops-cookie .oops-cookie-button {
	flex-basis: calc( 25% - 25px );
}