@media screen and ( max-width: 767px )
{
	/* Oops Display */

	.legal-oops .oops-item {
		column-gap: 16px;
	}

    /* Oops Position */

	.legal-oops-background {
		padding: 0px 15px;
	}

	/* Oops Width and Height */

	.legal-oops {
		width: inherit;
	}
}

@media screen and ( min-width: 768px )
{

	/* Oops Width and Height */

	.legal-oops-background {
		width: 100%;
	}

	.legal-oops {
		width: calc(438px - (16px * 2) - 4px);
	}

	.legal-oops .item-image-wrapper {
		flex-basis: 164px;
	}

	/* Oops Typography */

	.legal-oops .item-image-wrapper::after {
		content: attr( data-alt );
	}
}

/* Oops Display */

.legal-oops-background {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-oops {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.legal-oops .oops-tooltip-close {
	display: flex;
  	justify-content: flex-end;
}

.legal-oops .oops-item {
	display: flex;
	/* column-gap: 32px; */
	align-items: center;
	/* justify-content: space-between; */
}

.legal-oops .item-button {
	display: inline-block;
}

.legal-oops-background:not( .legal-active ) {
	display: none;
}

.legal-oops .item-image-wrapper {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.legal-oops .item-bonus {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

/* Oops Position */

.legal-oops-background {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.legal-oops {
	padding: 24px 16px;
}

.legal-oops .oops-title {
	padding-bottom: 16px;
}

.legal-oops .oops-description {
	padding-bottom: 28px;
}

.legal-oops .oops-item:not( :last-child ) {
	padding-bottom: 24px;
}

.item-button-wrapper {
	margin-left: auto;
}

.legal-oops .item-button {
	padding: 8px 18px;
}

/* Oops Width and Height */

.legal-oops-background {
	height: 100vh;
}

.legal-oops .oops-tooltip-close {
	width: 100%;
}

.legal-oops .oops-item {
	width: 100%;
}

.legal-oops .item-image {
	width: 30px;
	height: 30px;
}

.legal-oops .item-bonus-wrapper {
	/* flex-basis: 20%; */
	flex-basis: calc(100% / 3);
}

.legal-oops .item-button {
	min-width: 82px;
}

/* Oops Background */

.legal-oops-background {
	background-color: #323232CC;
}

.legal-oops {
	background-color: #ffffff;
	border-radius: 24px;
	border: 2px solid var( --Base-base-09 );
}

.legal-oops .item-button {
	background-color: var( --Base-base-09 );
	border-radius: 20px;
}

.legal-oops .item-button:hover {
	background: var(--Base-base-07);
}

.legal-oops .item-image {
	background-color: var(--Logo-background);
	border-radius: 8px;
	border: 1px solid var( --Base-base-09 );
}

/* Oops Typography */

.legal-oops .oops-title,
.legal-oops .oops-description,
.legal-oops .item-bonus,
.legal-oops .item-button,
.legal-oops .item-image-wrapper {
	font-family: var( --legal-font-primary );
	font-style: normal;
}

.legal-oops .oops-title,
.legal-oops .oops-description,
.legal-oops .item-bonus,
.legal-oops .item-image-wrapper {
	color: var( --Base-base-09 );
}

.legal-oops .oops-tooltip-close::before {
	font-family: var(--legal-font-icons);
	content: '\F10E';
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
}

.legal-oops .oops-title {
	font-size: 26px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.legal-oops .oops-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: center;
}

.legal-oops .item-bonus {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-decoration: none;
}

.legal-oops .item-bonus::before {
	content: "\F108";
	font-family: var(--legal-font-icons);
	font-size: 24px;
	line-height: 24px;
}

.legal-oops .item-bonus-wrapper {
	text-align: center;
}

.legal-oops .item-image-wrapper {
	font-size: 13px;
	font-weight: 500;
	line-height: 17px;
}

.legal-oops .item-button {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: var( --Base-base-01 );
	text-decoration: none;
	text-align: center;
}