/* Display */

.legal-oops-age-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.legal-oops-age {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

/* Position */

.legal-oops-age-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
}

.legal-oops-age {
	padding: 30px;
}

/* Width and Height */

.legal-oops-age-wrapper {
	height: 100vh;
	width: 100%;
}

.legal-oops-age {
	flex-basis: 600px;
}

.legal-oops-age .oops-age-title {
	flex-basis: 100%;
}

.legal-oops-age .oops-age-description {
	flex-basis: 100%;
}

.legal-oops-age .oops-age-button-yes {
	flex-basis: calc( 50% - 10px );
}

.legal-oops-age .oops-age-button-no {
	flex-basis: calc( 50% - 10px );
}

.legal-oops-age .oops-age-after {
	flex-basis: 100%;
}

/* Background */

.legal-oops-age-wrapper {
	background-color: #323232CC;
}

.legal-oops-age {
	background-color: #ffffff;
	border-radius: 20px;
}

/* Typography */

.legal-oops-age .oops-age-title {
	color: rgb(12, 17, 21);
	font-family: "Source Sans Pro";
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 49px;
	text-align: center;
}

.legal-oops-age .oops-age-description {
	color: rgba(106, 107, 108, 0.9);
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 31.5px;
	text-align: center;
}