@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-oops-age-wrapper {
		align-items: flex-end;
	}

	.legal-oops-cookie {
		justify-content: center;
	}

	.legal-oops-age {
		column-gap: 8px;
	}

	.legal-oops-age .oops-age-button-yes,
	.legal-oops-age .oops-age-button-no {
		justify-content: center;
	}
	
	/* Width and Height */

	.legal-oops-age {
		flex-basis: 100%;
	}

	.legal-oops-age .oops-age-button-yes,
	.legal-oops-age .oops-age-button-no {
		width: calc(50% - 8px);
	}

	/* Background */

	.legal-oops-age {
		border-radius: 24px 24px 0px 0px
	}
	
}

@media screen and ( min-width: 768px )
{
	/* Display */

	.legal-oops-age-wrapper {
		align-items: center;
	}

	.legal-oops-age {
		column-gap: 14px;
	}

	.legal-oops-age .oops-age-button-yes {
		justify-content: right;
	}

	/* Width and Height */

	.legal-oops-age {
		/* flex-basis: 600px; */
		flex-basis: calc(382px - 4px - (24px * 2));
	}

	.legal-oops-age .oops-age-button-yes,
	.legal-oops-age .oops-age-button-no {
		width: 120px;
	}

	/* Background */

	.legal-oops-age {
		border-radius: 24px;
	}
}

/* Display */

.legal-oops-age-wrapper {
	display: flex;
	justify-content: center;
}

.legal-oops-age-wrapper:not( .legal-active ) {
	display: none;
}

.legal-oops-age {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 20px; */
}

.legal-oops-age .oops-age-button-yes,
.legal-oops-age .oops-age-button-no {
	display: flex;
}

.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link {
	display: block;
}

/* Position */

.legal-oops-age-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	/* z-index: 15; */
	z-index: 13;
}

.legal-oops-age {
	/* padding:  165px 30px 30px 30px; */
	padding-top: calc(24px + 56px + 16px);
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}

.legal-oops-age .oops-age-title {
	padding-bottom: 8px;
}

.legal-oops-age .oops-age-description {
	padding-bottom: 28px;
}

.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link {
	/* padding: 20px 80px; */
	padding: 10px 18px;
}

/* .legal-oops-age .oops-age-button-yes {
	order: 1;
} */

/* .legal-oops-age .oops-age-button-yes-no {
	order: 0;
} */

/* .legal-oops-age .oops-age-after {
	order: 2;
} */

.legal-oops-age .oops-age-after,
.legal-oops-age .oops-age-you-shure {
	padding-top: 8px;
}

/* Width and Height */

.legal-oops-age-wrapper {
	height: 100vh;
	width: 100%;
}

.legal-oops-age .oops-age-title {
	flex-basis: 100%;
}

.legal-oops-age .oops-age-description {
	flex-basis: 100%;
}

.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link {
	/* flex-basis: fit-content; */
	width: 100%;
}

.legal-oops-age .oops-age-after {
	flex-basis: 100%;
}

/* Background */

.legal-oops-age-wrapper {
	background-color: #323232CC;
}

.legal-oops-age {
	background-image: url( '../../img/oops/legal-oops-age-new.svg' );
	/* background-image: url( 'img/legal-oops-age-new.svg' ); */  /* временный путь */
	background-position: top 24px center;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: var(--Base-base-01);
	border: 2px solid var(--Base-base-09);
}

.legal-oops-age .age-button-yes-link {
	background-color: var(--Base-base-09);
	border: 1px solid var(--Base-base-09);
}

.legal-oops-age .age-button-yes-link:hover {
	background-color: var(--Base-base-07);
	border: 1px solid var(--Base-base-07);
}

.legal-oops-age .age-button-no-link {
	border: 1px solid var(--Base-base-09);
}

.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link {
	border-radius: 20px;
}

/* Typography */

.legal-oops-age .oops-age-title,
.legal-oops-age .oops-age-description,
.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link,
.legal-oops-age .oops-age-after,
.legal-oops-age .oops-age-you-shure {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-oops-age .oops-age-title,
.legal-oops-age .oops-age-description,
.legal-oops-age .age-button-no-link,
.legal-oops-age .oops-age-after {
	color: var(--Base-base-09);
}

.legal-oops-age .oops-age-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
}

.legal-oops-age .oops-age-description {
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	text-align: center;
}

.legal-oops-age .age-button-yes-link,
.legal-oops-age .age-button-no-link {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.legal-oops-age .age-button-yes-link {
	color: var( --Base-base-01 );
}

.legal-oops-age .age-button-yes-link:hover,
.legal-oops-age .age-button-no-link:hover {
	text-shadow: 0 0 0.6px var( --Base-base-09 );
}

.legal-oops-age .oops-age-after {
	color: var( --Base-base-05 );
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	text-align: center;
}

.legal-oops-age .oops-age-you-shure {
	color: var( --Primitives-red-60 );
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	text-align: center;
}