@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-oops-cookie {
		flex-direction: column;
		row-gap: 20px;
	}

	/* Position */

	.legal-oops-cookie-wrapper {
		bottom: 0px;
		left: 0px;
	}

	.legal-oops-cookie {
		padding: 0px 20px;
	}

	/* Typography */

	.legal-oops-cookie .oops-cookie-description {
		text-align: justify;
	}

	.legal-oops-cookie .oops-cookie-privacy,
	.legal-oops-cookie .oops-cookie-button {
		text-align: center;
	}
}

@media screen and ( min-width: 768px ) {

	/* Width and Height */

	.legal-oops-cookie-wrapper {
		max-width: 520px;
		box-sizing: border-box;
	}

	/* Position */

	.legal-oops-cookie-wrapper {
		bottom: 32px;
		left: 32px;
		padding-top: 24px;
		padding-right: 16px;
		padding-bottom: 24px;
		padding-left: calc(16px + 54px + 16px);
	}

}

/* Display */

.legal-oops-cookie-wrapper {
	display: flex;
	justify-content: center;
	z-index: 14;
}

.legal-oops-cookie-wrapper:not( .legal-active ) {
	display: none;
}

.legal-oops-cookie {
	align-items: center;
	column-gap: 8px;
	row-gap: 28px;
	display: flex;
	flex-wrap: wrap;
}

/* Position */

.legal-oops-cookie-wrapper {
	position: fixed;
	/* padding: 25px 0px; */
}

.legal-oops-cookie .oops-cookie-button {
	padding: 10px 50px;
}

/* Width and height */

/* .legal-oops-cookie-wrapper {
	width: 100%;
} */

/* .legal-oops-cookie {
	flex-basis: 1080px;
} */

/* .legal-oops-cookie .oops-cookie-description {
	flex-basis: calc( 60% - 50px );
	flex-grow: 1;
} */

.legal-oops-cookie .oops-cookie-privacy,
.legal-oops-cookie .oops-cookie-button {
	flex-basis: fit-content;
}

/* Background */

.legal-oops-cookie-wrapper {
	/* background-color: rgba(0, 0, 0, 0.85); */
	background-color: var(--Base-base-01);
	border-radius: 24px; 
	border: 2px solid var(--Base-base-09);
	background-image: url( '../../img/oops/oops-cookie-new.svg' );
	background-position: left 16px top 24px;
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-oops-cookie .oops-cookie-button {
	background-color: var(--Base-base-09);
	border-radius: 20px;
}

/* Typography */

.legal-oops-cookie .oops-cookie-description,
.legal-oops-cookie .oops-cookie-button,
.legal-oops-cookie .oops-cookie-privacy {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-oops-cookie .oops-cookie-description,
.legal-oops-cookie .oops-cookie-privacy {
	color: var(--Base-base-09);
}

.legal-oops-cookie .oops-cookie-description {
	/* color: rgb(255, 255, 255);
	font-family: "Source Sans Pro"; */
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}


.legal-oops-cookie .oops-cookie-button,
.legal-oops-cookie .oops-cookie-privacy {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.legal-oops-cookie .oops-cookie-button {
	color: var(--Base-base-01);
	cursor: pointer;
}

.legal-oops-cookie .oops-cookie-privacy {
	text-decoration: none;
}