@media screen and ( max-width: 767px )
{
	/* Display */

	.legal-oops-cookie {
		justify-content: center;
	}

	/* Width and Height */

	.legal-oops-cookie .oops-cookie-button {
		width: 100%;
	}

	/* Position */

	.legal-oops-cookie-wrapper {
		bottom: 0px;
		left: 0px;
		padding-top: calc(24px + 54px + 16px);
		padding-left: 16px;
	}

	.legal-oops-cookie .legal-necessary {
		margin-bottom: 12px;
	}

	/* Background */

	.legal-oops-cookie-wrapper {
		background-position: center top 24px;
	}

	/* Typography */

	.legal-oops-cookie .oops-cookie-info {
		text-align: center;
	}

}

@media screen and ( min-width: 768px ) {

	/* Width and Height */

	.legal-oops-cookie-wrapper {
		max-width: 595px;
		box-sizing: border-box;
	}

	.legal-oops-cookie .oops-cookie-button {
		min-width: calc(120px - (18px * 2));
	}

	/* Position */

	.legal-oops-cookie-wrapper {
		bottom: 32px;
		left: 32px;
		padding-top: 24px;
		padding-left: calc(16px + 54px + 16px);
	}

	/* Background */

	.legal-oops-cookie-wrapper {
		background-position: left 16px top 24px;
	}

}

/* Display */

.legal-oops-cookie-wrapper {
	display: flex;
	justify-content: center;
	z-index: 14;
}

.legal-oops-cookie-wrapper:not( .legal-active ) {
	display: none;
}

.legal-oops-cookie {
	align-items: center;
	column-gap: 8px;
	display: flex;
	flex-wrap: wrap;
}

/* Position */

.legal-oops-cookie-wrapper {
	position: fixed;
	padding-right: 16px;
	padding-bottom: 24px;
}

.legal-oops-cookie .oops-cookie-title {
	padding-bottom: 8px;
}

.legal-oops-cookie .oops-cookie-info {
	padding-bottom: 28px;
}

.legal-oops-cookie .oops-cookie-button {
	padding: 10px 18px;
}

/* Background */

.legal-oops-cookie-wrapper {
	background-color: var(--Base-base-01);
	border-radius: 24px; 
	border: 2px solid var(--Base-base-09);
	background-image: url( '../../img/oops/oops-cookie-new.svg' );
	background-repeat: no-repeat;
	background-size: auto;
}

.legal-oops-cookie .oops-cookie-button {
	border-radius: 20px;
	border: 1px solid var(--Base-base-09);
}

.legal-oops-cookie .legal-necessary {
	background-color: var(--Base-base-01);
}

.legal-oops-cookie .legal-all {
	background-color: var(--Base-base-09);
}

.legal-oops-cookie .legal-all:hover {
	background-color: var(--Base-base-07);
	border: 1px solid var(--Base-base-07);
}

/* Typography */

.legal-oops-cookie .oops-cookie-title,
.legal-oops-cookie .oops-cookie-description,
.legal-oops-cookie .oops-cookie-button,
.legal-oops-cookie .oops-cookie-privacy {
	font-family: var( --legal-font-primary );
    font-style: normal;
}

.legal-oops-cookie .oops-cookie-title,
.legal-oops-cookie .oops-cookie-description,
.legal-oops-cookie .oops-cookie-privacy,
.legal-oops-cookie .legal-necessary {
	color: var(--Base-base-09);
}

.legal-oops-cookie .oops-cookie-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.legal-oops-cookie .oops-cookie-info {
	line-height: 17px;
}

.legal-oops-cookie .oops-cookie-description,
.legal-oops-cookie .oops-cookie-privacy {
	font-size: 13px;
	font-weight: 400;
}

.legal-oops-cookie .oops-cookie-button {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}

.legal-oops-cookie .oops-cookie-button:hover,
.legal-oops-cookie .oops-cookie-privacy:hover {
	text-shadow: 0 0 0.6px var(--Base-base-09);
}

.legal-oops-cookie .oops-cookie-button {
	cursor: pointer;
}

.legal-oops-cookie .legal-all {
	color: var(--Base-base-01);
}