/* Oops Display */

.legal-oops-background {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
}

/* Oops Width and Height */

.legal-oops-background {
	width: 100%;
	height: 100vh;
}

/* Oops Background */
.legal-oops-background {
	background-color: #323232;
}